<div ng-if="errSummaryCtrl.calcIsVisible()" id="errors-summary{{::errSummaryCtrl.nameAddendum}}">
    <section  class="alert alert-danger" tabindex="-1" focus-if="errSummaryCtrl.isFocusInput"
             focus-delay="200" ng-switch on="errSummaryCtrl.headerLevel">

        <h1 ng-switch-when="h1">{{'FOR_THE'|translate}}&nbsp;{{errSummaryCtrl.formPreamble
            |translate}}:&nbsp;{{errSummaryCtrl.errorArray.length}}
            <span ng-if="errSummaryCtrl.errorArray.length>1">{{'ERRORS_FOUND'|translate}}</span>
            <span ng-if="errSummaryCtrl.errorArray.length==1">{{'ERROR_FOUND'|translate}}</span>
        </h1>
        <h2 ng-switch-when="h2">{{'FOR_THE'|translate}}{{errSummaryCtrl.formPreamble
            |translate}}:&nbsp;{{errSummaryCtrl.errorArray.length}}
            <span ng-if="errSummaryCtrl.errorArray.length>1">{{'ERRORS_FOUND'|translate}}</span>
            <span ng-if="errSummaryCtrl.errorArray.length==1">{{'ERROR_FOUND'|translate}}</span>
        </h2>
        <h3 ng-switch-when="h3">{{'FOR_THE'|translate}}{{errSummaryCtrl.formPreamble
            |translate}}:&nbsp;{{errSummaryCtrl.errorArray.length}}
            <span ng-if="errSummaryCtrl.errorArray.length>1">{{'ERRORS_FOUND'|translate}}</span>
            <span ng-if="errSummaryCtrl.errorArray.length==1">{{'ERROR_FOUND'|translate}}</span>
        </h3>
        <h4 ng-switch-when="h4">{{'FOR_THE'|translate}}{{errSummaryCtrl.formPreamble
            |translate}}:&nbsp;{{errSummaryCtrl.errorArray.length}}
            <span ng-if="errSummaryCtrl.errorArray.length>1">{{'ERRORS_FOUND'|translate}}</span>
            <span ng-if="errSummaryCtrl.errorArray.length==1">{{'ERROR_FOUND'|translate}}</span>
        </h4>
        <h5 ng-switch-when="h5">{{'FOR_THE'|translate}}{{errSummaryCtrl.formPreamble
            |translate}}:&nbsp;{{errSummaryCtrl.errorArray.length}}
            <span ng-if="errSummaryCtrl.errorArray.length>1">{{'ERRORS_FOUND'|translate}}</span>
            <span ng-if="errSummaryCtrl.errorArray.length==1">{{'ERROR_FOUND'|translate}}</span>
        </h5>
        <h6 ng-switch-when="h6">{{'FOR_THE'|translate}}{{errSummaryCtrl.formPreamble
            |translate}}:&nbsp;{{errSummaryCtrl.errorArray.length}}
            <span ng-if="errSummaryCtrl.errorArray.length>1">{{'ERRORS_FOUND'|translate}}</span>
            <span ng-if="errSummaryCtrl.errorArray.length==1">{{'ERROR_FOUND'|translate}}</span>
        </h6>
        <ul>
            <div ng-repeat="errorRec in errSummaryCtrl.errorArray">
                <li ng-if="!errorRec.isSummary"><a  href="#{{errorRec.name}}" target="_self">{{errorRec.translateKey|translate}}
                    &nbsp;&#8208;&nbsp;{{errorRec.type |translate}}</a></li>
                <li ng-if="errSummaryCtrl.isSummaryLink(errorRec)"><a href="#errors-summary-{{errorRec.name}}" ng-click="errSummaryCtrl.scrollTo(errorRec)">{{'THERE_ARE_ERRORS'|translate}}&nbsp;{{errorRec.translateKey|translate}}
                </a></li>
                <li ng-if="errSummaryCtrl.isTabLink(errorRec)"><a href="#errors-summary-{{errorRec.name}}" ng-click="errSummaryCtrl.selectVisibleTab(errorRec)">{{'THERE_ARE_ERRORS'|translate}}&nbsp;{{errorRec.translateKey|translate}}
                </a></li>
                <li ng-if="errSummaryCtrl.isExpanderLink(errorRec)"><a  href="#errors-summary-{{errorRec.name}}" ng-click="errSummaryCtrl.scrollTo(errorRec)">{{'THERE_ARE_ERRORS'|translate}}&nbsp;{{errorRec.translateKey|translate}}&nbsp;{{errorRec.exIndex+1}}
                </a></li>
              <!--  <pre> {{errorRec|json}}</pre>-->
            </div>
        </ul>
    </section>

</div>
