<div>
    <div>
        <ul>
            <li><b>Canadian Patent Number</b>: Provide the Canadian patent number in relation to which the certificate
                is sought. One CSP application is required for each patent number.
            </li>
            <li><b>Patent Filing Date</b>: Indicate the Canadian patent application filing date. The
                filing date of the patent must be on or after October 1, 1989 according to paragraph 106(1)(b) of the
                <i>Patent Act</i>.
            </li>
            <li><b>Patent Date Granted</b>: Enter the date on which the patent was granted by the Canadian Intellectual
                Property Office (CIPO).
            </li>
            <li><b>Patent Expiration Date</b>: Enter the date on which the patent term will expire. According to
                subsection
                106(4) of the <i>Patent Act</i> and subsection 6(3) of the <i>Certificate of Supplementary Protection
                    Regulations</i>, no CSP application shall be filed within the prescribed period of two years
                preceding the expiry of the term of the patent.
            </li>
        </ul>
    </div>
</div>


