<div>
    <div>
        <p>
            <b>Medicinal Ingredient(s)</b>: Enter the medicinal ingredient or medicinal ingredients included in the specific
            drug product in the NDS set out in the CSP application. Please enter the medicinal ingredient or medicinal
            ingredients exactly as they appear on the NOC for that NDS. Applicants may view this information on Health
            Canada’s online NOC database, or they may request a copy of the NOC from Health Canada by e-mail at the
            e-mail address provided in subsection 2.1 of the <i>Guidance Document: Certificate of Supplementary Protection Regulations</i>.
        </p>
    </div>
</div>


