<div>
    <div>
        <p>
            <b>Ingrédient(s) médicinal(aux)</b> : Indiquer l’ingrédient médicinal ou les ingrédients médicinaux compris dans le
            médicament indiqué dans la PDN visée par la demande de CPS. Veuillez inscrire le nom de l’ingrédient
            médicinal ou des ingrédients médicinaux de la manière exacte dont ils apparaissent dans l’AC relatif à cette
            PDN. Les demandeurs peuvent consulter ces renseignements en ligne dans la base de données des AC de Santé
            Canada, ou demander une copie de l’AC par courriel auprès de Santé Canada à l’adresse indiquée à la section
            2.1 de la <i>ligne directrice: Règlement sur les certificats de protection supplémentaire</i>.
        </p>
    </div>
</div>


