<div>
    <div>
        <ul>
            <li><b>Applicant Name</b>: Enter the name of the applicant making the CSP application. See section 2.2.2 of
                the <i>Guidance Document: Certificate of Supplementary Protection Regulations</i> for information on the
                Attestation as to applicant.
            </li>
            <li>
                <b>Names:</b> Provide the name of a person with the authority to correspond with Health Canada on behalf
                of the applicant making the CSP application.
            </li>
            <li><b>Title (salutation)</b>: Provide the salutation of the person named (e.g., Dr., Mr., Mrs., Ms. etc.).
            </li>
            <li><b>Job Title</b>: Enter the job title of the person named.</li>
            <li><b>Address (Street/Suite, City, Province, and Postal Code)</b>: Include the address in Canada at which
                the person named is located for purposes of the business of the applicant.
            </li>
            <li><b>Telephone Number, Facsimile Number, and E-mail</b>: Provide the telephone and facsimile number and
                e-mail address of the person named whom the Therapeutic Products Directorate may contact regarding the
                CSP application. This information will be used to contact the applicant regarding any issues with
                respect to the CSP application.
            </li>
        </ul>
    </div>
</div>

