<div>
    <!-- <h4 class="rep-margin-minus-top">fr_Applicant Information Instructions</h4>-->
    <ul>
        <li><b>Nom du demandeur</b> : Inscrire le nom de la personne présentant la demande de CPS. Veuillez consulter la
            section 2.2.2 de la <i>ligne directrice: Règlement sur les certificats de protection supplémentaire</i> au
            sujet de l’attestation du demandeur.
        </li>
        <li><b>Noms</b> : Fournir le nom d’une personne autorisée à correspondre avec Santé Canada au nom de la personne
            présentant la demande de CPS.
        </li>
        <li><b>Titre de civilité</b> : Indiquer le titre de civilité à utiliser concernant la personne nommée (p. ex.,
            Monsieur, Madame ou Mademoiselle).
        </li>
        <li><b>Titre de poste</b> : Inscrire le titre du poste de la personne nommée.</li>
        <li><b>Adresse (numéro, rue, ville, province et code postal)</b> : Indiquer l’adresse au Canada où la personne
            nommée est située aux fins de l’entreprise du demandeur.
        </li>
        <li><b>Numéro de téléphone, numéro de télécopieur et adresse électronique</b> : Indiquer les numéros de
            téléphone et de télécopieur et l’adresse électronique de la personne à qui peut s’adresser la DPT au sujet
            de la demande de CPS. Ces renseignements permettront de communiquer avec le demandeur concernant toute
            question en regard de la demande de CPS.
        </li>
    </ul>
</div>