<div>
    <div>
        <p>
            <b>Renseignements sur la présentation de drogue nouvelle</b> : Indiquer le numéro de PDN inscrit dans l’avis
            de conformité (AC) délivré à l’égard de l’ingrédient médicinal ou de la combinaison d’ingrédients
            médicinaux; l’AC doit satisfaire aux exigences énoncées aux alinéas 106(1)(c) et (d) de la <i>Loi sur les
            brevets</i>. En vertu de l’alinéa 106(1)(d) de la <i>Loi sur les brevets</i>, l’AC doit être la première autorisation
            de mise en marché délivrée au Canada à l’égard de l’ingrédient médicinal ou de la combinaison d’ingrédients
            médicinaux, selon le cas. En vertu de l’alinéa 106(1)(c) de la <i>Loi sur les brevets</i>, l’AC doit être délivré à
            la date d’entrée en vigueur de cet article, le 15 juin 2017, ou après cette date.
        </p>
    </div>
</div>


