<div>
    <div>
        <ul>
            <li><b>Numéro de brevet au Canada</b> : Indiquer le numéro de brevet canadien pour lequel un CPS est
                demandé. Chaque numéro de brevet exige une demande de CPS.
            </li>
            <li><b>Date de dépôt du brevet</b> : Indiquer la date de dépôt du brevet canadien. La date du dépôt du
                brevet canadien doit être le 1er octobre 1989 ou postérieure à cette date, conformément à l’alinéa
                106(1)(b) de la <i>Loi sur les brevets</i>.
            </li>
            <li><b>Date d’octroi du brevet</b> : Inscrire la date à laquelle le brevet a été délivré par l’Office de la
                propriété intellectuelle du Canada (OPIC).
            </li>
            <li><b>Date d'expiration du brevet</b> : Indiquer la date à laquelle le brevet est périmé (date
                d’expiration). En application du paragraphe 106(4) de la <i>Loi sur les brevets</i> et du paragraphe
                6(3) du <i>Règlement sur les certificats de protection supplémentaire</i>, aucune demande ne peut être déposée
                à l’intérieur du délai réglementaire de deux ans qui précède la date à laquelle le brevet est périmé.
            </li>
        </ul>
    </div>
</div>
