<ng-form name="contactListCtrl.contactListForm" novalidate="novalidate">
    <div class="row">
        <div ng-show="false" aria-hidden="true">
            <input type="text" id="oneRecord_{{::$id}}" name="oneRecord" ng-show="false"
                   ng-model="contactListCtrl.oneRecord" required/>
        </div>
        <label ng-if="contactListCtrl.showNoRecordError(contactListCtrl.contactListForm.oneRecord.$invalid)">
            <strong id="contactNum-role-error" class="error">
                             <span class="label label-danger" aria-live="polite"
                                   ng-messages="contactListCtrl.contactListForm.oneRecord.$error">
                                 <span ng-message="required">{{"MSG_ERR_ONE_REP"|translate}}</span>
                             </span>
            </strong>
        </label>
        <cmp-expanding-table list-items="contactListCtrl.contactList"
                             reset-to-collapsed="contactListCtrl.resetCollapsed"
                             column-def="contactListCtrl.columnDef" select-record="contactListCtrl.selectRecord"
                             disable-selection="!contactListCtrl.isDetailValid">

            <cmp-rep-contact-record on-delete="contactListCtrl.deleteContact(contactId)"
                                    on-update="contactListCtrl.onUpdateContactRecord(contact)"
                                    is-amend="contactListCtrl.formAmend" contact-record="$parent.record"
                                    is-detail-valid="contactListCtrl.setValid(state)">
            </cmp-rep-contact-record>

        </cmp-expanding-table>
    </div>
    <div class="row mrgn-tp-md mrgn-bttm-lg">
        <div class="btn-group-sm col-md-12 text-right">
            <button type="submit" class="btn btn-primary"
                    ng-click="contactListCtrl.addContact()" ng-disabled="contactListCtrl.disableAdd()">
                {{'ADD_CONTACT'|translate }}
            </button>
        </div>
    </div>
    <!--    <pre>contact list model: {{contactListCtrl.contactList | json : spacing}}</pre>-->
</ng-form>
