<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <ng-form name="cspFeePayCtrl.paymentForm">
        <div>
            <p>
                <ng-bind-html ng-bind-html="cspFeePayCtrl.preamble">
                </ng-bind-html>
                <a ng-href="{{::cspFeePayCtrl.url}}" target="_blank">
                    <ng-bind-html ng-bind-html="cspFeePayCtrl.urlTitle"></ng-bind-html>
                </a>&nbsp;{{::'ADVANCE_DETAILS'|translate}}
            </p>
        </div>
        <div class="row">
            <div class="form-group col-xs-12">
                <div>
                    <label for="{{::cspFeePayCtrl.ackFeeSubmitId}}" class="required rep-selectize-font">
                    <input type="checkbox" ng-model="cspFeePayCtrl.model.ackPaymentSubmit"
                           name="{{::cspFeePayCtrl.ackFeeSubmitId}}" required id="{{::cspFeePayCtrl.ackFeeSubmitId}}" /> {{::"ACK_FEE_SUBMIT"|translate}}

                    <strong class="required rep-selectize-font bold">{{::"ADV_PAYM"|translate}}</strong>
                    <strong class="required rep-selectize-font">{{"REQUIRED"|translate}}</strong>
                    <strong id="notlasa1-error" class="error"
                            ng-if="cspFeePayCtrl.showError(cspFeePayCtrl.ackFeeSubmitId)">
                                        <span class="label label-danger">
                                         <span ng-if="!cspFeePayCtrl.model.ackPaymentSubmit">{{::'MSG_ERR_MAND'|translate}}</span>
                                         </span>
                    </strong>
                    </label>
                    <cmp-error-message field-name="cspFeePayCtrl.ackFeeSubmitId"
                                       form-ref="cspFeePayCtrl.paymentForm"
                                       show-error="cspFeePayCtrl.showErrors()"
                                       error-types="cspFeePayCtrl.requiredOnly"></cmp-error-message>

                </div>
            </div>
        </div>
        <div class="row mrgn-bttm-md">
            <div class="form-group col-xs-12 rep-vertical-align">
                <div class="col-xs-12  col-sm-12 rep-vertical-align">
                    <label for="{{::cspFeePayCtrl.feeId}}" class="required rep-selectize-font" >
                        <span class="field-name">{{::"ADVANCE_FEE_PAYMENT" |translate}}</span>
                        <strong class="required">{{::"REQUIRED" |translate}}</strong>

                        <cmp-error-message field-name="cspFeePayCtrl.feeId"
                                           form-ref="cspFeePayCtrl.paymentForm"
                                           show-error="cspFeePayCtrl.showErrors()"
                                           error-types="cspFeePayCtrl.numberMaxError"></cmp-error-message>
                        <strong id="feeId-error" class="error">
                        <span class="label label-danger"
                              ng-if="cspFeePayCtrl.showError(cspFeePayCtrl.feeId.$invalid)"
                              ng-messages="cspFeePayCtrl.feeId.$error">
                            <span ng-message="required">{{'MSG_ERR_MAX'|translate}}</span>
                              <span ng-message="type_max"><span translate="MSG_ERR_MAX"></span></span>
                        </span>
                        </strong>
                    </label>
                        <div class="col-xs-12 rep-vertical-align">
                            <div class="rep-input-group">
                                <span class="input-group-addon">$</span>
                                <div  ng-class="{'has-error':cspFeePayCtrl.paymentForm[cspFeePayCtrl.feeId].$invalid}">
                                    <input type="number" step='0.01' id="{{::cspFeePayCtrl.feeId}}" name="{{::cspFeePayCtrl.feeId}}" title="{{::'ADVANCE_FEE_PAYMENT'|translate}}"
                                           data-ng-model="cspFeePayCtrl.model.advancedPaymentFee" class="form-control"
                                           min="0.01" max="99999999.99" required/>

                                </div>
                            </div>
                        </div>
                </div>
                <!--/label-->
            </div>
        </div>
        <!--div class="row">
            <div class="form-group col-sm-12"
                 ng-class="{'has-error':cspFeePayCtrl.paymentForm[cspFeePayCtrl.feeTypeId].$invalid}">
                <div class="col-sm-9">
                    <label for="{{::cspFeePayCtrl.feeTypeId}}" class="required">
                        <span class="field-name">{{::'PAYMENT_METHOD' |translate}}</span>
                        <strong class="required">{{::"REQUIRED" |translate}}</strong>
                        <select type="text" id="{{::cspFeePayCtrl.feeTypeId}}" name="{{::cspFeePayCtrl.feeTypeId}}"
                                data-ng-model="cspFeePayCtrl.model.advancedPaymentType" class="form-control" title="{{::'PAYMENT_METHOD' |translate}}"
                                ng-options="payMethod |translate for payMethod in cspFeePayCtrl.paymentList"
                                required></select>
                        <cmp-error-message field-name="cspFeePayCtrl.feeTypeId"
                                           form-ref="cspFeePayCtrl.paymentForm"
                                           show-error="cspFeePayCtrl.showErrors()"
                                           error-types="cspFeePayCtrl.requiredOnly"></cmp-error-message>
                    </label>
                </div>
            </div>
        </div-->
    </ng-form>
</div>