<ng-form name="importerRecCtrl.importerForm">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-md-12"
                 data-ng-class="{'has-error':importerRecCtrl.importerForm[importerRecCtrl.importerNameId].$invalid}">
                <label for="{{::importerRecCtrl.importerNameId}}" class="required full-width">
                    <span class="field-name">{{'IMPORTER_COMPANY_NAME'|translate}}</span>
                    <strong class="required">{{'REQUIRED' |translate}}</strong>
                    <cmp-error-message field-name="importerRecCtrl.importerNameId"
                                       form-ref="importerRecCtrl.importerForm"
                                       show-error="importerRecCtrl.showError(importerRecCtrl.importerForm[importerRecCtrl.importerNameId])"
                                       error-types="importerRecCtrl.requiredOnly"></cmp-error-message>

                </label>
                    <div class="rep-margin-top">
                        <input type="text" data-ng-model="importerRecCtrl.model.importerName" name="{{::importerRecCtrl.importerNameId}}"
                               data-ng-model-options="{ debounce: $inherit}"
                               id="{{::importerRecCtrl.importerNameId}}" maxlength="100"
                               class="form-control  full-width"
                               data-ng-required="true" data-focus-if="importerRecCtrl.isFocus"/>
                    </div>

            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12" data-ng-class="{'has-error':importerRecCtrl.importerForm[importerRecCtrl.streetId].$invalid}">
                <label for="{{::importerRecCtrl.streetId}}" class="required full-width">
                    <span class="field-name">{{::"STREET" |translate}}</span>
                    <strong class="required"> {{::"REQUIRED" |translate}}</strong>
                    <cmp-error-message field-name="importerRecCtrl.streetId" form-ref="importerRecCtrl.importerForm"
                                       show-error="importerRecCtrl.showError(importerRecCtrl.importerForm[importerRecCtrl.streetId])"
                                       error-types="importerRecCtrl.requiredOnly">
                    </cmp-error-message>
                    <input type="text" class="form-control full-width" maxlength="120" id="{{::importerRecCtrl.streetId}}"
                           name="{{::importerRecCtrl.streetId}}"
                           data-ng-model="importerRecCtrl.model.street" required/>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6" data-ng-class="{'has-error':importerRecCtrl.importerForm[importerRecCtrl.cityId].$invalid}">
                <label for="{{::importerRecCtrl.cityId}}" class="required full-width">
                    <span class="field-name">{{::"CITY" |translate}}</span>
                    <strong class="required"> {{::"REQUIRED" |translate}} </strong>
                    <cmp-error-message field-name="importerRecCtrl.cityId" form-ref="importerRecCtrl.importerForm"
                                       show-error="importerRecCtrl.showError(importerRecCtrl.importerForm[importerRecCtrl.cityId])"
                                       error-types="importerRecCtrl.requiredOnly">
                    </cmp-error-message>
                    <input type="text" id="{{::importerRecCtrl.cityId}}" name="{{::importerRecCtrl.cityId}}"
                           data-ng-model="importerRecCtrl.model.city"
                           class="form-control  full-width" maxlength="60" required/>
                </label>
            </div>
            <div class="col-md-5 form-group">
                <label class="required full-width" for="{{::importerRecCtrl.countryId}}" >
                    <span class="field-name">{{::"COUNTRY" |translate}}</span>
                    <strong class="required">{{::"REQUIRED" |translate}}</strong>
                    <cmp-error-message field-name="importerRecCtrl.countryId"
                                       form-ref="importerRecCtrl.importerForm"
                                       show-error="importerRecCtrl.showError(importerRecCtrl.importerForm[importerRecCtrl.countryId])"
                                       error-types="importerRecCtrl.requiredOnly">
                    </cmp-error-message>
                </label>
                <input type="text" id="{{::importerRecCtrl.countryId}}" name="{{::importerRecCtrl.countryId}}"
                       data-ng-model="importerRecCtrl.model.countryHtml"
                       value="importerRecCtrl.model.countryHtml"
                       data-ng-readonly="true" required
                       class="rep-selectize-font rep-selectize-dropdown form-control"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group"
                     data-ng-class="{'has-error':importerRecCtrl.importerForm[importerRecCtrl.stateListId].$invalid}">
                    <label for="{{::importerRecCtrl.stateListId}}" class="required">
                        <span class="field-name">{{"PROVINCE" |translate}}</span>
                        <strong class="required"> {{::"REQUIRED" |translate}} </strong>
                        <cmp-error-message field-name="importerRecCtrl.stateListId" form-ref="importerRecCtrl.importerForm"
                                           show-error="importerRecCtrl.showError(importerRecCtrl.importerForm[importerRecCtrl.stateListId])"
                                           error-types="importerRecCtrl.requiredOnly">
                        </cmp-error-message>
                        <select class="form-control full-width" data-ng-model="importerRecCtrl.model.stateList"
                                id="{{::importerRecCtrl.stateListId}}" name="{{::importerRecCtrl.stateListId}}"
                                data-ng-options="province |translate for province in importerRecCtrl.provinces"
                                data-required="true">
                            <option label=" " value="" />
                        </select>
                    </label>
                <!--</div>-->
                <!--<div class="form-group " data-ng-show="importerRecCtrl.hideProvinceDdl"-->
                     <!--data-ng-class="{'has-error':importerRecCtrl.importerForm[importerRecCtrl.stateTextId].$invalid}">-->
                    <!--<label for="{{::importerRecCtrl.stateTextId}}">{{::"PROVSTATE" |translate}}</label>-->
                    <!--<input type="text" id="{{::importerRecCtrl.stateTextId}}" name="{{::importerRecCtrl.stateTextId}}"-->
                           <!--data-ng-model="importerRecCtrl.model.stateText" class="form-control full-width" maxlength="40"-->
                           <!--size="40"/>-->
                <!--</div>-->
            </div>
            <div class="form-group col-md-6 has-error" data-ng-class="{'has-error':importerRecCtrl.importerForm[importerRecCtrl.postalId].$invalid}">
                <!--<label for="{{::importerRecCtrl.postalId}}" data-ng-class="{required:importerRecCtrl.isPostalRequired}">-->
                    <label for="{{::importerRecCtrl.postalId}}" class="required">
                    <span class="field-name">{{"POSTAL"|translate}}</span>
                    <strong class="required">{{::"REQUIRED" |translate}} </strong>
                    <cmp-error-message field-name="importerRecCtrl.postalId" form-ref="importerRecCtrl.importerForm"
                                       show-error="importerRecCtrl.showError(importerRecCtrl.importerForm[importerRecCtrl.postalId])"
                                       error-types="importerRecCtrl.postalErrorList">
                    </cmp-error-message>
                    <input type="text" id="{{::importerRecCtrl.postalId}}" name="{{::importerRecCtrl.postalId}}"
                           data-ng-model="importerRecCtrl.model.postalCode"
                           class="form-control" ng-maxlength="7" required
                           data-ng-change="importerRecCtrl.postalCodeChanged()"
                           maxlength="7" data-ng-pattern="importerRecCtrl.canadianPostalCodePattern"/>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group"
                 data-ng-class="{'has-error':importerRecCtrl.importerForm[importerRecCtrl.phoneNumberId].$invalid}">
                <label for="{{::importerRecCtrl.phoneNumberId}}" class="required">
                    <span class="field-name">{{::'PHONENUMBER'|translate}}{{::'INCLUDE_AREA_CODE'|translate}}</span>
                    <strong class="required">{{::"REQUIRED" |translate}}</strong>
                    <cmp-error-message field-name="importerRecCtrl.phoneNumberId" form-ref="importerRecCtrl.importerForm"
                                       show-error="importerRecCtrl.showError(importerRecCtrl.importerForm[importerRecCtrl.phoneNumberId])"
                                       error-types="importerRecCtrl.phoneError"></cmp-error-message>
                    <input type="tel" id="{{::importerRecCtrl.phoneNumberId}}"
                           data-ng-model="importerRecCtrl.model.phone"
                           class="form-control full-width" name="{{::importerRecCtrl.phoneNumberId}}"
                           data-ng-pattern="importerRecCtrl.phoneReg" maxlength="25"
                           required data-only-digits/>

                </label>
            </div>
            <div class="col-md-6 form-group">
                <label for="{{::importerRecCtrl.phoneExtId}}"><span class="field-name">{{::'PHONE_EXT'|translate}}</span>
                    <input type="text" id="{{::importerRecCtrl.phoneExtId}}" data-ng-model="importerRecCtrl.model.phoneExt"
                           class="form-control" name="{{::importerRecCtrl.phoneExtId}}" maxlength="10" data-only-digits/>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group"
                 data-ng-class="{'has-error':importerRecCtrl.importerForm[importerRecCtrl.faxId].$invalid}">
                <label for="{{::importerRecCtrl.faxId}}" class="required">
                    <span class="field-name">{{::'FAX_NUMBER'|translate}}{{::'INCLUDE_AREA_CODE'|translate}}</span>
                    <strong class="required">{{::'REQUIRED'|translate}}</strong>
                    <cmp-error-message field-name="importerRecCtrl.faxId"
                                       form-ref="importerRecCtrl.importerForm"
                                       show-error="importerRecCtrl.showError(importerRecCtrl.importerForm[importerRecCtrl.faxId])"
                                       error-types="importerRecCtrl.faxError">
                    </cmp-error-message>
                    <input type="tel" id="{{::importerRecCtrl.faxId}}"
                           data-ng-model="importerRecCtrl.model.fax" maxlength="25"
                           required class="form-control full-width" data-ng-pattern="importerRecCtrl.faxReg"
                           name="{{::importerRecCtrl.faxId}}" data-only-digits/>
                    <span>{{::'FAX_NOT_AVAILABLE_1'|translate}} </span>
                </label>
            </div>
            <div class="col-md-6 form-group"
                 data-ng-class="{'has-error':importerRecCtrl.importerForm[importerRecCtrl.contactEmailId].$invalid}">
                <label for="{{::importerRecCtrl.contactEmailId}}" class="required">
                    <span class="field-name">{{::'CONTACTEMAIL'|translate}}</span>
                    <strong class="required">{{::"REQUIRED" |translate}}</strong>
                    <cmp-error-message field-name="importerRecCtrl.contactEmailId" form-ref="importerRecCtrl.importerForm"
                                       show-error="importerRecCtrl.showError(importerRecCtrl.importerForm[importerRecCtrl.contactEmailId])"
                                       error-types="importerRecCtrl.emailError">
                    </cmp-error-message>
                    <input type="email" id="{{::importerRecCtrl.contactEmailId}}"
                           data-ng-model="importerRecCtrl.model.email"
                           maxlength="50" size="50" data-ng-pattern="importerRecCtrl.emailReg"
                           class="form-control full-width" name="{{::importerRecCtrl.contactEmailId}}" required/>

                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="{{::importerRecCtrl.routingIdentifierId}}" class="full-width">
                    <span class="field-name">{{::'ROUTING_ID'|translate}}</span>
                    <sup id="co5a_ref">
                        <a class="fn-lnk" href="#co5a"><span class="wb-inv">{{::'INSTRUCTION'|translate}}&nbsp;</span>{{::importerRecCtrl.htIndxList.routingIdIndx}}</a>
                    </sup>
                    <cmp-error-message field-name="importerRecCtrl.routingIdentifierId" form-ref="importerRecCtrl.importerForm"
                                       show-error="importerRecCtrl.showError(importerRecCtrl.importerForm[importerRecCtrl.routingIdentifierId])"
                                       error-types="importerRecCtrl.routingIdError">
                    </cmp-error-message>
                    <input type="text" id="{{::importerRecCtrl.routingIdentifierId}}"
                           data-ng-model="importerRecCtrl.model.routingId"
                           maxlength="64" data-ng-pattern="importerRecCtrl.routingIdReg"
                           class="form-control full-width" name="{{::importerRecCtrl.routingIdentifierId}}" />

                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <button type="submit" data-ng-click="importerRecCtrl.saveRecord()" name="saveImporter" onclick="focusOnRow(this, 'addImporter_')"
                        class="btn btn-primary btn-sm">{{'SAVE_RECORD'|translate}}
                </button>
                <button data-ng-click="importerRecCtrl.deleteRecord()" name="deleteImporter" onclick="focusOnRow(this, 'addImporter_')"
                        class="btn btn-danger btn-sm">{{'DELETE_RECORD'|translate}}
                </button>
            </div>
        </div>
    </div>
</ng-form>
