<ng-form name="ailCtrl.activeIngListForm">
     <!--<input type="text" required data-ng-show="false" name="{{::ailCtrl.noActiveId}}" id="{{::ailCtrl.noActiveId}}"
                              aria-hidden="true" data-ng-model="ailCtrl.noActiveValues"/>-->
    <cmp-expanding-table pre-id="active_ing_list_" title="{{'INGREDIENT_LIST'|translate}}" list-items="ailCtrl.ingList"
                         reset-to-collapsed="ailCtrl.resetToCollapsed" id="list_active_{{::$id}}"
                         column-def="ailCtrl.colNames" select-record="ailCtrl.selectRecord"
                         new-record-shown="ailCtrl.newIngFormShown" disable-selection="!ailCtrl.isDetailValid">

        <cmp-active-ing-record record="$parent.record" on-update="ailCtrl.updateIng($parent.$index,ing)"
                               on-add-ing="ailCtrl.addIng(ing)" record-index="$parent.$index"
                               on-delete="ailCtrl.deleteIng($parent.$index)" delete-btn="true"
                               update-error-summary="ailCtrl.updateErrorSummary()" cancel-focus=""
                               ht-indx-list="ailCtrl.htIndxList"
                               error-summary-update="ailCtrl.errorSummaryUpdate" show-error-summary="ailCtrl.showErrorSummary"
                               is-detail-valid="ailCtrl.setValid(state)"></cmp-active-ing-record>

    </cmp-expanding-table>
    <div id="new-record">
        <cmp-active-ing-record data-ng-if="ailCtrl.newIngFormShown === true" on-add-ing="ailCtrl.addIng(ing)"
                               on-cancel="ailCtrl.onNewCancel()" delete-btn="false" is-focus="ailCtrl.isFocus" cancel-focus="ailCtrl.cancelFocus"
                               ht-indx-list="ailCtrl.htIndxList"
                               error-summary-update="ailCtrl.errorSummaryUpdate" show-error-summary="ailCtrl.showErrorSummary"
                               record-index="ailCtrl.ingList.length"></cmp-active-ing-record>
    </div>
    <div class="mrgn-tp-md mrgn-bttm-lg">
        <div class="btn-group-sm col-md-12">
            <button class="btn btn-primary" data-ng-disabled="ailCtrl.addNewDisabled()"
                    data-ng-click="ailCtrl.addNewIngredientState();ailCtrl.setFocus();" id="addAI_{{::$id}}" name="addAI_{{::$id}}">{{'ADD_INGREDIENT'|translate}}
            </button>
            <!--button title="{{::'EXPAND'|translate}} {{::'ADD_INGREDIENT_INSTRUCT'|translate}}" class="btn rep-help-button-primary btn-xs"
                    id="add-ingredient-instructions-toggle" data-ng-click="ailCtrl.addInstruct(0)">
                <span class="fa fa-question-circle fa-2x"></span>
                <span class="wb-inv">"{{::'ADD_INGREDIENT_INSTRUCT'|translate}}"</span>
            </button-->
        </div>
    </div>
    <!--div class="row">
        <div class="col-md-12">
            <div uib-alert template-url="./app/lib/uib-templates/alert.html" ng-if="ailCtrl.alerts[0]"
                 class="alert-info" close="ailCtrl.closeAlert(0)">
                <section aria-live="assertive">
                    <div ng-if="!ailCtrl.isFrench()"
                         ng-include="'app/scripts/templates/drugProduct/tpl-drugProduct-ingredient-en.html'">
                    </div>
                    <div ng-if="ailCtrl.isFrench()"
                         ng-include="'app/scripts/templates/drug/tpl-drugProduct-ingredient-fr.html'">
                    </div>
                </section>
            </div>
        </div>
    </div-->
</ng-form>