<ng-form name="formulRecCtrl.formulationForm" ng-model-options="{debounce: 250}"
         id="{{::formulRecCtrl.formulationFormRecordId}}">
    <div>
        <cmp-error-summary form-ref=formulRecCtrl.formulationForm
                           form-preamble="{{'FORMULATION_DETAILS'|translate}}&nbsp;{{formulRecCtrl.frmModel.formulationId}}"
                           exclusion-list=formulRecCtrl.exclusions
                           name-suffix="{{formulRecCtrl.summaryName}}" set-heading-level="h3"
                           form-id="formulRecCtrl.formulationFormRecordId"
                           transclude-list="formulRecCtrl.transcludeList"
                           make-focused="" alias-list="formulRecCtrl.alias" show-errors="formulRecCtrl.showSummary"
                           update-errors="formulRecCtrl.updateSummary"></cmp-error-summary>
        <fieldset>
            <legend>{{'FORMULATION_DETAILS'|translate}}&nbsp;{{formulRecCtrl.frmModel.formulationId}}</legend>

            <div class="row">
                <div class="form-group col-md-12">
                    <label for="formul-name"><span class="field-name">{{'FORMULATION_NAME'|translate}}</span></label>
                    <input type="text" id="formul-name" data-ng-model="formulRecCtrl.frmModel.formulationName"
                           ng-model-options="{debounce: '$inherit'}"
                           class="form-control" name="formulationName" maxlength="100" size="100"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 form-group">
                    <label for="{{::formulRecCtrl.dosageId}}" class="required rep-required-offset full-width"><span
                            class="field-name">{{'DOSAGE_FORM'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong>
                        <div class="rep-pad-top">
                            <div class="rep-error"
                                 ng-class="{'has-error':formulRecCtrl.formulationForm[formulRecCtrl.dosageId].$invalid}">
                                <ui-select ng-model="formulRecCtrl.frmModel.dosageForm"
                                           id="{{::formulRecCtrl.dosageId}}"
                                           name="{{::formulRecCtrl.dosageId}}" ng-model-options="{debounce: 0}"
                                           class="rep-selectize-dropdown rep-selectize-font" required
                                           ng-class="{'has-error':formulRecCtrl.formulationForm[formulRecCtrl.dosageId].$invalid}"
                                           title="{{'SELECT_DOSAGE'|translate}}">
                                    <ui-select-match placeholder="{{'SELECT_DOSAGE'|translate}}"
                                                     class="rep-selectize-font rep-selectize-dropdown">
                                        {{$select.selected[formulRecCtrl.lang]}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="formType in formulRecCtrl.dosageFormList | filter:{[formulRecCtrl.lang]:$select.search}"
                                            class="rep-selectize-font full-width">
                                <span class="full-width"
                                      ng-bind-html="formType[formulRecCtrl.lang] | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <cmp-error-message field-name="formulRecCtrl.dosageId"
                                           form-ref="formulRecCtrl.formulationForm"
                                           show-error="formulRecCtrl.showErrors()"
                                           error-types="formulRecCtrl.requiredOnly"></cmp-error-message>
                    </label>
                </div>
                <div class="col-md-6 form-group"
                     ng-class="{'has-error':formulRecCtrl.formulationForm[formulRecCtrl.dosageOtherId].$invalid}"
                     ng-show="formulRecCtrl.isDosageOther()">
                    <label for="{{::formulRecCtrl.dosageOtherId}}" class="required">
                        <span class="field-name">{{'DOSAGE_FORM_OTHER'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong>
                        <input type="text" id="{{::formulRecCtrl.dosageOtherId}}"
                               data-ng-model="formulRecCtrl.frmModel.dosageFormOther"
                               class="form-control full-width" name="{{::formulRecCtrl.dosageOtherId}}"
                               ng-model-options="{ debounce: '$inherit'}"
                               ng-required="formulRecCtrl.isDosageOther()" maxlength="60" size="60"/>
                        <cmp-error-message field-name="formulRecCtrl.dosageOtherId"
                                           form-ref="formulRecCtrl.formulationForm"
                                           show-error="formulRecCtrl.showErrors()"
                                           error-types="formulRecCtrl.requiredOnly"></cmp-error-message>
                    </label>
                </div>
            </div>
            <div>
                <section class="panel panel-default">
                    <header class="panel-heading">
                        <h3 class="panel-title">{{'MEDICINAL_INGRED'|translate}}</h3>
                    </header>
                    <div class="panel-body">
                        <!-- <input type="text" required ng-show="false" name="{{::formulRecCtrl.noActiveId}}" id="{{::formulRecCtrl.noActiveId}}"
                                aria-hidden="true" data-ng-model="formulRecCtrl.noActiveValues"/>-->
                        <cmp-active-ing-list ingredients="formulRecCtrl.frmModel.activeIngList"
                                             error-summary-update="formulRecCtrl.errorSummaryUpdate"
                                             show-error-summary="formulRecCtrl.showSummary"
                                             error-summary-update="formulRecCtrl.errorSummaryUpdate()"
                                             on-update="formulRecCtrl.updateActiveIngList(list)"></cmp-active-ing-list>
                    </div>
                </section>
            </div>
            <div>
                <section class="panel panel-default">
                    <header class="panel-heading">
                        <h3 class="panel-title">{{'NONMEDICINAL_INGRED'|translate}}</h3>
                    </header>
                    <div class="panel-body">
                        <cmp-non-med-ing-list ingredients="formulRecCtrl.frmModel.nMedIngList"
                                              error-summary-update="formulRecCtrl.errorSummaryUpdate"
                                              show-error-summary="formulRecCtrl.showSummary"
                                              on-update="formulRecCtrl.updateNonMedIngList(list)"></cmp-non-med-ing-list>
                    </div>
                </section>
            </div>
            <div>
                <section class="panel panel-default">
                    <header class="panel-heading">
                        <h3 class="panel-title">{{'ANIMAL_HUMAN_HDING'|translate}}</h3>
                    </header>
                    <div class="panel-body">
                        <cmp-material-ing-list ingredients="formulRecCtrl.frmModel.animalHumanMaterials"
                                               error-summary-update="formulRecCtrl.errorSummaryUpdate"
                                               show-error-summary="formulRecCtrl.showSummary"
                                               on-update="formulRecCtrl.updateMaterialList(list)"></cmp-material-ing-list>
                    </div>
                </section>
            </div>
            <div>
                <section class="panel panel-default">
                    <header class="panel-heading">
                        <h3 class="panel-title">{{'CONTAINER_TYPES'|translate}}</h3>
                        <!-- <strong id="nocontainer-error" class="error" ng-if="formulRecCtrl.noContainers()">
                                 <span class="label label-danger" ng-messages="formulationRecForm.noContainerFld.$error">
                                     <span ng-message="required"><span translate="MSG_ERR_ONE_CONTAINER"></span></span>
                                 </span>
                         </strong>-->
                    </header>
                    <div class="panel-body">
                        <cmp-container-type-list containers="formulRecCtrl.frmModel.containerTypes"
                                                 error-summary-update="formulRecCtrl.errorSummaryUpdate"
                                                 show-error-summary="formulRecCtrl.showSummary"
                                                 on-update="formulRecCtrl.updateContainerTypeList(list)"></cmp-container-type-list>
                    </div>
                </section>
            </div>
            <div>
                <section class="panel panel-default">
                    <header class="panel-heading">
                        <h3 class="panel-title">{{'ROA_TITLE'|translate}}</h3>
                        <!-- <strong id="noroa-error" class="error" ng-if="formulRecCtrl.noROA()">
                                 <span class="label label-danger" ng-messages="formulationRecForm.noROAFld.$error">
                                     <span ng-message="required"><span translate="MSG_ERR_ONE_ROA"></span></span>
                                 </span>
                         </strong>-->
                    </header>
                    <div class="panel-body">
                        <!--   <input type="text" required ng-show="false" name="{{::formulRecCtrl.noRoaId}}" id="{{::formulRecCtrl.noRoaId}}"
                                  aria-hidden="true" data-ng-model="formulRecCtrl.noROAValues"/>-->
                        <cmp-roa-list records="formulRecCtrl.frmModel.routeAdmins"
                                      show-errors="formulRecCtrl.showSummary"></cmp-roa-list>
                    </div>
                </section>
            </div>
            <div>
                <section class="panel panel-default">
                    <header class="panel-heading">
                        <h3 class="panel-title">{{'COUNTRIES_MANUFACT'|translate}}</h3>
                        <!-- <strong id="country-error" class="error" ng-if="formulRecCtrl.noCountry()">
                                 <span class="label label-danger" ng-messages="formulationRecForm.noCountry.$error">
                                     <span ng-message="required"><span translate="MSG_ERR_ONE_MANCOUNTRY"></span></span>
                                 </span>
                         </strong>-->
                    </header>
                    <div class="panel-body">
                        <!--  <input type="text" required ng-show="false" name="{{::formulRecCtrl.noCountryId}}" id="{{::formulRecCtrl.noCountryId}}"
                                 aria-hidden="true" data-ng-model="formulRecCtrl.noCountries"/>-->
                        <cmp-country-list list-items="formulRecCtrl.frmModel.countryList"
                                          on-update="formulRecCtrl.updateCountryList(list)"
                                          show-errors="formulRecCtrl.showSummary"
                                          field-label="COUNTRY_MAN"></cmp-country-list>
                    </div>
                </section>
            </div>
            <div class="row">
                <div class="btn-group-sm col-xs-12 text-right">
                    <input type="submit" ng-if="formulRecCtrl.deleteBtn === true"
                           value="{{'DELETE_FORMULATION'|translate}}&nbsp;{{formulRecCtrl.frmModel.formulationId}} "
                           class="btn btn-danger" ng-click="formulRecCtrl.delete()"/>
                    <input type="submit" ng-if="formulRecCtrl.deleteBtn === true"
                           value="{{'COPY_FORMULATION'|translate}}&nbsp;{{formulRecCtrl.frmModel.formulationId}}"
                           class="btn btn-default" ng-click="formulRecCtrl.copy()"/>
                </div>
            </div>
        </fieldset>
    </div>

    <!--<pre>frmModel: {{formulRecCtrl.frmModel | json}}</pre>-->

</ng-form>