<ng-form name="formulRecCtrl.formulationForm" data-ng-model-options="{debounce: 250}"
         id="{{::formulRecCtrl.formulationFormRecordId}}">
    <div>
        <cmp-error-summary form-ref=formulRecCtrl.formulationForm
                           form-preamble="{{'FORMULATION_DETAILS'|translate}}&nbsp;{{formulRecCtrl.frmModel.formulationId}}"
                           exclusion-list=formulRecCtrl.exclusions
                           name-suffix="{{formulRecCtrl.summaryName}}" set-heading-level="h3"
                           form-id="formulRecCtrl.formulationFormRecordId"
                           transclude-list="formulRecCtrl.transcludeList"
                           make-focused="" alias-list="formulRecCtrl.alias" show-errors="formulRecCtrl.showSummary"
                           update-errors="formulRecCtrl.updateSummary"></cmp-error-summary>
        <fieldset>
            <legend class="legend-rep">
                <span>{{'FORMULATION_DETAILS'|translate}}&nbsp;{{formulRecCtrl.frmModel.formulationId}}</span>
                <sup id="dr91_ref">
                    <a class="fn-lnk" href="#dr91"><span class="wb-inv">{{::'INSTRUCTION'|translate}}</span>{{::formulRecCtrl.htIndxList.formuDetailIndx}}</a>
                </sup>
                <!--<button title="{{::'EXPAND'|translate}} {{::'FORM_REC_INSTRUCT'|translate}}" class="btn rep-help-button-primary btn-xs"
                        id="form-id-instructions-toggle" data-ng-click="formulRecCtrl.addInstruct(0)">
                    <span class="fa fa-question-circle fa-2x"></span>
                    <span class="wb-inv">{{::'FORM_REC_INSTRUCT'|translate}}</span>
                </button> -->
            </legend>

            <div class="row">
                <div class="form-group col-md-12">
                    <label for="{{::formulRecCtrl.formulNameId}}"><span class="field-name">&#160;&#160;&#160;&#160;{{::formulRecCtrl.getFirstOrder(1)}}. {{'FORMULATION_NAME'|translate}}</span></label>
                    <input type="text" id="{{::formulRecCtrl.formulNameId}}" data-ng-model="formulRecCtrl.frmModel.formulationName"
                           data-ng-model-options="{debounce: '$inherit'}" data-focus-if="formulRecCtrl.isFocus" data-ng-blur="formulRecCtrl.cancelFocus();"
                           class="form-control full-width" name="{{::formulRecCtrl.formulNameId}}" maxlength="100"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 form-group" data-ng-class="{'has-error':formulRecCtrl.formulationForm[formulRecCtrl.dosageId].$invalid}"
                >&#160;&#160;&#160;
                    <label for="{{::formulRecCtrl.dosageId}}" class="required">
                        <span class="field-name">{{::formulRecCtrl.getFirstOrder(2)}}. {{'DOSAGE_FORM'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong>
                        <cmp-error-message field-name="formulRecCtrl.dosageId"
                                           form-ref="formulRecCtrl.formulationForm"
                                           show-error="formulRecCtrl.showError(formulRecCtrl.formulationForm[formulRecCtrl.dosageId])"
                                           error-types="formulRecCtrl.requiredOnly"></cmp-error-message>
                    </label>
                    <input type="text" id="{{::formulRecCtrl.dosageId}}" name="{{::formulRecCtrl.dosageId}}" data-ng-model="formulRecCtrl.frmModel.dosageFormHtml"
                           oninput="angular.element($(this)).scope().formulRecCtrl.dosageFormChange(this.value)" autocomplete="off"
                           data-ng-blur="formulRecCtrl.dosageFormBlur()"
                           list="dosageFormList" required class="form-control full-width"/>
                    <datalist id="dosageFormList" class="rep-selectize-dropdown rep-selectize-font">
                        <option data-ng-repeat="formType in formulRecCtrl.dosageFormList" value="{{formType[formulRecCtrl.lang]}}"/>
                    </datalist>

                </div>
                <div class="col-md-6 form-group"
                     data-ng-class="{'has-error':formulRecCtrl.formulationForm[formulRecCtrl.dosageOtherId].$invalid}"
                     data-ng-if="formulRecCtrl.isDosageOther">
                    <label for="{{::formulRecCtrl.dosageOtherId}}" class="required">
                        <span class="field-name">{{'DOSAGE_FORM_OTHER'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong>
                        <cmp-error-message field-name="formulRecCtrl.dosageOtherId"
                                           form-ref="formulRecCtrl.formulationForm"
                                           show-error="formulRecCtrl.showError(formulRecCtrl.formulationForm[formulRecCtrl.dosageOtherId])"
                                           error-types="formulRecCtrl.requiredOnly"></cmp-error-message>
                        <input type="text" id="{{::formulRecCtrl.dosageOtherId}}"
                               data-ng-model="formulRecCtrl.frmModel.dosageFormOther"
                               class="form-control full-width" name="{{::formulRecCtrl.dosageOtherId}}"
                               data-ng-model-options="{ updateOn: 'blur', debounce:0}"
                               data-ng-required="formulRecCtrl.isDosageOther" maxlength="60" size="60"/>

                    </label>
                </div>
            </div>
            <div>
                <section class="panel panel-default">
                    <header class="panel-heading clearfix">
                        <h5 class="rep-panel-title">{{::formulRecCtrl.getFirstOrder(3)}}. {{'INGREDIENTS'|translate}}
                            <sup id="dr9c_ref">
                                <a class="fn-lnk" href="#dr9c"><span class="wb-inv">{{::'INSTRUCTION'|translate}}</span>{{::formulRecCtrl.htIndxList.ingredIndx}}</a>
                            </sup>
                        </h5>
                    </header>
                    <div class="panel-body row">
                        <div>
                            <cmp-active-ing-list ingredients="formulRecCtrl.frmModel.activeIngList"
                                             error-summary-update="formulRecCtrl.errorSummaryUpdate"
                                             show-error-summary="formulRecCtrl.showSummary"
                                             error-summary-update="formulRecCtrl.errorSummaryUpdate()"
                                             is-file-loaded="formulRecCtrl.isFileLoaded"
                                             ht-indx-list="formulRecCtrl.htIndxList"
                                             on-update="formulRecCtrl.updateActiveIngList(list)"></cmp-active-ing-list>
                        </div>
                    </div>
                </section>
            </div>
            <div data-ng-if="! formulRecCtrl.isForProd && formulRecCtrl.dossierType == 'D26'">
                <section class="panel panel-default">
                    <header/>
                    <div class="col-md-12 form-group rep-pad-top-10">
                        <fieldset>
                        <legend class="required radioButtonTitle">{{formulRecCtrl.getFirstOrder(4)}}. {{'DRUGMARKETID_'|translate}} <strong class="required">{{"REQUIRED" |translate}}</strong>
                            <cmp-error-message field-name="formulRecCtrl.drugMarketId"
                                           form-ref="formulRecCtrl.formulationForm"
                                           show-error="formulRecCtrl.showError(formulRecCtrl.formulationForm[formulRecCtrl.drugMarketId])"
                                           error-types="formulRecCtrl.requiredOnly"></cmp-error-message>
                        </legend>
                        <div>
                            <label class="col-xs-3 rep-pad-top-10 rep-normal-font" for="{{::formulRecCtrl.drugMarketId}}"><input type="radio" id="{{::formulRecCtrl.drugMarketId}}" name="{{::formulRecCtrl.drugMarketId}}" value="CANADIAN" data-ng-model="formulRecCtrl.frmModel.drugMarket" ng-required="!formulRecCtrl.frmModel.drugMarket" data-ng-click="formulRecCtrl.clickDrugMarket();"/>&nbsp;{{::'CANADIAN'|translate}}</label>
                            <label class="col-xs-3 rep-pad-top-10 rep-normal-font" for="{{::formulRecCtrl.drugMarketId}}_1"><input type="radio" id="{{::formulRecCtrl.drugMarketId}}_1" name="{{::formulRecCtrl.drugMarketId}}" value="FOREIGN" data-ng-model="formulRecCtrl.frmModel.drugMarket" ng-required="!formulRecCtrl.frmModel.drugMarket" data-ng-click="formulRecCtrl.clickDrugMarket();"/>&nbsp;{{::'FOREIGN'|translate}}</label>
                            <label class="col-xs-3 rep-pad-top-10 rep-normal-font" for="{{::formulRecCtrl.drugMarketId}}_2"><input type="radio" id="{{::formulRecCtrl.drugMarketId}}_2" name="{{::formulRecCtrl.drugMarketId}}" value="NOT_MARKETED" data-ng-model="formulRecCtrl.frmModel.drugMarket" ng-required="!formulRecCtrl.frmModel.drugMarket" data-ng-click="formulRecCtrl.clickDrugMarket();"/>&nbsp;{{::'NOT_MARKETED'|translate}}</label>
                        </div>
                        </fieldset>
                    </div>
                    <div class="panel-body" data-ng-if="formulRecCtrl.frmModel.drugMarket == 'CANADIAN'">
                        <div class="row col-md-12">
                        <div  class="col-md-12 form-group">
                            <label class="required" for="{{::formulRecCtrl.dinId}}">
                                <span class="field-name">{{::'SCHED_DIN'|translate}} </span>
                                <strong class="required">{{::"REQUIRED" |translate}}</strong>
                            </label>
                            <cmp-error-message field-name="formulRecCtrl.dinId"
                                               form-ref="formulRecCtrl.formulationForm"
                                               show-error="formulRecCtrl.showError(formulRecCtrl.formulationForm[formulRecCtrl.dinId])"
                                               error-types="formulRecCtrl.requiredOnly"></cmp-error-message>
                            <input type="text" id="{{::formulRecCtrl.dinId}}" name="{{::formulRecCtrl.dinId}}" maxlength="8" data-ng-model="formulRecCtrl.frmModel.din" required class="form-control"/>
                        </div>
                        </div>
                    </div>

                    <div class="panel-body" data-ng-if="formulRecCtrl.frmModel.drugMarket == 'FOREIGN'">
                        <div  class="col-md-12 form-group">
                            <cmp-error-message field-name="formulRecCtrl.noDinCountryId"
                                               form-ref="formulRecCtrl.formulationForm"
                                               show-error="formulRecCtrl.showError(formulRecCtrl.formulationForm[formulRecCtrl.noDinCountryId])"
                                               error-types="formulRecCtrl.requiredOnly"></cmp-error-message>
                            <strong id="{{::formulRecCtrl.listDinCtryId}}">{{::'LIST_DRUG_FROM'|translate}} <strong class="required">{{::"REQUIRED" |translate}}</strong>
                            </strong>
                            <input type="hidden" name="{{::formulRecCtrl.noDinCountryId}}" id="{{::formulRecCtrl.noDinCountryId}}"
                                   aria-hidden="true" data-ng-model="formulRecCtrl.frmModel.noDinCountries" required/>
                            <cmp-country-list list-items="formulRecCtrl.frmModel.dinCountryList" with-unknown="false"
                                              on-update="formulRecCtrl.updateDinCountryList(list)"
                                              show-errors="formulRecCtrl.showSummary"
                                              is-file-loaded="formulRecCtrl.isFileLoaded" add-button-label="ADD_COUNTRY"
                                              field-label="COUNTRY_DIN">
                            </cmp-country-list>
                        </div>
                    </div>
                </section>
            </div>
            <div class="row">
                <div class="form-group col-xs-12"
                     data-ng-class="{'has-error':formulRecCtrl.formulationForm[formulRecCtrl.isAnimalHumanMaterialId].$invalid}">
                    <fieldset class="col-xs-12 chkbxrdio-grp">
                    <legend class="required width90 radioButtonTitle">
                        <strong class="field-name">&#160;{{formulRecCtrl.getNextOrder(5)}}. {{'IS_ANIMAL_HUMAN_MATERIAL'|translate}}</strong>
                        <strong class="required">{{"REQUIRED" |translate}}</strong>
                        <sup id="dr9d_ref">
                            <a class="fn-lnk" href="#dr9d"><span class="wb-inv">{{::'INSTRUCTION'|translate}}</span>{{::formulRecCtrl.htIndxList.isMaterialIndx}}</a>
                        </sup>

                    <!--<div  class="col-md-12">-->
                        <cmp-error-message field-name="formulRecCtrl.isAnimalHumanMaterialId"
                                       form-ref="formulRecCtrl.formulationForm"
                                       show-error="formulRecCtrl.showError(formulRecCtrl.formulationForm[formulRecCtrl.isAnimalHumanMaterialId])"
                                       error-types="formulRecCtrl.requiredOnly"></cmp-error-message>
                    </legend>
                        <!--<select id="{{::formulRecCtrl.isAnimalHumanMaterialId}}" data-ng-model="formulRecCtrl.frmModel.isAnimalHumanMaterial" data-ng-required="true"-->
                                <!--class="form-control" name="{{::formulRecCtrl.isAnimalHumanMaterialId}}"-->
                                <!--data-ng-options="val |translate for val in  formulRecCtrl.yesNoList">-->
                            <!--<option value="" label=" " />-->
                        <!--</select>-->
                    <!--</div>-->
                    <input type="radio" id="{{::formulRecCtrl.isAnimalHumanMaterialId}}" name="{{::formulRecCtrl.isAnimalHumanMaterialId}}" value="Y" data-ng-model="formulRecCtrl.frmModel.isAnimalHumanMaterial" required/>
                    <label for="{{::formulRecCtrl.isAnimalHumanMaterialId}}">&nbsp;{{::'Y'|translate}}</label>
                    <input type="radio" id="{{::formulRecCtrl.isAnimalHumanMaterialId}}_1"
                               name="{{::formulRecCtrl.isAnimalHumanMaterialId}}" value="N"
                               data-ng-model="formulRecCtrl.frmModel.isAnimalHumanMaterial"
                               data-ng-click="formulRecCtrl.deleteMaterialList();"
                               required/>
                    <label for="{{::formulRecCtrl.isAnimalHumanMaterialId}}_1">&nbsp;{{::'N'|translate}}</label>
                    </fieldset>
                </div>
            </div>
            <div data-ng-if="formulRecCtrl.frmModel.isAnimalHumanMaterial === 'Y'">
                <section class="panel panel-default">
                    <header class="panel-heading">
                        <h3 class="panel-title">{{'ANIMAL_HUMAN_HDING'|translate}}</h3>
                    </header>
                    <div class="panel-body row">
                        <cmp-material-ing-list ingredients="formulRecCtrl.frmModel.animalHumanMaterials"
                                               error-summary-update="formulRecCtrl.errorSummaryUpdate"
                                               show-error-summary="formulRecCtrl.showSummary"
                                               is-file-loaded="formulRecCtrl.isFileLoaded" is-focus="false"
                                               on-update="formulRecCtrl.updateMaterialList(list)"></cmp-material-ing-list>
                    </div>
                </section>
            </div>
            <div>
                <section class="panel panel-default">
                    <header class="panel-heading">
                        <h5 class="rep-panel-title">{{formulRecCtrl.getNextOrder(6)}}. {{'CONTAINER_TYPES'|translate}}</h5>
                    </header>
                    <div class="panel-body row">
                        <cmp-container-type-list containers="formulRecCtrl.frmModel.containerTypes"
                                                 error-summary-update="formulRecCtrl.errorSummaryUpdate"
                                                 show-error-summary="formulRecCtrl.showSummary"
                                                 is-file-loaded="formulRecCtrl.isFileLoaded"
                                                 ht-indx-list="formulRecCtrl.htIndxList"
                                                 on-update="formulRecCtrl.updateContainerTypeList(list)">
                        </cmp-container-type-list>
                    </div>
                </section>
            </div>
            <div>
                <section class="panel panel-default">
                    <header class="panel-heading">
                        <h5 class="rep-panel-title">{{formulRecCtrl.getNextOrder(7)}}. {{'ROA_TITLE'|translate}}</h5>
                    </header>
                    <div class="panel-body row">
                        <cmp-roa-list records="formulRecCtrl.frmModel.routeAdmins"
                                      is-file-loaded="formulRecCtrl.isFileLoaded"
                                      show-errors="formulRecCtrl.showSummary">
                        </cmp-roa-list>
                    </div>
                </section>
            </div>
            <div>
                <section class="panel panel-default">
                    <header class="panel-heading">
                        <h5 class="rep-panel-title">{{formulRecCtrl.getNextOrder(8)}}. {{'COUNTRIES_MANUFACT'|translate}}
                            <sup id="dr9g_ref">
                                <a class="fn-lnk" href="#dr9g"><span class="wb-inv">{{::'INSTRUCTION'|translate}}</span>{{::formulRecCtrl.htIndxList.manuCntryIndx}}</a>
                            </sup>
                        </h5>
                    </header>
                    <div class="panel-body" id="list_country_{{::$id}}">
                        <input type="hidden" name="{{::formulRecCtrl.noCountryId}}" id="{{::formulRecCtrl.noCountryId}}"
                                 aria-hidden="true" data-ng-model="formulRecCtrl.frmModel.noCountries" required/>
                        <cmp-country-list list-items="formulRecCtrl.frmModel.countryList" with-unknown="false"
                                          on-update="formulRecCtrl.updateCountryList(list)"
                                          show-errors="formulRecCtrl.showSummary"
                                          is-file-loaded="formulRecCtrl.isFileLoaded" add-button-label="ADD_COUNTRY_MANUFACTURE"
                                          field-label="COUNTRY_MAN">
                        </cmp-country-list>
                    </div>
                </section>
            </div>
            <div class="row">
                <div class="btn-group-sm col-sm-12">&#160;&#160;
                    <input type="submit" data-ng-if="formulRecCtrl.deleteBtn === true"
                           value="{{'DELETE_FORMULATION'|translate}}&#160;{{formulRecCtrl.frmModel.formulationId}} "
                           class="btn btn-danger" data-ng-click="formulRecCtrl.delete()"/>
                    <input type="submit" data-ng-if="formulRecCtrl.deleteBtn === true"
                           value="{{'COPY_FORMULATION'|translate}}&#160;{{formulRecCtrl.frmModel.formulationId}}"
                           class="btn btn-default" data-ng-click="formulRecCtrl.copy()"/>
                </div>
            </div>
        </fieldset>
    </div>

    <!--<pre>frmModel: {{formulRecCtrl.frmModel | json}}</pre>-->

</ng-form>