<ng-form name="ailCtrl.activeIngListForm">
     <input type="text" required ng-show="false" name="{{::ailCtrl.noActiveId}}" id="{{::ailCtrl.noActiveId}}"
                              aria-hidden="true" data-ng-model="ailCtrl.noActiveValues"/>
    <cmp-expanding-table title="{{'ACTIVE_LIST'|translate}}" list-items="ailCtrl.ingList"
                         reset-to-collapsed="ailCtrl.resetToCollapsed"
                         column-def="ailCtrl.colNames" select-record="ailCtrl.selectRecord"
                         disable-selection="!ailCtrl.isDetailValid">

        <cmp-active-ing-record record="$parent.record" on-update="ailCtrl.updateIng($parent.$index,ing)"
                               on-add-ing="ailCtrl.addIng(ing)" record-index="$parent.$index"
                               on-delete="ailCtrl.deleteIng($parent.$index)" delete-btn="true"
                               update-error-summary="ailCtrl.updateErrorSummary()"
                               error-summary-update="ailCtrl.errorSummaryUpdate" show-error-summary="ailCtrl.showErrorSummary"
                               is-detail-valid="ailCtrl.setValid(state)"></cmp-active-ing-record>

    </cmp-expanding-table>
    <div name="new-record">
        <cmp-active-ing-record ng-if="ailCtrl.newIngFormShown === true" on-add-ing="ailCtrl.addIng(ing)"
                               on-cancel="ailCtrl.onNewCancel()" delete-btn="false"
                               error-summary-update="ailCtrl.errorSummaryUpdate" show-error-summary="ailCtrl.showErrorSummary"
                               record-index="ailCtrl.ingList.length"></cmp-active-ing-record>
    </div>
    <div class="mrgn-tp-md mrgn-bttm-lg">
        <div class="btn-group-sm col-md-12 text-right">
            <button class="btn btn-primary" data-ng-disabled="ailCtrl.addNewDisabled()"
                    ng-click="ailCtrl.addNewIngredientState()" id="addAI_{{::$id}}" name="addAI_{{::$id}}">{{'ADD_INGREDIENT'|translate}}
            </button>
        </div>
    </div>
</ng-form>