<ng-form name="ctlCtrl.ctrTypeListForm">
    <input type="text" required ng-show="false" name="{{::ctlCtrl.noContainerId}}" id="{{::ctlCtrl.noContainerId}}"
           aria-hidden="true" data-ng-model="ctlCtrl.noContainerValues"/>
    <cmp-expanding-table  reset-to-collapsed="ctlCtrl.resetToCollapsed"
                         list-items="ctlCtrl.containerList"
                         column-def="ctlCtrl.colNames" select-record="ctlCtrl.selectRecord"
                         disable-selection="!ctlCtrl.isDetailValid">

        <cmp-container-type-record record="$parent.record" on-update="ctlCtrl.updateRec($parent.$index,cType)"
                                   is-detail-valid="ctlCtrl.setValid(state)"
                                   error-summary-update="ctlCtrl.errorSummaryUpdate" show-error-summary="ctlCtrl.showErrorSummary"
                                   on-delete="ctlCtrl.deleteRec($parent.$index)" record-index="$parent.$index"
                                   delete-btn="true"></cmp-container-type-record>

    </cmp-expanding-table>
    <div name="new-container-record">
        <cmp-container-type-record ng-if="ctlCtrl.newIngFormShown === true" on-add-ing="ctlCtrl.addNew(cType)"
                                   on-cancel="ctlCtrl.onNewCancel()" delete-btn="false"
                                   error-summary-update="ctlCtrl.errorSummaryUpdate" show-error-summary="ctlCtrl.showErrorSummary"
                                   record-index="ctlCtrl.containerList.length">
        </cmp-container-type-record>
    </div>
    <div class="mrgn-tp-md mrgn-bttm-lg">
        <div class="btn-group-sm col-md-12 text-right">
            <button  class="btn btn-primary" name="addContainer_{{::$id}}" id="addContainer_{{::$id}}"
                   data-ng-disabled="ctlCtrl.addNewDisabled()"
                    ng-click="ctlCtrl.addNewIngredientState()">{{'ADD_CONTAINER'|translate}}</button>
        </div>
    </div>

</ng-form>