<ng-form name="ctlCtrl.ctrTypeListForm">
    <input type="text" required data-ng-show="false" name="{{::ctlCtrl.noContainerId}}" id="{{::ctlCtrl.noContainerId}}"
           aria-hidden="true" data-ng-model="ctlCtrl.noContainerValues"/>
    <cmp-expanding-table  pre-id="container_type_list_" reset-to-collapsed="ctlCtrl.resetToCollapsed"
                          list-items="ctlCtrl.containerList" id="list_container_{{::$id}}"
                          new-record-shown="ctlCtrl.newIngFormShown" column-def="ctlCtrl.colNames" select-record="ctlCtrl.selectRecord">

        <cmp-container-type-record record="$parent.record" on-update="ctlCtrl.updateRec($parent.$index,cType)"
                                   is-detail-valid="ctlCtrl.setValid(state)" is-focus="ctlCtrl.isFocus" cancel-focus="ctlCtrl.cancelFocus"
                                   error-summary-update="ctlCtrl.errorSummaryUpdate" show-error-summary="ctlCtrl.showErrorSummary"
                                   on-delete="ctlCtrl.deleteRec($parent.$index)" record-index="$parent.$index"
                                   ht-indx-list="ctlCtrl.htIndxList"
                                   delete-btn="true"></cmp-container-type-record>

    </cmp-expanding-table>
    <div id="new-container-record">
        <cmp-container-type-record ng-if="ctlCtrl.newIngFormShown === true" on-add-ing="ctlCtrl.addNew(cType)"
                                   on-cancel="ctlCtrl.onNewCancel()" delete-btn="false" is-focus="ctlCtrl.isFocus" cancel-focus="ctlCtrl.cancelFocus"
                                   error-summary-update="ctlCtrl.errorSummaryUpdate" show-error-summary="ctlCtrl.showErrorSummary"
                                   ht-indx-list="ctlCtrl.htIndxList"
                                   record-index="ctlCtrl.containerList.length">
        </cmp-container-type-record>
    </div>
    <div class="mrgn-tp-md mrgn-bttm-lg">
        <div class="btn-group-sm col-md-12">
            <button  class="btn btn-primary" name="addContainer_{{::$id}}" id="addContainer_{{::$id}}"
                   data-ng-disabled="ctlCtrl.addNewDisabled()"
                     data-ng-click="ctlCtrl.addNewIngredientState();ctlCtrl.setFocus();">{{'ADD_CONTAINER'|translate}}</button>
        </div>
    </div>

</ng-form>