<ng-form name="nIngRecCtrl.nonMedIngForm" id="{{::nIngRecCtrl.nmiFormId}}">
    <div class="container-fluid">
        <cmp-error-summary form-ref="nIngRecCtrl.nonMedIngForm"
                           form-preamble="{{'NONMEDICINAL_INGRED_DETAILS'|translate}}&nbsp;{{nIngRecCtrl.recordIndex+1}}" exclusion-list=nIngRecCtrl.exclusions
                           name-suffix="nIngRecCtrl.nonMedIngForm" set-heading-level="h3" form-id="nIngRecCtrl.nmiFormId"
                           make-focused="nIngRecCtrl.focusSummary" alias-list="nIngRecCtrl.alias" show-errors="nIngRecCtrl.showSummary"
                           update-errors="nIngRecCtrl.updateSummary"></cmp-error-summary>

        <fieldset>
            <legend>{{'NONMEDICINAL_INGRED_DETAILS'|translate}}&nbsp;{{nIngRecCtrl.recordIndex+1}}</legend>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="{{::nIngRecCtrl.variantId}}"><span class="field-name">{{'VARIANT_NAME'|translate}}</span>
                        <input type="text" id="{{::nIngRecCtrl.variantId}}" name="{{::nIngRecCtrl.variantId}}"
                               data-ng-model="nIngRecCtrl.ingModel.varId" ng-model-options="{ debounce: $inherit}"
                               class="form-control full-width" name="text" maxlength="100" size="100"/>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12"
                     ng-class="{'has-error':nIngRecCtrl.nonMedIngForm[nIngRecCtrl.ingredName].$invalid}">
                    <label for="{{::nIngRecCtrl.ingredName}}" class="required"><span class="field-name">{{'ING_NAME'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong>
                        <input type="text" id="{{::nIngRecCtrl.ingredName}}" data-ng-model="nIngRecCtrl.ingModel.ingName"
                               ng-model-options="{ debounce: $inherit}"  name="{{::nIngRecCtrl.ingredName}}"
                               class="form-control full-width" name="nonmedName" ng-required="true" maxlength="100"
                               size="100"/>
                        <cmp-error-message field-name="nIngRecCtrl.ingredName"
                                           form-ref="nIngRecCtrl.nonMedIngForm"
                                           show-error="nIngRecCtrl.showError(nIngRecCtrl.nonMedIngForm[nIngRecCtrl.ingredName])"
                                           error-types="nIngRecCtrl.requiredOnly"></cmp-error-message>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="{{::nIngRecCtrl.casId}}"><span class="field-name">{{'CAS'|translate}}</span></label>
                    <input type="text" id="{{::nIngRecCtrl.casId}}" name="{{::nIngRecCtrl.casId}}"
                           data-ng-model="nIngRecCtrl.ingModel.cas" maxlength="12" size="12"
                           ng-model-options="{ debounce: $inherit}" class="form-control full-width" name="casNum"/>
                </div>
                <div class="form-group col-md-3">
                    <label for="{{::nIngRecCtrl.standardId}}"><span class="field-name">{{'STANDARD'|translate}}</span></label>
                    <input type="text" id="{{::nIngRecCtrl.standardId}}" data-ng-model="nIngRecCtrl.ingModel.standard"
                           ng-model-options="{ debounce: $inherit}" name="{{::nIngRecCtrl.standardId}}"
                           class="form-control full-width" name="standard" maxlength="40" size="40"/>
                </div>
                <div class="form-group col-md-3" ng-class="{'has-error':nIngRecCtrl.nonMedIngForm[nIngRecCtrl.strengthId].$invalid}">
                    <label for="{{::nIngRecCtrl.strengthId}}" class="required"><span class="field-name">{{'STRENGTH'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong>
                        <input type="number" id="{{::nIngRecCtrl.strengthId}}" data-ng-model="nIngRecCtrl.ingModel.strength"
                               ng-model-options="{ debounce: $inherit}" class="form-control full-width"
                               name="{{::nIngRecCtrl.strengthId}}" ng-required="true" ng-min="0"/>
                        <cmp-error-message field-name="nIngRecCtrl.strengthId"
                                           form-ref="nIngRecCtrl.nonMedIngForm"
                                           show-error="nIngRecCtrl.showError(nIngRecCtrl.nonMedIngForm[nIngRecCtrl.strengthId])"
                                           error-types="nIngRecCtrl.requiredOnly"></cmp-error-message>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="{{::nIngRecCtrl.unitsId}}" class="required full-width"><span class="field-name">{{'UNITS'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong>
                        <div class="rep-pad-top">
                            <div class="rep-error" ng-class="{'has-error':nIngRecCtrl.nonMedIngForm[nIngRecCtrl.unitsId].$invalid}">
                                <ui-select data-ng-model="nIngRecCtrl.ingModel.units" id="{{::nIngRecCtrl.unitsId}}"
                                           ng-model-options="{debounce: 0}" name="{{::nIngRecCtrl.unitsId}}"
                                           class="rep-selectize-font full-width" required>
                                    <ui-select-match placeholder="{{'UNITS_SRCH' |translate}}"
                                                     class="rep-selectize-font rep-selectize-dropdown form-control">
                                        {{$select.selected[nIngRecCtrl.lang]}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="unit in nIngRecCtrl.unitsList |filter:{[nIngRecCtrl.lang]:$select.search}"
                                            class="rep-selectize-font">
                                        <span ng-bind-html="unit[nIngRecCtrl.lang] | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <cmp-error-message field-name="nIngRecCtrl.unitsId"
                                           form-ref="nIngRecCtrl.nonMedIngForm"
                                           show-error="nIngRecCtrl.showError(nIngRecCtrl.nonMedIngForm[nIngRecCtrl.unitsId])"
                                           error-types="nIngRecCtrl.requiredOnly"></cmp-error-message>
                    </label>
                </div>
                <div class="form-group col-md-4" ng-show="nIngRecCtrl.isUnitsOther()" ng-class="{'has-error':nIngRecCtrl.nonMedIngForm[nIngRecCtrl.otherUnitsId].$invalid}">
                    <label for="{{::nIngRecCtrl.otherUnitsId}}" class="required"><span class="field-name">{{'OTHER_UNITS'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong>
                        <input type="text" id="{{::nIngRecCtrl.otherUnitsId}}" data-ng-model="nIngRecCtrl.ingModel.otherUnits"
                               size="40" class="form-control" name="{{::nIngRecCtrl.otherUnitsId}}" ng-model-options="{ debounce: $inherit}"
                               maxlength="40" ng-required="nIngRecCtrl.isUnitsOther()"/>
                        <cmp-error-message field-name="nIngRecCtrl.otherUnitsId"
                                           form-ref="nIngRecCtrl.nonMedIngForm"
                                           show-error="nIngRecCtrl.showError(nIngRecCtrl.nonMedIngForm[nIngRecCtrl.otherUnitsId])"
                                           error-types="nIngRecCtrl.requiredOnly"></cmp-error-message>
                    </label>
                </div>

                <div class="form-group col-md-5">
                    <label for="{{::nIngRecCtrl.perId}}"><span class="field-name">{{'PER_STRENGTH'|translate}}</span></label>
                    <input type="text" id="{{::nIngRecCtrl.perId}}" data-ng-model="nIngRecCtrl.ingModel.per"
                           ng-model-options="{ debounce: $inherit}"
                           class="form-control" name="{{::nIngRecCtrl.perId}}" maxlength="40" size="40"/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3"
                     ng-class="{'has-error':nIngRecCtrl.nonMedIngForm[nIngRecCtrl.nanoId].$invalid}">
                    <label for="{{::nIngRecCtrl.nanoId}}" class="required">
                        <span class="field-name">{{'NANO_MATERIAL'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong></label>
                    <select id="{{::nIngRecCtrl.nanoId}}" ng-model="nIngRecCtrl.ingModel.nanoMaterial"
                            class="form-control full-width" name="{{::nIngRecCtrl.nanoId}}" ng-required="true"
                            ng-options="nano[nIngRecCtrl.lang] for nano in  nIngRecCtrl.nanoMaterialList track by nano.id">
                    </select>
                    <cmp-error-message field-name="nIngRecCtrl.nanoId"
                                       form-ref="nIngRecCtrl.nonMedIngForm"
                                       show-error="nIngRecCtrl.showError(nIngRecCtrl.nonMedIngForm[nIngRecCtrl.nanoId])"
                                       error-types="nIngRecCtrl.requiredOnly"></cmp-error-message>
                </div>
                <div class="form-group col-md-5" ng-if="nIngRecCtrl.isNanoOther()"
                     ng-class="{'has-error':nIngRecCtrl.nonMedIngForm[nanoOtherId].$invalid}">
                    <label for="{{::nIngRecCtrl.nanoOtherId}}" class="required">
                        <span class="field-name">{{'NANO_MATERIAL_OTHER'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong></label>
                    <input type="text" id="{{::nIngRecCtrl.nanoOtherId}}" data-ng-model="nIngRecCtrl.ingModel.nanoMaterialOther"
                           ng-model-options="{ debounce: $inherit}"
                           class="form-control full-width" name="{{::nIngRecCtrl.nanoOtherId}}" true maxlength="40"/>
                    <cmp-error-message field-name="nIngRecCtrl.nanoOtherId"
                                       form-ref="nIngRecCtrl.nonMedIngForm"
                                       show-error="nIngRecCtrl.showError(nIngRecCtrl.nonMedIngForm[nIngRecCtrl.nanoOtherId])"
                                       error-types="nIngRecCtrl.requiredOnly"></cmp-error-message>
                </div>
                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12"
                     ng-class="{'has-error':nIngRecCtrl.nonMedIngForm.asBase.$invalid}">
                    <label for="{{::nIngRecCtrl.asBaseId}}" class="required">
                        <span class="field-name">{{'CALCULATED_AS_BASE'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong>
                        <select id="{{::nIngRecCtrl.asBaseId}}" ng-model="nIngRecCtrl.ingModel.calcAsBase"
                                class="form-control" name="{{::nIngRecCtrl.asBaseId}}" ng-required="true"
                                ng-options="val |translate for val in  nIngRecCtrl.yesNoList">
                        </select>
                        <cmp-error-message field-name="nIngRecCtrl.asBaseId"
                                           form-ref="nIngRecCtrl.nonMedIngForm"
                                           show-error="nIngRecCtrl.showError(nIngRecCtrl.nonMedIngForm[nIngRecCtrl.asBaseId])"
                                           error-types="nIngRecCtrl.requiredOnly"></cmp-error-message>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12"
                     ng-class="{'has-error':nIngRecCtrl.nonMedIngForm[nIngRecCtrl.animalHumanSrcId].$invalid}">
                    <label for="{{::nIngRecCtrl.animalHumanSrcId}}" class="required">
                        <span class="field-name">{{'ANIMAL_HUMAN_SOURCED'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong>
                        <select id="{{::nIngRecCtrl.animalHumanSrcId}}" ng-model="nIngRecCtrl.ingModel.humanAnimalSourced"
                                class="form-control" name="{{::nIngRecCtrl.animalHumanSrcId}}" required
                                ng-options="val |translate for val in  nIngRecCtrl.yesNoList">
                        </select>
                        <cmp-error-message field-name="nIngRecCtrl.animalHumanSrcId"
                                           form-ref="nIngRecCtrl.nonMedIngForm"
                                           show-error="nIngRecCtrl.showError(nIngRecCtrl.nonMedIngForm[nIngRecCtrl.animalHumanSrcId])"
                                           error-types="nIngRecCtrl.requiredOnly"></cmp-error-message>
                    </label>
                </div>
                <div class="btn-group-sm col-xs-8 text-right">
                    <div class="row">
                        <div class="col-xs-12">
                            <span>&nbsp;</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-primary" name="saveNMI"
                                    ng-click="nIngRecCtrl.saveIng()">{{'SAVE'|translate}}
                            </button>
                            <button ng-if="nIngRecCtrl.deleteBtn === true"
                                    class="btn btn-danger" name="deleteNMI"
                                    ng-click="nIngRecCtrl.delete()">{{'DELETE'|translate}}
                            </button>
                            <button ng-if="nIngRecCtrl.deleteBtn === true" class="btn btn-default" name="copyNMI"
                                    ng-click="nIngRecCtrl.copy()" ng-disabled="nIngRecCtrl.nonMedIngForm.$dirty">
                                {{'COPY'|translate}}
                            </button>
                            <button class="btn btn-default" name="discardNMI"
                                    ng-click="nIngRecCtrl.discardChanges()">{{'DISCARD_CHANGES'|translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10">
                    <div ng-if="nIngRecCtrl.isAnimalHumanSourced()" class="alert alert-info"
                         role="alert" aria-live="polite">
                        {{'SOURCED_INFO'|translate}}
                    </div>
                </div>
            </div>
        </fieldset>
        <!-- <pre>{{nIngRecCtrl.ingModel |json}}</pre>-->
    </div>
</ng-form>