<ng-form name="ctrCtrl.containerTypeForm" id="{{::ctrCtrl.containerFormId}}">
    <div class="container-fluid">
        <cmp-error-summary form-ref="ctrCtrl.containerTypeForm"
                           form-preamble="{{'CONTAINER_TYPE_DETAILS'|translate}}&nbsp;{{ctrCtrl.recordIndex+1}}" exclusion-list=ctrCtrl.exclusions
                           name-suffix="ctrCtrl.containerTypeForm" set-heading-level="h3" form-id="ctrCtrl.containerFormId"
                           make-focused="ctrCtrl.focusSummary" alias-list="ctrCtrl.alias" show-errors="ctrCtrl.showSummary"
                           update-errors="ctrCtrl.updateSummary"></cmp-error-summary>

        <fieldset>
            <legend>{{'CONTAINER_TYPE_DETAILS'|translate}}&nbsp;{{ctrCtrl.recordIndex+1}}</legend>
            <div class="row">
                <div class="form-group col-md-12"
                     ng-class="{'has-error':ctrCtrl.containerTypeForm[ctrCtrl.containerTypeId].$invalid}">
                    <label for="{{::ctrCtrl.containerTypeId}}" class="required">
                        <span class="field-name">{{'CONTAINER_TYPE'|translate}}</span>
                        <strong class="required">{{'REQUIRED' |translate}}</strong>
                        <cmp-error-message field-name="ctrCtrl.containerTypeId"
                                           form-ref="ctrCtrl.containerTypeForm"
                                           show-error="ctrCtrl.showError(ctrCtrl.containerTypeForm[ctrCtrl.containerTypeId])"
                                           error-types="ctrCtrl.requiredOnly"></cmp-error-message>
                    </label>
                    <textarea id="{{::ctrCtrl.containerTypeId}}" data-ng-model="ctrCtrl.ctModel.containerType" maxlength="256" rows="3"
                              ng-model-options="{ debounce: $inherit}"
                              class="form-control full-width" name="{{::ctrCtrl.containerTypeId}}" required></textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12"
                     ng-class="{'has-error':ctrCtrl.containerTypeForm[ctrCtrl.packageSizeId].$invalid}">
                    <label for="{{::ctrCtrl.packageSizeId}}" class="required">
                        <span class="field-name">{{'PACKAGE_SIZE'|translate}}</span>
                        <strong class="required">{{'REQUIRED' |translate}}</strong>
                        <cmp-error-message field-name="ctrCtrl.packageSizeId"
                                           form-ref="ctrCtrl.containerTypeForm"
                                           show-error="ctrCtrl.showError(ctrCtrl.containerTypeForm[ctrCtrl.packageSizeId])"
                                           error-types="ctrCtrl.requiredOnly"></cmp-error-message>
                    </label>
                    <textarea id="{{::ctrCtrl.packageSizeId}}" data-ng-model="ctrCtrl.ctModel.packageSize" maxlength="256" rows="3"
                              ng-model-options="{ debounce: $inherit}"
                              class="form-control full-width" name="{{::ctrCtrl.packageSizeId}}" required></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <fieldset>
                        <legend>{{'SHELF_LIFE'| translate}}</legend>
                        <div class="form-group col-md-6">
                            <label for="{{::ctrCtrl.shelfLifeYearsId}}">
                                <span class="field-name">{{'SHELF_LIFE_YEARS'|translate}}</span></label>
                            <input type="number" id="{{::ctrCtrl.shelfLifeYearsId}}" data-ng-model="ctrCtrl.ctModel.shelfLifeYears"
                                   ng-model-options="{ debounce: $inherit}"
                                   only-digits only-max="4" size="4" class="form-control" name="{{::ctrCtrl.shelfLifeYearsId}}"/>
                            <cmp-error-message field-name="ctrCtrl.shelfLifeYearsId"
                                               form-ref="ctrCtrl.containerTypeForm"
                                               show-error="ctrCtrl.showError(ctrCtrl.containerTypeForm[ctrCtrl.shelfLifeYearsId])"
                                               error-types="ctrCtrl.numberError"></cmp-error-message>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="{{::ctrCtrl.shelfLifeMonthsId}}"><span
                                    class="field-name">{{'SHELF_LIFE_MONTHS'|translate}}</span></label>
                            <input type="number" id="{{::ctrCtrl.shelfLifeMonthsId}}" data-ng-model="ctrCtrl.ctModel.shelfLifeMonths"
                                   ng-model-options="{ debounce: $inherit}" only-digits only-max="4"
                                   class="form-control " name="{{::ctrCtrl.shelfLifeMonthsId}}" size="2"/>
                            <cmp-error-message field-name="ctrCtrl.shelfLifeMonthsId"
                                               form-ref="ctrCtrl.containerTypeForm"
                                               show-error="ctrCtrl.showError(ctrCtrl.containerTypeForm[ctrCtrl.shelfLifeMonthsId])"
                                               error-types="ctrCtrl.numberError"></cmp-error-message>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset>
                        <legend>{{'TEMP_RANGE'| translate}}</legend>
                        <div class="form-group col-md-6">
                            <label for="{{::ctrCtrl.tempMinId}}">
                                <span class="field-name">{{'MIN_TEMP'|translate}}</span>
                                <input type="number" id="{{::ctrCtrl.tempMinId}}" data-ng-model="ctrCtrl.ctModel.tempMin"
                                       ng-model-options="{ debounce: $inherit}" only-digits="intNeg" only-max="4"
                                       size="4" min="-273" max="999" class="form-control" name="{{::ctrCtrl.tempMinId}}"/>
                                <cmp-error-message field-name="ctrCtrl.tempMinId"
                                                   form-ref="ctrCtrl.containerTypeForm"
                                                   show-error="ctrCtrl.showError(ctrCtrl.containerTypeForm[ctrCtrl.tempMinId])"
                                                   error-types="ctrCtrl.numberInvalidMinMax"></cmp-error-message>
                            </label>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="{{::ctrCtrl.tempMaxId}}">
                                <span class="field-name">{{'MAX_TEMP'|translate}}</span>
                                <input type="number" id="{{::ctrCtrl.tempMaxId}}" size="4" min="-273" max="999"
                                       data-ng-model="ctrCtrl.ctModel.tempMax" ng-model-options="{ debounce: $inherit}"
                                       only-digits="intNeg" only-max="4" class="form-control" name="{{::ctrCtrl.tempMaxId}}"/>
                                <cmp-error-message field-name="ctrCtrl.tempMaxId"
                                                   form-ref="ctrCtrl.containerTypeForm"
                                                   show-error="ctrCtrl.showError(ctrCtrl.containerTypeForm[ctrCtrl.tempMaxId])"
                                                   error-types="ctrCtrl.numberInvalidMinMax"></cmp-error-message>
                            </label>
                        </div>
                    </fieldset>
                </div>
            </div>
        </fieldset>

        <div class="row">
            <div class="btn-group-sm col-xs-12 text-right">
                <button  class="btn btn-primary" name="saveContainer"
                        ng-click="ctrCtrl.save()">Save</button>
                <button ng-if="ctrCtrl.deleteBtn === true" class="btn btn-danger" name="deleteContainer"
                        ng-click="ctrCtrl.delete()">Delete</button>
                <button  class="btn btn-default" name="discardContainer"
                        ng-click="ctrCtrl.discardChanges()">Discard Changes</button>
            </div>
        </div>
    </div>
</ng-form>