<ng-form name="ingRecCtrl.activeIngForm" id="{{::ingRecCtrl.activeFormId}}">
    <!--  <pre>ingRecCtrl.ingModel: {{ingRecCtrl.ingModel|json}}</pre>-->
    <div class="container-fluid">
        <cmp-error-summary form-ref="ingRecCtrl.activeIngForm"
                           form-preamble="{{'MEDICINAL_INGRED_DETAILS'|translate}}&nbsp{{ingRecCtrl.recordIndex+1}}" exclusion-list=ingRecCtrl.exclusions
                           name-suffix="ingRecCtrl.activeIngForm" set-heading-level="h3" form-id="ingRecCtrl.activeFormId"
                           make-focused="ingRecCtrl.focusSummary" alias-list="ingRecCtrl.alias" show-errors="ingRecCtrl.showSummary"
                           update-errors="ingRecCtrl.updateSummary"></cmp-error-summary>
        <fieldset>
            <legend>{{'MEDICINAL_INGRED_DETAILS'|translate}}&nbsp{{ingRecCtrl.recordIndex+1}}</legend>
            <div class="row">
                <div class="form-group col-md-12 typeahead-demo"
                     ng-class="{'has-error':ingRecCtrl.activeIngForm[ingRecCtrl.ingredName].$invalid}">
                    <label for="{{::ingRecCtrl.ingredName}}" class="required full-width"><span
                            class="field-name">{{'ING_NAME'|translate}}</span>
                        <strong class="required">{{'REQUIRED' |translate}}</strong>
                        <div class="rep-margin-top">
                            <input type="text" ng-model="ingRecCtrl.ingModel.ingLabel" name="{{::ingRecCtrl.ingredName}}"
                                   ng-model-options="{ debounce: $inherit}"
                                   id="{{::ingRecCtrl.ingredName}}" size="100" maxlength="100"
                                   uib-typeahead=" rec.label for rec in ingRecCtrl.activeList | filter:{label:$viewValue} | limitTo:15"
                                   class="form-control rep-normal-font" typeahead-show-hint="false"
                                   typeahead-focus-first="false"
                                   ng-change="ingRecCtrl.ingredSelectionUpdated($item, $model, $label, $event)"
                                   ng-required="true"
                                   typeahead-on-select="ingRecCtrl.ingredSelectionUpdated($item, $model, $label, $event)"
                                   typeahead-popup-template-url="app/lib/uib-templates/customPopupTemplate.html"/>
                        </div>
                        <cmp-error-message field-name="ingRecCtrl.ingredName"
                                           form-ref="ingRecCtrl.activeIngForm"
                                           show-error="ingRecCtrl.showError(ingRecCtrl.activeIngForm[ingRecCtrl.ingredName])"
                                           error-types="ingRecCtrl.requiredOnly"></cmp-error-message>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="{{::ingRecCtrl.casId}}">
                        <span class="field-name">{{'CAS_NUM'|translate}}</span>
                        <input type="text" id="{{::ingRecCtrl.casId}}" data-ng-model="ingRecCtrl.ingModel.cas" maxlength="12"
                               ng-model-options="{ debounce: '$inherit'}"
                               class="form-control full-width" name="casNum"/>
                    </label>

                </div>
                <div class="form-group col-md-3">
                    <label for="{{::ingRecCtrl.standardId}}">
                        <span class="field-name">{{'STANDARD'|translate}}</span>
                        <input type="text" id="{{::ingRecCtrl.standardId}}" data-ng-model="ingRecCtrl.ingModel.standard"
                               ng-model-options="{ debounce: '$inherit'}"
                               class="form-control full-width" name="standardVal" size="40" maxlength="40"/>
                    </label>
                </div>
                <div class="form-group col-md-3" ng-class="{'has-error':ingRecCtrl.activeIngForm[ingRecCtrl.strengthId].$invalid}">
                    <label for="{{::ingRecCtrl.strengthId}}" class="required">
                        <span class="field-name">{{'STRENGTH'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong>
                        <input type="number" id="{{::ingRecCtrl.strengthId}}" data-ng-model="ingRecCtrl.ingModel.strength"
                               ng-model-options="{ debounce: '$inherit'}"
                               class="form-control full-width" name="{{::ingRecCtrl.strengthId}}" ng-min="0" ng-required="true"/>
                        <cmp-error-message field-name="ingRecCtrl.strengthId"
                                           form-ref="ingRecCtrl.activeIngForm"
                                           show-error="ingRecCtrl.showError(ingRecCtrl.activeIngForm[ingRecCtrl.strengthId])"
                                           error-types="ingRecCtrl.numberMinError"></cmp-error-message>

                    </label>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="{{::ingRecCtrl.unitsId}}" class="required full-width"><span class="field-name">{{'UNITS'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong>
                        <div class="rep-pad-top">
                            <div class="rep-error" ng-class="{'has-error':ingRecCtrl.activeIngForm[ingRecCtrl.unitsId].$invalid}">
                                <ui-select ng-model="ingRecCtrl.ingModel.units" id="{{::ingRecCtrl.unitsId}}" name="{{::ingRecCtrl.unitsId}}"
                                           ng-model-options="{ debounce: 0}"
                                           class="rep-selectize-font full-width" required>
                                    <ui-select-match placeholder="{{'UNITS_SRCH' |translate}}"
                                                     class="rep-selectize-font form-control">
                                        {{$select.selected[ingRecCtrl.lang]}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="unitValue in ingRecCtrl.UnitsList | filter: {[ingRecCtrl.lang]:$select.search}"
                                            class="rep-selectize-font">
                                        <span ng-bind-html="unitValue[ingRecCtrl.lang] | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <cmp-error-message field-name="ingRecCtrl.unitsId"
                                           form-ref="ingRecCtrl.activeIngForm"
                                           show-error="ingRecCtrl.showError(ingRecCtrl.activeIngForm[ingRecCtrl.unitsId])"
                                           error-types="ingRecCtrl.requiredOnly"></cmp-error-message>
                    </label>
                </div>
                <div class="form-group col-md-4" ng-show="ingRecCtrl.isUnitsOther()" ng-class="{'has-error':ingRecCtrl.activeIngForm[ingRecCtrl.otherUnitsId].$invalid}">
                    <label for="{{::ingRecCtrl.otherUnitsId}}" class="required"><span class="field-name">{{'OTHER_UNITS'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong>
                        <input type="text" id="{{::ingRecCtrl.otherUnitsId}}" data-ng-model="ingRecCtrl.ingModel.otherUnits"
                               ng-model-options="{ debounce: '$inherit'}"
                               size="40" class="form-control" name="{{::ingRecCtrl.otherUnitsId}}"
                               maxlength="40" ng-required="ingRecCtrl.isUnitsOther()"/>

                <cmp-error-message field-name="ingRecCtrl.otherUnitsId"
                                   form-ref="ingRecCtrl.activeIngForm"
                                   show-error="ingRecCtrl.showError(ingRecCtrl.activeIngForm[ingRecCtrl.otherUnitsId])"
                                   error-types="ingRecCtrl.requiredOnly"></cmp-error-message>
                    </label>
                </div>
                <div class="form-group col-md-5">
                    <label for="{{::ingRecCtrl.perId}}"><span class="field-name">{{'PER_STRENGTH'|translate}}</span></label>
                    <input type="text" id="{{::ingRecCtrl.perId}}" data-ng-model="ingRecCtrl.ingModel.per" size="40"
                           maxlength="40" ng-model-options="{ debounce: '$inherit'}"
                           class="form-control" name="text"/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3" ng-class="{'has-error':ingRecCtrl.activeIngForm[ingRecCtrl.nanoId].$invalid}">
                    <label for="{{::ingRecCtrl.nanoId}}" class="required">
                        <span class="field-name">{{'NANO_MATERIAL'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong></label>
                    <select id="{{::ingRecCtrl.nanoId}}" ng-model="ingRecCtrl.ingModel.nanoMaterial"
                            ng-model-options="{ debounce: '$inherit'}"
                            class="form-control full-width" name="{{::ingRecCtrl.nanoId}}" required
                            ng-options="nano[ingRecCtrl.lang] for nano in  ingRecCtrl.nanoMaterialList track by nano.id">

                    </select>
                    <cmp-error-message field-name="ingRecCtrl.nanoId"
                                       form-ref="ingRecCtrl.activeIngForm"
                                       show-error="ingRecCtrl.showError(ingRecCtrl.activeIngForm[ingRecCtrl.nanoId])"
                                       error-types="ingRecCtrl.requiredOnly"></cmp-error-message>
                </div>
                <div class="form-group col-md-5" ng-if="ingRecCtrl.isNanoOther()"
                     ng-class="{'has-error':ingRecCtrl.activeIngForm.[ingRecCtrl.nanoOtherId].$invalid}">
                    <label for="{{::ingRecCtrl.nanoOtherId}}" class="required">
                        <span class="field-name">{{'NANO_MATERIAL_OTHER'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong></label>
                    <input type="text" id="{{::ingRecCtrl.nanoOtherId}}"
                           data-ng-model="ingRecCtrl.ingModel.nanoMaterialOther"
                           ng-model-options="{ debounce: '$inherit'}"
                           class="form-control full-width" name="{{::ingRecCtrl.nanoOtherId}}" ng-required="true" maxlength="40"/>
                    <cmp-error-message field-name="ingRecCtrl.nanoOtherId"
                                       form-ref="ingRecCtrl.activeIngForm"
                                       show-error="ingRecCtrl.showError(ingRecCtrl.activeIngForm[ingRecCtrl.nanoOtherId])"
                                       error-types="ingRecCtrl.requiredOnly"></cmp-error-message>

                </div>
                <div class="form-group  col-sm-4 col-xs-12"
                     ng-class="{'has-error':ingRecCtrl.activeIngForm[ingRecCtrl.asBaseId].$invalid}">
                    <label for="{{::ingRecCtrl.asBaseId}}" class="required">
                        <span class="field-name">{{'CALCULATED_AS_BASE'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong>
                        <select id="{{::ingRecCtrl.asBaseId}}" ng-model="ingRecCtrl.ingModel.calcAsBase" ng-required="true"
                                class="form-control" name="{{::ingRecCtrl.asBaseId}}"
                                ng-options="val |translate for val in  ingRecCtrl.yesNoList">
                        </select>
                        <cmp-error-message field-name="ingRecCtrl.asBaseId"
                                           form-ref="ingRecCtrl.activeIngForm"
                                           show-error="ingRecCtrl.showError(ingRecCtrl.activeIngForm[ingRecCtrl.asBaseId])"
                                           error-types="ingRecCtrl.requiredOnly"></cmp-error-message>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="form-group  col-sm-4 col-xs-12"
                     ng-class="{'has-error':ingRecCtrl.activeIngForm[ingRecCtrl.animalHumanSrcId].$invalid}">
                    <label for="{{::ingRecCtrl.animalHumanSrcId}}" class="required">
                        <span class="field-name">{{'ANIMAL_HUMAN_SOURCED'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong>
                        <select id="{{::ingRecCtrl.animalHumanSrcId}}" ng-model="ingRecCtrl.ingModel.humanAnimalSourced"
                                ng-required="true" class="form-control" name="{{::ingRecCtrl.animalHumanSrcId}}"
                                ng-options="val |translate for val in  ingRecCtrl.yesNoList">
                        </select>
                        <cmp-error-message field-name="ingRecCtrl.animalHumanSrcId"
                                           form-ref="ingRecCtrl.activeIngForm"
                                           show-error="ingRecCtrl.showError(ingRecCtrl.activeIngForm[ingRecCtrl.animalHumanSrcId])"
                                           error-types="ingRecCtrl.requiredOnly"></cmp-error-message>
                    </label>
                </div>
                <div class="btn-group-sm col-xs-8 text-right align-bottom">
                    <div class="row">
                        <div class="col-xs-12">
                            <span>&nbsp;</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-primary" ng-click="ingRecCtrl.saveIng()" id="medSave_{{::$id}}"
                                    name="saveMI">{{'SAVE'|translate}}
                            </button>
                            <button ng-if="ingRecCtrl.deleteBtn === true" class="btn btn-danger" id="medDelete_{{::$id}}"
                                    name="deleteMI" ng-click="ingRecCtrl.delete()">{{'DELETE'|translate}}
                            </button>
                            <button ng-if="ingRecCtrl.deleteBtn === true" class="btn btn-default"
                                    ng-click="ingRecCtrl.copy()" ng-disabled="ingRecCtrl.activeIngForm.$dirty">
                                {{'COPY'|translate}}
                            </button>
                            <button class="btn btn-default" name="discardMI" ng-click="ingRecCtrl.discardChanges()">
                                {{'DISCARD_CHANGES'|translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10">
                    <div ng-if="ingRecCtrl.isAnimalHumanSourced()" class="alert alert-info"
                         role="alert" aria-live="polite">
                        {{'SOURCED_INFO'|translate}}
                    </div>
                </div>
            </div>
        </fieldset>
        <!--  <pre> Model:
          {{ingRecCtrl.ingModel |json}}
          </pre>-->
    </div>
</ng-form>
