<ng-form name="nmilCtrl.nonMedListForm">
    <cmp-expanding-table pre-id="non_medicinal_list_" title="Non Medicinal Ingredient List" list-items="nmilCtrl.ingList"
                         column-def="nmilCtrl.colNames" select-record="nmilCtrl.selectRecord"
                         reset-to-collapsed="nmilCtrl.resetToCollapsed"
                         disable-selection="!nmilCtrl.isDetailValid">

        <cmp-non-med-ing-record record="$parent.record" on-update="nmilCtrl.updateIng($parent.$index,ing)"
                                on-delete="nmilCtrl.deleteIng($parent.$index)" on-add-ing="nmilCtrl.addIng(ing)"
                                is-detail-valid="nmilCtrl.setValid(state)" record-index="$parent.$index"
                                error-summary-update="nmilCtrl.errorSummaryUpdate" show-error-summary="nmilCtrl.showErrorSummary"
                                delete-btn="true"></cmp-non-med-ing-record>

    </cmp-expanding-table>
    <div name="new-nmi-record">
        <cmp-non-med-ing-record data-ng-if="nmilCtrl.newIngFormShown === true" on-add-ing="nmilCtrl.addIng(ing)"
                                record-index="nmilCtrl.ingList.length"
                                error-summary-update="nmilCtrl.errorSummaryUpdate" show-error-summary="nmilCtrl.showErrorSummary"
                                on-cancel="nmilCtrl.onNewCancel()" delete-btn="false"></cmp-non-med-ing-record>
    </div>

    <div class="mrgn-tp-md mrgn-bttm-lg">
        <div class="btn-group-sm col-md-12">
            <button class="btn btn-primary" data-ng-disabled="nmilCtrl.addNewDisabled()" name="addNMI"
                    data-ng-click="nmilCtrl.addNewIngredientState()">{{'ADD_INGREDIENT'|translate}}
            </button>
        </div>
    </div>

</ng-form>