<ng-form name="milCtrl.materialListForm">
    <cmp-expanding-table pre-id="material_ing_list_" title="{{'MATERIAL_INGREDIENT_LIST'|translate}}" list-items="milCtrl.ingList"
                         reset-to-collapsed="milCtrl.resetToCollapsed"
                         column-def="milCtrl.colNames" select-record="milCtrl.selectRecord"
                         new-record-shown="milCtrl.newIngFormShown" disable-selection="!milCtrl.isDetailValid">

        <cmp-material-ing-record record="$parent.record" on-update="milCtrl.updateIng($parent.$index,ing)"
                                 on-delete="milCtrl.deleteIng($parent.$index)" is-detail-valid="milCtrl.setValid(state)"
                                 record-index="$parent.$index"
                                 error-summary-update="milCtrl.errorSummaryUpdate" show-error-summary="milCtrl.showErrorSummary"
                                 delete-btn="true"></cmp-material-ing-record>

    </cmp-expanding-table>
    <div name="new-material-record">
        <cmp-material-ing-record data-ng-if="milCtrl.newIngFormShown === true" on-add-new="milCtrl.addNew(ing)"
                                 on-cancel="milCtrl.onNewCancel()" delete-btn="false" is-focus="true" cancel-focus="milCtrl.cancelFocus"
                                 error-summary-update="milCtrl.errorSummaryUpdate" show-error-summary="milCtrl.showErrorSummary"
                                 record-index="milCtrl.ingList.length"></cmp-material-ing-record>
    </div>

    <div class="mrgn-tp-md mrgn-bttm-lg">
        <div class="btn-group-sm col-md-12">
            <button class="btn btn-primary" data-ng-disabled="milCtrl.addNewDisabled()" name="addMaterialButton" id="addMaterialButton_{{::$id}}"
                    data-ng-click="milCtrl.addNewIngredientState(); milCtrl.setFocus();"> {{'ADD_ANIMAL_HUMAN_MATERIAL'|translate}}
            </button>
        </div>
    </div>


</ng-form>