<ng-form name="formulCtrl.formulationsForm" id="formulCtrl.formulationListId">

    <cmp-error-summary form-ref="formulCtrl.formulationsForm" show-errors="formulCtrl.showSummary"
                       form-preamble="FORMULATIONS" exclusion-list="formulCtrl.exclusions"
                       name-suffix="formulCtrl.formulationsForm" set-heading-level="h3" form-id="formulCtrl.formulationListId"
                       make-focused="" alias-list="formulCtrl.alias" expand-record="formulCtrl.setRecord(index)"
                       transclude-list="formulCtrl.transcludeList"
                       update-errors="formulCtrl.updateSummary"></cmp-error-summary>

    <input type="text" required data-ng-show="false" name="no_formulation_{{::$id}}" id="no_formulation_{{::$id}}"
           data-ng-model="formulCtrl.noFormulations"/>
    <!--<pre>formulationList: {{formulCtrl.formulationList|json}}</pre>-->
    <cmp-expanding-table  pre-id="formulation_list_" tname="cmp-formulation-record" id="list_formulation_{{::$id}}"
                         reset-to-collapsed="formulCtrl.resetToCollapsed" list-items="formulCtrl.formulationList"
                         column-def="formulCtrl.colNames" select-record="formulCtrl.selectRecord" disable-err-column="true"
                         is-required-record="formulCtrl.requiredFlag"
                         disable-selection="!formulCtrl.isDetailValid">

        <cmp-formulation-record record="$parent.record" on-update="formulCtrl.update($parent.$index,record)"
                                on-delete="formulCtrl.delete($parent.$index)" add-copy="formulCtrl.addCopy(record)"
                                delete-btn="true" record-changed="formulCtrl.updateFormulationRecord()"
                                update-error-summary="formulCtrl.updateErrorSummary()"
                                is-file-loaded="formulCtrl.isFileLoaded"
                                is-focus="formulCtrl.isFocus"
                                cancel-focus="formulCtrl.cancelFocus"
                                error-summary-update="formulCtrl.updateSummary"
                                dossier-type="formulCtrl.dossierType"
                                ht-indx-list="formulCtrl.htIndxList"
                                show-error-summary="formulCtrl.showSummary">
        </cmp-formulation-record>

    </cmp-expanding-table>
    <div class="mrgn-tp-md mrgn-bttm-lg">
        <div class="btn-group-sm col-md-12">
            <button name="addFormulation_{{::$id}}" id="addFormulation_{{::$id}}" class="btn btn-primary"
                    data-ng-click="formulCtrl.addNew(); formulCtrl.setFocus();">{{'ADD_FORMULATION'|translate}}
            </button>
        </div>
    </div>
</ng-form>