<div class="container-fluid">
    <ng-form name="activityCtrl.activityRecForm" novalidate>
        <div>
            <div>
                <fieldset>
                    <legend>{{'RELATED_ACTIVITY' |translate}}</legend>
                    <div class="row">
                        <!--<div class="form-group" ng-show="addressRec.isAmend()">
                            <input class="formControl" id="chk-amend-rec_{{$id}}" type="checkbox"
                                   ng-change="addressRec.setNotEditable()"
                                   ng-model="addressRec.addressModel.amendRecord"/>
                            <label class="form-checkbox" for="chk-amend-rec_{{$id}}">
                                {{'AMEND_RECORD'|translate}}
                            </label>
                        </div>-->
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12"
                             ng-class="{'has-error':activityCtrl.activityRecForm.activityType.$invalid}">
                            <label for="activityType_{{$id}}" class="required full-width">
                                <span class="field-name">{{"ACTIVITY_TYPE" |translate}}</span>
                                <strong class="required"> {{"REQUIRED" |translate}}</strong>
                                <select id="activityType_{{$id}}" name="activityType"
                                        ng-model="activityCtrl.activityModel.regActivityType"
                                        ng-options="activity |translate for activity in activityCtrl.activityTypesArray | orderByTranslated"
                                        class="form-control full-width" ng-required="true"></select>
                                <strong id="activityType-error" class="error"
                                        ng-if="activityCtrl.showError(activityCtrl.activityRecForm.activityType.$touched,activityCtrl.activityRecForm.activityType.$invalid)">
                        <span class="label label-danger" ng-messages="activityCtrl.activityRecForm.activityType.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
                                </strong>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-3"
                             ng-class="{'has-error':activityCtrl.activityRecForm.dateCleared.$invalid}">
                            <label for="dossierId_{{$id}}" class="required full-width">
                                <span class="field-name">{{"DATE_CLEARED" |translate}}</span>
                                <strong class="required"> {{"REQUIRED" |translate}}</strong>
                                <span class="date-picker-format"></span>
                                <input type="date" id="dateCleared_{{$id}}" name="dateCleared"
                                       ng-model="activityCtrl.activityModel.dateCleared"
                                       ng-pattern="datePattern"
                                       class="form-control full-width" ng-required="true"/>
                                <strong id="dateCleared-error" class="error"
                                        ng-if="activityCtrl.showError(activityCtrl.activityRecForm.dateCleared.$touched,activityCtrl.activityRecForm.dateCleared.$invalid)">
                        <span class="label label-danger" ng-messages="activityCtrl.activityRecForm.dateCleared.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                               <span ng-message="date"><span translate="MSG_ERR_DATE_FORMAT"></span></span>
                        </span>
                                </strong>
                            </label>
                        </div>

                        <div class="form-group col-xs-3"
                             ng-class="{'has-error':activityCtrl.activityRecForm.controlNum.$invalid}">
                            <label for="controlNum_{{$id}}" class="required full-width">
                                <span class="field-name">{{"CONTROL_NUM" |translate}}</span>
                                <strong class="required"> {{"REQUIRED" |translate}}</strong>
                                <input type="text" id="controlNum_{{$id}}" name="controlNum"
                                       ng-model="activityCtrl.activityModel.dstsControlNumber"
                                       maxlength="6" size="6" ng-minlength="6" only-digits=""
                                       class="form-control full-width" ng-required="true"/>
                                <strong id="controlNum-error" class="error"
                                        ng-if="activityCtrl.showError(activityCtrl.activityRecForm.controlNum.$touched,activityCtrl.activityRecForm.controlNum.$invalid)">
                        <span class="label label-danger" ng-messages="activityCtrl.activityRecForm.controlNum.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                            <span ng-message="minlength"><span translate="MSG_LENGTH_6NUM"></span></span>

                        </span>
                                </strong>
                            </label>
                        </div>
                        <div class="form-group col-xs-6"
                             ng-class="{'has-error':activityCtrl.activityRecForm.dossierId.$invalid}">
                            <label for="dossierId_{{$id}}" class="required">
                                <span class="field-name">{{"DOSSIER_ID_PREV" |translate}}</span>
                                <strong class="required"> {{"REQUIRED" |translate}}</strong>
                                <input type="text" id="dossierId_{{$id}}" name="dossierId"
                                       ng-model="activityCtrl.activityModel.dossierId"
                                       maxlength="18" size="18"
                                       class="form-control" ng-required="true"/>
                                <strong id="dossierId-error" class="error"
                                        ng-if="activityCtrl.showError(activityCtrl.activityRecForm.dossierId.$touched,activityCtrl.activityRecForm.dossierId.$invalid)">
                        <span class="label label-danger" ng-messages="activityCtrl.activityRecForm.dossierId.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
                                </strong>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12"
                             ng-class="{'has-error':activityCtrl.activityRecForm.manufactName.$invalid}">
                            <label for="manufactName_{{$id}}" class="required ">
                                <span class="field-name">{{"MANUFACT_NAME" |translate}}</span>
                                <strong class="required"> {{"REQUIRED" |translate}}</strong>
                                <input type="text" id="manufactName_{{$id}}" name="manufactName"
                                       ng-model="activityCtrl.activityModel.manufacturerName"
                                       maxlength="80" size="80"
                                       class="form-control full-width" ng-required="true"/>
                                <strong id="manufactName-error" class="error"
                                        ng-if="activityCtrl.showError(activityCtrl.activityRecForm.manufactName.$touched,activityCtrl.activityRecForm.manufactName.$invalid)">
                        <span class="label label-danger" ng-messages="activityCtrl.activityRecForm.manufactName.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
                                </strong>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="reasonFiling_{{$id}}" class="required">
                                <span class="field-name">{{"REASON_FILING" |translate}}</span>
                                <strong class="required"> {{"REQUIRED" |translate}}</strong>
                                <strong id="reasonFiling-error" class="error"
                                        ng-if="activityCtrl.showError(activityCtrl.activityRecForm.reasonFiling.$touched,activityCtrl.activityRecForm.reasonFiling.$invalid)">
                        <span class="label label-danger" ng-messages="activityCtrl.activityRecForm.reasonFiling.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
                                </strong>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12"
                             ng-class="{'has-error':activityCtrl.activityRecForm.reasonFiling.$invalid}">
                        <textarea id="reasonFiling_{{$id}}" name="reasonFiling"
                                  ng-model="activityCtrl.activityModel.reasonFiling"
                                  maxlength="1024" rows="8" class="fullrep" ng-required="true"></textarea>
                        </div>
                    </div>

                    <div class="row">

                        <div>
                            <h3>{{"ASSOC_DINS" |translate}}</h3>

                            <div ng-repeat="record in activityCtrl.activityModel.assocDins">
                                <cmp-din-details din-record="record" din-index="$index"
                                                 show-errors="activityCtrl.showErrors()"
                                                 delete-din="activityCtrl.deleteDin(dinIndex)"></cmp-din-details>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary" ng-click="activityCtrl.addDin()">{{'ADD_DIN'|translate}}
                        </button>
                    </div>
                    <div class="row">
                        <div class="btn-group-sm col-xs-12 text-right">
                            <input type="submit" value="{{'SAVE_ACTIVITY'|translate}}" class="btn btn-primary"
                                   name="saveAddress"
                                   id="saveAddress"
                                   ng-click="activityCtrl.updateActivityModel()"
                                   ng-disabled="activityCtrl.setNotEditable()">
                            <input type="submit" value="{{'DELETE_ACTIVITY'|translate}}" class="btn btn-danger"
                                   ng-click="activityCtrl.delete()">
                            <input type="submit" value="{{'DISCARD_CHANGES'|translate}}" class="btn btn-default"
                                   ng-click="activityCtrl.discardChanges(activityCtrl.activityRecForm)">
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </ng-form>
    <!-- <pre>activity record model: {{activityCtrl.activityModel | json : spacing}}</pre>-->
</div>