<div class="container-fluid">
    <ng-form name="addressRec.addressRecForm">
        <div>
            <div>
                <h3>{{'ADDR_DETAILS'|translate}}&nbsp;{{addressRec.recordIndex+1}}</h3>
                <div class="row">
                    <div class="form-group" ng-show="addressRec.isAmend">
                        <input class="formControl" id="chk-amend-rec_{{::$id}}" type="checkbox"
                               ng-change="addressRec.setEditable()"
                               ng-model="addressRec.addressModel.amendRecord"/>
                        <label class="form-checkbox" for="chk-amend-rec_{{::$id}}">
                            {{'AMEND_RECORD'|translate}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12"
                     ng-class="{'has-error':addressRec.addressRecForm.companyName.$invalid}">
                    <label for="companyName" class="required full-width">
                        <span class="field-name">{{"COMPANY_NOABBREV" |translate}}</span>
                        <strong class="required"> {{"REQUIRED" |translate}}</strong>
                        <input type="text" id="companyName" name="companyName"
                               ng-model="addressRec.addressModel.companyName"
                               class="form-control full-width" maxlength="80" size="60"
                               ng-readonly="!addressRec.isEditable"
                               required/>
                        <strong id="companyName-error" class="error"
                                ng-if="addressRec.showError(addressRec.addressRecForm.companyName.$touched,addressRec.addressRecForm.companyName.$invalid)">
                        <span class="label label-danger" ng-messages="addressRec.addressRecForm.companyName.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
                        </strong>
                    </label>
                </div>
            </div>
            <div class="row">
                <cmp-address-details address-record="addressRec.addressModel" is-amend="addressRec.isEditable"
                                     on-update="addressRec.onUpdateAddressRecord(address)"
                                     show-errors="addressRec.showErrors()"></cmp-address-details>
            </div>
            <div>
                <cmp-address-role record="addressRec.addressModel" legend-text="ADDR_ROLE_LEGEND"
                                  is-contact="addressRec.isContact" is-amend="addressRec.isEditable"
                                  on-update="addressRec.onAddressRoleUpdate($event.roles)"
                                  show-errors="addressRec.showErrors()"
                                  importer-updated="addressRec.importerProductState(state)"
                                  already-selected="addressRec.isOneSelected(roleName)"></cmp-address-role>

            </div>
            <div ng-if="addressRec.isImporter">
                <cmp-importer-products importer-record="addressRec.addressModel.importerProducts"
                                       is-amend="addressRec.isEditable"
                                       show-errors="addressRec.showErrors()"></cmp-importer-products>
            </div>
            <div class="row">
                <div class="col-xs-7">
                    <div ng-show="addressRec.notCanadianManufact()" class="alert alert-info" role="alert"
                         aria-live="polite">
                        <span>{{'IMPORTER_NONCDN'|translate}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="btn-group-sm col-xs-12 text-right">
                    <button class="btn btn-primary" name="saveAddress"
                            id="saveAddress" ng-click="addressRec.updateAddressModel2()">{{'SAVE_ADDR'|translate}}</button>
                    <button class="btn btn-danger" name="deleteAddress" ng-click="addressRec.delete()">{{'DELETE_ADDR'|translate}}</button>
                    <button class="btn btn-default" name="discardAddressChanges"
                            ng-click="addressRec.discardChanges()" >{{'DISCARD_CHANGES'|translate}}</button>
                </div>
            </div>
        </div>
    </ng-form>
    <!--<pre>address record model: {{addressRec.addressModel | json : spacing}}</pre>-->
</div>