<ng-form name="chkl.checkList">
        <div class="col-lg-{{chkl.colWidth}} col-md-{{chkl.colWidth}} col-sm-{{chkl.colWidth}} col-xs-12"
             data-ng-repeat-start="item in chkl.currentModel">
            <div class="checkbox">
                <label class="form-checkbox form-label-inline" for="chk-{{item.name}}-{{$index}}">
                    <input type="checkbox" name="{{chkl.commonName}}" data-ng-model="item.value"
                           data-ng-change="chkl.updateState(item)"
                           id="chk-{{item.name}}-{{$index}}"/>
                    {{item.label |translate}}
                </label>
            </div>
        </div>
        <div data-ng-repeat-end>
            <div class="col-xs-6 form-group" data-ng-if="item.value && item.hasOtherDetails"
                 data-ng-class="{'has-error':chkl.checkList.textOther.$invalid}">
                <label for="{{chkl.commonName}}-other-text" class="required">
                    <span class="field-name">{{'SPECIFY_THE'|translate}}{{chkl.title|translate}}</span>
                    <strong class="required">{{"REQUIRED"|translate}}</strong>
                    <input type="text" maxlength="40" size="40" class="form-control full-width"
                           id="{{chkl.commonName}}-other-text"
                           data-ng-model="item.otherText" name="textOther" data-ng-required="true"/>
                    <strong id="other-error" class="error" data-ng-if="chkl.checkList.textOther.$invalid">
                        <span class="label label-danger" data-ng-messages="chkl.checkList.textOther.$error">
                            <span data-ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                        </span>
                    </strong>
                </label>
            </div>
        </div>
   <!-- <pre>{{chkl.currentModel | json}}</pre>-->
</ng-form>


