

    <div class="col-xs-12 form-group">

        <!--<pre>crpl.productList : {{crpl.productList | json}}</pre>-->

        <cmp-expanding-table title="Canadian Reference Product" list-items="crpl.productList"
                             column-def="crpl.colNames" select-record="crlp.selectRecord"
                             disable-selection="!crlp.isDetailValid">
            <cmp-ref-product-details product-record="$parent.record" on-update="crlp.updateProduct(product)" delete-btn="true" ></cmp-ref-product-details>

        </cmp-expanding-table>

        <cmp-ref-product-details ng-if="crlp.newProductFormShown" on-add-new="crlp.addProduct(product)"  delete-btn="false"></cmp-ref-product-details>

        <div class="mrgn-tp-md mrgn-bttm-lg">
            <div class="btn-group-sm col-md-12 text-right">
                <input type="submit" value="{{'ADD_PRODUCT'|translate}}" class="btn btn-primary"
                       data-ng-disabled="crlp.newProductFormShown"
                       ng-click="crlp.newProductFormShown = true" />
            </div>
        </div>
    </div>


