<div class="container-fluid">
    <ng-form name="$ctrl.productDetailsForm">
        <fieldset>
            <legend>{{'CDN_REF_PRODUCT'|translate}}</legend>
            <div class="row">
                <div class="col-md-4 form-group" ng-class="{'has-error':$ctrl.productDetailsForm.brandName.$invalid}">
                    <label for="brand-nameh_{{$id}}" class="required"><span
                            class="field-name">{{'BRAND_NAME'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong>
                        <input type="text" id="brand-nameh_{{$id}}" data-ng-model="$ctrl.productModel.brandName"
                               class="form-control full-width" name="brandName" ng-required="true" maxlength="60"
                               size="60"/>
                        <strong id="brand-error" class="error"
                                ng-if="$ctrl.showError($ctrl.productDetailsForm.brandName)">
                        <span class="label label-danger" ng-messages="$ctrl.productDetailsForm.brandName.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
                        </strong>
                    </label>
                </div>
                <div class="col-md-4 form-group"
                     ng-class="{'has-error':$ctrl.productDetailsForm.medIngredient.$invalid}">
                    <label for="med-ingredienth_{{$id}}" class="required"><span class="field-name">{{'MEDICINAL_INGREDIENT'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong>
                        <input type="text" id="med-ingredienth_{{$id}}" data-ng-model="$ctrl.productModel.medIngredient"
                               class="form-control full-width" name="medIngredient" ng-required="true" maxlength="60"
                               size="60"/>
                        <strong id="medIngred-error" class="error"
                                ng-if="$ctrl.showError($ctrl.productDetailsForm.medIngredient)">
                        <span class="label label-danger" ng-messages="$ctrl.productDetailsForm.medIngredient.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
                        </strong>
                    </label>
                </div>

                <div class="col-md-4 form-group" ng-class="{'has-error':$ctrl.productDetailsForm.strengths.$invalid}">
                    <label for="strength_{{$id}}" class="required"><span
                            class="field-name">{{'STRENGTH'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong>
                        <input type="number" id="strength_{{$id}}" data-ng-model="$ctrl.productModel.strengths"
                               class="form-control full-width" name="strengths" ng-required="true" ng-min="0"/>
                        <strong id="strengths-error" class="error"
                                ng-if="$ctrl.showError($ctrl.productDetailsForm.strengths)">
                        <span class="label label-danger" ng-messages="$ctrl.productDetailsForm.strengths.$error">
                            <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                            <span ng-message="number"><span translate="MSG_ERR_INVALID_NUM"></span></span>
                             <span ng-message="min"><span translate="MSG_ERR_INVALID_NUM_MIN0"></span></span>
                        </span>
                        </strong>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-3" ng-class="{'has-error':$ctrl.productDetailsForm.nmUnits.$invalid}">
                    <label for="units" class="required"><span class="field-name">{{'UNITS'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong>
                        <input type="text" id="units" data-ng-model="$ctrl.productModel.units"
                               class="form-control full-width" name="nmUnits" ng-required="true" maxlength="40"
                               size="40"/>
                        <strong id="nm-unit-error" class="error"
                                ng-if="nIngRecCtrl.showError($ctrl.productDetailsForm.nmUnits.$invalid,$ctrl.productDetailsForm.nmUnits.$touched)">
                                    <span class="label label-danger"
                                          ng-messages="$ctrl.productDetailsForm.nmUnits.$error">
                                        <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                                    </span>
                        </strong>
                    </label>
                </div>
                <div class="form-group col-md-4">
                    <label for="per"><span class="field-name">{{'PER_STRENGTH'|translate}}</span></label>
                    <input type="text" id="per" data-ng-model="$ctrl.productModel.per"
                           class="form-control" name="perVal" maxlength="40" size="40"/>
                </div>
                <div class="col-md-5 form-group" ng-class="{'has-error':$ctrl.productDetailsForm.dosageForm.$invalid}">
                    <label for="dosage-form_{{$id}}" class="required"><span class="field-name">{{'DOSAGE_FORM'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong>
                       <!-- <select id="dosage-form-listh_{{$id}}" data-ng-model="$ctrl.productModel.dosageForm"
                                name="dosageForm" class="form-control full-width" required
                                ng-options="formType |translate for formType in $ctrl.dosageFormList | orderByTranslatedOtherFirst">
                        </select>-->
                        <ui-select ng-model="$ctrl.productModel.dosageForm" id="dosage-form_{{$id}}" name="dosageForm"
                                   class="rep-selectize-dropdown"
                                   ng-disabled="false" title="Choose a dosage form" class="rep-selectize-font">
                            <ui-select-match placeholder="Select or Search for a dosage form"
                                             class="rep-selectize-font rep-selectize-dropdown">{{$select.selected[$ctrl.lang]}}
                            </ui-select-match>
                            <ui-select-choices repeat="formType in $ctrl.dosageFormList | filter: $select.search"
                                               class="rep-selectize-font">
                                <span ng-bind-html="formType[$ctrl.lang] | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                        <strong id="dosageForm-error" class="error"
                                ng-if="$ctrl.showError($ctrl.productDetailsForm.dosageForm)">
                        <span class="label label-danger" ng-messages="$ctrl.productDetailsForm.dosageForm.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
                        </strong>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group" ng-class="{'has-error':$ctrl.productDetailsForm.dosageOther.$invalid}"
                     ng-show="$ctrl.isDosageOther()">
                    <label for="dosage-form-other_(($id}}" class="required">
                        <span class="field-name">{{'DOSAGE_FORM_OTHER'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong>
                        <input type="text" id="dosage-form-other_(($id}}"
                               data-ng-model="$ctrl.productModel.dosageFormOther"
                               class="form-control full-width"
                               name="dosageOther"
                               ng-required="$ctrl.isDosageOther()" maxlength="60" size="60"/>
                        <strong id="dosageOther-error" class="error"
                                ng-if="$ctrl.showError($ctrl.productDetailsForm.dosageOther)">
                        <span class="label label-danger" ng-messages="$ctrl.productDetailsForm.dosageOther.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
                        </strong>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 form-group"
                     ng-class="{'has-error':$ctrl.productDetailsForm.companyName.$invalid}">
                    <label for="company-name_{{$id}}" class="required"><span
                            class="field-name">{{'COMPANY_NAME'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong></label>
                    <input type="text" id="company-name_{{$id}}" data-ng-model="$ctrl.productModel.companyName"
                           class="form-control full-width" name="companyName" ng-required="true" maxlength="60"
                           size="60"/>
                    <strong id="companyName-error" class="error"
                            ng-if="$ctrl.showError($ctrl.productDetailsForm.companyName)">
                        <span class="label label-danger" ng-messages="$ctrl.productDetailsForm.companyName.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
                    </strong>
                </div>
            </div>
            <!--    <pre>productModel : {{$ctrl.productModel | json}}</pre>-->
        </fieldset>

        <div class="row">

            <div class="btn-group-sm col-xs-12 text-right">
                <input type="submit" value="{{'SAVE'|translate}}" class="btn btn-primary"
                       ng-click="$ctrl.saveProduct()"/>
                <input type="submit" ng-if="$ctrl.deleteBtn === true" value="{{'DELETE'|translate}}"
                       class="btn btn-danger" ng-click="$ctrl.delete()"/>
                <input type="submit" value="{{'DISCARD_CHANGES'|translate}}" class="btn btn-default"
                       ng-click="$ctrl.discardChanges()">
            </div>
        </div>
    </ng-form>
</div>