<ng-form id="dossier-form" name="dos.dossierForm">
    <div translate-cloak="cloak-class">
        <section class="panel  panel-primary mrgn-tp-lg">
            <header class="panel-heading clearfix">
                <div class="btn-group pull-right">
                    <button title="{{'HELP_FILE_LOAD'|translate}}" class="btn-xs rep-help-button"
                            id="instructions-toggle" ng-click="dos.addInstruct(0)"><span
                            class="fa fa-question-circle fa-2x"></span><span
                            class="wb-inv">{{'HELP_FILE_LOAD'|translate}}</span></button>
                </div>
                <h2 class="panel-title">{{'LOAD_DOSSIER'|translate}}</h2>
            </header>
            <div class="panel-body">
                <div uib-alert template-url="./app/lib/uib-templates/alert.html" ng-if="dos.alerts[0]"
                     class="alert-info" close="dos.closeAlert(0)">
                    <section>
                        <div>
                            <h3 class="rep-margin-minus-top">Files to load</h3>
                            <ul>
                                <li>Working Copy (.hcsc) – when continuing with an incomplete Dossier template.</li>
                                <li>Final XML – when amending an approved Dossier enrolment.</li>
                                <li>A file should not be loaded if it is the initial enrolment for the Dossier.</li>
                            </ul>
                        </div>
                    </section>
                </div>

                <hpfb-file-select update-model-root="dos.showContent(fileContent)"
                                  root-elem="DOSSIER_ENROL"></hpfb-file-select>
            </div>
        </section>
        <section class="panel panel-primary mrgn-tp-lg">
            <header class="panel-heading clearfix">
                <div class="btn-group pull-right">
                    <button title="{{'HELP_DOSSIER'|translate}}" class="btn-xs rep-help-button"
                            id="dossier-instructions-toggle" ng-click="dos.addInstruct(1)"><span
                            class="fa fa-question-circle fa-2x"></span><span
                            class="wb-inv">"{{'HELP_DOSSIER'|translate}}"</span></button>
                </div>
                <h2 class="panel-title">{{'Dossier Information'|translate}}</h2>
            </header>
            <div class="panel-body">
                <div uib-alert template-url="./app/lib/uib-templates/alert.html" ng-if="dos.alerts[1]"
                     class="alert-info" close="dos.closeAlert(1)">
                    <section>
                        <div>
                            <!--<h3 class="rep-margin-minus-top">Files to load</h3>-->
                            <ul>
                                <li>
                                    The “<b>Application&nbsp;Status</b>”, “<b>Enrolment&nbsp;Version</b>”, and “<b>Date&nbsp;Last&nbsp;Saved</b>”
                                    fields are automatically filled by the form upon selecting “<b>Save&nbsp;Working&nbsp;Copy</b>”
                                    or “<b>Save&nbsp;Draft&nbsp;for&nbsp;Filing</b>” in the bottom of the
                                    template.
                                </li>
                                <li>
                                    The “<b>Dossier&nbsp;Id</b>” field will be filled by Health Canada when generating
                                    final xml file.
                                </li>
                                <li>
                                    The “Company&nbsp;ID” can be obtained from the final company XML file, approved by
                                    Health Canada.
                                </li>
                            </ul>
                            <h3>Amendment Information</h3>
                            <ul>
                                <li>
                                    The “<b>Amend&nbsp;Enrolment</b>” button must be selected when amending an approved
                                    company enrolment. Load the approved final xml file in the template to enable
                                    the “Amend&nbsp;Enrolment” button.
                                </li>
                                <li>
                                    The amended fields should be identified by selecting the “Amend&nbsp;Record”
                                    checkbox in
                                    the desired section.
                                </li>
                            </ul>
                            <h3>Product (Dossier) Name</h3>
                            <ul>
                                <li>
                                    The <b>brand</b> or proprietary or product name is the name assigned by the
                                    manufacturer / sponsor to distinguish the dossier (product) and under which the
                                    product is to be sold / advertised. The brand name is also the name used to identify
                                    the product in all correspondence related to the submission and on the product
                                    label(s) and Product Monograph/Package Insert if applicable. If the brand name has
                                    not yet been determined, e.g. CTA, VIND, or NDS submissions, the proper or common
                                    name of the drug or the research code may be used.
                                </li>
                            </ul>
                            <h3>Proper, common or non-proprietary Name</h3>
                            <ul>
                                <li>
                                    The <b>proper name</b> for a product is the name assigned to the drug in Section
                                    C.01.002
                                    of the <em>Food&nbsp;and&nbsp;Drug&nbsp;Regulations</em>, or in boldface type in
                                    other Sections of the <em>Regulations</em> or the name of the drug in its finished
                                    form
                                    identified in the title of a monograph or in any of the official publications listed
                                    in Schedule B to the <em>Food and Drugs Act</em>. Example: Acetaminophen, Ferrous
                                    Sulphate
                                    Tablets.
                                </li>
                                <li>
                                    The <b>common name</b> is the name by which a single ingredient drug is commonly
                                    known / designated in scientific or technical journals <b>other than</b> the
                                    publications
                                    referred to in Schedule B to the <em>Food and Drugs Act</em>. The common name
                                    includes the
                                    pharmaceutical form when used in relation to the finished drug product.
                                </li>
                                <li>
                                    If there is no proper name and the drug is comprised of a single medicinal
                                    ingredient, enter the common name. If there is no proper name and the drug is
                                    comprised of more than one medicinal ingredient, leave Section 9 blank. For a
                                    clinical trial all the active substances should be listed. If the product comprises
                                    more than one ingredient, the proper name of the ingredients should be captured and
                                    separated by a forward slash (/).
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
                <div>
                    <cmp-application-info record="dos.dossierModel" user-type="dos.userType"
                                          set-type="dos.setApplicationType(type)"
                                          configure-id-field="dos.configField"
                                          is-incomplete="dos.isIncomplete"></cmp-application-info>
                </div>
                <div class="row">
                    <div class="col-xs-4 form-group"
                         ng-class="{'has-error':dos.dossierForm.dossierType.$invalid}">
                        <label for="dossierType" class="required">
                            <span class="field-name">A.&nbsp;{{'DOSSIER_TYPE' |translate}}</span>
                            <strong class="required">{{"REQUIRED" |translate}}</strong>
                            <select class="form-control full-width" id="dossierType"
                                    name="dossierType" required="true" ng-model="dos.dossierModel.dossierType"
                                    ng-options="val |translate for val in  dos.formTypeList">
                            </select>
                            <strong id="dossierType-error" class="error"
                                    ng-if="dos.showError(dos.dossierForm.dossierType.$invalid,dos.dossierForm.dossierType.$touched)">
                                    <span class="label label-danger"
                                          ng-messages="dos.dossierForm.dossierType.$error">
                                        <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                                    </span>
                            </strong>
                        </label>
                    </div>
                    <div class="col-xs-4 form-group"
                         ng-class="{'has-error':dos.dossierForm.companyId.$invalid}">
                        <label for="company-id" class="required">
                            <span class="field-name">B.&nbsp;{{'COMPANY_ID' |translate}}</span>
                            <strong class="required">{{"REQUIRED" |translate}}</strong>
                            <input type="text" class="form-control full-width" id="company-id"
                                   name="companyId" required="true" maxlength="6" minlength="5"
                                   ng-model="dos.dossierModel.companyID"/>
                            <strong id="company-id-error" class="error"
                                    ng-if="dos.showError(dos.dossierForm.companyId.$invalid,dos.dossierForm.companyId.$touched)">
                                    <span class="label label-danger"
                                          ng-messages="dos.dossierForm.companyId.$error">
                                        <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                                         <span ng-message="minlength"><span translate="MSG_LENGTH_MIN5"></span></span>
                                    </span>
                            </strong>
                        </label>
                    </div>
                </div>
                <div class="row margin-bottom-small">
                    <div class="col-xs-12 form-group"
                         ng-class="{'has-error':dos.dossierForm.thirdPartySigned.$invalid}">
                        <label for="third-party-signed" class="required">
                            <span class="field-name">C.&nbsp;{{'SIGNED_THIRD'|translate}}</span>
                            <strong class="required">{{"REQUIRED" |translate}}</strong>
                            <select name="thirdPartySigned" class="form-control"
                                    ng-model="dos.dossierModel.drugProduct.thirdPartySigned"
                                    id="third-party-signed" ng-options="val |translate for val in  dos.yesNoList"
                                    required></select>
                            <strong id="thirdParty-error" class="error"
                                    ng-if="dos.showError(dos.dossierForm.thirdPartySigned.$invalid,dos.dossierForm.thirdPartySigned.$touched)">
                                    <span class="label label-danger"
                                          ng-messages="dos.dossierForm.thirdPartySigned.$error">
                                        <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                                    </span>
                            </strong>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div ng-if="dos.thirdPartySignedChanged()" class="alert alert-info"
                         role="alert"
                         aria-live="polite">
                        {{'INCLUDE_AUTH'|translate}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 form-group"
                         ng-class="{'has-error':dos.dossierForm.productName.$invalid}">
                        <label for="product-name" class="required">
                            <span class="field-name">D.&nbsp;{{'PROD_NAME' |translate}}</span>
                            <strong class="required">{{"REQUIRED" |translate}}</strong>
                            <strong id="productName-error" class="error"
                                    ng-if="dos.showError(dos.dossierForm.productName.$invalid,dos.dossierForm.productName.$touched)">
                                    <span class="label label-danger"
                                          ng-messages="dos.dossierForm.productName.$error">
                                        <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                                    </span>
                            </strong>
                        </label>
                        <textarea type="text" class="form-control full-width" id="product-name" rows="2"
                                  name="productName" required="true"
                                  data-ng-change="dos.dossierModel.productName=dos.dossierModel.productName.toUpperCase()"
                                  maxlength="200" ng-model="dos.dossierModel.productName"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 form-group"
                         ng-class="{'has-error':dos.dossierForm.properName.$invalid}">
                        <label for="proper-name" class="required">
                            <span class="field-name">E.&nbsp;{{'PROPER_NAME' |translate}}</span>
                            <strong class="required">{{"REQUIRED" |translate}}</strong>
                            <strong id="properName-error" class="error"
                                    ng-if="dos.showError(dos.dossierForm.properName.$invalid,dos.dossierForm.properName.$touched)">
                                    <span class="label label-danger"
                                          ng-messages="dos.dossierForm.properName.$error">
                                        <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                                    </span>
                            </strong>
                        </label>
                        <textarea type="text" class="form-control full-width" id="proper-name" name="properName"
                                  required="true" ng-model="dos.dossierModel.properName" maxlength="256" rows="3"
                                  data-ng-change="dos.dossierModel.properName=dos.dossierModel.properName.toUpperCase()">
                            </textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 form-group">
                        <label for="related-dossier-id">
                            F.&nbsp;{{'RELATED_DOSSIER'|translate}}
                        </label>
                        <textarea class="form-control full-width" id="related-dossier-id"
                                  ng-model="dos.dossierModel.relatedDossierID" maxlength="256" rows="3"></textarea>
                    </div>
                </div>

                <div class="row">
                    <section class="panel panel-default">
                        <header class="panel-heading clearfix">
                            <div class="btn-group pull-right">
                                <button title="{{'HELP_thera'|translate}}"
                                        class="btn rep-help-button-primary btn-xs"
                                        id="thera-instructions-toggle" ng-click="dos.addInstruct(2)"><span
                                        class="fa fa-question-circle fa-2x"></span><span
                                        class="wb-inv">"{{'HELP_THERA'|translate}}"</span></button>
                            </div>
                            <h3 class="panel-title">G.&nbsp{{'THERA_CLASS'|translate}}</h3>
                            <strong id="active-error" class="error" ng-if="dos.noTheraRecs() && dos.dossierForm.$dirty">
                            <span class="label label-danger" ng-messages="dos.dossierForm.noTheraVal.$error">
                                <span ng-message="required"><span translate="MSG_ERR_ONE_THERA"></span></span>
                            </span>
                            </strong>
                        </header>
                        <div class="panel-body">
                            <div uib-alert template-url="./app/lib/uib-templates/alert.html" ng-if="dos.alerts[2]"
                                 class="alert-info" close="dos.closeAlert(2)">
                                <section>
                                    <div>
                                        <ul>
                                            <li>Record the appropriate therapeutic and pharmacological classification
                                                for the drug,
                                                e.g. calcium channel blocker, biological response modifier, histamine
                                                H2-receptor
                                                antagonist, disinfectant.
                                            </li>
                                        </ul>
                                    </div>
                                </section>
                            </div>
                            <input type="text" required ng-show="false" name="noTheraVal" id="noThera"
                                   aria-hidden="true"
                                   data-ng-model="dos.noThera"/>
                            <cmp-thera-list records="dos.dossierModel.drugProduct.therapeutic"
                                            show-errors="dos.showErrors()"></cmp-thera-list>
                        </div>
                    </section>
                </div>
                <div class="row">
                    <div class="col-md-5 form-group" ng-class="{'has-error':dos.dossierForm.isRefProducts.$invalid}">
                        <label for="isRefProducts" class="required">
                            <span class="field-name">H.&nbsp;{{'IS_CDN_REF'|translate}}</span>
                            <strong class="required">{{"REQUIRED" |translate}}</strong>
                            <strong id="isRef-error" class="error"
                                    ng-if="dos.showError(dos.dossierForm.isRefProducts.$invalid,dos.dossierForm.isRefProducts.$touched)">
                            <span class="label label-danger"
                                  ng-messages="dos.dossierForm.isRefProducts.$error">
                          <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                      </span>
                            </strong>
                        </label>

                    </div>
                    <div class="col-md-4 form-group form-inline"
                         ng-class="{'has-error':dos.dossierForm.isRefProducts.$invalid}">
                        <select class="form-control" required name="isRefProducts" id="isRefProducts"
                                ng-model="dos.dossierModel.isRefProducts"
                                ng-options="val |translate for val in  dos.yesNoList">
                        </select>
                        <button title="{{'HELP_REFPRODUCTS'|translate}}"
                                class="btn rep-help-button-primary btn-xs"
                                id="repProducts-instructions-toggle" ng-click="dos.addInstruct(3)"><span
                                class="fa fa-question-circle fa-2x"></span><span
                                class="wb-inv">"{{'HELP_REFPRODUCTS'|translate}}"</span></button>
                    </div>

                    <div class="col-md-2 form-group pull-left">
                        <div class="btn-group">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div uib-alert template-url="./app/lib/uib-templates/alert.html" ng-if="dos.alerts[3]"
                             class="alert-info" close="dos.closeAlert(3)">
                            <section aria-live="assertive">
                                <div>
                                    <ul>
                                        <li>a drug in respect of which a notice of compliance is issued pursuant to
                                            section C.08.004 and which is marketed in Canada by the innovator of the
                                            drug,
                                        </li>
                                        <li>a drug, acceptable to the Minister, that can be used for the purpose of
                                            demonstrating bioequivalence on the basis of pharmaceutical and, where
                                            applicable, bioavailability characteristics, where a drug in respect of
                                            which a notice of compliance has been issued pursuant to section C.08.004
                                            cannot be used for that purpose because it is no longer marketed in Canada,
                                            or
                                        </li>
                                        <li> drug, acceptable to the Minister, that can be used for the purpose of
                                            demonstrating bioequivalence on the basis of pharmaceutical and, where
                                            applicable, bioavailability characteristics, in comparison to a drug
                                            referred to in paragraph a).
                                        </li>
                                    </ul>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="dos.isRefProducts()" name="refProductRoot">
                    <input type="text" ng-show="false" name="oneRefProductRec" id="oneRefRec"
                           ng-model="dos.oneRefSelected" required/>
                    <section class="panel panel-default">
                        <header class="panel-heading">
                            <h3 class="panel-title">{{'CAN_REF_PRODUCTS'|translate}}</h3>
                            <label for="oneRefRec" ng-if="dos.dossierForm.oneRefProductRec.$invalid">
                                <strong id="oneRefProduct-error" class="error">
                             <span class="label label-danger" aria-live="polite"
                                   ng-messages="dos.dossierForm.oneRefProductRec.$error">
                                 <span ng-message="required"> <span translate="MSG_ERR_ONE_CDN_REF"></span></span>
                             </span>
                                </strong>
                            </label>
                        </header>
                        <div class="panel-body">
                            <cmp-ref-product-list
                                    products="dos.dossierModel.drugProduct.canRefProducts"
                                    on-update="dos.cdnRefUpdated(recs)"></cmp-ref-product-list>
                        </div>
                    </section>
                </div>
            </div>
        </section>
        <section class="panel panel-primary mrgn-tp-lg">
            <header class="panel-heading clearfix">
                <div class="btn-group pull-right">
                    <button title="{{'HELP_DRUG_PRODUCT'|translate}}" class="btn-xs rep-help-button"
                            id="drugProduct-instructions-toggle" ng-click="dos.addInstruct(4)"><span
                            class="fa fa-question-circle fa-2x"></span><span class="wb-inv">"{{'HELP_DRUG_PRODUCT'|translate}}"</span>
                    </button>
                </div>
                <h2 class="panel-title">{{'DRUG_PRODUCT'|translate}}</h2>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div uib-alert template-url="./app/lib/uib-templates/alert.html" ng-if="dos.alerts[4]"
                             class="alert-info" close="dos.closeAlert(4)">
                            <section aria-live="assertive">
                                <div>
                                    <ul>
                                        <li>Drug Product Formulation Information Drug Product formulation information
                                            will be used to generate the DIN at the end of the review process.
                                        </li>
                                        <li>Each section with a save button must be saved individually; otherwise
                                            incomplete information will be lost.
                                        </li>
                                    </ul>
                                    <h3>Formulations</h3>
                                    <ul>
                                        <li>The formulation “ID” is auto generated by the template when you click on
                                            “Add Formulation”.
                                        </li>
                                        <li>Sponsors may choose to add a formulation name for easier identification.
                                        </li>
                                        <li>Sponsors should always select the medicinal ingredient name from the
                                            searchable list where possible. If the medicinal ingredient name is not
                                            found in the list, enter the new medicinal ingredient name in this field.
                                        </li>
                                        <li>Copy button: After saving ingredient / formulation details, sponsors may
                                            choose to copy those details into a new ingredient / formulation record and
                                            change one or more fields as required. This will help minimize the amount of
                                            data entry for similar ingredients / formulations.
                                        </li>
                                    </ul>
                                    <h3>Animal / human sourced details</h3>
                                    <ul>
                                        <li>When an ingredient/material is identified as Animal / Human sourced,
                                            sponsors
                                            must provide additional details by selecting the “Animal / Human Sourced”
                                            tab
                                            next to the “Formulations” tab.
                                        </li>
                                        <li>A list of ingredient / materials for which additional details must be
                                            provided
                                            is displayed at the top of this section.
                                        </li>
                                        <li>The “Ingredient or Material Name” field in this section is case-sensitive.
                                        </li>
                                    </ul>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 form-group">
                        <cmp-drug-use list-items="dos.dossierModel.drugProduct.drugUseList"
                                      show-list-errors="dos.showErrors()"
                                      parent-dirty="dos.dossierForm.$dirty"></cmp-drug-use>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12 checkbox">
                        <label for="is-schedule-case">
                            <input type="checkbox" name="isScheduleA"
                                   ng-model="dos.dossierModel.drugProduct.isScheduleA" id="is-schedule-case">
                            {{'ISSCHEDA'|translate}}
                        </label>
                    </div>
                </div>

                <div class="row" ng-if="dos.isSchedA()">
                    <div class="col-xs-12 form-group">
                        <cmp-schedule-a schedule-group="dos.dossierModel.drugProduct.scheduleAGroup"></cmp-schedule-a>
                    </div>
                </div>
                <div>
                    <section ng-if="dos.appendixMissingError()">
                        <input type="checkbox" ng-show="false" required="true" ng-checked="dos.appendixMissingError()"
                               aria-hidden="true"/>
                        <details class="alert alert-danger" id="alert-appendix" open="open">
                            <summary class="h3">
                                <h2>{{'MISSING_APPENDIX'|translate}}</h2>
                            </summary>
                            <ul>
                                <li ng-repeat="ingred in dos.errorAppendix">{{ingred}}</li>
                            </ul>
                        </details>
                    </section>
                </div>
                <div>
                    <section ng-if="dos.appendixExtraError()">
                        <input type="checkbox" ng-show="false" required="true" ng-checked="dos.appendixExtraError()"
                               aria-hidden="true"/>
                        <details class="alert alert-danger" id="alert-extra-appendix" open="open">
                            <summary class="h3">
                                <h2>{{'EXTRA_APPENDIX'|translate}}</h2>
                            </summary>
                            <ul>
                                <li ng-repeat="ingred in dos.extraAppendix">{{ingred}}</li>
                            </ul>
                        </details>
                    </section>
                </div>
                <div>
                    <cmp-tabs formulation-list="dos.dossierModel.drugProduct.formulations"
                              record-changed="dos.recordsChanged()" service="dos.dossierService"
                              appendix4-list="dos.dossierModel.drugProduct.appendixFourList"></cmp-tabs>
                </div>
            </div>

        </section>
        <div>
            <section class="panel panel-primary mrgn-tp-lg">
                <header class="panel-heading clearfix">
                    <div class="btn-group pull-right">
                        <button title="{{'HELP_REP_CONTACT'|translate}}" class="btn-xs rep-help-button"
                                id="repContact-instructions-toggle" ng-click="dos.addInstruct(5)"><span
                                class="fa fa-question-circle fa-2x"></span><span class="wb-inv">"{{'HELP_REP_CONTACT'|translate}}"</span>
                        </button>
                    </div>
                    <h2 class="panel-title">{{'REP_CONTACT_INFO'|translate}}</h2>
                </header>
                <div class="panel-body">
                    <div uib-alert template-url="./app/lib/uib-templates/alert.html" ng-if="dos.alerts[5]"
                         class="alert-info" close="dos.closeAlert(5)">
                        <section>
                            <div>
                                <ul>
                                    <li>The Primary REP contact is the person to be contacted by Health Canada if there
                                        are any issues or clarifications required for this template when it’s submitted
                                        for approval.
                                    </li>
                                    <li>Sponsors may choose to provide an Alternate REP contact, however this is not a
                                        requirement.
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>

                    <div class="container-fluid">
                        <cmp-rep-contact-list contacts="dos.dossierModel.contactList" on-update=""
                                              parent-dirty="dos.dossierForm.$dirty"
                                              show-list-errors="dos.showErrors()" is-amend="dos.formAmend">

                        </cmp-rep-contact-list>
                    </div>
                </div>
            </section>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <button class="btn btn-default btn-lg active" ng-click="dos.saveJson()"
                        ng-disabled="dos.disableJSONSave()">
                    {{'SAVE_WORK'|translate}}
                </button>
            </div>
            <div class="form-group col-md-3">
                <button class="btn btn-primary btn-lg active" id="btn_xmlSave" ng-disabled="dos.disableXML"
                        ng-click="dos.saveXML()">{{dos.saveXMLLabel |translate}}
                </button>
                <button title="{{'SAVE_INSTRUCT'|translate}}" class="btn rep-help-button-primary btn-xs"
                        id="save-instructions-toggle" ng-click="dos.addInstruct(6)"><span
                        class="fa fa-question-circle fa-2x"></span><span class="wb-inv">"{{'SAVE_INSTRUCT'|translate}}"</span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div uib-alert template-url="./app/lib/uib-templates/alert.html" ng-if="dos.alerts[6]"
                     class="alert-info" close="dos.closeAlert(6)">
                    <section aria-live="assertive">
                        <div>
                            <ul>
                                <li>Click the "Save Draft for Filing" button to generate the draft XML file.</li>
                                <li>Submit the created file to Health Canada using the Common Electronic Submission
                                    Gateway (CESG).
                                </li>
                                <li>Refer to the REP guidance document for detailed information.</li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!-- <pre>{{dos.dossierModel | json }}</pre>-->
    </div>
</ng-form>