<div class="container-fluid">
    <fieldset>
        <ng-form name="cspApplCtrl.applForm">
            <div>
                <div ng-if="cspApplCtrl.model.role.billing && !cspApplCtrl.model.role.applicant">
                    <div class="col-xs-12">
                        <legend> {{'BILLING_TITLE' |translate}}
                            <button title="{{'BILLING_INSTRUCT'|translate}}" class="btn rep-help-button-primary btn-xs"
                                    ng-click="cspApplCtrl.addInstruct(1)"><span
                                    class="fa fa-question-circle fa-2x"></span><span
                                    class="wb-inv">"{{'BILLING_INSTRUCT'|translate}}"</span>
                            </button>
                        </legend>
                    </div>
                </div>
                <div class="row" ng-if=" !cspApplCtrl.model.role.applicant">
                    <div class="col-xs-12">
                        <cmp-alert  ui-state="cspApplCtrl.alerts[1]" msg="APPLICANT_CLOSE" update-state="cspApplCtrl.toggleAlert(1)" type="alert-info">
                            <section aria-live="assertive">
                                <div ng-if="!cspApplCtrl.isFrench()"
                                     ng-include="'app/scripts/templates/csp/tpl-csp-billing-en.html'">
                                </div>
                                <div ng-if="cspApplCtrl.isFrench()"
                                     ng-include="'app/scripts/templates/csp/tpl-csp-billing-fr.html'">
                                </div>
                            </section>
                        </cmp-alert>
                    </div>
                </div>
                <div class="form-group col-md-12"
                     ng-class="{'has-error':cspApplCtrl.applForm[cspApplCtrl.applicantId].$invalid}">
                    <label for="{{::cspApplCtrl.applicantId}}" class="required">
                        <span class="field-name">{{cspApplCtrl.applicantTextAlias |translate}}</span>
                        <strong class="required"> {{"REQUIRED" |translate}} </strong>
                        <input type="text" id="{{::cspApplCtrl.applicantId}}" name="{{::cspApplCtrl.applicantId}}"
                               data-ng-model="cspApplCtrl.model.applicantName" class="form-control" maxlength="80"
                               size="80"
                               required/>

                        <cmp-error-message field-name="cspApplCtrl.applicantId" form-ref="cspApplCtrl.applForm"
                                           show-error="cspApplCtrl.showErrors()"
                                           error-types="cspApplCtrl.requiredOnly"></cmp-error-message>
                    </label>
                </div>

                <div ng-if="cspApplCtrl.model.role.applicant">
                    <div class="col-xs-12">
                        <legend>{{'CONTACT_TITLE'|translate}}
                            <button title="{{'APPLICANT_INSTRUCT'|translate}}"
                                    class="btn rep-help-button-primary btn-xs"
                                    ng-click="cspApplCtrl.addInstruct(0)"><span
                                    class="fa fa-question-circle fa-2x"></span><span
                                    class="wb-inv">"{{'APPLICANT_INSTRUCT'|translate}}"</span>
                            </button>
                        </legend>
                    </div>
                </div>
            </div>

            <div  class="row" ng-if="cspApplCtrl.model.role.applicant" >
                <div class="col-xs-12">

                <cmp-alert  ui-state="cspApplCtrl.alerts[0]" msg="APPLICANT_CLOSE" update-state="cspApplCtrl.toggleAlert(0)" type="alert-info">
                    <section aria-live="assertive">
                        <div ng-if="!cspApplCtrl.isFrench()"
                             ng-include="'app/scripts/templates/csp/tpl-csp-applicant-en.html'">
                        </div>
                        <div ng-if="cspApplCtrl.isFrench()"
                             ng-include="'app/scripts/templates/csp/tpl-csp-applicant-fr.html'">
                        </div>
                    </section>
                </cmp-alert>
                </div>
            </div>

            <cmp-contact-details is-amend="true" contact-record="cspApplCtrl.model.contact" fax-mandatory="true"
                                 show-errors="cspApplCtrl.showErrors()"
                                 field-suffix="cspApplCtrl.type"
                                 update-error-summary="cspApplCtrl.updateErrorSummary()">
            </cmp-contact-details>
            <cmp-address-details is-amend="true" address-record="cspApplCtrl.model.address"
                                 show-errors="cspApplCtrl.showErrors()" country-editable="cspApplCtrl.isCountryEditable"
                                 update-error-summary="cspApplCtrl.updateErrorSummary()"
                                 field-suffix="cspApplCtrl.type"></cmp-address-details>
            <div class=" col-md-12">
                <div class="checkbox" ng-if="cspApplCtrl.model.role.applicant">
                    <label for="billingDifferent_{{$id}}">
                        <input type="checkbox" ng-model="cspApplCtrl.model.isBillingDifferent"
                               name="billingDifferent_{{$id}}"
                               ng-change="cspApplCtrl.setBilling()"
                               id="billingDifferent_{{$id}}"/>{{"BILLING_DIFFERENT"|translate}}
                    </label>
                </div>
            </div>
        </ng-form>
    </fieldset>
</div>