<div class="container-fluid">
    <ng-form name="cspPatentCtrl.patentForm">
        <div class="row">
            <div class="form-group col-md-12"
                 ng-class="{'has-error':cspPatentCtrl.patentForm[cspPatentCtrl.patentNumId].$invalid}">
                <label for="{{::cspPatentCtrl.patentNumId}}" class="required">
                    <span class="field-name">{{'PATENTNUM' |translate}}</span>
                    <strong class="required"> {{"REQUIRED" |translate}} </strong>
                    <input type="text" id="{{::cspPatentCtrl.patentNumId}}" name="{{::cspPatentCtrl.patentNumId}}"
                           data-ng-model="cspPatentCtrl.model.patentNumber" class="form-control" maxlength="7"
                           size="7" minlength="7" only-digits="" required/>

                    <cmp-error-message field-name="cspPatentCtrl.patentNumId" form-ref="cspPatentCtrl.patentForm"
                                       show-error="cspPatentCtrl.showErrors()"
                                       error-types="cspPatentCtrl.min7Error"></cmp-error-message>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4"
                 ng-class="{'has-error':cspPatentCtrl.patentForm[cspPatentCtrl.dateFiledId].$invalid}">
                <label for="{{::cspPatentCtrl.dateFiledId}}" class="required">
                    <span class="field-name">{{"DATE_FILED" |translate}}</span>
                    <strong class="required"> {{"REQUIRED" |translate}} </strong>
                    <input type="date" id="{{::cspPatentCtrl.dateFiledId}}" name="{{::cspPatentCtrl.dateFiledId}}"
                           data-ng-model="cspPatentCtrl.model.filingDate" class="form-control" required/>

                    <cmp-error-message field-name="cspPatentCtrl.dateFiledId" form-ref="cspPatentCtrl.patentForm"
                                       show-error="cspPatentCtrl.showErrors()"
                                       error-types="cspPatentCtrl.dateError"></cmp-error-message>
                </label>
            </div>
            <div class="form-group col-md-4"
                 ng-class="{'has-error':cspPatentCtrl.patentForm[cspPatentCtrl.dateGrantedId].$invalid}">
                <label for="{{::cspPatentCtrl.dateGrantedId}}" class="required">
                    <span class="field-name">{{"DATE_GRANTED" |translate}}</span>
                    <strong class="required"> {{"REQUIRED" |translate}} </strong>
                    <input type="date" id="{{::cspPatentCtrl.dateGrantedId}}" name="{{::cspPatentCtrl.dateGrantedId}}"
                           data-ng-model="cspPatentCtrl.model.grantedDate" class="form-control" required/>
                    <cmp-error-message field-name="cspPatentCtrl.dateGrantedId" form-ref="cspPatentCtrl.patentForm"
                                       show-error="cspPatentCtrl.showErrors()"
                                       error-types="cspPatentCtrl.dateError"></cmp-error-message>
                </label>
            </div>
            <div class="form-group col-md-4"
                 ng-class="{'has-error':cspPatentCtrl.patentForm[cspPatentCtrl.dateExpiryId].$invalid}">
                <label for="{{::cspPatentCtrl.dateExpiryId}}" class="required">
                    <span class="field-name">{{"DATE_EXPIRY" |translate}}</span>
                    <strong class="required"> {{"REQUIRED" |translate}} </strong>
                    <input type="date" id="{{::cspPatentCtrl.dateExpiryId}}" name="{{::cspPatentCtrl.dateExpiryId}}"
                           data-ng-model="cspPatentCtrl.model.expiryDate" class="form-control" required/>
                    <cmp-error-message field-name="cspPatentCtrl.dateExpiryId" form-ref="cspPatentCtrl.patentForm"
                                       show-error="cspPatentCtrl.showErrors()"
                                       error-types="cspPatentCtrl.dateError"></cmp-error-message>
                </label>
            </div>
        </div>
    </ng-form>
</div>
