<ng-form name="schedACtrl.schedAForm">
    <uib-accordion close-others="false">
        <div uib-accordion-group heading="{{'SCHEDA_DETAILS' |translate}}"
             is-open="schedACtrl.expanderOpenState" is-disabled="schedACtrl.schedAForm.$invalid"
             template-url="./app/lib/uib-templates/tpl-accordian-group-caret.html">
            <div>
                <div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-xs-12 form-group">
                                <label for="{{::schedACtrl.dinId}}">
                                    <span class="field-name">{{'DIN_FULL'|translate}}</span>
                                    <input type="text" class="form-control" id="{{::schedACtrl.dinId}}" name="{{::schedACtrl.dinId}}"
                                           maxlength="8" size="8" only-digits ng-minlength="8"
                                           ng-model="schedACtrl.model.drugIdNumber"/>
                                    <cmp-error-message field-name="schedACtrl.dinId"
                                                       form-ref="schedACtrl.schedAForm"
                                                       show-error="schedACtrl.showError(schedACtrl.schedAForm[schedACtrl.dinId])"
                                                       error-types="schedACtrl.errorMinLength"></cmp-error-message>
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 form-group">
                                <fieldset id="{{::schedACtrl.fsId}}">
                                    <legend class="required">
                                        <span class=" field-name">{{'SCHEDA_DISEASE'|translate}}</span>
                                        <strong class="required"> {{"REQUIRED" |translate}}</strong>
                                        <span>
                 <input type="hidden" class="form-control" id="{{::schedACtrl.oneSchedId}}" name="{{::schedACtrl.oneSchedId}}"
                        ng-model="schedACtrl.isClaim" aria-hidden="true" required/>
                                            <cmp-error-message field-name="schedACtrl.oneSchedId"
                                                               form-ref="schedACtrl.schedAForm"
                                                               show-error="schedACtrl.showError(schedACtrl.schedAForm[schedACtrl.oneSchedId])"
                                                               error-types="schedACtrl.oneRequired"></cmp-error-message>
                    </span></legend>
                                    <div class="row checkbox">
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.acuteAlcoholId}}">
                                                <input type="checkbox" name="{{::schedACtrl.acuteAlcoholId}}"
                                                       ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.acuteAlcoholId}}"
                                                       ng-model="schedACtrl.model.diseaseDisorderList.acute_alcohol"/>
                                                {{::'ACUTEALCOHOL'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.acuteAnxietyId}}">
                                                <input type="checkbox" name="{{::schedACtrl.acuteAnxietyId}}"
                                                       ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.acuteAnxietyId}}"
                                                       ng-model="schedACtrl.model.diseaseDisorderList.acute_anxiety"/>
                                                {{::'ACUTEANXIETY'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.acuteInfectId}}">
                                                <input type="checkbox" name="{{::schedACtrl.acuteInfectId}}"
                                                       ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.acuteInfectId}}"
                                                       ng-model="schedACtrl.model.diseaseDisorderList.acute_infectious"/>
                                                {{::'ACUTERESP'|translate}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row checkbox">
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.accuteInflamId}}">
                                                <input type="checkbox" name="{{::schedACtrl.accuteInflamId}}"
                                                       ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.accuteInflamId}}"
                                                       ng-model="schedACtrl.model.diseaseDisorderList.acute_inflammatory"/>
                                                {{::'ACUTEINFLAM'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.accutePsycoticId}}">
                                                <input type="checkbox" name="{{::schedACtrl.accutePsycoticId}}"
                                                       ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.accutePsycoticId}}"
                                                       ng-model="schedACtrl.model.diseaseDisorderList.acute_psychotic"/>
                                                {{::'ACUTEPSYCHOTIC'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.addictionId}}">
                                                <input type="checkbox" name="{{::schedACtrl.addictionId}}"
                                                       ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.addictionId}}"
                                                       ng-model="schedACtrl.model.diseaseDisorderList.addiction"/>
                                                {{::'ADDICTION'|translate}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row checkbox">
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.aterioId}}">
                                                <input type="checkbox" name="{{::schedACtrl.aterioId}}"
                                                       ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.aterioId}}"
                                                       ng-model="schedACtrl.model.diseaseDisorderList.ateriosclerosis"/>
                                                {{::'ATERIOSCLEROSIS'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.appendId}}">
                                                <input type="checkbox" name="{{::schedACtrl.appendId}}"
                                                       ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.appendId}}"
                                                       ng-model="schedACtrl.model.diseaseDisorderList.appendicitis"/>
                                                {{::'APPENDICITIS'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.asthmaId}}">
                                                <input type="checkbox" name="{{::schedACtrl.asthmaId}}"
                                                       ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.asthmaId}}"
                                                       ng-model="schedACtrl.model.diseaseDisorderList.asthma"/>
                                                {{::'ASTHMA'|translate}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row checkbox">
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.cancerId}}">
                                                <input type="checkbox" name="{{::schedACtrl.cancerId}}"
                                                       ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.cancerId}}"
                                                       ng-model="schedACtrl.model.diseaseDisorderList.cancer"/>
                                                {{::'CANCER'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.congestId}}">
                                                <input type="checkbox" name="{{::schedACtrl.congestId}}"
                                                       ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.congestId}}"
                                                       ng-model="schedACtrl.model.diseaseDisorderList.congest_heart_fail"/>
                                                {{::'HEARTCONGEST'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.convulId}}">
                                                <input type="checkbox" name="{{::schedACtrl.convulId}}"
                                                       ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.convulId}}"
                                                       ng-model="schedACtrl.model.diseaseDisorderList.convulsions"/>
                                                {{::'CONVULSIONS'|translate}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row checkbox">
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.dementId}}">
                                                <input type="checkbox" name="{{::schedACtrl.dementId}}"
                                                       ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.dementId}}"
                                                       ng-model="schedACtrl.model.diseaseDisorderList.dementia"/>
                                                {{::'DEMENTIA'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.depressId}}">
                                                <input type="checkbox" name="{{::schedACtrl.depressId}}"
                                                       ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.depressId}}"
                                                       ng-model="schedACtrl.model.diseaseDisorderList.depression"/>
                                                {{::'DEPRESSION'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.diabetesId}}">
                                                <input type="checkbox" name="{{::schedACtrl.diabetesId}}"
                                                       ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.diabetesId}}"
                                                       ng-model="schedACtrl.model.diseaseDisorderList.diabetes"/>
                                                {{::'DIABETES'|translate}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row checkbox">
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.gangreneId}}">
                                                <input type="checkbox" name="{{::schedACtrl.gangreneId}}"
                                                       ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.gangreneId}}"
                                                       ng-model="schedACtrl.model.diseaseDisorderList.gangrene"/>
                                                {{::'GANGRENE'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.glaucomaId}}">
                                                <input type="checkbox" name="{{::schedACtrl.glaucomaId}}"
                                                       ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.glaucomaId}}"
                                                       ng-model="schedACtrl.model.diseaseDisorderList.glaucoma"/>
                                                {{::'GLAUCOMA'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.haemId}}">
                                                <input type="checkbox" name="{{::schedACtrl.haemId}}"
                                                       ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.haemId}}"
                                                       ng-model="schedACtrl.model.diseaseDisorderList.haematologic_bleeding"/>
                                                {{::'BLEEDINGDISORDERS'|translate}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row checkbox">
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.hepatitisId}}">
                                                <input type="checkbox" name="{{::schedACtrl.hepatitisId}}"
                                                       id="{{::schedACtrl.hepatitisId}}"
                                                       ng-model="schedACtrl.model.diseaseDisorderList.hepatitis"/>
                                                {{::'HEPATITIS'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.hypertensionId}}">
                                                <input type="checkbox" name="{{::schedACtrl.hypertensionId}}"
                                                       ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.hypertensionId}}"
                                                       ng-model="schedACtrl.model.diseaseDisorderList.hypertension"/>
                                                {{::'HYPERTENSION'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.nausPregId}}">
                                                <input type="checkbox" name="{{::schedACtrl.nausPregId}}"
                                                       ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.nausPregId}}"
                                                       ng-model="schedACtrl.model.diseaseDisorderList.nausea_pregnancy"/>
                                                {{::'NAUSEAPREG'|translate}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row checkbox">
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.obesityId}}">
                                                <input type="checkbox" name="{{::schedACtrl.obesityId}}"
                                                       ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.obesityId}}"
                                                       ng-model="schedACtrl.model.diseaseDisorderList.obesity"/>
                                                {{::'OBESITY'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.rFeverId}}">
                                                <input type="checkbox" name="{{::schedACtrl.rFeverId}}"
                                                       ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.rFeverId}}"
                                                       ng-model="schedACtrl.model.diseaseDisorderList.rheumatic_fever"/>
                                                {{::'RHEUMATICFEVER'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.septId}}">
                                                <input type="checkbox" name="{{::schedACtrl.septId}}"
                                                       ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.septId}}"
                                                       ng-model="schedACtrl.model.diseaseDisorderList.septicemia"/>
                                                {{::'SEPTICEMIA'|translate}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row checkbox">
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.sexDiseasetId}}">
                                                <input type="checkbox" name="{{::schedACtrl.sexDiseasetId}}"
                                                       ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.sexDiseasetId}}"
                                                       ng-model="schedACtrl.model.diseaseDisorderList.sex_transmit_disease"/>
                                                {{::'SEXDISEASE'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.sHerniaId}}">
                                                <input type="checkbox" name="{{::schedACtrl.sHerniaId}}"
                                                       ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.sHerniaId}}"
                                                       ng-model="schedACtrl.model.diseaseDisorderList.strangulated_hernia"/>
                                                {{::'STRANGHERNIA'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.thromDisorderId}}">
                                                <input type="checkbox" name="{{::schedACtrl.thromDisorderId}}"
                                                       ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.thromDisorderId}}"
                                                       ng-model="schedACtrl.model.diseaseDisorderList.thrombotic_embolic_disorder"/>
                                                {{::'THROMBOTICDISORDER'|translate}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row checkbox">
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.thyroidId}}">
                                                <input type="checkbox" name="{{::schedACtrl.thyroidId}}"
                                                       ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.thyroidId}}"
                                                       ng-model="schedACtrl.model.diseaseDisorderList.thyroid_disease"/>
                                                {{::'THYROIDDISEASE'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.ulcerGssId}}">
                                                <input type="checkbox" name="{{::schedACtrl.ulcerGssId}}"
                                                       ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.ulcerGssId}}"
                                                       ng-model="schedACtrl.model.diseaseDisorderList.ulcer_gastro"/>
                                                {{::'UCLERGASTRO'|translate}}
                                            </label>
                                        </div>
                                    </div>
                                    <!--    <cmp-checkbox-list
                                                title="SCHEDA_DISEASE"
                                                common-name="sa-disease-disorder"
                                                list-items="schedACtrl.scheduleAModel.diseaseDisorderList"></cmp-checkbox-list>
        -->
                                </fieldset>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 form-group"
                                 ng-class="{'has-error':schedACtrl.schedAForm[schedACtrl.schedIndId].$invalid}">
                                <label for="{{::schedACtrl.schedIndId}}" class="required">
                                    <span class="field-name">{{'SCHEDA_CLAIMS'|translate}}</span>
                                    <cmp-error-message field-name="schedACtrl.schedIndId"
                                                       form-ref="schedACtrl.schedAForm"
                                                       show-error="schedACtrl.showError(schedACtrl.schedAForm[schedACtrl.schedIndId])"
                                                       error-types="schedACtrl.requiredOnly"></cmp-error-message>
                                </label>
                                <textarea class="form-control full-width" required rows="3"
                                          id="{{::schedACtrl.schedIndId}}" name="{{::schedACtrl.schedIndId}}"
                                          ng-model="schedACtrl.model.scheduleAClaimsIndDetails"></textarea>
                            </div>
                        </div>
                        <!--<pre>currentModel: {{schedACtrl.model | json : spacing}}</pre>-->
                    </div>
                </div>
            </div>
        </div>
</ng-form>

