<ng-form name="schedACtrl.schedAForm">
    <uib-accordion close-others="false">
        <div uib-accordion-group heading="{{::'SCHEDA_DETAILS' |translate}}"
             data-is-open="schedACtrl.expanderOpenState" data-is-disabled="schedACtrl.schedAForm.$invalid"
             data-template-url="./app/lib/uib-templates/tpl-accordian-group-caret.html">
            <div class="row">
                <span class="form-group col-md-12">{{::'SCHEDA_DESCRIPTION'|translate}}</span><p></p>
            </div>
            <div>
                <div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-xs-12 form-group" data-ng-class="{'has-error':schedACtrl.schedAForm[schedACtrl.dinId].$invalid}">
                                <label for="{{::schedACtrl.dinId}}">
                                    <span class="field-name">{{::'DIN_FULL'|translate}}</span>
                                    <sup id="dr7a_ref">
                                        <a class="fn-lnk" href="#dr7a"><span class="wb-inv">{{::'INSTRUCTION'|translate}}&nbsp;</span>{{::schedACtrl.htIndxList.dinIndx}}</a>
                                    </sup>
                                    <!--<cmp-error-message field-name="schedACtrl.dinId"-->
                                                       <!--form-ref="schedACtrl.schedAForm"-->
                                                       <!--show-error="schedACtrl.showError(schedACtrl.schedAForm[schedACtrl.dinId])"-->
                                                       <!--error-types="schedACtrl.errorMinLength">-->
                                    <!--</cmp-error-message>-->
                                </label>
                                    <input type="text" class="form-control full-width" id="{{::schedACtrl.dinId}}" name="{{::schedACtrl.dinId}}"
                                           data-ng-model="schedACtrl.model.drugIdNumber"/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 form-group">
                                <fieldset id="{{::schedACtrl.fsId}}">
                                    <legend class="required" style="font-size:16px;font-weight:700;">
                                        <span class=" field-name" >{{::'SCHEDA_DISEASE'|translate}}</span>
                                        <strong class="required"> {{::"REQUIRED" |translate}}</strong>
                                        <span>
                                            <cmp-error-message field-name="schedACtrl.oneSchedId"
                                                               form-ref="schedACtrl.schedAForm"
                                                               show-error="schedACtrl.showError(schedACtrl.schedAForm[schedACtrl.oneSchedId])"
                                                               error-types="schedACtrl.requiredOnly"></cmp-error-message>
                 <input type="hidden" class="form-control" id="{{::schedACtrl.oneSchedId}}"
                        name="{{::schedACtrl.oneSchedId}}"
                        data-ng-model="schedACtrl.isClaim" aria-hidden="true" required/>

                    </span></legend>
                                    <div class="row checkbox">
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.acuteAlcoholId}}">
                                                <input type="checkbox" name="{{::schedACtrl.acuteAlcoholId}}"
                                                       data-ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.acuteAlcoholId}}"
                                                       data-ng-model="schedACtrl.model.diseaseDisorderList.acute_alcohol"/>
                                                {{::'ACUTEALCOHOL'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.acuteAnxietyId}}">
                                                <input type="checkbox" name="{{::schedACtrl.acuteAnxietyId}}"
                                                       data-ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.acuteAnxietyId}}"
                                                       data-ng-model="schedACtrl.model.diseaseDisorderList.acute_anxiety"/>
                                                {{::'ACUTEANXIETY'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.acuteInfectId}}">
                                                <input type="checkbox" name="{{::schedACtrl.acuteInfectId}}"
                                                       data-ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.acuteInfectId}}"
                                                       data-ng-model="schedACtrl.model.diseaseDisorderList.acute_infectious"/>
                                                {{::'ACUTERESP'|translate}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row checkbox">
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.accuteInflamId}}">
                                                <input type="checkbox" name="{{::schedACtrl.accuteInflamId}}"
                                                       data-ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.accuteInflamId}}"
                                                       data-ng-model="schedACtrl.model.diseaseDisorderList.acute_inflammatory"/>
                                                {{::'ACUTEINFLAM'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.acutePsycoticId}}">
                                                <input type="checkbox" name="{{::schedACtrl.acutePsycoticId}}"
                                                       data-ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.acutePsycoticId}}"
                                                       data-ng-model="schedACtrl.model.diseaseDisorderList.acute_psychotic"/>
                                                {{::'ACUTEPSYCHOTIC'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.addictionId}}">
                                                <input type="checkbox" name="{{::schedACtrl.addictionId}}"
                                                       data-ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.addictionId}}"
                                                       data-ng-model="schedACtrl.model.diseaseDisorderList.addiction"/>
                                                {{::'ADDICTION'|translate}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row checkbox">
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.aterioId}}">
                                                <input type="checkbox" name="{{::schedACtrl.aterioId}}"
                                                       data-ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.aterioId}}"
                                                       data-ng-model="schedACtrl.model.diseaseDisorderList.ateriosclerosis"/>
                                                {{::'ATERIOSCLEROSIS'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.appendId}}">
                                                <input type="checkbox" name="{{::schedACtrl.appendId}}"
                                                       data-ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.appendId}}"
                                                       data-ng-model="schedACtrl.model.diseaseDisorderList.appendicitis"/>
                                                {{::'APPENDICITIS'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.asthmaId}}">
                                                <input type="checkbox" name="{{::schedACtrl.asthmaId}}"
                                                       data-ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.asthmaId}}"
                                                       data-ng-model="schedACtrl.model.diseaseDisorderList.asthma"/>
                                                {{::'ASTHMA'|translate}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row checkbox">
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.cancerId}}">
                                                <input type="checkbox" name="{{::schedACtrl.cancerId}}"
                                                       data-ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.cancerId}}"
                                                       data-ng-model="schedACtrl.model.diseaseDisorderList.cancer"/>
                                                {{::'CANCER'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.congestId}}">
                                                <input type="checkbox" name="{{::schedACtrl.congestId}}"
                                                       data-ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.congestId}}"
                                                       data-ng-model="schedACtrl.model.diseaseDisorderList.congest_heart_fail"/>
                                                {{::'HEARTCONGEST'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.convulId}}">
                                                <input type="checkbox" name="{{::schedACtrl.convulId}}"
                                                       data-ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.convulId}}"
                                                       data-ng-model="schedACtrl.model.diseaseDisorderList.convulsions"/>
                                                {{::'CONVULSIONS'|translate}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row checkbox">
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.dementId}}">
                                                <input type="checkbox" name="{{::schedACtrl.dementId}}"
                                                       data-ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.dementId}}"
                                                       data-ng-model="schedACtrl.model.diseaseDisorderList.dementia"/>
                                                {{::'DEMENTIA'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.depressId}}">
                                                <input type="checkbox" name="{{::schedACtrl.depressId}}"
                                                       data-ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.depressId}}"
                                                       data-ng-model="schedACtrl.model.diseaseDisorderList.depression"/>
                                                {{::'DEPRESSION'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.diabetesId}}">
                                                <input type="checkbox" name="{{::schedACtrl.diabetesId}}"
                                                       data-ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.diabetesId}}"
                                                       data-ng-model="schedACtrl.model.diseaseDisorderList.diabetes"/>
                                                {{::'DIABETES'|translate}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row checkbox">
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.gangreneId}}">
                                                <input type="checkbox" name="{{::schedACtrl.gangreneId}}"
                                                       data-ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.gangreneId}}"
                                                       data-ng-model="schedACtrl.model.diseaseDisorderList.gangrene"/>
                                                {{::'GANGRENE'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.glaucomaId}}">
                                                <input type="checkbox" name="{{::schedACtrl.glaucomaId}}"
                                                       data-ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.glaucomaId}}"
                                                       data-ng-model="schedACtrl.model.diseaseDisorderList.glaucoma"/>
                                                {{::'GLAUCOMA'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.haemId}}">
                                                <input type="checkbox" name="{{::schedACtrl.haemId}}"
                                                       data-ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.haemId}}"
                                                       data-ng-model="schedACtrl.model.diseaseDisorderList.haematologic_bleeding"/>
                                                {{::'BLEEDINGDISORDERS'|translate}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row checkbox">
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.hepatitisId}}">
                                                <input type="checkbox" name="{{::schedACtrl.hepatitisId}}"
                                                       id="{{::schedACtrl.hepatitisId}}"
                                                       data-ng-model="schedACtrl.model.diseaseDisorderList.hepatitis"/>
                                                {{::'HEPATITIS'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.hypertensionId}}">
                                                <input type="checkbox" name="{{::schedACtrl.hypertensionId}}"
                                                       data-ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.hypertensionId}}"
                                                       data-ng-model="schedACtrl.model.diseaseDisorderList.hypertension"/>
                                                {{::'HYPERTENSION'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.nausPregId}}">
                                                <input type="checkbox" name="{{::schedACtrl.nausPregId}}"
                                                       data-ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.nausPregId}}"
                                                       data-ng-model="schedACtrl.model.diseaseDisorderList.nausea_pregnancy"/>
                                                {{::'NAUSEAPREG'|translate}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row checkbox">
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.obesityId}}">
                                                <input type="checkbox" name="{{::schedACtrl.obesityId}}"
                                                       data-ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.obesityId}}"
                                                       data-ng-model="schedACtrl.model.diseaseDisorderList.obesity"/>
                                                {{::'OBESITY'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.rFeverId}}">
                                                <input type="checkbox" name="{{::schedACtrl.rFeverId}}"
                                                       data-ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.rFeverId}}"
                                                       data-ng-model="schedACtrl.model.diseaseDisorderList.rheumatic_fever"/>
                                                {{::'RHEUMATICFEVER'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.septId}}">
                                                <input type="checkbox" name="{{::schedACtrl.septId}}"
                                                       data-ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.septId}}"
                                                       data-ng-model="schedACtrl.model.diseaseDisorderList.septicemia"/>
                                                {{::'SEPTICEMIA'|translate}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row checkbox">
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.sexDiseasetId}}">
                                                <input type="checkbox" name="{{::schedACtrl.sexDiseasetId}}"
                                                       data-ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.sexDiseasetId}}"
                                                       data-ng-model="schedACtrl.model.diseaseDisorderList.sex_transmit_disease"/>
                                                {{::'SEXDISEASE'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.sHerniaId}}">
                                                <input type="checkbox" name="{{::schedACtrl.sHerniaId}}"
                                                       data-ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.sHerniaId}}"
                                                       data-ng-model="schedACtrl.model.diseaseDisorderList.strangulated_hernia"/>
                                                {{::'STRANGHERNIA'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.thromDisorderId}}">
                                                <input type="checkbox" name="{{::schedACtrl.thromDisorderId}}"
                                                       data-ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.thromDisorderId}}"
                                                       data-ng-model="schedACtrl.model.diseaseDisorderList.thrombotic_embolic_disorder"/>
                                                {{::'THROMBOTICDISORDER'|translate}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row checkbox">
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.thyroidId}}">
                                                <input type="checkbox" name="{{::schedACtrl.thyroidId}}"
                                                       data-ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.thyroidId}}"
                                                       data-ng-model="schedACtrl.model.diseaseDisorderList.thyroid_disease"/>
                                                {{::'THYROIDDISEASE'|translate}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="{{::schedACtrl.ulcerGssId}}">
                                                <input type="checkbox" name="{{::schedACtrl.ulcerGssId}}"
                                                       data-ng-change="schedACtrl.claimSelected()"
                                                       id="{{::schedACtrl.ulcerGssId}}"
                                                       data-ng-model="schedACtrl.model.diseaseDisorderList.ulcer_gastro"/>
                                                {{::'UCLERGASTRO'|translate}}
                                            </label>
                                        </div>
                                    </div>
                                    <!--    <cmp-checkbox-list
                                                title="SCHEDA_DISEASE"
                                                common-name="sa-disease-disorder"
                                                list-items="schedACtrl.scheduleAModel.diseaseDisorderList"></cmp-checkbox-list>
        -->
                                </fieldset>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 form-group"
                                 data-ng-class="{'has-error':schedACtrl.schedAForm[schedACtrl.schedIndId].$invalid}">
                                <label for="{{::schedACtrl.schedIndId}}" class="required">
                                    <span class="field-name">{{::'SCHEDA_CLAIMS'|translate}}</span>
                                    <strong class="required">{{::'REQUIRED' |translate}}</strong>
                                    <cmp-error-message field-name="schedACtrl.schedIndId"
                                                       form-ref="schedACtrl.schedAForm"
                                                       show-error="schedACtrl.showError(schedACtrl.schedAForm[schedACtrl.schedIndId])"
                                                       error-types="schedACtrl.requiredOnly"></cmp-error-message>
                                </label>
                                <textarea class="form-control full-width" required rows="3"
                                          id="{{::schedACtrl.schedIndId}}" name="{{::schedACtrl.schedIndId}}"
                                          data-ng-model="schedACtrl.model.scheduleAClaimsIndDetails"></textarea>
                            </div>
                        </div>
                        <!--<pre>currentModel: {{schedACtrl.model | json : spacing}}</pre>-->
                    </div>
                </div>
            </div>
        </div>
</ng-form>

