<ng-form name="animalSrcCtrl.animalRecForm">
    <div class="container-fluid">
        <fieldset>
            <legend>
                {{'ANIMAL_TYPE_LBL' | translate}}&nbsp;{{animalSrcCtrl.model.id}}
            </legend>
            <div class="row form-group">
                <div class="col-md-6" ng-class="{'has-error':animalSrcCtrl.animalRecForm.animalType.$invalid}">
                    <label for="animalType{{$id}}" class="required">
                        <span class="field-name">{{'ANIMAL_TYPE'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong>
                        <select ng-model="animalSrcCtrl.model.animalType" class="form-control" id="animalType{{$id}}" name="animalType"
                                ng-required="true"
                                ng-options="val |translate for val in  animalSrcCtrl.animalsList  | orderByTranslated">
                        </select>
                        <strong id="typeList-error" class="error"
                                ng-if="animalSrcCtrl.showError(animalSrcCtrl.animalRecForm.animalType)">
                        <span class="label label-danger"
                              ng-messages="animalSrcCtrl.animalRecForm.animalType.$error">
                            <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                        </span>
                        </strong>
                    </label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-12"
                     ng-class="{'has-error':animalSrcCtrl.animalRecForm.typeDetail.$invalid}">
                    <label for="animal-details{{::$id}}" class="required">
                        <span class="field-name">{{'ANIMAL_DETAILS'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong>
                        <input type="text" id="animal-details{{::$id}}" class="form-control"
                               name="typeDetail" size="100" maxlength="100"
                               ng-model="animalSrcCtrl.model.animalDetail" ng-model-options="{ debounce: '$inherit'}" required/>
                        <strong id="animalDetail-error" class="error"
                                ng-if="animalSrcCtrl.showError(animalSrcCtrl.animalRecForm.typeDetail)">
                         <span class="label label-danger"
                               ng-messages="animalSrcCtrl.animalRecForm.typeDetail.$error">
                             <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                         </span>
                        </strong>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="btn-group-sm col-xs-12 text-right">
                    <button ng-click="animalSrcCtrl.deleteRecord(item.id)" class="btn btn-danger btn-sm" name="deleteAnimalSrc">
                    {{'DELETE'|translate}}&nbsp;{{'ANIMAL_SRC'|translate}}
                    </button>
                </div>
            </div>
        </fieldset>
    </div>
</ng-form>