<ng-form name="sysCtrl.cardioForm">
    <div>
        <fieldset>
            <legend class="required">
                <span class="field-name">{{'CARDIO_LEGEND' |translate}}</span>
                <strong class="required"> {{"REQUIRED" |translate}}</strong>
                <input id="roleMissing_{{::$id}}" name="roleMissing" ng-required="true" ng-show="false"
                       ng-model="sysCtrl.isSelected" required/>
                <strong id="role-error{{::$id}}" class="error" ng-if="sysCtrl.showErrorMissing()">
                         <span class="label label-danger" ng-messages="sysCtrl.cardioForm.roleMissing.$error">
                             <span ng-message="required">{{"MSG_ERR_ROLE"|translate}}</span>
                         </span>
                </strong>
            </legend>
            <div class="row">
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="heartPericardium_{{::$id}}">
                            <input type="checkbox" name="heartPericardium" id="heartPericardium_{{::$id}}"
                                   ng-model="sysCtrl.model.heartPericardium"
                                   ng-change="sysCtrl.detailsChanged('HEART',sysCtrl.model.heartPericardium)"/>
                            {{'HEART'|translate}}
                        </label>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="lung_{{::$id}}">
                            <input type="checkbox" name="lung" id="lung_{{::$id}}"
                                   ng-model="sysCtrl.model.lung"
                                   ng-change="sysCtrl.detailsChanged('LUNG',sysCtrl.model.lung)"/>
                            {{'LUNG'|translate}}
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="nasalFluid_{{::$id}}">
                            <input type="checkbox" name="nasalFluid" id="nasalFluid_{{::$id}}"
                                   ng-change="sysCtrl.detailsChanged('NASALFLUID',sysCtrl.model.nasalFluid)"
                                   ng-model="sysCtrl.model.nasalFluid"/>
                            {{'NASALFLUID'|translate}}
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="trachea_{{::$id}}">
                            <input type="checkbox" name="trachea" id="trachea_{{::$id}}"
                                   ng-change="sysCtrl.detailsChanged('TRACHEA',sysCtrl.model.trachea)"
                                   ng-model="sysCtrl.model.trachea"/>
                            {{'TRACHEA'|translate}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="otherCardio_{{::$id}}">
                            <input type="checkbox" name="otherCardio" id="otherCardio_{{::$id}}"
                                   ng-model="sysCtrl.model.otherCardio"/>
                            {{'CARDIO_OTHER'|translate}}
                        </label>
                    </div>
                </div>
                <div ng-if="sysCtrl.otherChanged()" class="col-md-6">
                    <div class="form-group ">
                        <label class="required" for="cardioDetails_{{::$id}}">{{'CARDIO_DETAILS'|translate}}
                            <strong class="required">{{"REQUIRED" |translate}}</strong>
                            <input type="text" size="40" maxlength="40" name="cardioDetails" id="cardioDetails_{{::$id}}"
                                  ng-required="{{sysCtrl.model.otherCardio}}"  ng-model-options="{ debounce: '$inherit'}"
                                   ng-model="sysCtrl.model.otherDetails"/>
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</ng-form>