<div class="container-fluid" translate-cloak="cloak-class">
    <ng-form id="csp-form" name="main.cspForm" novalidate="novalidate">
        <section class="panel panel-primary mrgn-tp-lg">
            <header class="panel-heading clearfix">
                <div class="btn-group pull-right">
                    <button title="{{::'HELP_CSPFILE_LOAD'|translate}}" class="btn-xs rep-help-button"
                            id="load-instructions-toggle" ng-click="main.addInstruct(0)"><span
                            class="fa fa-question-circle fa-2x"></span><span class="wb-inv">"{{::'HELP_CSPFILE_LOAD'|translate}}"</span>
                    </button>
                </div>
                <h2 class="panel-title">{{::'LOAD_CSP_FILE'| translate}}</h2>
            </header>
            <div class="panel-body">
                <!-- build:test -->
                <!-- endbuild -->
                <cmp-alert  ui-state="main.alerts[0]" msg="CSPFILE_LOAD" update-state="main.toggleAlert(0)" type="alert-info">
                    <section aria-live="assertive">
                        <div ng-if="!main.isFrench()" ng-include="'app/scripts/templates/csp/tpl-csp-file-en.html'">
                        </div>
                        <div ng-if="main.isFrench()" ng-include="'app/scripts/templates/csp/tpl-csp-file-fr.html'">
                        </div>
                    </section>
                </cmp-alert>
                <div class="col-md-12">
                    <hpfb-file-select update-model-root="main.showContent(fileContent)" root-elem="{{main.rootTag}}"/>
                </div>
            </div>
        </section>
        <cmp-error-summary form-ref="main.cspForm" show-errors="main.showErrorSummary"
                           form-preamble="CSP_FORM" exclusion-list="main.exclusions" alias-list="main.alias"
                           update-errors="main.updateSummary" make-focused="main.summaryFocusIndex" form-id="csp-form"
                           name-suffix="main.cspForm" set-heading-level="h2"></cmp-error-summary>
        <div ng-if="main.showHCOnlySection()">
            <section class="panel panel-primary mrgn-tp-lg">
                <header class="panel-heading clearfix">
                    <h2 class="panel-title">{{::'HCONLY'|translate}}</h2>
                </header>
                <div class="panel-body">
                    <cmp-csp-hc-only record="main.cspModel.healthCanadaOnly" show-errors="main.showErrors()"
                                     update-error-summary="main.updateErrorSummary()">
                    </cmp-csp-hc-only>
                </div>
            </section>
        </div>

        <section class="panel panel-primary mrgn-tp-lg">
            <header class="panel-heading clearfix">
                <h2 class="panel-title">{{::'CSP_TITLE'|translate}}</h2>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 form-group">
                        <label for="enr-version-text_{{::$id}}">{{::"ENROL_VERSION"| translate}}</label>
                        <input type="text" class="form-control" id="enr-version-text_{{::$id}}"
                               ng-readonly="true"
                               ng-model="main.cspModel.enrolmentVersion"/>
                    </div>
                    <div class="col-xs-12 col-sm-6 form-group">
                        <label for="date-saved-text_{{::$id}}">{{::"DATE_SAVED"| translate}}
                            <input type="text" class="form-control" id="date-saved-text_{{::$id}}"
                                   ng-model="main.cspModel.dateSaved" ng-readonly="true"/>
                        </label>
                        <button title="{{::'VERSION_INSTRUCT'|translate}}" class="btn rep-help-button-primary btn-xs"
                                id="version-instructions-toggle" ng-click="main.addInstruct(1)"><span
                                class="fa fa-question-circle fa-2x"></span><span class="wb-inv">"{{::'VERSION_INSTRUCT'|translate}}"</span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <cmp-alert  ui-state="main.alerts[1]" msg="VERSION_INSTRUCT_CLOSE" update-state="main.toggleAlert(1)" type="alert-info">
                            <section aria-live="assertive">
                                <div ng-if="!main.isFrench()"
                                     ng-include="'app/scripts/templates/csp/tpl-csp-saveVersion-en.html'">
                                </div>
                                <div ng-if="main.isFrench()"
                                     ng-include="'app/scripts/templates/csp/tpl-csp-saveVersion-fr.html'">
                                </div>
                            </section>
                        </cmp-alert>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h3>1.&nbsp;{{::'APPL_TITLE'|translate}}</h3>
                    </div>
                </div>
                <div>
                    <cmp-csp-applicant-list add-applicant="main.modelService.addApplicantToModel()"
                                            record="main.cspModel.applicant"
                                            delete-applicant="main.modelService.deleteApplicant()"
                                            show-errors="main.showErrors()"
                                            update-error-summary="main.updateErrorSummary()">

                    </cmp-csp-applicant-list>
                </div>
                <div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>2.&nbsp;{{::'PATENT_TITLE'|translate}}
                                <button title="{{::'HELP_PATENT'|translate}}" class="btn rep-help-button-primary btn-xs"
                                        ng-click="main.addInstruct(2)"><span
                                        class="fa fa-question-circle fa-2x"></span><span class="wb-inv">"{{::'HELP_PATENT'|translate}}"</span>
                                </button>
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <cmp-alert  ui-state="main.alerts[2]" msg="PATENT_INSTRUCT" update-state="main.toggleAlert(2)" type="alert-info">
                                <section aria-live="assertive">
                                    <div ng-if="!main.isFrench()"
                                         ng-include="'app/scripts/templates/csp/tpl-csp-patent-en.html'">
                                    </div>
                                    <div ng-if="main.isFrench()"
                                         ng-include="'app/scripts/templates/csp/tpl-csp-patent-fr.html'">
                                    </div>
                                </section>
                            </cmp-alert>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <cmp-csp-patent record="main.cspModel.patent" show-errors="main.showErrors()"
                                            language="main.lang"
                                            update-error-summary="main.updateErrorSummary()"></cmp-csp-patent>
                        </div>
                    </div>
                </div>
                <div>
                    <cmp-csp-main-application record="main.cspModel.applicationInfo" show-errors="main.showErrors()"
                                              update-error-summary="main.updateErrorSummary()"
                                              drug-uses="main.drugUseList"></cmp-csp-main-application>
                </div>
                <div>
                    <cmp-csp-timely-submission record="main.cspModel.timelySubmission"
                                               show-errors="main.showErrors()"
                                               update-error-summary="main.updateErrorSummary()">
                    </cmp-csp-timely-submission>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <h3>9.&nbsp;{{::'FEE_TITLE'|translate}}
                            <button title="{{::'HELP_FEE'|translate}}" class="btn rep-help-button-primary btn-xs"
                                    ng-click="main.addInstruct(3)"><span
                                    class="fa fa-question-circle fa-2x"></span><span class="wb-inv">"{{::'HELP_FEE'|translate}}"</span>
                            </button>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <cmp-alert  ui-state="main.alerts[3]" msg="FEE_INSTRUCT" update-state="main.toggleAlert(3)" type="alert-info">
                            <section aria-live="assertive">
                                <div ng-if="!main.isFrench()"
                                     ng-include="'app/scripts/templates/csp/tpl-csp-fee-en.html'">
                                </div>
                                <div ng-if="main.isFrench()"
                                     ng-include="'app/scripts/templates/csp/tpl-csp-fee-fr.html'">
                                </div>
                            </section>
                        </cmp-alert>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <cmp-csp-fee-payment record="main.cspModel.payment" show-errors="main.showErrors()"
                                             update-error-summary="main.updateErrorSummary()"
                                             payment-types="main.paymentType"></cmp-csp-fee-payment>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h3>10.&nbsp;{{::'CERT_TITLE'|translate}}
                            <button title="{{::'HELP_CERT'|translate}}" class="btn rep-help-button-primary btn-xs"
                                    ng-click="main.addInstruct(4)"><span
                                    class="fa fa-question-circle fa-2x"></span><span class="wb-inv">"{{::'HELP_FEE'|translate}}"</span>
                            </button>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <cmp-alert  ui-state="main.alerts[4]" msg="CERT_INSTRUCT" update-state="main.closeAlert(4)" type="alert-info">
                            <section aria-live="assertive">
                                <div ng-if="!main.isFrench()"
                                     ng-include="'app/scripts/templates/csp/tpl-csp-cert-en.html'">
                                </div>
                                <div ng-if="main.isFrench()"
                                     ng-include="'app/scripts/templates/csp/tpl-csp-cert-fr.html'">
                                </div>
                            </section>
                        </cmp-alert>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <cmp-csp-certification record="main.cspModel.certification" language="main.lang"
                                               update-error-summary="main.updateErrorSummary()"
                                               show-errors="main.showErrors()"></cmp-csp-certification>
                    </div>
                </div>
            </div>
            <!-- </div>-->
        </section>
        <div class="row btn-group-sm">
            <div class="form-group col-md-4">
                <button class="btn btn-default btn-lg active" id="btn_draftSave" ng-click="main.saveJson()">
                    {{::'SAVE_WORKING' |translate}}
                </button>
            </div>
            <div class="form-group col-md-4">
                <button class="btn btn-primary btn-lg active" id="btn_xmlSave" ng-click="main.saveXML()">
                    {{main.saveXMLLabel |translate}}
                </button>
            </div>
        </div>
        <div class="row">
            <tr>
                <br><h>{{::'DISCLAIMER'|translate}}</h>
            </tr>
        </div>
        <div>
        </div>
        <!-- <pre>{{main.cspModel|json}}</pre>-->
    </ng-form>
</div>