<ng-form name="countryListCtrl.countryListForm">
      <!--input type="text" required data-ng-show="false" name="{{::countryListCtrl.noCountryId}}" id="{{::countryListCtrl.noCountryId}}"
                               aria-hidden="true" data-ng-model="countryListCtrl.noCountries"/-->
    <cmp-expanding-table pre-id="country_list_" reset-to-collapsed="countryListCtrl.resetToCollapsed"
                         list-items="countryListCtrl.model.list" id="country_table_{{::$id}}"
                         column-def="countryListCtrl.columnDef" select-record="countryListCtrl.selectRecord"
                         is-required-record="countryListCtrl.requiredFlag"
                         disable-selection="countryListCtrl.disableAddButton()">

        <cmp-country-record record="$parent.record" fieldset-label="{{countryListCtrl.fieldLabel}}" is-focus="countryListCtrl.isFocus" cancel-focus="countryListCtrl.cancelFocus();"
                            on-delete="countryListCtrl.deleteRecord(id)" show-errors="countryListCtrl.showDetailErrors"
                            country-list="countryListCtrl.countryList" update-record="countryListCtrl.updateRecord()" update-country-list="countryListCtrl.updateCountryList"></cmp-country-record>
    </cmp-expanding-table>
    <div class="mrgn-tp-md mrgn-bttm-lg">
        <div class="btn-group-sm col-md-12">
            <button class="btn btn-primary" data-ng-click="countryListCtrl.addNew(); countryListCtrl.setFocus();" name="addCountry_{{::$id}}" id="addCountry_{{::$id}}"
                    data-ng-disabled="countryListCtrl.disableAddButton()">{{::countryListCtrl.addButtonLabel | translate}}
            </button>
        </div>
    </div>
    <!--<pre>CountryList items: {{countryListCtrl.model.list}}</pre>-->
</ng-form>