<ng-form name="countryListCtrl.countryListForm">
      <input type="text" required ng-show="false" name="{{::countryListCtrl.noCountryId}}" id="{{::countryListCtrl.noCountryId}}"
                               aria-hidden="true" data-ng-model="countryListCtrl.noCountries"/>
    <cmp-expanding-table title="" reset-to-collapsed="countryListCtrl.resetToCollapsed"
                         list-items="countryListCtrl.model.list"
                         column-def="countryListCtrl.columnDef" select-record="countryListCtrl.selectRecord"
                         disable-selection="countryListCtrl.disableAddButton()">

        <cmp-country-record record="$parent.record" fieldset-label="{{countryListCtrl.fieldLabel}}"
                            on-delete="countryListCtrl.deleteRecord(id)" show-errors="countryListCtrl.showDetailErrors"
                            country-list="countryListCtrl.countryList"></cmp-country-record>
    </cmp-expanding-table>
    <div class="mrgn-tp-md mrgn-bttm-lg">
        <div class="btn-group-sm col-md-12 text-right">
            <button class="btn btn-primary" ng-click="countryListCtrl.addNew()" name="addCountry_{{::$id}}" id="addCountry_{{::$id}}"
                    ng-disabled="countryListCtrl.disableAddButton()">{{'ADD_A'|translate}}&nbsp;{{countryListCtrl.fieldLabel|translate}}
            </button>
        </div>
    </div>
    <!--<pre>CountryList items: {{countryListCtrl.model.list}}</pre>-->
</ng-form>