<div class="container-fluid">
    <ng-form name="$ctrl.productDetailsForm">
        <fieldset>
            <legend>{{'CDN_REF_PRODUCT'|translate}}&nbsp{{$ctrl.recordIndex+1}}</legend>
            <div class="row">
                <div class="col-md-4 form-group" ng-class="{'has-error':$ctrl.productDetailsForm.brandName.$invalid}">
                    <label for="brand-name_{{::$id}}" class="required"><span
                            class="field-name">{{'BRAND_NAME'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong>
                        <input type="text" id="brand-name_{{::$id}}" data-ng-model="$ctrl.productModel.brandName"
                               class="form-control full-width" name="brandName" ng-required="true" maxlength="60"
                               size="60"/>
                        <strong id="brand-error" class="error"
                                ng-if="$ctrl.showError($ctrl.productDetailsForm.brandName)">
                        <span class="label label-danger" ng-messages="$ctrl.productDetailsForm.brandName.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
                        </strong>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 form-group"
                     ng-class="{'has-error':$ctrl.productDetailsForm.ingredName.$invalid}">
                    <label for="ref-ing-name_{{::$id}}" class="required"><span class="field-name">{{'MEDICINAL_INGREDIENT'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong>
                        <div class="rep-margin-top">
                            <input type="text" ng-model="$ctrl.productModel.ingLabel" name="ingredName"
                                   id="ref-ing-name_{{::$id}}" size="100" maxlength="100"
                                   uib-typeahead=" rec.label for rec in $ctrl.activeList | filter:{label:$viewValue} | limitTo:15"
                                   class="form-control rep-normal-font" typeahead-show-hint="true"
                                   typeahead-min-length="1" required typeahead-no-results="$ctrl.newIngred"
                                   typeahead-on-select="$ctrl.ingredSelectionUpdated($item, $model, $label, $event)"
                                   typeahead-popup-template-url="app/lib/uib-templates/customPopupTemplate.html"/>
                        </div>
                        <strong id="medIngred-error" class="error"
                                ng-if="$ctrl.showError($ctrl.productDetailsForm.ingredName)">
                        <span class="label label-danger" ng-messages="$ctrl.productDetailsForm.ingredName.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
                        </strong>
                    </label>
                </div>
                <div class="col-md-3 form-group" ng-class="{'has-error':$ctrl.productDetailsForm.strengths.$invalid}">
                    <label for="strength_{{::$id}}" class="required"><span
                            class="field-name">{{'STRENGTH'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong>
                        <input type="number" id="strength_{{::$id}}" data-ng-model="$ctrl.productModel.strengths"
                               class="form-control full-width" name="strengths" ng-required="true" ng-min="0"/>
                        <strong id="strengths-error" class="error"
                                ng-if="$ctrl.showError($ctrl.productDetailsForm.strengths)">
                        <span class="label label-danger" ng-messages="$ctrl.productDetailsForm.strengths.$error">
                            <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                            <span ng-message="number"><span translate="MSG_ERR_INVALID_NUM"></span></span>
                             <span ng-message="min"><span translate="MSG_ERR_INVALID_NUM_MIN0"></span></span>
                        </span>
                        </strong>
                    </label>
                </div>
            </div>
            <div class="row">

                <div class="form-group col-md-3">
                    <label for="units_{{::$id}}" class="required full-width">
                        <span class="field-name">{{'UNITS'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong>

                        <div class="rep-pad-top">
                            <div class="rep-error" ng-class="{'has-error':$ctrl.productDetailsForm.nmUnits.$invalid}">
                                <ui-select ng-model="$ctrl.productModel.units" id="units_{{::$id}}" name="nmUnits"
                                           class="rep-selectize-font full-width" required>
                                    <ui-select-match placeholder="{{'UNITS_SRCH' |translate}}"
                                                     class="rep-selectize-font form-control">
                                        {{$select.selected[$ctrl.lang]}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="unitValue in $ctrl.unitsList | filter: {[$ctrl.lang]:$select.search}"
                                            class="rep-selectize-font">
                                        <span ng-bind-html="unitValue[$ctrl.lang] | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <strong id="units-error" class="error"
                                ng-if="$ctrl.showError($ctrl.productDetailsForm.nmUnits)">
                        <span class="label label-danger"
                              ng-messages="$ctrl.productDetailsForm.nmUnits.$error">
                            <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                        </span>
                        </strong>
                    </label>
                </div>
                <div class="form-group col-md-4" ng-show="$ctrl.isUnitsOther()"
                     ng-class="{'has-error':$ctrl.productDetailsForm.otherUnits.$invalid}">
                    <label for="otherUnits_{{::$id}}" class="required"><span class="field-name">{{'OTHER_UNITS'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong>
                        <input type="text" id="otherUnits_{{::$id}}" data-ng-model="$ctrl.productModel.otherUnits"
                               size="40" class="form-control" name="otherUnits"
                               maxlength="40" ng-required="$ctrl.isUnitsOther()"/>
                        <strong id="unitsOther-error" class="error"
                                ng-if="$ctrl.showError($ctrl.productDetailsForm.otherUnits)">
                        <span class="label label-danger" ng-messages="$ctrl.productDetailsForm.otherUnits.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
                        </strong>
                    </label>
                </div>
                <div class="form-group col-md-4">
                    <label for="per"><span class="field-name">{{'PER_STRENGTH'|translate}}</span>
                        <input type="text" id="per" data-ng-model="$ctrl.productModel.per"
                               class="form-control" name="perVal" maxlength="40" size="40"/>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 form-group">
                    <label for="dosage-form_{{::$id}}" class="required full-width">
                        <span class="field-name">{{'DOSAGE_FORM'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong>
                        <div class="rep-margin-top">
                            <div class="rep-error"
                                 ng-class="{'has-error':$ctrl.productDetailsForm.dosageForm.$invalid}">
                                <ui-select ng-model="$ctrl.productModel.dosageForm" id="dosage-form_{{::$id}}"
                                           name="dosageForm" class="rep-selectize-font full-width" ng-disabled="false"
                                           title="Choose a dosage form" required>
                                    <ui-select-match placeholder="Select or Search for a dosage form"
                                                     class="rep-selectize-font rep-selectize-dropdown form-control">
                                        {{$select.selected[$ctrl.lang]}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="formType in $ctrl.dosageFormList | filter: {[$ctrl.lang]:$select.search}"
                                            class="rep-selectize-font">
                                        <span ng-bind-html="formType[$ctrl.lang] | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <strong id="dosageForm-error" class="error"
                                ng-if="$ctrl.showError($ctrl.productDetailsForm.dosageForm)">
                        <span class="label label-danger" ng-messages="$ctrl.productDetailsForm.dosageForm.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
                        </strong>
                    </label>
                </div>
                <div class="col-md-5 form-group" ng-class="{'has-error':$ctrl.productDetailsForm.dosageOther.$invalid}"
                     ng-show="$ctrl.isDosageOther()">
                    <label for="dosage-form-other_((::$id}}" class="required">
                        <span class="field-name">{{'DOSAGE_FORM_OTHER'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong>
                        <input type="text" id="dosage-form-other_((::$id}}"
                               data-ng-model="$ctrl.productModel.dosageFormOther"
                               class="form-control" name="dosageOther" ng-required="$ctrl.isDosageOther()"
                               maxlength="60" size="60"/>
                        <strong id="dosageOther-error" class="error"
                                ng-if="$ctrl.showError($ctrl.productDetailsForm.dosageOther)">
                        <span class="label label-danger" ng-messages="$ctrl.productDetailsForm.dosageOther.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
                        </strong>
                    </label>
                </div>

                <div class="col-md-12 form-group"
                     ng-class="{'has-error':$ctrl.productDetailsForm.companyName.$invalid}">
                    <label for="company-name_{{::$id}}" class="required"><span
                            class="field-name">{{'COMPANY_NOABBREV'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong></label>
                    <input type="text" id="company-name_{{::$id}}" data-ng-model="$ctrl.productModel.companyName"
                           class="form-control" name="companyName" ng-required="true" maxlength="60"
                           size="60"/>
                    <strong id="companyName-error" class="error"
                            ng-if="$ctrl.showError($ctrl.productDetailsForm.companyName)">
                        <span class="label label-danger" ng-messages="$ctrl.productDetailsForm.companyName.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
                    </strong>
                </div>
            </div>
            <!--    <pre>productModel : {{$ctrl.productModel | json}}</pre>-->
        </fieldset>

        <div class="row">

            <div class="btn-group-sm col-xs-12 text-right">
                <button class="btn btn-primary"
                        ng-click="$ctrl.saveProduct()" name="saveRef" id="saveRef">{{'SAVE'|translate}}
                </button>
                <button ng-if="$ctrl.deleteBtn === true" class="btn btn-danger" ng-click="$ctrl.delete()" name="deleteRef" id="deleteRef">
                    {{'DELETE'|translate}}
                </button>
                <button class="btn btn-default" id="discardRef" name="discrardRef"
                       ng-click="$ctrl.discardChanges()"> {{'DISCARD_CHANGES'|translate}}
                </button>
            </div>
        </div>
    </ng-form>
</div>