<div class="container-fluid">
    <ng-form name="refProdCtrl.productDetailsForm" id="{{::refProdCtrl.repProductFormId}}">
        <cmp-error-summary form-ref="refProdCtrl.productDetailsForm" show-errors="refProdCtrl.showRecordSummary()"
                           form-id="refProdCtrl.repProductFormId"
                           form-preamble="{{::'CDN_REF_PRODUCT'|translate}}&nbsp{{refProdCtrl.recordIndex+1}}"
                           name-suffix="refProdCtrl.productDetailsForm" set-heading-level="h3"
                           make-focused="refProdCtrl.setSummaryFocus" alias-list="addressRec.alias"
                           update-errors="refProdCtrl.updateSummary"></cmp-error-summary>

        <fieldset>
            <legend>{{::'CDN_REF_PRODUCT'|translate}}&nbsp{{refProdCtrl.recordIndex+1}}</legend>
            <div class="row">
                <div class="col-md-4 form-group" ng-class="{'has-error':refProdCtrl.productDetailsForm[refProdCtrl.brandId].$invalid}">
                    <label for="{{::refProdCtrl.brandId}}" class="required"><span
                            class="field-name">{{::'BRAND_NAME'|translate}}</span>
                        <strong class="required">{{::"REQUIRED" |translate}}</strong>
                        <input type="text" id="{{::refProdCtrl.brandId}}" data-ng-model="refProdCtrl.productModel.brandName"
                               class="form-control full-width" name="{{::refProdCtrl.brandId}}" required maxlength="60"
                               size="60"/>
                        <cmp-error-message field-name="refProdCtrl.brandId" form-ref="refProdCtrl.productDetailsForm"
                                           show-error="refProdCtrl.showError(refProdCtrl.productDetailsForm[refProdCtrl.brandId])"
                                           error-types="refProdCtrl.requiredOnly"></cmp-error-message>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 form-group"
                     ng-class="{'has-error':refProdCtrl.productDetailsForm[refProdCtrl.ingredNameId].$invalid}">
                    <label for="{{::refProdCtrl.ingredNameId}}" class="required"><span class="field-name">{{::'MEDICINAL_INGREDIENT'|translate}}</span>
                        <strong class="required">{{::"REQUIRED" |translate}}</strong>
                        <div class="rep-margin-top">
                            <input type="text" ng-model="refProdCtrl.productModel.ingLabel" name="{{::refProdCtrl.ingredNameId}}"
                                   id="{{::refProdCtrl.ingredNameId}}" size="100" maxlength="100"
                                   uib-typeahead=" rec.label for rec in refProdCtrl.activeList | filter:{label:$viewValue} | limitTo:15"
                                   class="form-control rep-normal-font" typeahead-show-hint="true"
                                   ng-change="refProdCtrl.ingredSelectionUpdated($item, $model, $label, $event)"
                                   typeahead-min-length="1" required typeahead-no-results="refProdCtrl.newIngred"
                                   typeahead-on-select="refProdCtrl.ingredSelectionUpdated($item, $model, $label, $event)"
                                   typeahead-popup-template-url="app/lib/uib-templates/customPopupTemplate.html"/>
                        </div>
                        <cmp-error-message field-name="refProdCtrl.ingredNameId" form-ref="refProdCtrl.productDetailsForm"
                                           show-error="refProdCtrl.showError(refProdCtrl.productDetailsForm[refProdCtrl.ingredNameId])"
                                           error-types="refProdCtrl.requiredOnly"></cmp-error-message>
                    </label>
                </div>
                <div class="col-md-3 form-group" ng-class="{'has-error':refProdCtrl.productDetailsForm[refProdCtrl.strengthId].$invalid}">
                    <label for="{{::refProdCtrl.strengthId}}" class="required"><span
                            class="field-name">{{::'STRENGTH'|translate}}</span>
                        <strong class="required">{{::"REQUIRED" |translate}}</strong>
                        <input type="number" id="{{::refProdCtrl.strengthId}}" data-ng-model="refProdCtrl.productModel.strengths"
                               class="form-control full-width" name="{{::refProdCtrl.strengthId}}" required ng-min="0"/>

                        <cmp-error-message field-name="refProdCtrl.strengthId" form-ref="refProdCtrl.productDetailsForm"
                                           show-error="refProdCtrl.showError(refProdCtrl.productDetailsForm[refProdCtrl.strengthId])"
                                           error-types="refProdCtrl.numberError"></cmp-error-message>
                    </label>
                </div>
            </div>
            <div class="row">

                <div class="form-group col-md-3">
                    <label for="{{::refProdCtrl.unitsId}}" class="required full-width">
                        <span class="field-name">{{::'UNITS'|translate}}</span>
                        <strong class="required">{{::"REQUIRED" |translate}}</strong>

                        <div class="rep-pad-top">
                            <div class="rep-error" ng-class="{'has-error':refProdCtrl.productDetailsForm[refProdCtrl.unitsId].$invalid}">
                                <ui-select ng-model="refProdCtrl.productModel.units" id="{{::refProdCtrl.unitsId}}" name="{{::refProdCtrl.unitsId}}"
                                           class="rep-selectize-font full-width" required>
                                    <ui-select-match placeholder="{{::'UNITS_SRCH' |translate}}"
                                                     class="rep-selectize-font form-control">
                                        {{$select.selected[refProdCtrl.lang]}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="unitValue in refProdCtrl.unitsList | filter: {[refProdCtrl.lang]:$select.search}"
                                            class="rep-selectize-font">
                                        <span ng-bind-html="unitValue[refProdCtrl.lang] | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <cmp-error-message field-name="refProdCtrl.strengthId" form-ref="refProdCtrl.productDetailsForm"
                                           show-error="refProdCtrl.showError(refProdCtrl.productDetailsForm[refProdCtrl.unitsId])"
                                           error-types="refProdCtrl.requiredOnly"></cmp-error-message>
                    </label>
                </div>
                <div class="form-group col-md-4" ng-show="refProdCtrl.isUnitsOther()"
                     ng-class="{'has-error':refProdCtrl.productDetailsFormref[refProdCtrl.otherId].$invalid}">
                    <label for="{{::refProdCtrl.otherId}}" class="required"><span class="field-name">{{::'OTHER_UNITS'|translate}}</span>
                        <strong class="required">{{::"REQUIRED" |translate}}</strong>
                        <input type="text" id="{{::refProdCtrl.otherId}}" data-ng-model="refProdCtrl.productModel.otherUnits"
                               size="40" class="form-control" name="{{::refProdCtrl.otherId}}"
                               maxlength="40" ng-required="refProdCtrl.isUnitsOther()"/>
                        <cmp-error-message field-name="refProdCtrl.otherId" form-ref="refProdCtrl.productDetailsForm"
                                           show-error="refProdCtrl.showError(refProdCtrl.productDetailsForm[refProdCtrl.otherId])"
                                           error-types="refProdCtrl.requiredOnly"></cmp-error-message>
                    </label>
                </div>
                <div class="form-group col-md-4">
                    <label for="{{::refProdCtrl.perId}}"><span class="field-name">{{::'PER_STRENGTH'|translate}}</span>
                        <input type="text" id="{{::refProdCtrl.perId}}" data-ng-model="refProdCtrl.productModel.per"
                               class="form-control" name="{{::refProdCtrl.perId}}" maxlength="40" size="40"/>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 form-group">
                    <label for="{{::refProdCtrl.dosageFormId}}" class="required full-width">
                        <span class="field-name">{{::'DOSAGE_FORM'|translate}}</span>
                        <strong class="required">{{::"REQUIRED" |translate}}</strong>
                        <div class="rep-margin-top">
                            <div class="rep-error"
                                 ng-class="{'has-error':refProdCtrl.productDetailsForm[refProdCtrl.dosageFormId].$invalid}">
                                <ui-select ng-model="refProdCtrl.productModel.dosageForm" id="{{::refProdCtrl.dosageFormId}}"
                                           name="{{::refProdCtrl.dosageFormId}}" class="rep-selectize-font full-width"
                                           title="Choose a dosage form" required>
                                    <ui-select-match placeholder="Select or Search for a dosage form"
                                                     class="rep-selectize-font rep-selectize-dropdown form-control">
                                        {{$select.selected[refProdCtrl.lang]}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="formType in refProdCtrl.dosageFormList | filter: {[refProdCtrl.lang]:$select.search}"
                                            class="rep-selectize-font">
                                        <span ng-bind-html="formType[refProdCtrl.lang] | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <cmp-error-message field-name="refProdCtrl.dosageFormId" form-ref="refProdCtrl.productDetailsForm"
                                           show-error="refProdCtrl.showError(refProdCtrl.productDetailsForm[refProdCtrl.dosageFormId])"
                                           error-types="refProdCtrl.requiredOnly"></cmp-error-message>
                    </label>
                </div>
                <div class="col-md-5 form-group" ng-class="{'has-error':refProdCtrl.productDetailsForm[refProdCtrl.dosageFormOtherId].$invalid}"
                     ng-show="refProdCtrl.isDosageOther()">
                    <label for="{{::refProdCtrl.dosageFormOtherId}}" class="required">
                        <span class="field-name">{{::'DOSAGE_FORM_OTHER'|translate}}</span>
                        <strong class="required">{{::"REQUIRED" |translate}}</strong>
                        <input type="text" id="{{::refProdCtrl.dosageFormOtherId}}"
                               data-ng-model="refProdCtrl.productModel.dosageFormOther"
                               class="form-control" name="{{::refProdCtrl.dosageFormOtherId}}" ng-required="refProdCtrl.isDosageOther()"
                               maxlength="60" size="60"/>
                        <cmp-error-message field-name="refProdCtrl.dosageFormOtherId" form-ref="refProdCtrl.productDetailsForm"
                                           show-error="refProdCtrl.showError(refProdCtrl.productDetailsForm[refProdCtrl.dosageFormOtherId])"
                                           error-types="refProdCtrl.requiredOnly"></cmp-error-message>
                    </label>
                </div>

                <div class="col-md-12 form-group"
                     ng-class="{'has-error':refProdCtrl.productDetailsForm[refProdCtrl.companyId].$invalid}">
                    <label for="{{::refProdCtrl.companyId}}" class="required"><span
                            class="field-name">{{::'COMPANY_NOABBREV'|translate}}</span>
                        <strong class="required">{{::"REQUIRED" |translate}}</strong></label>
                    <input type="text" id="{{::refProdCtrl.companyId}}" data-ng-model="refProdCtrl.productModel.companyName"
                           class="form-control" name="{{::refProdCtrl.companyId}}" required maxlength="60"
                           size="60"/>
                    <cmp-error-message field-name="refProdCtrl.companyId" form-ref="refProdCtrl.productDetailsForm"
                                       show-error="refProdCtrl.showError(refProdCtrl.productDetailsForm[refProdCtrl.companyId])"
                                       error-types="refProdCtrl.requiredOnly"></cmp-error-message>
                </div>
            </div>
            <!--    <pre>productModel : {{refProdCtrl.productModel | json}}</pre>-->
        </fieldset>

        <div class="row">

            <div class="btn-group-sm col-xs-12 text-right">
                <button class="btn btn-primary"
                        ng-click="refProdCtrl.saveProduct()" name="saveRef" id="saveRef">{{::'SAVE'|translate}}
                </button>
                <button ng-if="refProdCtrl.deleteBtn === true" class="btn btn-danger" ng-click="refProdCtrl.delete()" name="deleteRef" id="deleteRef">
                    {{::'DELETE'|translate}}
                </button>
                <button class="btn btn-default" id="discardRef" name="discrardRef"
                       ng-click="refProdCtrl.discardChanges()"> {{::'DISCARD_CHANGES'|translate}}
                </button>
            </div>
        </div>
    </ng-form>
</div>