<ng-form name="crpl.cdn_ref_list_form">
    <input type="hidden"  name="{{::crpl.oneCdnRefId}}" id="{{::crpl.oneCdnRefId}}"
           ng-model="crpl.oneRefSelected" required/>
    <cmp-expanding-table title="{{::'REF_PRODUCTS'|translate}}" list-items="crpl.productList"
                         column-def="crpl.colNames" select-record="crpl.selectRecord"
                         reset-to-collapsed="crpl.resetToCollapsed"
                         disable-selection="!crpl.isDetailValid">
        <cmp-ref-product-details product-record="$parent.record" on-update="crpl.updateProduct($parent.$index,product)"
                                 on-delete="crpl.deleteProduct($parent.$index)"
                                 show-error-summary="crpl.showSummmary"
                                 is-detail-valid="crpl.setValid(state)" record-index="$parent.$index"
                                 delete-btn="true"></cmp-ref-product-details>

    </cmp-expanding-table>
    <div name="new-cdnRef-record">
        <cmp-ref-product-details ng-if="crpl.newProductFormShown===true" on-add-product="crpl.addProduct(product)"
                                 record-index="crpl.productList.length" on-cancel="crpl.onNewCancel()"
                                 show-error-summary="crpl.showSummmary"
                                 delete-btn="false"></cmp-ref-product-details>

    </div>
    <div class="mrgn-tp-md mrgn-bttm-lg">
        <div class="btn-group-sm col-md-12 text-right">
            <button class="btn btn-primary" data-ng-disabled="crpl.addNewDisabled()" id="addRefProductBtn"
                    ng-click="crpl.addNewProductState()">{{::'ADD_CRP'|translate}}
            </button>
        </div>
    </div>
</ng-form>


