<!DOCTYPE html><!--[if lt IE 9]>
<html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]--><!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>
        Activity Enrolment Form for Health Canada
    </title>
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <!-- Meta data -->
    <meta name="description"
          content="Web Experience Toolkit (WET) includes reusable components for building and maintaining innovative Web sites that are accessible, usable, and interoperable. These reusable components are open source software and free for use by departments and external Web communities">
    <meta name="dcterms.title"
          content="Content page - No search, language toggle, site menu or breadcrumb trail - Web Experience Toolkit">
    <meta name="dcterms.creator" content="French name of the content author / Nom en français de l'auteur du contenu">
    <meta name="dcterms.issued" title="W3CDTF" content="Date published (YYYY-MM-DD) / Date de publication (AAAA-MM-JJ)">
    <meta name="dcterms.modified" title="W3CDTF"
          content="Date modified (YYYY-MM-DD) / Date de modification (AAAA-MM-JJ)">
    <meta name="dcterms.subject" title="scheme" content="French subject terms / Termes de sujet en français">
    <meta name="dcterms.language" title="ISO639-2" content="eng">
    <!-- Meta data-->
    <!--[if gte IE 9 | !IE ]><!-->
    <link href="./theme-gcwu-fegc/assets/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="./theme-gcwu-fegc/css/theme.min.css">
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <link href="./theme-gcwu-fegc/assets/favicon.ico" rel="shortcut icon"/>
    <link rel="stylesheet" href="./theme-gcwu-fegc/css/ie8-theme.min.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="./wet-boew/js/ie8-wet-boew.min.js"></script>
    <![endif]-->
    <noscript>
        <link rel="stylesheet" href="./wet-boew/css/noscript.min.css"/>
    </noscript>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body vocab="http://schema.org/" typeof="WebPage" ng-app="activityApp">
<ul id="wb-tphp">
    <li class="wb-slc">
        <a class="wb-sl" href="#wb-cont">Skip to main content</a>
    </li>
    <li class="wb-slc visible-sm visible-md visible-lg">
        <a class="wb-sl" href="#wb-info">Skip to "About this site"</a>
    </li>
</ul>
<header role="banner">
    <div id="wb-bnr">
        <div id="wb-bar">
            <div class="container">
                <div class="row">
                    <object id="gcwu-sig" type="image/svg+xml" tabindex="-1" role="img"
                            data="./theme-gcwu-fegc/assets/sig-en.svg" aria-label="Government of Canada"></object>
                    <ul id="gc-bar" class="list-inline">
                        <li><a href="http://www.canada.ca/en/index.html" rel="external">Canada.ca</a></li>
                        <li><a href="http://www.canada.ca/en/services/index.html" rel="external">Services</a></li>
                        <li><a href="http://www.canada.ca/en/gov/dept/index.html" rel="external">Departments</a></li>
                    </ul>
                    <section class="wb-mb-links col-xs-12 visible-sm visible-xs" id="wb-glb-mn">
                        <h2>Search and menus</h2>
                        <ul class="pnl-btn list-inline text-right">
                            <li><a href="#mb-pnl" title="Search and menus" aria-controls="mb-pnl"
                                   class="overlay-lnk btn btn-sm btn-default" role="button"><span
                                    class="glyphicon glyphicon-search"><span class="glyphicon glyphicon-th-list"><span
                                    class="wb-inv">Search and menus</span></span></span></a></li>
                        </ul>
                        <div id="mb-pnl"></div>
                    </section>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div id="wb-sttl" class="col-md-10">
                    <h1 class="hd1rep">Activity Regulatory Enrolment Process (REP)</h1>
                </div>
                <object id="wmms" type="image/svg+xml" tabindex="-1" role="img" data="./theme-gcwu-fegc/assets/wmms.svg"
                        aria-label="Symbol of the Government of Canada"></object>
            </div>
        </div>
    </div>
    <span data-trgt="mb-pnl" class="wb-menu hide"></span>
</header>
<main role="main" property="mainContentOfPage" class="container">
    <!--Company Enrol Content starts here -->

    <div>
        <ng-form id="reg-activity-form" name="main.activityEnrolForm" ng-controller="MainController as main"
                 novalidate="novalidate"
                 ng-init="main.initUser('INT')">
            <section class="panel panel-primary mrgn-tp-lg">
                <header class="panel-heading">
                    <h2 class="panel-title">{{'LOAD_ACTIVITY'|translate}}</h2>
                </header>
                <div class="panel-body">
                    <div class="col-md-12">

                        <hpfb-file-select update-model-root="main.showContent(fileContent) "
                                          root-elem="{{main.rootTag}}"/>
                    </div>
                </div>
                <div>
                </div>
            </section>
            <div>
                <section class="panel panel-primary mrgn-tp-lg">
                    <header class="panel-heading">
                        <h3 class="panel-title">{{'ACTIVE_ENROL' |translate}}</h3>
                    </header>
                    <div class="panel-body">


                        <cmp-application-info record="main.activityRoot" user-type="main.userType"
                                              is-incomplete="main.isIncomplete" set-type="main.setApplicationType(type)"
                                              configure-id-field="main.configField"></cmp-application-info>
                        <div class="row">
                            <div class="col-xs-3" ng-class="{'has-error':main.activityEnrolForm.companyId.$invalid}">
                                <div class="form-group">
                                    <label for="companyId_{{$id}}" class="required">
                                        <span class="field-name">{{'COMPANY_ID' |translate}}</span>
                                        <strong class="required"> {{"REQUIRED" |translate}}</strong>
                                        <input type="text" class="form-control" id="companyId_{{$id}}"
                                               maxlength="6" name="companyId" ng-minlength="6"
                                               ng-model="main.activityRoot.companyId" ng-required="true"/>
                                        <strong id="companyId-error" class="error">
                        <span class="label label-danger"
                              ng-if="main.showError(main.activityEnrolForm.companyId.$touched,main.activityEnrolForm.companyId.$invalid)"
                              ng-messages="main.activityEnrolForm.companyId.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                              <span ng-message="minlength"><span translate="MSG_LENGTH_6"></span></span>
                        </span>
                                        </strong>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="dossierId_{{$id}}" class="required">
                                    <span class="field-name">{{'DOSSIER_ID'|translate}}</span>
                                    <strong class="required"> {{"REQUIRED" |translate}}</strong>
                                    <div class="rep-input-group">
                                        <span class="input-group-addon">HC6-024-</span>
                                        <div ng-class="{'has-error':main.activityEnrolForm.dossierId.$invalid}">
                                            <input type="text" class="form-control full-width" id="dossierId_{{$id}}"
                                                   size="7"
                                                   maxlength="7" name="dossierId" ng-minlength="7" name="dossierId"
                                                   ng-model="main.activityRoot.dossierId" ng-required="true"/>
                                        </div>
                                    </div>
                                    <strong id="dossierId-error" class="error">
                        <span class="label label-danger"
                              ng-if="main.showError(main.activityEnrolForm.dossierId.$touched, main.activityEnrolForm.dossierId.$invalid)"
                              ng-messages="main.activityEnrolForm.dossierId.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                              <span ng-message="minlength"><span translate="MSG_LENGTH_7"></span></span>
                        </span>
                                    </strong>
                                </label>
                            </div>
                            <div class="col-xs-4" ng-class="{'has-error':main.activityEnrolForm.activityLead.$invalid}">
                                <div class="form-group">
                                    <label for="activityLead_{{$id}}" class="required">
                                        <span class="field-name"> {{'ACTIVITY_LEAD' |translate}}</span>
                                        <strong class="required"> {{"REQUIRED" |translate}}</strong>
                                        <select class="form-control" id="activityLead_{{$id}}"
                                                ng-options="lead |translate for lead in main.activityService.getActivityLeadList(1) | orderByTranslated"
                                                name="activityLead"
                                                ng-model="main.activityRoot.regActivityLead"
                                                ng-required="true"></select>
                                        <strong id="activityLead-error" class="error">
                        <span class="label label-danger"
                              ng-if="main.showError(main.activityEnrolForm.activityLead.$touched,main.activityEnrolForm.activityLead.$invalid)"
                              ng-messages="main.activityEnrolForm.activityLead.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
                                        </strong>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-xs-8"
                                 ng-class="{'has-error':main.activityEnrolForm.activityType.$invalid}">
                                <div class="form-group">
                                    <label for="regActivityType_{{$id}}" class="required">
                                        <span class="field-name">{{'ACTIVITY_TYPE' |translate}}</span>
                                        <strong class="required"> {{"REQUIRED" |translate}}</strong>
                                        <select class="form-control" id="regActivityType_{{$id}}"
                                                ng-options="activity |translate for activity in main.activityService.getActivityTypeList(1) | orderByTranslated"
                                                name="activityType" ng-model="main.activityRoot.regActivityType"
                                                ng-required="true"></select>
                                        <strong id="regActivityType-error" class="error">
                        <span class="label label-danger"
                              ng-if="main.showError(main.activityEnrolForm.activityType.$touched,main.activityEnrolForm.activityType.$invalid)"
                              ng-messages="main.activityEnrolForm.activityType.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
                                        </strong>
                                    </label>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6"
                                 ng-class="{'has-error':main.activityEnrolForm.feeClass.$invalid}">
                                <div class="form-group">
                                    <label for="feeClass_{{$id}}" class="required">
                                        <span class="field-name">{{'FEE_CLASS' |translate}}</span>
                                        <strong class="required"> {{"REQUIRED" |translate}}</strong>
                                        <select class="form-control" id="feeClass_{{$id}}"
                                                name="feeClass" ng-model="main.activityRoot.feeClass"
                                                ng-required="true">
                                            <option>Test 1</option>
                                            <option>Test 2</option>
                                        </select>
                                        <strong id="feeClass-error" class="error">
                        <span class="label label-danger"
                              ng-if="main.showError(main.activityEnrolForm.feeClass.$touched,main.activityEnrolForm.feeClass.$invalid)"
                              ng-messages="main.activityEnrolForm.feeClass.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
                                        </strong>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-class="{'has-error':main.activityEnrolForm.notlasa.$invalid}">
                            <div class="form-group col-xs-12">
                                <div class="checkbox required">
                                    <label for="chk-lasa_{{$id}}">
                                        <input type="checkbox" ng-model="main.activityRoot.notLasa" name="chkLasa"
                                               id="chk-lasa_{{$id}}"/>
                                        {{"NOT_LASA"|translate}}
                                        <strong class="required"> {{"REQUIRED" |translate}}</strong>
                                        <strong id="notlasa-error" class="error"
                                                ng-if="main.showErrorCheck(main.activityEnrolForm.chkLasa.$touched,main.activityRoot.notLasa)">
                 <span class="label label-danger">
                              <span ng-if="!main.activityRoot.notLasa">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
                                        </strong>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 form-group"
                                 ng-class="{'has-error':main.activityEnrolForm.reasonFiling.$invalid}">
                                <label for="reason-filing_{{$id}}" class="required">
                                    <span class="field-name">{{"REASON_FILE"|translate}}</span>
                                    <strong class="required"> {{"REQUIRED" |translate}}</strong>
                                    <strong id="reason-filing-error" class="error"
                                            ng-if="main.showError(main.activityEnrolForm.reasonFiling.$touched,main.activityEnrolForm.reasonFiling.$invalid)">
                                <span class="label label-danger"
                                      ng-messages="main.activityEnrolForm.reasonFiling.$error">
                                        <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                                </span>
                                    </strong>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <textarea ng-model="main.activityRoot.reasonFiling" name="reasonFiling"
                                          id="reason-filing_{{$id}}" ng-required="true" maxlength="1024"
                                          class="fullrep" rows="8"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12"
                                 ng-class="{'has-error':main.activityEnrolForm.isThirdParty.$invalid}">
                                <div class="col-xs-10">
                                    <label for="third-party_{{$id}}" class="required full-width">
                                        <span class="field-name">{{"IS_SOLICITED" |translate}}</span>
                                        <strong class="required"> {{"REQUIRED" |translate}}</strong>
                                        <strong id="isSolicited-error" class="error"
                                                ng-if="main.showError(main.activityEnrolForm.thirdParty.$touched,main.activityEnrolForm.thirdParty.$invalid)">
                         <span class="label label-danger" ng-messages="main.activityEnrolForm.thirdParty.$error">
                             <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                         </span>
                                        </strong>
                                    </label>
                                </div>
                                <div class="col-xs-2">
                                    <select id="third-party_{{$id}}" name="thirdParty"
                                            ng-model="main.activityRoot.isThirdParty"
                                            class="form-control"
                                            ng-change="main.setThirdParty()"
                                            ng-options="choice |translate for choice in main.yesNoList"
                                            required></select>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="main.thirdPartyState">
                            <div class="alert alert-info" role="alert" aria-live="polite">
                                {{'AUT_LETTER'|translate}}
                            </div>
                        </div>
                        <div class="row">
                            <cmp-related-activity-list activities="main.activityRoot.relatedActivity" on-update=""
                                                       get-new-activity="main.activityService.getNewActivity()"
                                                       activity-types="main.activityService.getActivityTypeList(isPilot)"
                                                       is-amend="" show-list-errrors=""></cmp-related-activity-list>
                        </div>
                        <div>
                            <cmp-activity-rationale
                                    activity-record="main.activityRoot.rationaleTypes"></cmp-activity-rationale>
                            <cmp-activity-change
                                    activity-record="main.activityRoot.notifiableChangeTypes"></cmp-activity-change>
                        </div>


                        <!--  <pre>overall: {{main.activityRoot.relatedActivity | json : spacing}}</pre>-->

                    </div>
                </section>
                <div>
                    <cmp-rep-contact-list contacts="main.activityRoot.contactRecord" on-update=""
                                          show-list-errors="main.showErrors()"
                                          parent-dirty="main.activityEnrolForm.$dirty"
                                          get-new-contact="main.activityService.createRepContact()"></cmp-rep-contact-list>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <button class="btn btn-primary btn-lg active" ng-click="main.saveJson()">
                            {{'SAVE_WORK' |translate}}
                        </button>
                    </div>
                    <div class="form-group col-md-3">
                        <button class="btn btn-default btn-lg active" ng-disabled="main.disableXML" id="btn_xmlSave"
                                ng-click="main.saveXML()">{{main.saveXMLLabel |translate}}
                        </button>
                    </div>
                </div>
                <!-- <pre>overall: {{main.activityRoot | json : spacing}}</pre>-->
            </div>
        </ng-form>
    </div>
    <!-end REP content->
    <dl id="wb-dtmd">
        <dt>Date modified:&#32;</dt>
        <dd>
            <time property="dateModified">2016-09-03</time>
        </dd>
    </dl>
</main>
<footer role="contentinfo" id="wb-info" class="visible-sm visible-md visible-lg wb-navcurr">
    <div class="container">
        <nav role="navigation">
            <h2>About this site</h2>
            <!--  <ul id="gc-tctr" class="list-inline">
                  <li><a rel="license" href="http://wet-boew.github.io/wet-boew/License-en.html">Terms and conditions</a>
                  </li>
                  <li><a href="http://www.tbs-sct.gc.ca/tbs-sct/common/trans-eng.asp">Transparency</a></li>
              </ul>-->
            <div class="row">
                <!-- <section class="col-sm-3">
                     <h3>Contact us</h3>
                     <ul class="list-unstyled">
                         <li><a href="https://github.com/wet-boew/wet-boew/issues/new">Questions or comments?</a></li>
                     </ul>
                 </section>-->
                <!-- <section class="col-sm-3">
                     <h3>About</h3>
                     <ul class="list-unstyled">
                         <li><a href="http://wet-boew.github.io/v4.0-ci/index-en.html#about">About the Web Experience
                             Toolkit</a></li>
                         <li><a href="http://www.tbs-sct.gc.ca/ws-nw/index-eng.asp">About the Web Standards</a></li>
                     </ul>
                 </section>-->
                <!-- <section class="col-sm-3">
                     <h3>News</h3>
                     <ul class="list-unstyled">
                         <li><a href="https://github.com/wet-boew/wet-boew/pulse">Recent project activity</a></li>
                         <li><a href="https://github.com/wet-boew/wet-boew/graphs">Project statistics</a></li>
                     </ul>
                 </section>-->
                <!-- <section class="col-sm-3">
                     <h3>Stay connected</h3>
                     <ul class="list-unstyled">
                         <li><a href="https://twitter.com/WebExpToolkit">Twitter</a></li>
                     </ul>
                 </section>-->
            </div>
        </nav>
    </div>
    <div id="gc-info">
        <div class="container">
            <nav role="navigation">
                <h2>Government of Canada footer</h2>
                <ul class="list-inline">
                    <li><a href="http://healthycanadians.gc.ca"><span>Health</span></a></li>
                    <li><a href="http://travel.gc.ca"><span>Travel</span></a></li>
                    <li><a href="http://www.servicecanada.gc.ca/eng/home.shtml"><span>Service Canada</span></a></li>
                    <li><a href="http://www.jobbank.gc.ca"><span>Jobs</span></a></li>
                    <li><a href="http://actionplan.gc.ca/en"><span>Economy</span></a></li>
                    <li id="canada-ca"><a href="http://www.canada.ca/en/index.html">Canada.ca</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
<!--[if gte IE 9 | !IE ]><!-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<script src="./wet-boew/js/wet-boew.min.js"></script>
<!--<![endif]-->
<!--[if lt IE 9]>
<script src="./wet-boew/js/ie8-wet-boew2.min.js"></script>

<![endif]-->
<script src="./theme-gcwu-fegc/js/theme.min.js"></script>

<!-- dan added-->

<script src="app/lib/angular.min.js"></script>
<script src="app/lib/angular-messages.min.js"></script>
<script src="app/lib/angular-translate.min.js"></script>
<script src="app/lib/angular-translate-loader-static-files.min.js"></script>
<script src="app/lib/angular-sanitize.min.js"></script>

<script src="app/lib/angular-aria.min.js"></script>
<script src="app/scripts/activityApp.js"></script>
<script src="app/scripts/services/activity-service.js"></script>
<script src="app/scripts/services/application-info-service.js"></script>
<script src="app/scripts/components/applicationInfo/cmp-application-info.js"></script>
<script src="app/scripts/services/filter-lists.js"></script>
<script src="app/scripts/components/relatedActivityList/cmp-related-activity-list.js"></script>
<script src="app/scripts/components/relatedActivity/cmp-related-activity.js"></script>
<script src="app/scripts/components/dinDetails/cmp-din-details.js"></script>
<script src="app/scripts/directives/numberOnly/only-digits.js"></script>
<script src="app/scripts/components/repContactList/cmp-rep-contact-list.js"></script>
<script src="app/scripts/components/rep-contact-record/cmp-rep-contact-record.js"></script>

<script src="app/scripts/services/data-lists.js"></script>
<script src="app/scripts/components/contactDetails/cmp-contact-details.js"></script>
//TODO remove

<script src="app/scripts/components/cmp-contact-list.js"></script>
<script src="app/scripts/components/addressList/cmp-company-address-list.js"></script>
<script src="app/scripts/components/addressRecord/cmp-address-record.js"></script>
<script src="app/scripts/components/addressDetails/cmp-address-details.js"></script>
<script src="app/scripts/components/activityRationale/cmp-activity-rationale.js"></script>
<script src="app/scripts/components/activityChangeType/cmp-activity-change.js"></script>

<script src="app/scripts/components/contactRecord/cmp-contact-record.js"></script>
<script src="app/scripts/components/contactList/cmp-company-contact-list.js"></script>
<script src="app/scripts/components/expandingTable/cmp-expanding-table.js"></script>
<script src="app/scripts/components/expandingTable/track-record.js"></script>
<!-- <script> var app = angular.module('app', []); </script>-->
<!--File IO dependencie -->
<script src="app/scripts/components/fileIO/FileIO.hpfbFileReader.js"></script>
<script src="app/scripts/components/fileIO/xml2json.js"></script>
<script src="app/scripts/components/fileIO/sha256.js"></script>
<script src="app/scripts/components/fileIO/FileSaver.min.js"></script>
<link rel="stylesheet" href="./app/styles/rep.css ">
</body>
</html>