<!DOCTYPE html><!--[if lt IE 9]>
<html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]--><!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>
        Company Enrolment form for Health Canada
    </title>
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <!-- Meta data -->
    <meta name="description"
          content="Web Experience Toolkit (WET) includes reusable components for building and maintaining innovative Web sites that are accessible, usable, and interoperable. These reusable components are open source software and free for use by departments and external Web communities">
    <meta name="dcterms.title"
          content="Content page - No search, language toggle, site menu or breadcrumb trail - Web Experience Toolkit">
    <meta name="dcterms.creator" content="French name of the content author / Nom en français de l'auteur du contenu">
    <meta name="dcterms.issued" title="W3CDTF" content="Date published (YYYY-MM-DD) / Date de publication (AAAA-MM-JJ)">
    <meta name="dcterms.modified" title="W3CDTF"
          content="Date modified (YYYY-MM-DD) / Date de modification (AAAA-MM-JJ)">
    <meta name="dcterms.subject" title="scheme" content="French subject terms / Termes de sujet en français">
    <meta name="dcterms.language" title="ISO639-2" content="eng">
    <!-- Meta data-->
    <!--[if gte IE 9 | !IE ]><!-->
    <link href="./theme-gcwu-fegc/assets/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="./theme-gcwu-fegc/css/theme.min.css">
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <link href="./theme-gcwu-fegc/assets/favicon.ico" rel="shortcut icon"/>
    <link rel="stylesheet" href="./theme-gcwu-fegc/css/ie8-theme.min.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="./wet-boew/js/ie8-wet-boew.min.js"></script>
    <![endif]-->
    <noscript>
        <link rel="stylesheet" href="./wet-boew/css/noscript.min.css"/>
    </noscript>
</head>
<body vocab="http://schema.org/" typeof="WebPage" ng-app="dossierApp">
<ul id="wb-tphp">
    <li class="wb-slc">
        <a class="wb-sl" href="#wb-cont">Skip to main content</a>
    </li>
    <li class="wb-slc visible-sm visible-md visible-lg">
        <a class="wb-sl" href="#wb-info">Skip to "About this site"</a>
    </li>
</ul>
<header role="banner">
    <div id="wb-bnr">
        <div id="wb-bar">
            <div class="container">
                <div class="row">
                    <object id="gcwu-sig" type="image/svg+xml" tabindex="-1" role="img"
                            data="./theme-gcwu-fegc/assets/sig-en.svg" aria-label="Government of Canada"></object>
                    <ul id="gc-bar" class="list-inline">
                        <li><a href="http://www.canada.ca/en/index.html" rel="external">Canada.ca</a></li>
                        <li><a href="http://www.canada.ca/en/services/index.html" rel="external">Services</a></li>
                        <li><a href="http://www.canada.ca/en/gov/dept/index.html" rel="external">Departments</a></li>
                    </ul>
                    <section class="wb-mb-links col-xs-12 visible-sm visible-xs" id="wb-glb-mn">
                        <h2>Search and menus</h2>
                        <ul class="pnl-btn list-inline text-right">
                            <li><a href="#mb-pnl" title="Search and menus" aria-controls="mb-pnl"
                                   class="overlay-lnk btn btn-sm btn-default" role="button"><span
                                    class="glyphicon glyphicon-search"><span class="glyphicon glyphicon-th-list"><span
                                    class="wb-inv">Search and menus</span></span></span></a></li>
                        </ul>
                        <div id="mb-pnl"></div>
                    </section>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div id="wb-sttl" class="col-md-10">
                    <h1 class="hd1rep">Company Regulatory Enrolment Process (REP)</h1>
                </div>
                <object id="wmms" type="image/svg+xml" tabindex="-1" role="img" data="./theme-gcwu-fegc/assets/wmms.svg"
                        aria-label="Symbol of the Government of Canada"></object>
            </div>
        </div>
    </div>
    <span data-trgt="mb-pnl" class="wb-menu hide"></span>
</header>
<main role="main" property="mainContentOfPage" class="container">
    <!--Company Enrol Content starts here -->

    <div>
        <ng-form id="reg-company-form" name="main.companyEnrolForm" ng-controller="MainController as main"
                 novalidate="novalidate"
                 ng-init="main.initUser('INT')">
            <section class="panel panel-primary mrgn-tp-lg">
                <header class="panel-heading">
                    <h2 class="panel-title">Load a Draft Company Enrolment File</h2>
                </header>
                <div class="panel-body">
                    <div class="col-md-12">

                        <hpfb-file-select update-model-root="main.showContent(fileContent) " root-elem="COMPANY_ENROL"/>
                    </div>
                </div>
                <div>
                </div>
            </section>
            <div>
                <section class="panel panel-primary mrgn-tp-lg">
                    <header class="panel-heading">
                        <h3 class="panel-title">Regulatory Company Enrolment</h3>
                    </header>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3 form-group">
                                <label for="application-type">{{"APPL_TYPE"| translate}}</label>
                                <select id="application-type"
                                        ng-options="type |translate for type in main.applTypes"
                                        ng-model="main.company.applicationType" ng-readonly="true"
                                        ng-disabled="true"
                                        class="form-control full-width"></select>
                            </div>
                            <div class="col-xs-3 form-group">
                                <label for="enr-version-text">Enrolment Version</label>
                                <input type="text" class="form-control" id="enr-version-text" ng-readonly="true"
                                       ng-model="main.company.enrolmentVersion" placeholder="Enrolment Version"/>
                            </div>
                            <div class="col-xs-3 form-group">
                                <label for="date-saved-text">Date Last Saved</label>
                                <input type="text" class="form-control" id="date-saved-text"
                                       ng-model="main.company.dateSaved" ng-readonly="true"/>
                            </div>
                            <div class="col-xs-3 form-group">
                                <label for="company-id-text">Company ID
                                    <input type="text" class="form-control" id="company-id-text"
                                           ng-readonly="main.isExtern()" maxlength="6" name="companyID"
                                           ng-model="main.company.companyId" ng-required="!main.isExtern()"/>
                                    <strong id="code-error" class="error"
                                    >
                        <span class="label label-danger" ng-if="main.companyEnrolForm.companyID.$invalid"
                              ng-messages="main.companyEnrolForm.companyID.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
                                    </strong>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5 form-group">
                                <button class="btn btn-default" ng-click="main.setAmendState()"
                                        ng-disabled="main.isIncomplete">
                                    Amend Enrolment
                                </button>
                            </div>
                        </div>
                    </div>

                    <div>
                        <cmp-company-address-list addresses="main.company.addressList"
                                                  get-new-address="main.getNewAddress()" is-amend="main.isAmend()"
                                                  company-service="main.companyService"></cmp-company-address-list>

                        <cmp-company-contact-list contacts="main.company.contactList"
                                                  get-new-contact="main.getNewContact()" is-amend="main.isAmend()"
                                                  company-service="main.companyService"></cmp-company-contact-list>
                    </div>
                </section>
                <div class="row">
                    <div class="form-group col-md-3">
                        <button class="btn btn-primary btn-lg active" ng-click="main.saveJson()"
                        >Save Working Copy
                        </button>
                    </div>
                    <div class="form-group col-md-3">
                        <button class="btn btn-default btn-lg active" ng-disabled="main.disableXML" id="btn_xmlSave"
                                ng-click="main.saveXML()">{{main.saveXMLLabel |translate}}
                        </button>
                    </div>
                </div>
                <!--<pre>overall: {{main.company | json : spacing}}</pre>-->
            </div>
        </ng-form>

    </div>
    <!-end REP content->
    <dl id="wb-dtmd">
        <dt>Date modified:&#32;</dt>
        <dd>
            <time property="dateModified">2016-08-14</time>
        </dd>
    </dl>
</main>
<footer role="contentinfo" id="wb-info" class="visible-sm visible-md visible-lg wb-navcurr">
    <div class="container">
        <nav role="navigation">
            <h2>About this site</h2>
            <!--  <ul id="gc-tctr" class="list-inline">
                  <li><a rel="license" href="http://wet-boew.github.io/wet-boew/License-en.html">Terms and conditions</a>
                  </li>
                  <li><a href="http://www.tbs-sct.gc.ca/tbs-sct/common/trans-eng.asp">Transparency</a></li>
              </ul>-->
            <div class="row">
                <!-- <section class="col-sm-3">
                     <h3>Contact us</h3>
                     <ul class="list-unstyled">
                         <li><a href="https://github.com/wet-boew/wet-boew/issues/new">Questions or comments?</a></li>
                     </ul>
                 </section>-->
                <!-- <section class="col-sm-3">
                     <h3>About</h3>
                     <ul class="list-unstyled">
                         <li><a href="http://wet-boew.github.io/v4.0-ci/index-en.html#about">About the Web Experience
                             Toolkit</a></li>
                         <li><a href="http://www.tbs-sct.gc.ca/ws-nw/index-eng.asp">About the Web Standards</a></li>
                     </ul>
                 </section>-->
                <!-- <section class="col-sm-3">
                     <h3>News</h3>
                     <ul class="list-unstyled">
                         <li><a href="https://github.com/wet-boew/wet-boew/pulse">Recent project activity</a></li>
                         <li><a href="https://github.com/wet-boew/wet-boew/graphs">Project statistics</a></li>
                     </ul>
                 </section>-->
                <!-- <section class="col-sm-3">
                     <h3>Stay connected</h3>
                     <ul class="list-unstyled">
                         <li><a href="https://twitter.com/WebExpToolkit">Twitter</a></li>
                     </ul>
                 </section>-->
            </div>
        </nav>
    </div>
    <div id="gc-info">
        <div class="container">
            <nav role="navigation">
                <h2>Government of Canada footer</h2>
                <ul class="list-inline">
                    <li><a href="http://healthycanadians.gc.ca"><span>Health</span></a></li>
                    <li><a href="http://travel.gc.ca"><span>Travel</span></a></li>
                    <li><a href="http://www.servicecanada.gc.ca/eng/home.shtml"><span>Service Canada</span></a></li>
                    <li><a href="http://www.jobbank.gc.ca"><span>Jobs</span></a></li>
                    <li><a href="http://actionplan.gc.ca/en"><span>Economy</span></a></li>
                    <li id="canada-ca"><a href="http://www.canada.ca/en/index.html">Canada.ca</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
<!--[if gte IE 9 | !IE ]><!-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<script src="./wet-boew/js/wet-boew.min.js"></script>
<!--<![endif]-->
<!--[if lt IE 9]>
<script src="./wet-boew/js/ie8-wet-boew2.min.js"></script>

<![endif]-->
<script src="./theme-gcwu-fegc/js/theme.min.js"></script>

<!-- dan added-->

<script src="app/lib/angular.min.js"></script>
<script src="app/lib/angular-messages.min.js"></script>
<script src="app/lib/angular-translate.min.js"></script>
<script src="app/lib/angular-translate-loader-static-files.min.js"></script>

<script src="app/lib/angular-aria.min.js"></script>
<script src="app/scripts/app.js"></script>
<script src="app/scripts/services/company-service.js"></script>
<script src="app/scripts/services/data-lists.js"></script>
<script src="app/scripts/components/cmp-country-select.js"></script>
<script src="app/scripts/components/addressRole/cmp-address-role.js"></script>
<script src="app/scripts/components/contactDetails/cmp-contact-details.js"></script>
//TODO remove
<!--<script src="app/scripts/components/cmp-address-list.js"></script>-->
<script src="app/scripts/components/cmp-contact-list.js"></script>
<script src="app/scripts/components/addressList/cmp-company-address-list.js"></script>
<script src="app/scripts/components/addressRecord/cmp-address-record.js"></script>
<script src="app/scripts/components/addressDetails/cmp-address-details.js"></script>


<script src="app/scripts/components/contactRecord/cmp-contact-record.js"></script>
<script src="app/scripts/components/contactList/cmp-company-contact-list.js"></script>
<script src="app/scripts/components/expandingTable/cmp-expanding-table.js"></script>
<script src="app/scripts/components/expandingTable/track-record.js"></script>
<!-- <script> var app = angular.module('app', []); </script>-->
<!--File IO dependencie -->
<script src="app/scripts/components/fileIO/FileIO.hpfbFileReader.js"></script>
<script src="app/scripts/components/fileIO/xml2json.js"></script>
<script src="app/scripts/components/fileIO/sha256.js"></script>
<script src="app/scripts/components/fileIO/FileSaver.min.js"></script>
<link rel="stylesheet" href="./app/styles/rep.css ">
</body>
</html>