<fieldset>
    <legend>List of countries</legend>

   <!-- <pre>list:{{$ctrl.model.list | json}}</pre>-->

    <ul class="list-group">
        <li class="list-group-item list-group-item-text active  col-md-12">{{'COUNTRY_NAME'|translate}}</li>
        <li class="list-group-item  col-md-12" ng-repeat="item in $ctrl.model.list" ng-include="$ctrl.getTemplate(item)"></li>
    </ul>

    <script type="text/ng-template" id="display">
        <div class="col-md-8">
            <span class="field-name full-width">{{item.name}}</span>
        </div>
        <div class="btn-group-sm col-md-4 text-right">
            <a href="" ng-click="$ctrl.editRecord(item)" class="btn btn-default btn-sm">Edit</a>
            <a href="" ng-click="$ctrl.deleteRecord(item.id)" class="btn btn-danger btn-sm">Delete</a>
        </div>
    </script>

    <script type="text/ng-template" id="edit">
            <div class="col-md-8">
                <select ng-model="item.name"  class="form-control full-width" >
                    <option ng-repeat="ctr in $ctrl.model.countries">{{ctr}}</option>
                </select>
                <!--<input type="text" class="form-control full-width" ng-model="item.name"/>-->
            </div>
            <div class="btn-group-sm col-md-4 text-right">
                <a href="" ng-click="$ctrl.saveRecord(item.id)" class="btn btn-primary btn-sm">{{'SAVE'|translate}}</a>
                <a href="" ng-click="$ctrl.reset()" class="btn btn-default btn-sm">{{'CANCEL'|translate}}</a>
                <a href="" ng-click="$ctrl.deleteRecord(item.id)" class="btn btn-danger btn-sm">{{'DELETE'|translate}}</a>
            </div>
            <div class="form-group col-md-8 mrgn-tp-lg has-error" ng-if="item.name === 'UNKNOWN' ">
                <!--<label for="unknown-country-details">Please specify the unknown details</label>-->

                <label for="unknown-country-details" class="required">
                    <span class="field-name">{{'UNKNOWN_COUNTRY_DETAILS'|translate}}</span>
                    <strong class="required">{{"REQUIRED" |translate}}</strong>
                </label>

                <textarea  id="unknown-country-details" class="form-control full-width" ng-model="item.model.unknownCountryDetails"></textarea>
            </div>
    </script>

</fieldset>

<div class="row mrgn-tp-md mrgn-bttm-lg">
    <div class="btn-group-sm col-md-12 text-right">
        <input type="submit" value="Add New" class="btn btn-primary" ng-click="$ctrl.addNew()" />
    </div>
</div>