<ng-form name="impProdCtrl.importProdForm">
    <div class="row">
        <h3>{{"PRODUCTS_IMPORTED" |translate}}</h3>
    </div>
    <div class="row">
        <div class="form-group col-md-5"
             ng-class="{'has-error':impProdCtrl.importProdForm.productTypes.$invalid}">
            <label for="productTypes_{{::$id}}" class="required">
                <span class="field-name">{{'PRODUCT_TYPES'|translate}}</span>
                <strong class="required">{{"REQUIRED" |translate}}</strong></label>
            <select id="productTypes_{{::$id}}" ng-model="impProdCtrl.model.selectedProducts"
                    class="form-control" name="productTypes" required ng-disabled="!impProdCtrl.isEditable"
                    ng-change="impProdCtrl.productTypeChanged()"
                    ng-options="rec |translate for rec in  impProdCtrl.productTypeList">
            </select>
            <strong id="dossierTypes-error" class="error"
                    ng-if="impProdCtrl.showError(impProdCtrl.importProdForm.productTypes)">
                        <span class="label label-danger"
                              ng-messages="impProdCtrl.importProdForm.productTypes.$error">
                            <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                        </span>
            </strong>
        </div>
    </div>
    <div ng-if="impProdCtrl.someProducts">
        <div class="row">
            <h4>{{'IDENTIFY_PRODUCTS'|translate}}</h4>
        </div>
        <div class="row">
            <div>
                <div ng-repeat="record in impProdCtrl.model.dossierIdList">
                    <cmp-dossier-id-details dossier-record="record" id-index="$index"
                                            show-errors="impProdCtrl.showErrors()"
                                            is-amend="impProdCtrl.isEditable"
                                            delete-id="impProdCtrl.deleteId(dossierIndex)"></cmp-dossier-id-details>
                </div>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-primary" ng-click="impProdCtrl.addDossierId()" name="addDossierId" ng-disabled="!impProdCtrl.isEditable">
                {{'ADD_DOSSIER_ID'|translate}}
            </button>
        </div>
    </div>
</ng-form>