<ng-form name="addressListCtrl.addressListForm">
    <div>
        <div class="row">
            <cmp-error-summary form-ref="addressListCtrl.addressListForm" show-errors="addressListCtrl.showSummary"
                               name-suffix="addressListCtrl.addressListForm"
                               alias-list="addressListCtrl.alias" exclusion-list="addressListCtrl.exclusions"
                               update-errors="addressListCtrl.updateSummary" form-preamble="ADDR_INFO"
                               set-heading-level="h4"></cmp-error-summary>
        </div>
        <input type="checkbox" id="addressValid_{{::$id}}" name="addressRolesValid_{{::$id}}" ng-show="false"
               ng-model="addressListCtrl.allRolesSelected" required/>
       <!-- <label>
            <strong id=" addressNum-role-error" class="error" ng-show="addressListCtrl.showError()">
                        <span class="label label-danger"
                              ng-messages="addressListCtrl.addressListForm.addressRolesValid_{{::$id}}.$error">
                            <span ng-message="required">{{"MSG_ERR_ADDRESSSROLE"|translate}}</span>
                        </span>
        </strong>
        </label> -->

        <cmp-expanding-table list-items="addressListCtrl.addressList"
                             reset-to-collapsed="addressListCtrl.resetCollapsed"
                             column-def="addressListCtrl.columnDef" select-record="addressListCtrl.selectRecord"
                             disable-selection="!addressListCtrl.isDetailsValid">

            <cmp-address-record on-delete="addressListCtrl.deleteAddress(addressId)"
                                on-update="addressListCtrl.onUpdateAddressRecord(rec)"
                                is-amend="addressListCtrl.isAmend" record-index="$parent.$index"
                                address-record="$parent.record"
                                error-summary-update="addressListCtrl.updateErrorSummaryState()"
                                show-error-summary="addressListCtrl.showSummary"
                                is-role-selected="addressListCtrl.isREPRoleSelected(roleName,id)"
                                is-detail-valid="addressListCtrl.setValid(state)">
            </cmp-address-record>
        </cmp-expanding-table>
    </div>
    <div class="row mrgn-tp-md mrgn-bttm-lg">
        <div class="btn-group-sm col-md-12 text-right">
            <button class="btn btn-primary" ng-click="addressListCtrl.addAddress()" name="addAddressBtn_{{::$id}}" id="addAddressBtn_{{::$id}}"
                    ng-disabled="addressListCtrl.disableAddAddress()">{{'ADD_ADDRESS'|translate}}</button>
        </div>
    </div>
</ng-form>