<ng-form name="adminCtrl.adminSubForm">
    <div class="row">
        <div class="form-group col-md-8" ng-class="{'has-error':adminCtrl.adminSubForm.adminSponsorName.$invalid}">
            <label for="sponsorNameId" class="required">
                <span class="field-name">{{"SPONSOR_NAME" |translate}}</span>
                <strong class="required"> {{"REQUIRED" |translate}}</strong>
                <input type="text" id="sponsorNameId" name="adminSponsorName" maxlength="100" size="100"
                       class="form-control" required ng-model="adminCtrl.model.sponsorName"/>
                <strong id="sponsorName-error" class="error"
                        ng-if="adminCtrl.showError(adminCtrl.adminSubForm.adminSponsorName.$touched,adminCtrl.adminSubForm.adminSponsorName.$invalid)">
                        <span class="label label-danger" ng-messages="adminCtrl.adminSubForm.adminSponsorName.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>

                        </span>
                </strong>
            </label>
        </div>
        <div class="form-group col-md-4" ng-class="{'has-error':adminCtrl.adminSubForm.dateCleared.$invalid}">
            <label for="dateClearedId" class="required">
                <span class="field-name">{{"DATE_CLEARED" |translate}}</span>
                <strong class="required"> {{"REQUIRED" |translate}}</strong>
                <p class="input-group">
                    <input id="dateClearedId" type="text" class="form-control rep-normal-font"
                           uib-datepicker-popup
                           show-button-bar="false" datepicker-options="adminCtrl.dateOptions"
                           name="dateCleared" ng-model="adminCtrl.model.dateCleared"
                           ng-change="adminCtrl.convertToDate()" ng-model-options="{ updateOn: 'blur' }"
                           is-open="adminCtrl.refDateOpen" ng-required="true"/>
                                      <span class="input-group-btn">
                                            <button title="{{'CALENDAR'|translate}}" class="btn btn-default"
                                                    aria-haspopup="true"
                                                    id="activity-picker-toggle" ng-click="adminCtrl.openRefDate()">
                                                <span
                                                        class="glyphicon glyphicon-calendar"></span><span
                                                    class="wb-inv">{{'CALENDAR'|translate}}</span>
                                            </button>
                                      </span>
                </p>
                <strong id="dateCleared-error" class="error"
                        ng-if="adminCtrl.showError(adminCtrl.adminSubForm.dateCleared.$touched,adminCtrl.adminSubForm.dateCleared.$invalid)">
                        <span class="label label-danger" ng-messages="adminCtrl.adminSubForm.dateCleared.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                            <span ng-message="date"><span translate="MSG_ERR_DATE_FORMAT"></span></span>
                        </span>
                </strong>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-8" >
            <label for="activityTypeId" class="required full-width">
                <span class="field-name">{{"ACTIVITY_TYPE" |translate}}</span>
                <strong class="required"> {{"REQUIRED" |translate}}</strong>
                <div class="rep-pad-top">
                    <div class="rep-error"ng-class="{'has-error':adminCtrl.adminSubForm.activityType.$invalid}">
                        <ui-select ng-model="adminCtrl.model.regActivityType" id="activityTypeId" name="activityType"
                                   class="rep-selectize-font full-width" required>
                            <ui-select-match placeholder="{{'REGACTIVSEARCH' |translate}}"
                                             class="rep-selectize-font form-control">
                                {{$select.selected[adminCtrl.lang]}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="activityValue in  adminCtrl.activityTypeList | filter: {[adminCtrl.lang]:$select.search}"
                                    class="rep-selectize-font">
                                <span ng-bind-html="activityValue[adminCtrl.lang] | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
               <!-- <select id="activityTypeId" name="activityType" ng-model="adminCtrl.model.regActivityType"
                        ng-options="activity |translate for activity in adminCtrl.activityTypeList | orderByTranslated"
                        class="form-control" required></select>-->
                <strong id="activityType-error" class="error"
                        ng-if="adminCtrl.showError(adminCtrl.adminSubForm.activityType.$touched,adminCtrl.adminSubForm.activityType.$invalid)">
                        <span class="label label-danger" ng-messages="adminCtrl.adminSubForm.activityType.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
                </strong>
            </label>
        </div>
        <div class="form-group col-md-4" ng-class="{'has-error':adminCtrl.adminSubForm.controlNum.$invalid}">
            <label for="controlNumberId" class="required">
                <span class="field-name">{{"CONTROL_NUM" |translate}}</span>
                <strong class="required"> {{"REQUIRED" |translate}}</strong>
                <input type="text" id="controlNumberId" name="controlNum" only-digits=""
                       ng-model="adminCtrl.model.controlNumber"
                       class="form-control full-width" maxlength="6" minlength="6" size="6" required/>
                <strong id="controlNum-error" class="error"
                        ng-if="adminCtrl.showError(adminCtrl.adminSubForm.controlNum.$touched,adminCtrl.adminSubForm.controlNum.$invalid)">
                        <span class="label label-danger" ng-messages="adminCtrl.adminSubForm.controlNum.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                             <span ng-message="minlength"><span translate="MSG_LENGTH_6NUM"></span></span>
                        </span>
                </strong>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label for="licenseAgreeId" class="required">
                <span class="field-name">{{"LICENCE_AGREE" |translate}}</span>
                <strong class="required"> {{"REQUIRED" |translate}}</strong>
                <strong id="licenseAgree-error" class="error"
                        ng-if="adminCtrl.showError(adminCtrl.adminSubForm.licenseAgree.$touched,adminCtrl.adminSubForm.licenseAgree.$invalid)">
                        <span class="label label-danger" ng-messages="adminCtrl.adminSubForm.licenseAgree.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
                </strong>
            </label>
        </div>
        <div class="form-group col-md-2"
             ng-class="{'has-error':adminCtrl.adminSubForm.licenseAgree.$invalid}">
            <select id="licenseAgreeId" name="licenseAgree"
                    ng-model="adminCtrl.model.licenseAgree" ng-change="adminCtrl.isLicenseAgreement()"
                    ng-options="activity |translate for activity in adminCtrl.yesNoList"
                    class="form-control" required></select>
        </div>
    </div>
    <div class="row" ng-show="adminCtrl.dinTransferShow">
        <div class="form-group col-md-12">
            <div class="checkbox required">
                <label for="dinTransferId">
                    <input type="checkbox" id="dinTransferId" name="dinTransfer"
                           ng-model="adminCtrl.model.dinTransfer" class="checkbox"
                           ng-required="adminCtrl.dinTransferShow"/>
                    {{"DIN_TRANSFER" |translate}}
                    <strong class="required"> {{"REQUIRED" |translate}}</strong>
                    <strong id="dinTransfer-error" class="error"
                            ng-if="adminCtrl.showErrorCheckBox(adminCtrl.adminSubForm.dinTransfer.$touched,adminCtrl.model.dinTransfer)">
                 <span class="label label-danger">
                              <span ng-if="!adminCtrl.model.dinTransfer">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
                    </strong>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <div class="checkbox required">
                <label for="chk-lasa_{{$id}}">
                    <input type="checkbox" ng-model="adminCtrl.model.notLasa" name="chkLasa"
                           id="chk-lasa_{{$id}}" required/>
                    {{"NOT_LASA"|translate}}
                    <strong class="required"> {{"REQUIRED" |translate}}</strong>
                    <strong id="notlasa-error" class="error"
                            ng-if="adminCtrl.showErrorCheckBox(adminCtrl.adminSubForm.chkLasa.$touched,adminCtrl.model.notLasa)">
                 <span class="label label-danger">
                              <span ng-if="!adminCtrl.model.notLasa">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
                    </strong>
                </label>
            </div>
        </div>
    </div>
    </div>
</ng-form>
