<div>
    <ng-form id="reg-transaction-form" name="main.transactionEnrolForm" translate-cloak="cloak-class"
             novalidate>
        <section class="panel panel-primary mrgn-tp-lg">
            <header class="panel-heading clearfix">
                <div class="btn-group pull-right">
                    <button title="{{'HELP_FILE_LOAD'|translate}}" class="btn-xs rep-help-button"
                            id="startdate-picker-toggle" ng-click="main.addInstruct(0)"><span
                            class="fa fa-question-circle fa-2x"></span><span class="wb-inv">{{'HELP_FILE_LOAD'|translate}}</span>
                    </button>
                </div>
                <h2 class="panel-title">{{'LOAD_TRANSACTION'|translate}}</h2>
            </header>
            <div class="panel-body">
                <div>
                    <div uib-alert template-url="./app/lib/uib-templates/alert.html" ng-if="main.alerts[0]"
                         class="alert-info" close="main.closeAlert(0)">
                        <section>
                            <div>
                                <h3 class="rep-margin-minus-top">Files to load</h3>
                                <ul>
                                    <li>Working Copy (.hcsc) – when continuing with an incomplete Regulatory Transaction
                                        template.
                                    </li>
                                    <li>Final XML – when amending an approved Regulatory Transaction enrolment.</li>
                                    <li>A file should not be loaded if it is the initial enrolment for the Regulatory Transaction.</li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="col-md-12">
                    <hpfb-file-select update-model-root="main.showContent(fileContent) "
                                      root-elem="{{main.rootTag}}"></hpfb-file-select>
                </div>
            </div>
        </section>
        <div>
            <cmp-transaction-info transaction-root="main.transaction" show-errors="main.showErrors()"
                                  deprecate-sequence="main.transactionService.deprecateSequenceNumber()"
                                  reset-ectd="main.transactionService.resetEctdSection()"
                                  get-transaction="main.transactionService.getNewTransaction(main.transaction.isEctd==='Y')"
                                  get-rep-contact="main.transactionService.getNewRepContact()"></cmp-transaction-info>
            <div class="row">
                <div class="form-group col-md-3">
                    <button class="btn btn-default btn-lg active" formnovalidate ng-click="main.saveJson()">
                        {{'SAVE_WORK'|translate}}
                    </button>
                </div>
                <div class="form-group col-md-3">
                    <button class="btn  btn-primary btn-lg active" formnovalidate id="btn_xmlSave"
                            ng-click="main.saveXML()"
                            ng-disabled="main.transactionEnrolForm.$invalid">{{'GENERATE_FINAL'|translate}}
                    </button>
                    <button title="{{'SAVE_INSTRUCT'|translate}}" class="btn rep-help-button-primary btn-xs"
                            id="save-instructions-toggle" ng-click="main.addInstruct(1)"><span
                            class="fa fa-question-circle fa-2x"></span><span class="wb-inv">"{{'SAVE_INSTRUCT'|translate}}"</span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div uib-alert template-url="./app/lib/uib-templates/alert.html" ng-if="main.alerts[1]"
                         class="alert-info" close="main.closeAlert(1)">
                        <section aria-live="assertive">
                            <div>
                                <ul>
                                    <li>Click here to generate the final XML file.</li>
                                    <li>The final XML file does not need to be provided to Health Canada for approval.</li>
                                    <li>Refer to the REP guidance document for detailed information.</li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
        </div>
    </ng-form>
</div>