<div>
    <ng-form id="reg-transaction-form" name="main.transactionEnrolForm"
             novalidate>
        <section class="panel panel-primary mrgn-tp-lg">
            <header class="panel-heading clearfix">
                <div class="btn-group pull-right">
                    <button title="{{'HELP_FILE_LOAD'|translate}}" class="btn-xs rep-help-button"
                            id="startdate-picker-toggle" ng-click="main.addInstruct('activityMain')"><span
                            class="fa fa-question-circle fa-2x"></span><span class="wb-inv">{{'HELP_FILE_LOAD'|translate}}</span>
                    </button>
                </div>
                <h2 class="panel-title">{{'LOAD_TRANSACTION'|translate}}</h2>
            </header>
            <div class="panel-body">
                <div uib-alert template-url="./app/lib/uib-templates/alert.html" ng-repeat="alert in main.alerts"
                     ng-class="'alert-' + (alert.type || 'warning')" close="main.closeAlert($index)">{{alert.msg}}
                </div>
                <div class="col-md-12">
                    <hpfb-file-select update-model-root="main.showContent(fileContent) "
                                      root-elem="{{main.rootTag}}"/>
                </div>
            </div>
            <div>
            </div>
        </section>
        <div>
            <cmp-transaction-info transaction-root="main.transaction" show-errors="main.showErrors()"
                                  deprecate-sequence="main.transactionService.deprecateSequenceNumber()"
                                  reset-ectd="main.transactionService.resetEctdSection()"
                                  get-transaction="main.transactionService.getNewTransaction(main.transaction.isEctd==='Y')"
                                  get-rep-contact="main.transactionService.getNewRepContact()"></cmp-transaction-info>
            <div class="row">
                <div class="form-group col-md-3">
                    <button class="btn btn-primary btn-lg active" formnovalidate ng-click="main.saveJson()">
                        {{'SAVE_WORK'|translate}}
                    </button>
                </div>
                <div class="form-group col-md-3">
                    <button class="btn btn-default btn-lg active" formnovalidate id="btn_xmlSave"
                            ng-click="main.saveXML()"
                            ng-disabled="main.transactionEnrolForm.$invalid">{{'GENERATE_FINAL'|translate}}
                    </button>
                </div>
            </div>
        </div>
    </ng-form>

</div>