<div>
    <ul>
        <li>FRENCH a drug in respect of which a notice of compliance is issued pursuant to section C.08.004 and which is
            marketed in Canada by the innovator of the drug,
        </li>
        <li>a drug, acceptable to the Minister, that can be used for the purpose of demonstrating bioequivalence on the
            basis of pharmaceutical and, where applicable, bioavailability characteristics, where a drug in respect of
            which a notice of compliance has been issued pursuant to section C.08.004 cannot be used for that purpose
            because it is no longer marketed in Canada, or
        </li>
        <li> drug, acceptable to the Minister, that can be used for the purpose of demonstrating bioequivalence on the
            basis of pharmaceutical and, where applicable, bioavailability characteristics, in comparison to a drug
            referred to in paragraph a).
        </li>
    </ul>
</div>