<ng-form name="duCtrl.drugUseForm">
<div class="col-xs-12 form-group">
    <fieldset>
        <legend class="required">
            <span class="field-name">{{'DRUG_USE'|translate}}</span>
            <strong class="required"> {{"REQUIRED" |translate}}</strong>
            <strong id="contactNum-role-error" class="error"
                    ng-if="duCtrl.showNoRecordError()">
                             <span class="label label-danger" aria-live="polite">
                                 <span>{{"MSG_ERR_DRUG_USE"|translate}}</span>
                             </span>
            </strong>
        </legend>


        <div class="row">
            <cmp-checkbox-list title="Drug Use" common-name="duCtrl.commonName"
                               list-items="duCtrl.myList"></cmp-checkbox-list>
        </div>
    </fieldset>
</div>
</ng-form>