<div class="container-fluid">
    <ng-form name="contactForm">
       <!-- <pre>{{contactForm.$error  | json : spacing}}</pre>-->
        <div class="row">
            <div class="col-md-3 form-group" ng-class="{'has-error':contactForm.salutation.$invalid}">
            <label for="contact-salut_{{$id}}" class="required">
                <span class="field-name">{{"SALUTATION"|translate}}</span>
                <strong class="required"> {{"REQUIRED" |translate}}</strong>
                <select id="contact-salut_{{$id}}" name="salutation" class="form-control"
                        data-ng-model="$ctrl.contactModel.salutation"   ng-disabled="$ctrl.setNotEditable()"
                        ng-model-options="$ctrl.ngModelOptSetting" ng-change="$ctrl.updateContactModel()"
                        ng-options="salut |translate for salut in $ctrl.salutationList" required>
                </select>
                <strong id="salutation-error" class="error" ng-if="$ctrl.showError(contactForm.salutation)">
                      <span class="label label-danger" ng-messages="contactForm.salutation.$error">
                          <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                      </span>
                </strong>
            </label>
        </div>
        </div>
        <div class="row">
            <div class="col-md-5 form-group" ng-class="{'has-error':contactForm.firstName.$invalid}">
                <label for="first-name_{{$id}}" class="required">
                    <span class="field-name">{{'FIRST_NAME'|translate}}</span>
                    <strong class="required">{{"REQUIRED" |translate}}</strong>
                    <input type="text" id="first-name_{{$id}}" data-ng-model="$ctrl.contactModel.givenName"
                           ng-model-options="$ctrl.ngModelOptSetting" ng-change="$ctrl.updateContactModel()"
                           class="form-control full-width" name="firstName" ng-required="true" maxlength="60"
                           size="60" ng-readonly="$ctrl.setNotEditable()" required/>
                        <strong id="firstName-error" class="error" ng-if="$ctrl.showError(contactForm.firstName)">
                        <span class="label label-danger" ng-messages="contactForm.firstName.$error">
                            <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                        </span>
                        </strong>

                </label>
            </div>
            <div class="col-md-2 form-group">
                <label for="initials_{{$id}}">
                    <span class="field-name">{{'INITIALS'|translate}}</span>
                    <input type="text" id="initials_{{$id}}" data-ng-model="$ctrl.contactModel.initials"
                           ng-model-options="$ctrl.ngModelOptSetting" ng-change="$ctrl.updateContactModel()"
                           class="form-control full-width" name="contactIntials" maxlength="10" size="10"
                           ng-readonly="$ctrl.setNotEditable()"/>
                </label>
            </div>
            <div class="col-md-5 form-group" ng-class="{'has-error':contactForm.lastName.$invalid}">
                <label for="last-name_{{$id}}" class="required">
                    <span class="field-name">{{'LAST_NAME'|translate}}</span>
                    <strong class="required">{{"REQUIRED" |translate}}</strong>
                    <input type="text" id="last-name_{{$id}}" data-ng-model="$ctrl.contactModel.surname"
                           ng-model-options="$ctrl.ngModelOptSetting" ng-change="$ctrl.updateContactModel()"
                           ng-readonly="$ctrl.setNotEditable()"
                           class="form-control full-width" name="lastName" ng-required="true" maxlength="60" size="60"/>
                    <ng-messages for="contactForm.lastName.$error">
                    <ng-message when="required">
                        <strong id="lastName-error" class="error" ng-if="$ctrl.showError(contactForm.lastName)">
                        <span class="label label-danger">
                            <span><span translate="MSG_ERR_MAND"></span></span>
                        </span>
                        </strong>
                    </ng-message>
                    </ng-messages>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 form-group" ng-class="{'has-error':contactForm.langCorrespond.$invalid}">
                <label for="lang-corresp_{{$id}}" class="required">
                    <span class="field-name">{{'LANGUAGE_CORRESPONDENCE'|translate}}</span>
                    <strong class="required">{{"REQUIRED" |translate}}</strong>
                    <select id="lang-corresp_{{$id}}" name="langCorrespond" data-ng-model="$ctrl.contactModel.language"
                            ng-model-options="$ctrl.ngModelOptSetting" ng-change="$ctrl.updateContactModel()"
                            class="form-control"  ng-disabled="$ctrl.setNotEditable()"
                            ng-options="langCorr |translate for langCorr in $ctrl.langCorrespondance" required>
                    </select>
                    <strong id="langCorresp-error" class="error" ng-if="$ctrl.showError(contactForm.langCorrespond)">
                        <span class="label label-danger" ng-messages="contactForm.langCorrespond.$error">
                            <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                        </span>
                    </strong>
                </label>

            </div>
            <div class="col-md-4 form-group" ng-class="{'has-error':contactForm.jobTitle.$invalid}">
                <label for="job-title_{{$id}}" class="required">
                    <span class="field-name">{{'JOB_TITLE'|translate}}</span>
                    <strong class="required">{{"REQUIRED"|translate}}</strong>
                    <input type="text" id="job-title_{{$id}}" data-ng-model="$ctrl.contactModel.title"
                           ng-model-options="$ctrl.ngModelOptSetting" ng-change="$ctrl.updateContactModel()"
                           class="form-control full-width" name="jobTitle" ng-required="true" maxlength="40" size="40"
                           ng-readonly="$ctrl.setNotEditable()"
                           required/>
                    <strong id="jobTitle-error" class="error" ng-if="$ctrl.showError(contactForm.jobTitle)">
                        <span class="label label-danger" ng-messages="contactForm.jobTitle.$error">
                            <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                        </span>
                    </strong>
                </label>

            </div>
            <div class="col-md-3 form-group">
                <label for="fax-number_{{$id}}"><span class="field-name">{{'FAX_NUMBER'|translate}}</span></label>
                <input type="text" id="fax-number_{{$id}}" data-ng-model="$ctrl.contactModel.fax"
                       ng-model-options="$ctrl.ngModelOptSetting" ng-change="$ctrl.updateContactModel()"
                       ng-readonly="$ctrl.setNotEditable()"
                       class="form-control full-width" name="faxNumber" maxlength="25" size="25"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 form-group" ng-class="{'has-error':contactForm.phoneNumber.$invalid}">
                <label for="phone-number_{{$id}}" class="required">
                    <span class="field-name">{{'PHONE_NUMBER'|translate}}</span>
                    <strong class="required">{{"REQUIRED" |translate}}</strong>
                    <input type="text" id="phone-number_{{$id}}" data-ng-model="$ctrl.contactModel.phone"
                           ng-model-options="$ctrl.ngModelOptSetting" ng-change="$ctrl.updateContactModel()"
                           class="form-control full-width" name="phoneNumber" ng-required="true" maxlength="25"
                           size="25"   ng-readonly="$ctrl.setNotEditable()"  ng-pattern="$ctrl.phoneReg"
                           required/>
                    <strong id="phoneNum-error" class="error" ng-if="$ctrl.showError(contactForm.phoneNumber)">
                        <span class="label label-danger" ng-messages="contactForm.phoneNumber.$error">
                            <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                             <span ng-message="pattern"><span translate="MSG_ERR_PHONE_FORMAT"></span></span>
                        </span>
                    </strong>
                </label>

            </div>
            <div class="col-md-3 form-group">
                <label for="phone-ext_{{$id}}"><span class="field-name">{{'PHONE_EXT'|translate}}</span>
                <input type="text" id="phone-ext_{{$id}}" data-ng-model="$ctrl.contactModel.phoneExt"
                       ng-model-options="$ctrl.ngModelOptSetting" ng-change="$ctrl.updateContactModel()"
                       ng-readonly="$ctrl.setNotEditable()"
                       class="form-control" name="phoneExt" maxlength="10"/>
                </label>
            </div>
            <div class="col-md-6 form-group" ng-class="{'has-error':contactForm.contactEmail.$invalid}">
                <label for="contact-email_{{$id}}" class="required">
                    <span class="field-name">{{'EMAIL'|translate}}</span>
                    <strong class="required">{{"REQUIRED" |translate}}</strong>
                    <input type="email" id="contact-email_{{$id}}" data-ng-model="$ctrl.contactModel.email"
                           ng-model-options="$ctrl.ngModelOptSetting" ng-change="$ctrl.updateContactModel()"
                           ng-readonly="$ctrl.setNotEditable()" maxlength="50" size="60"
                           class="form-control full-width" name="contactEmail" required/>
                    <strong id="contactEmail-error" class="error" ng-if="$ctrl.showError(contactForm.contactEmail)">
                        <span class="label label-danger" ng-messages="contactForm.contactEmail.$error">
                            <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                          <span ng-message="email"><span translate="MSG_ERR_EMAIL_FORMAT"></span></span>
                        </span>
                    </strong>
                </label>
            </div>
        </div>
</div>
<!--<pre>contact model: {{$ctrl.contactRecord | json : spacing}}</pre>-->

</ng-form>
</div>