<div class="container-fluid">
    <ng-form id="csp-form" name="main.cspForm" novalidate="novalidate">
        <section class="panel panel-primary mrgn-tp-lg">
            <header class="panel-heading clearfix">
                <div class="btn-group pull-right">
                    <!-- <button title="{{'HELP_FILE_LOAD'|translate}}" class="btn-xs rep-help-button"
                             id="load-instructions-toggle" ng-click="main.addInstruct(0)"><span
                             class="fa fa-question-circle fa-2x"></span><span class="wb-inv">"{{'HELP_FILE_LOAD'|translate}}"</span>
                     </button>-->
                </div>
                <h2 class="panel-title">{{'LOAD_CSP_FILE'| translate}}</h2>
            </header>
            <div class="panel-body">
                <!-- <div uib-alert template-url="./app/lib/uib-templates/alert.html" ng-if="main.alerts[0]"
                      class="alert-info" close="main.closeAlert(0)">
                     <section>
                         <div>
                             <h3 class="rep-margin-minus-top">Files to load</h3>
                             <ul>
                                 <li>Working Copy (.hcsc) – when continuing with an incomplete company template.</li>
                                 <li>Final XML – when amending an approved company enrolment.</li>
                                 <li>A file should not be loaded if it is the initial enrolment for company.</li>
                             </ul>
                         </div>
                     </section>
                 </div>-->
                <div class="col-md-12">

                    <hpfb-file-select update-model-root="main.showContent(fileContent)" root-elem="{{main.rootTag}}"/>
                </div>
            </div>
            <div>
            </div>
        </section>
        <cmp-error-summary form-ref="main.cspForm" show-errors="main.showErrorSummary"
                           form-preamble="CSP_FORM" exclusion-list="main.exclusions" alias-list="main.alias"
                           update-errors="main.updateSummary" make-focused="main.summaryFocusIndex" form-id="csp-form"
                           name-suffix="main.cspForm" set-heading-level="h2"></cmp-error-summary>
        <div ng-if="main.showHCOnlySection()">
            <section class="panel panel-primary mrgn-tp-lg">
                <header class="panel-heading clearfix">
                    <!--  <div class="btn-group pull-right">
                          &lt;!&ndash;  <button title="{{'ENROL_INSTRUCT'|translate}}" class="btn-xs rep-help-button"
                                    id="enrol-instructions-toggle" ng-click="main.addInstruct(1)"><span
                                    class="fa fa-question-circle fa-2x"></span><span class="wb-inv">"{{'ENROL_INSTRUCT'|translate}}"</span>
                            </button>&ndash;&gt;
                      </div>-->
                    <h2 class="panel-title">{{'HCONLY'|translate}}</h2>

                </header>
                <div class="panel-body">
                    <cmp-csp-hc-only record="main.cspModel.healthCanadaOnly"></cmp-csp-hc-only>
                </div>
            </section>
        </div>

        <section class="panel panel-primary mrgn-tp-lg">
            <header class="panel-heading clearfix">
                <div class="btn-group pull-right">
                    <!--  <button title="{{'ENROL_INSTRUCT'|translate}}" class="btn-xs rep-help-button"
                              id="enrol-instructions-toggle" ng-click="main.addInstruct(1)"><span
                              class="fa fa-question-circle fa-2x"></span><span class="wb-inv">"{{'ENROL_INSTRUCT'|translate}}"</span>
                      </button>-->
                </div>
                <h2 class="panel-title">{{'CSP_TITLE'|translate}}</h2>
            </header>
            <div class="panel-body">

                <div class="row">
                    <div class="col-xs-3 form-group">
                        <label for="enr-version-text_{{$id}}">{{"ENROL_VERSION"| translate}}</label>
                        <input type="text" class="form-control" id="enr-version-text_{{$id}}"
                               ng-readonly="true"
                               ng-model="main.cspModel.enrolmentVersion"/>
                    </div>
                    <div class="col-xs-3 form-group">
                        <label for="date-saved-text_{{$id}}">{{"DATE_SAVED"| translate}}</label>
                        <input type="text" class="form-control" id="date-saved-text_{{$id}}"
                               ng-model="main.cspModel.dateSaved"
                               ng-readonly="true"/>
                    </div>
                </div>
                <div class="row">

                    <div class="col-xs-12">
                        <h3>1.&nbsp;{{'CONTACT_TITLE'|translate}}</h3>
                    </div>
                </div>
                <div>
                    <cmp-csp-applicant-list add-applicant="main.modelService.addApplicantToModel()"
                                            record="main.cspModel.applicant"
                                            delete-applicant="main.modelService.deleteApplicant()"
                                            show-errors="main.showErrors()"
                                            update-error-summary="main.updateErrorSummary()">

                    </cmp-csp-applicant-list>
                </div>
                <div>
                    <div class="row">

                        <div class="col-xs-12">
                            <h3>2.&nbsp;{{'PATENT_TITLE'|translate}}</h3>
                            <cmp-csp-patent record="main.cspModel.patent" show-errors="main.showErrors()"
                                            update-error-summary="main.updateErrorSummary()"></cmp-csp-patent>
                        </div>
                    </div>
                </div>
                <div>
                    <cmp-csp-main-application record="main.cspModel.applicationInfo" show-errors="main.showErrors()"
                                              update-error-summary="main.updateErrorSummary()"
                                              drug-uses="main.drugUseList"></cmp-csp-main-application>
                </div>
                <div>
                    <cmp-csp-timely-submission record="main.cspModel.timelySubmission" show-errors="main.showErrors()"
                                               update-error-summary="main.updateErrorSummary()"
                                               country-list="main.countryList"></cmp-csp-timely-submission>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <h3>8.&nbsp;{{'FEE_TITLE'|translate}}</h3>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <cmp-csp-fee-payment record="main.cspModel.payment" show-errors="main.showErrors()"
                                                 update-error-summary="main.updateErrorSummary()"
                                                 payment-types="main.paymentType"></cmp-csp-fee-payment>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h3>9.&nbsp;{{'CERT_TITLE'|translate}}</h3>
                        <cmp-csp-certification record="main.cspModel.certification"
                                               update-error-summary="main.updateErrorSummary()"
                                               show-errors="main.showErrors()"></cmp-csp-certification>
                    </div>
                </div>
            </div>
            <!-- </div>-->
        </section>
        <div class="row btn-group-sm">
            <div class="form-group col-md-3">
                <button class="btn btn-default btn-lg active" id="btn_draftSave" ng-click="main.saveJson()">{{'SAVE_WORKING' |translate}}
                </button>
            </div>
            <div class="form-group col-md-3">
                <button class="btn btn-primary btn-lg active" id="btn_xmlSave" ng-click="main.saveXML()">
                    {{main.saveXMLLabel |translate}}
                </button>
                <!-- <button title="{{'SAVE_INSTRUCT'|translate}}" class="btn rep-help-button-primary btn-xs"
                         id="save-instructions-toggle" ng-click="main.addInstruct(2)"><span
                         class="fa fa-question-circle fa-2x"></span><span class="wb-inv">"{{'SAVE_INSTRUCT'|translate}}"</span>
                 </button>-->
            </div>
        </div>
        <div>
            <!--build:test--><!--endbuild-->

        </div>

        <!-- <pre>{{main.cspModel|json}}</pre>-->
    </ng-form>
</div>