<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-12">
            <fieldset>
                <legend class="required">
                    <span class="field-name">{{'SCHED_A'|translate}}</span>
                </legend>

                <div class="row">
                    <div class="col-xs-12 form-group">
                        <label for="proper-name">{{'DIN_FULL'|translate}}</label>
                        <input type="text" class="form-control full-width" id="proper-name" ng-model="$ctrl.scheduleAModel.drugIdNumber" placeholder="Drug Identification Number"/>
                    </div>
                </div>

                <div class="row">

                    <div class="col-xs-12 form-group">
                        <cmp-checkbox-list title="Please check the diseases and disorders that apply to the claims made (select at least one)"
                                           common-name="sa-disease-disorder" list-items="$ctrl.scheduleAModel.diseaseDisorderList"></cmp-checkbox-list>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 form-group">
                        <label for="proper-name">Please list the schedule A Claims and Indications associated with this product</label>
                        <textarea class="form-control full-width" rows="3" ng-model="$ctrl.scheduleAModel.scheduleAClaimsIndDetails"></textarea>
                    </div>
                </div>

                <!--<pre>currentModel: {{chkl.listItems | json : spacing}}</pre>-->

            </fieldset>
        </div>
    </div>
</div>
