<div class="container-fluid">
    <ng-form name="lifecycleCtrl.lifecycleDetailsForm" novalidate="novalidate">
        <div>
            <div>
                <fieldset>
                    <legend>Lifecycle Record</legend>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="sequenceNumber_{{$id}}">
                                <span class="field-name">{{"Sequence Number" |translate}}</span>
                                <input type="text" id="sequenceNumber_{{$id}}" name="sequenceNumber"
                                       ng-model="lifecycleCtrl.lifecycleModel.sequence"
                                       class="form-control full-width" maxlength="8" size="8" ng-readonly="true"/>
                            </label>
                        </div>
                        <div class="form-group col-md-4"
                             ng-class="{'has-error':lifecycleCtrl.lifecycleDetailsForm.dateFiled.$invalid}">
                            <label for="dateFiled_{{$id}}" class="required">
                                <span class="field-name">{{"DATE_SUBMITTED" |translate}}</span>
                                <strong class="required">{{"REQUIRED" |translate}}</strong>
                                <!--  <input type="date" id="dateFiled_{{$id}}" name="dateFiled"
                                         ng-readonly="!lifecycleCtrl.ectd"
                                         ng-model="lifecycleCtrl.lifecycleModel.dateFiled"
                                         class="form-control" ng-required="lifecycleCtrl.ectd" ng-pattern="datePattern"/>-->
                                <p class="input-group">
                                    <input id="dateFiled_{{$id}}" type="text" class="form-control rep-normal-font"
                                           uib-datepicker-popup
                                           show-button-bar="false" datepicker-options="lifecycleCtrl.dateOptions"
                                           name="dateFiled" ng-model="lifecycleCtrl.lifecycleModel.dateFiled"
                                           is-open="lifecycleCtrl.filedDateOpen" ng-required="true"/>
                                      <span class="input-group-btn">
                                            <button title="{{'CALENDAR'|translate}}" class="btn btn-default"
                                                    aria-haspopup="true"
                                                    id="filed-picker-toggle"
                                                    ng-click="lifecycleCtrl.openFiledDate()"><span
                                                    class="glyphicon glyphicon-calendar"></span><span class="wb-inv">{{'CALENDAR'|translate}}</span>
                                            </button>
                                      </span>
                                </p>

                                <strong id="dateFiled-error" class="error"
                                        ng-if="lifecycleCtrl.showError(lifecycleCtrl.lifecycleDetailsForm.dateFiled.$invalid,lifecycleCtrl.lifecycleDetailsForm.dateFiled.$touched)">
                        <span class="label label-danger"
                              ng-messages="lifecycleCtrl.lifecycleDetailsForm.dateFiled.$error">
                            <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                             <span ng-message="date"><span translate="MSG_ERR_DATE_FORMAT"></span></span>
                        </span>
                                </strong>
                            </label>
                        </div>


                        <div class="form-group col-md-4"
                             ng-class="{'has-error':lifecycleCtrl.lifecycleDetailsForm.controlNum.$invalid}">
                            <label for="controlNum_{{$id}}" class="required">
                                <span class="field-name">{{"Control Number" |translate}}</span>
                                <strong class="required">{{"REQUIRED"
                                    |translate}}</strong>
                                <input type="text" id="controlNum_{{$id}}" name="controlNum" only-digits=""
                                       ng-model="lifecycleCtrl.lifecycleModel.controlNumber"
                                       class="form-control full-width" maxlength="6" minlength="6" size="6"
                                       ng-required="true"/>
                                <strong id="controlNum-error" class="error"
                                        ng-if="lifecycleCtrl.showError(lifecycleCtrl.lifecycleDetailsForm.controlNum.$invalid,lifecycleCtrl.lifecycleDetailsForm.controlNum.$touched)">
                        <span class="label label-danger"
                              ng-messages="lifecycleCtrl.lifecycleDetailsForm.controlNum.$error">
                            <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                            <span ng-message="minlength"><span translate="MSG_LENGTH_6NUM"></span></span>
                        </span>
                                </strong>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-md-7"
                             ng-class="{'has-error':lifecycleCtrl.lifecycleDetailsForm.regActivity.$invalid}">
                            <label for="regActivity_{{$id}}" class="required">
                                <span class="field-name">{{"REG_ACTIVITY_TYPE" |translate}}</span>
                                <strong class="required">{{"REQUIRED" |translate}}</strong>
                                <select id="regActivity_{{$id}}" name="regActivity"
                                        ng-model="lifecycleCtrl.lifecycleModel.activityType"
                                        data-ng-change="lifecycleCtrl.setSequenceList()"
                                        class="form-control full-width" ng-required="true"
                                        ng-options="activity[lifecycleCtrl.lang] for activity in lifecycleCtrl.activityList track by activity.id">
                                </select>
                                <strong id="activityType-error" class="error"
                                        ng-if="lifecycleCtrl.showError(lifecycleCtrl.lifecycleDetailsForm.regActivity.$invalid,lifecycleCtrl.lifecycleDetailsForm.regActivity.$touched)">
                        <span class="label label-danger"
                              ng-messages="lifecycleCtrl.lifecycleDetailsForm.seqDescription.$error">
                            <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                        </span>
                                </strong>
                            </label>
                        </div>
                        <div class="form-group col-md-5"
                             ng-class="{'has-error':lifecycleCtrl.lifecycleDetailsForm.seqDescription.$invalid}">
                            <label for="seqDescription_{{$id}}" class="required">
                                <span class="field-name">{{"SEQUENCE_TYPE" |translate}}</span>
                                <strong class="required">{{"REQUIRED" |translate}}</strong>
                                <select id="seqDescription_{{$id}}" name="seqDescription"
                                        ng-model="lifecycleCtrl.lifecycleModel.descriptionValue"
                                        ng-options="descript |translate for descript in  lifecycleCtrl.descriptionList| orderByTranslated"
                                        data-ng-change="lifecycleCtrl.setDetailsState()" required
                                        class="form-control full-width"></select>
                                <strong id="seqDescription-error" class="error"
                                        ng-if="lifecycleCtrl.showError(lifecycleCtrl.lifecycleDetailsForm.seqDescription.$invalid,lifecycleCtrl.lifecycleDetailsForm.seqDescription.$touched)">
                        <span class="label label-danger"
                              ng-messages="lifecycleCtrl.lifecycleDetailsForm.seqDescription.$error">
                            <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                        </span>
                                </strong>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4"
                             ng-class="{'has-error':lifecycleCtrl.lifecycleDetailsForm.dateStart.$invalid}"
                             ng-show="lifecycleCtrl.startDateVisible">
                            <label for="dateStart_{{$id}}" class="required">
                                <span class="field-name">{{lifecycleCtrl.startDateLabel |translate}}</span>
                                <strong class="required">{{"REQUIRED" |translate}}</strong>
                                <!--  <span class="date-picker-format"></span>-->
                                <p class="input-group">
                                    <input id="dateStart_{{$id}}" type="text" class="form-control rep-normal-font"
                                           uib-datepicker-popup
                                           show-button-bar="false" datepicker-options="lifecycleCtrl.dateOptions"
                                           name="dateStart" ng-model="lifecycleCtrl.lifecycleModel.startDate"
                                           is-open="lifecycleCtrl.startDateOpen"
                                           ng-required="lifecycleCtrl.startDateVisible"
                                           data-ng-change="lifecycleCtrl.setConcatDetails()"/>
                                      <span class="input-group-btn">
                                            <button title="{{'CALENDAR'|translate}}" class="btn btn-default"
                                                    aria-haspopup="true"
                                                    id="activity-picker-toggle" ng-click="lifecycleCtrl.openStartDate()"
                                            ><span
                                                    class="glyphicon glyphicon-calendar"></span><span class="wb-inv">{{'CALENDAR'|translate}}</span>
                                            </button>
                                      </span>
                                </p>
                                <strong id="startDate-error" class="error"
                                        ng-if="lifecycleCtrl.showError(lifecycleCtrl.lifecycleDetailsForm.dateStart.$invalid,lifecycleCtrl.lifecycleDetailsForm.dateStart.$touched)">
                        <span class="label label-danger"
                              ng-messages="lifecycleCtrl.lifecycleDetailsForm.dateStart.$error">
                            <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                                <span ng-message="date"><span translate="MSG_ERR_DATE_FORMAT"></span></span>
                        </span>
                                </strong>
                            </label>
                        </div>
                        <div class="form-group col-md-4"
                             ng-class="{'has-error':lifecycleCtrl.lifecycleDetailsForm.dateEnd.$invalid}"
                             ng-show="lifecycleCtrl.endDateVisible">
                            <label for="dateEnd_{{$id}}" class="required">
                                <span class="field-name">{{"END_DATE" |translate}}</span>
                                <strong class="required">{{"REQUIRED" |translate}}</strong>
                                <p class="input-group">
                                    <input id="dateEnd_{{$id}}" type="text" class="form-control rep-normal-font"
                                           uib-datepicker-popup
                                           show-button-bar="false" datepicker-options="lifecycleCtrl.dateOptions"
                                           name="dateEnd" ng-model="lifecycleCtrl.lifecycleModel.endDate"
                                           is-open="lifecycleCtrl.endDateOpen"
                                           ng-required="lifecycleCtrl.endDateVisible"
                                           data-ng-change="lifecycleCtrl.setConcatDetails()"/>
                                      <span class="input-group-btn">
                                            <button title="{{'CALENDAR'|translate}}" class="btn btn-default"
                                                    aria-haspopup="true"
                                                    id="dateEnd-picker-toggle"
                                                    ng-click="lifecycleCtrl.openEndDate()"><span
                                                    class="glyphicon glyphicon-calendar"></span><span class="wb-inv">{{'CALENDAR'|translate}}</span>
                                            </button>
                                      </span>
                                </p>
                                <strong id="endDate-error" class="error"
                                        ng-if="lifecycleCtrl.showError(lifecycleCtrl.lifecycleDetailsForm.dateEnd.$invalid,lifecycleCtrl.lifecycleDetailsForm.dateEnd.$touched)">
                        <span class="label label-danger"
                              ng-messages="lifecycleCtrl.lifecycleDetailsForm.dateEnd.$error">
                            <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                                <span ng-message="date"><span translate="MSG_ERR_DATE_FORMAT"></span></span>
                        </span>
                                </strong>
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4"
                             ng-class="{'has-error':lifecycleCtrl.lifecycleDetailsForm.year.$invalid}"
                             ng-show="lifecycleCtrl.yearVisible">
                            <label for="year_{{$id}}" class="required">
                                <span class="field-name">{{"YEAR_CHANGE" |translate}}</span>
                                <strong class="required">{{"REQUIRED" |translate}}</strong>
                                <select name="year" id="year_{{$id}}" ng-model="lifecycleCtrl.lifecycleModel.year"
                                        class="form-control" ng-required="lifecycleCtrl.yearVisible"
                                        ng-change="lifecycleCtrl.setConcatDetails()"
                                        ng-options=" val for val in lifecycleCtrl.yearList">

                                </select>
                                <!-- <input type="text" name="year"

                                ng-options="option.name for option in data.availableOptions track by option.id"
                                        ng-model="lifecycleCtrl.lifecycleModel.year"
                                        ng-change="lifecycleCtrl.setConcatDetails()"
                                        ng-required="lifecycleCtrl.yearVisible"
                                        class="form-control">
                                 </input>-->
                                <strong id="year-error" class="error"
                                        ng-if="lifecycleCtrl.showError(lifecycleCtrl.lifecycleDetailsForm.year.$invalid,lifecycleCtrl.lifecycleDetailsForm.year.$touched)">
                        <span class="label label-danger"
                              ng-messages="lifecycleCtrl.lifecycleDetailsForm.year.$error">
                            <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                        </span>
                                </strong>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12"
                             ng-class="{'has-error':lifecycleCtrl.lifecycleDetailsForm.lifeDetails.$invalid}"
                             ng-show="lifecycleCtrl.descriptionVisible">
                            <label for="details_{{$id}}" class="required full-width">
                                <span class="field-name">{{"BRIEF_DESC" |translate}}</span>
                                <strong class="required">{{"REQUIRED" |translate}}</strong>
                                <textarea id="details_{{$id}}" name="lifeDetails"
                                          ng-model="lifecycleCtrl.lifecycleModel.details"
                                          ng-change="lifecycleCtrl.setConcatDetails()" maxlength="200" size="256"
                                          ng-required="lifecycleCtrl.descriptionVisible"
                                          class="form-control full-width">
                                </textarea>
                                <strong id="lifeDescipt-error" class="error"
                                        ng-if="lifecycleCtrl.showError(lifecycleCtrl.lifecycleDetailsForm.lifeDetails.$invalid,lifecycleCtrl.lifecycleDetailsForm.lifeDetails.$touched)">
                        <span class="label label-danger"
                              ng-messages="lifecycleCtrl.lifecycleDetailsForm.lifeDetails.$error">
                            <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                        </span>
                                </strong>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4"
                             ng-class="{'has-error':lifecycleCtrl.lifecycleDetailsForm.version.$invalid}"
                             ng-show="lifecycleCtrl.versionVisible">
                            <label for="version_{{$id}}">
                                <span class="field-name">{{"VERSION_NO" |translate}}</span>
                                <strong class="required">{{"REQUIRED" |translate}}</strong>
                                <input type="text" id="version_{{$id}}" name="version"
                                       ng-model="lifecycleCtrl.lifecycleModel.sequenceVersion"
                                       ng-change="lifecycleCtrl.setConcatDetails()"
                                       ng-required="lifecycleCtrl.versionVisible"
                                       class="form-control"/>

                                <strong id="lifeVersion-error" class="error"
                                        ng-if="lifecycleCtrl.showError(lifecycleCtrl.lifecycleDetailsForm.version.$invalid,lifecycleCtrl.lifecycleDetailsForm.version.$touched)">
                        <span class="label label-danger"
                              ng-messages="lifecycleCtrl.lifecycleDetailsForm.version.$error">
                            <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                        </span>
                                </strong>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="btn-group-sm col-xs-12 text-right">
                            <input type="submit" value="{{'Save Transaction '| translate}}" class="btn btn-primary"
                                   name="saveContact" id="saveContact" ng-click="lifecycleCtrl.updateLivecycleModel()"
                                   ng-disabled="lifecycleCtrl.setNotEditable()">
                            <input type="submit" value="{{'Delete Record'|translate}}" class="btn btn-danger"
                                   ng-click="lifecycleCtrl.delete()" ng-disabled="lifecycleCtrl.disableDeleteState()">
                            <input type="submit" value="{{'Discard Changes'| translate }}" class="btn btn-default"
                                   ng-click="lifecycleCtrl.discardChanges()">
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </ng-form>
        <!--<pre>lifecycle record model: {{lifecycleCtrl.lifecycleModel | json : spacing}}</pre>-->
</div>