<ng-form name="theraCtrl.theraListForm">
       <input type="text" required ng-show="false" name="{{::theraCtrl.noTheraId}}" id="{{::theraCtrl.noTheraId}}"
                                aria-hidden="true"
                                data-ng-model="theraCtrl.noThera"/>
    <cmp-expanding-table title="{{::'THERA_CLASS'|translate}}" reset-to-collapsed="theraCtrl.resetToCollapsed"
                         list-items="theraCtrl.model.theraList"
                         column-def="theraCtrl.columnDef" select-record="theraCtrl.selectRecord"
                         disable-selection="theraCtrl.disableAddButton()">

        <cmp-thera-record record="$parent.record" show-errors="thera.showErrors()"
                          on-delete="theraCtrl.deleteRecord(id)"></cmp-thera-record>

    </cmp-expanding-table>

    <div class="mrgn-tp-md mrgn-bttm-lg">
        <div class="btn-group-sm col-md-12 text-right">
            <button class="btn btn-primary" ng-click="theraCtrl.addNew()" id="{{::theraCtrl.addTheraId}}" name="{{::theraCtrl.addTheraId}}"
                    ng-disabled="theraCtrl.disableAddButton()">{{::'THERA_CLASS_ADD'|translate}}
            </button>
        </div>
    </div>
</ng-form>