<ng-form name="theraRecCtrl.theraRecForm">
    <div class="row">
        <div class="col-md-12 form-group"
             ng-class="{'has-error':theraRecCtrl.theraRecForm[theraRecCtrl.theraNameId].$invalid}">
            <label for="{{::theraRecCtrl.theraNameId}}" class="required rep-required-offset">
                <span class="field-name">{{::'THERA_CLASS_NAME'|translate}}&nbsp;{{theraRecCtrl.record.id}}</span>
                <strong class="required">{{::"REQUIRED" |translate}}</strong>
                <cmp-error-message field-name="theraRecCtrl.theraNameId" form-ref="theraRecCtrl.theraRecForm"
                                   show-error="theraRecCtrl.showError(theraRecCtrl.theraRecForm[theraRecCtrl.theraNameId])"
                                   error-types="theraRecCtrl.requiredOnly"></cmp-error-message>
            </label>

            <textarea type="text" name="{{::theraRecCtrl.theraNameId}}" id="{{::theraRecCtrl.theraNameId}}"
                      class="form-control full-width"
                      required rows="2" maxlength="256" ng-model="theraRecCtrl.record.name">
                    </textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <button ng-click="theraRecCtrl.deleteRecord()" name="deleteThera" id="deleteThera"
                    class="btn btn-danger btn-sm">{{::'DELETE_CLASS'|translate}}&nbsp;{{theraRecCtrl.record.id}}
            </button>
        </div>
    </div>

    </div>
</ng-form>
