strong.error {
    display: inline-block;
    width: 100%;
    font-size: 125%;
    /* TODO what is being overridden in wet white-space: normal;*/
}

/* Specifically nesting inputs so need to add this*/
label > input {
    margin-top: 5px;
    font-weight: normal;
}

label > select {
    margin-top: 5px;
    font-weight: normal;
}

.hd1rep {
    color: white;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.col-center {
    float: none;
    margin-right: auto;
    margin-left: auto;
}

.row-even-rep {
    overflow: hidden;
}

[class*="colrep-"] {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.rep-input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    margin-top: 5px;
    font-weight: normal;
}

.rep-margin-top {
    margin-top: 5px;
}
.rep-margin-top-12 {
    margin-top: 12px;
}

.rep-margin-left {
    margin-left: 50px;
}

.rep-margin-minus-top {
    margin-top: -5px !important;
}

.rep-margin-bottom {
    margin-bottom: 0px !important;
}

.rep-margin-top-bottom {
    margin-top: 23px;
    margin-bottom: 23px;
}

.rep-margin-right {
    margin-right: 15px;
}

.rep-expander {
    cursor: pointer;
    color: #295376;
}

.nav > li.active a {
    border-top: #666 solid 4px !important;
}

.rep-center {
    margin: 10px;
}

.rep-info-help:before {
    content: "" !important;
}

.rep-help-button {
    color: white;
    background-color: transparent;
    border: none;
}

.rep-help-button-primary {
    color: #1c578a;
    background-color: transparent;
    border: none;
}

.rep-help-button-primary:focus {
    outline: 2px dotted darkblue;
}

.rep-normal-font {
    font-weight: normal;
}

.rep-selectize-font {
    font-weight: normal;
    font-size: 15px;
}

.rep-selectize-dropdown {
    width: 100% !important;
    font-weight: normal;
    font-size: 15px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.rep-pad-top {
    padding-top: 5px;
}

.rep-pad-top-10 {
    padding-top: 10px;
}

.rep-bottom {
    bottom: 5px;
}

.select2-container .select2-choice {
    height: 37px !important;
    padding: 6px 12px !important;
    margin: 0;
    position: relative;
    display: block;
    zoom: 1;
    vertical-align: middle;
    min-width: 100% !important;
    width: 100% !important;
}

.select2-container .select2-choice > .select2-chosen {
    min-width: 100%;
    width: 100%;
}

.rep-error.has-error {
    border-color: #a94442 !important;
    border-style: solid;
    border-width: 1px !important;
    border-radius: 4px !important;
}

.cloak-class {
    opacity: 0;
}

.rep-required-offset {
    margin-left: 0.655em !important;
}

.custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
}

.custom-popup-wrapper > li > a {

    text-decoration: none !important;
}

.rep-success {
    border-color: #3c763d;
    border-width: medium;
}

.rep-vertical-align {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

input[type="date"] {
    margin-top: 5px !important;
}

.picker-toggle {
    margin-top: 5px !important;
}

.rep-close {
    opacity: 0.7;
}
.rep-link{
    color: #0535d2;
    text-decoration: underline;
}
 strong.required {
    color: #d3080c !important;
 font-weight: 700;
}
.legend-rep{
    font-size: 15px !important;
    font-weight: 700 !important;
}
.legend-rep-h3{
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 23px;
    font-size: 22px;
    line-height: inherit;
    color: #333;
    border: 0;
    font-family: Helvetica, Arial, sans-serif !important;
    font-weight: 700 !important;
}

.checkbox-pi {
     margin-left: 25px;
 }

.label-pi {
    font-size: 15px;
}

ul.no-bullets li
{
    list-style-type: none;
}

div .module-attention {
    background-color: #fffcee;
    outline: 1px solid #ffe75d;
    background-position: 0 0;
    padding-top: 5px;
    padding-bottom: 2px;
    padding-left: 10px;
}
.rep-info-button {
    background-color: transparent !important;
    border: none !important;
    margin-top: 5px;
}


.rep-info-button:focus {
    outline: 2px dotted white

}
.ref-info-link {
    width: auto !important;
}
.fa-info-circle:before {
    color: white;
}
.floatLeft {
    float:left;
}
.floatRight {
    float:right;
}
.padding-bttm-lg[open] {
    padding-bottom: 2.5em;
}
.radioButtonTitle {
    font-size:15px;
    font-weight:700;
}

.cd-data-pi {
    margin-top: 70px;
    margin-right: 15px;
    margin-left: 15px;
}

.rep-panel-title {
    font-size:15px;
    font-weight:700;
    font-family: "Noto Sans",sans-serif;
}