<div>
    <p>
        Les renseignements que vous fournissez à Santé Canada sont protégés et régis par la Loi sur la protection des renseignements personnels. Santé Canada ne recueille que les renseignements personnels nécessaires à l’administration du processus d’homologation des médicaments. Ces renseignements sont recueillis en vertu de la Loi sur les aliments et drogues et du Règlement sur les aliments et drogues.
    </p>
</div>
<div>
    <p>
        <b>But de la collecte : </b>  Santé Canada a besoin des renseignements personnels pour traiter les formulaires de demande réglementaire liés aux médicaments à usage humain et vétérinaire dans le cadre du processus d'inscription réglementaire (PIR) dans le cadre canadien d'enregistrement des médicaments. Les informations que vous fournissez peuvent être utilisées pour vous contacter afin de vérifier les informations fournies, d'évaluer la faisabilité de l'inscription d'entreprises, de dossiers et de suivre les activités et transactions réglementaires.
    </p>
</div>
<div>
    <p>
        <b>Pour de plus amples renseignements : </b> La catégorie de documents est décrite sous HC HP 005 sur le site web d’<a href="https://www.canada.ca/fr/sante-canada/organisation/a-propos-sante-canada/activites-responsabilites/acces-information-protection-renseignements-personnels/info-source-renseignements-gouvernement-federal-fonctionnaires-federaux.html">Info Source</a>.
        La banque de renseignements personnels pour cette collecte est en cours d’élaboration.
    </p>
</div>
<div>
    <p>
        <b>Vos droits en vertu de la Loi sur la protection des renseignements personnels : </b>En plus de protéger vos renseignements personnels, la Loi sur la protection des renseignements personnels vous donne le droit de demander l’accès à vos renseignements personnels et de les faire corriger. Vous avez également le droit de déposer une plainte auprès du Commissariat à la protection de la vie privée si vous estimez que vos renseignements personnels ont été traités de façon inappropriée.
    </p>
</div>
<p>
    Pour obtenir de plus amples renseignements sur le programme, veuillez nous écrire à <a href="mailto:ereview@hc-sc.gc.ca">ereview@hc-sc.gc.ca</a>.
</p>
