    <div>
        <p>
            The personal information that you provide is protected and governed in accordance with the Privacy Act.
            We only collect personal information required to administer the Canadian drug registration process.
            The personal information is collected under the authority of the Food and Drugs Act and the Food and Drug Regulations.
        </p>
    </div>
    <div>
        <p>
            <b>Purpose of collection</b>:  Health Canada requires the personal information to process regulatory application forms
            related to human and veterinary  drug products under the Regulatory Enrolment Process (REP) within the Canadian drug registration framework.
            The information you provide may be used to contact you to verify provided information, to assess the feasibility of enrolling companies, dossiers, and track regulatory activities and transactions .
        </p>
    </div>
    <div>
        <p>
            <b>For more information</b>:  The class of records are described under HC HP 005 on <a href="https://www.canada.ca/en/health-canada/corporate/about-health-canada/activities-responsibilities/access-information-privacy/info-source-federal-government-employee-information.html">Info Source website</a>.
            The personal information bank for this collection is currently under development.</p>
    </div>
    <div>
        <p>
            <b>Your rights under the Privacy Act</b>: In addition to protecting your personal information,
            the Privacy Act gives you the right to request access to and correct your personal information.
            You also have the right to file a complaint to the Office of the Privacy Commissioner
            if you think your personal information has been handled improperly.
        </p>
    </div>

    <p>
        For more information about the program, please contact <a href="mailto:ereview@hc-sc.gc.ca">ereview@hc-sc.gc.ca</a>.
    </p>
