<div>
    <p>
        Vous êtes entièrement responsable de la sécurité de toutes les données et tous les renseignements sensibles ou confidentiels que vous indiquez à vos propres risques sur ce formulaire. Vous reconnaissez que pendant que vous remplissez ce formulaire, vos données et renseignements peuvent être conservés dans la mémoire cache de votre fureteur Web, et que dans certains cas, tels que la perte de connexion, vos données et renseignements peuvent être conservés dans votre mémoire cache locale. Vous êtes responsable de la sécurité de toutes les données et tous les renseignements saisis dans votre poste de travail ou ailleurs dans votre système, ainsi que du marquage, du traitement, du stockage et de la destruction sécurisés de vos données et renseignements.
    </p>
</div>