    <div>
        <p>
            The security of any sensitive or confidential data or information that you enter on this form will be entirely your responsibility and at your own risk.
            You acknowledge that during the form completion process, your data or information may be held in cache on your web browser, and in certain events such as
            a loss of connection, your data and information may be retained in your local cache. You are responsible for the security of all data and information entered
            on your workstation or anywhere on your system, and for marking, handling, storing, and destroying your data and information in a secure manner.
        </p>
    </div>