<div class="form-group">
    <!--<pre>tabs {{tabsCtrl.appendix4List | json}}</pre>-->

    <ul class="nav nav-tabs">
        <li ng-repeat="tab in tabsCtrl.tabs" role="presentation" ng-click="tabsCtrl.selectTab($index)"
            ng-class="{'active':tabsCtrl.tabs[$index].selected === true}">
            <a role="tab">{{tab.label |translate}}
                <strong ng-if="tabsCtrl.tabs[$index].form.$invalid" class="required">({{'ERRORS' |translate}})</strong>
            </a>
        </li>
    </ul>
    <div class="tabpanels">
        <ng-form name="tabsCtrl.tabs[0].form">
            <div id="formulations-panel" role="tabpanel" class="out">
                <div ng-show="tabsCtrl.tabs[0].selected">
                    <cmp-formulations formulations="tabsCtrl.formulationList"  error-summary-update="tabsCtrl.updateSummary"
                    show-error-summary="tabsCtrl.showSummary" update-error-summary="tabsCtrl.updateErrorSummary()"
                                      record-changed="tabsCtrl.recordChanged()"></cmp-formulations>
                </div>
            </div>
        </ng-form>
        <ng-form name="tabsCtrl.tabs[1].form">
            <div id="appendix4-panel" role="tabpanel" class="out">
                <div  ng-show="tabsCtrl.tabs[1].selected">
                    <cmp-appendix-four ingredients="tabsCtrl.appendix4List" service="tabsCtrl.service" update-error-summary="tabsCtrl.updateErrorSummary()"
                                       error-summary-update="tabsCtrl.updateSummary"
                                       show-error-summary="tabsCtrl.showSummary" record-changed="tabsCtrl.recordChanged()"></cmp-appendix-four>
                </div>
            </div>
        </ng-form>
    </div>
 <!--   <pre>{{tabsCtrl.tabs[0]}}</pre>-->
</div>
