<div class="container-fluid">
    <ng-form name="hcOnlyCtrl.hcOnlyForm">
        <div class="row">
            <div class="form-group col-md-4"
                 ng-class="{'has-error':hcOnlyCtrl.hcOnlyForm[hcOnlyCtrl.dateReceivedId].$invalid}">
                <label for="{{::hcOnlyCtrl.dateReceivedId}}" class="required">
                    <span class="field-name">{{"DATE_APPL_REC" |translate}}</span>
                    <strong class="required"> {{"REQUIRED" |translate}} </strong>
                    <input type="date" id="{{::hcOnlyCtrl.dateReceivedId}}" name="{{::hcOnlyCtrl.dateReceivedId}}"
                           data-ng-model="hcOnlyCtrl.model.dateReceived" class="form-control"
                           required/>
                    <cmp-error-message field-name="hcOnlyCtrl.dateReceivedId" form-ref="hcOnlyCtrl.hcOnlyForm"
                                       show-error="hcOnlyCtrl.showErrors()"
                                       error-types="hcOnlyCtrl.requiredOnlyError"></cmp-error-message>
                </label>
            </div>
            <div class="form-group col-md-4"
                 ng-class="{'has-error':hcOnlyCtrl.hcOnlyForm[hcOnlyCtrl.companyCodeId].$invalid}">
                <label for="{{::hcOnlyCtrl.companyCodeId}}" class="required">
                    <span class="field-name">{{"CSP_COMPANY_CODE" |translate}}</span>
                    <strong class="required"> {{"REQUIRED" |translate}} </strong>
                    <input type="text" id="{{::hcOnlyCtrl.companyCodeId}}" name="{{::hcOnlyCtrl.companyCodeId}}"
                           data-ng-model="hcOnlyCtrl.model.companyId" class="form-control"
                           required/>
                    <cmp-error-message field-name="hcOnlyCtrl.companyCodeId" form-ref="hcOnlyCtrl.hcOnlyForm"
                                       show-error="hcOnlyCtrl.showErrors()"
                                       error-types="hcOnlyCtrl.requiredOnlyError"></cmp-error-message>
                </label>
            </div>
            <div class="form-group col-md-4"
                 ng-class="{'has-error':hcOnlyCtrl.hcOnlyForm[hcOnlyCtrl.applicationCodeId].$invalid}">
                <label for="{{::hcOnlyCtrl.applicationCodeId}}" class="required">
                    <span class="field-name">{{"CSP_APPLICATION_CODE" |translate}}</span>
                    <strong class="required"> {{"REQUIRED" |translate}} </strong>
                    <input type="text" id="{{::hcOnlyCtrl.applicationCodeId}}" name="{{::hcOnlyCtrl.applicationCodeId}}"
                           data-ng-model="hcOnlyCtrl.model.applicationId" class="form-control"
                           required/>
                    <cmp-error-message field-name="hcOnlyCtrl.applicationCodeId" form-ref="hcOnlyCtrl.hcOnlyForm"
                                       show-error="hcOnlyCtrl.showErrors()"
                                       error-types="hcOnlyCtrl.requiredOnlyError"></cmp-error-message>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12"
                 ng-class="{'has-error':hcOnlyCtrl.hcOnlyForm[hcOnlyCtrl.notesId].$invalid}">
                <label for="{{::hcOnlyCtrl.notesId}}" class="required">
                    <span class="field-name">{{"NOTES" |translate}}</span>
                    <strong class="required"> {{"REQUIRED" |translate}} </strong>
                    <cmp-error-message field-name="hcOnlyCtrl.notesId" form-ref="hcOnlyCtrl.hcOnlyForm"
                                       show-error="hcOnlyCtrl.showErrors()"
                                       error-types="hcOnlyCtrl.requiredOnlyError"></cmp-error-message>
                </label>
                <textarea id="{{::hcOnlyCtrl.notesId}}" name="{{::hcOnlyCtrl.notesId}}" class="form-control full-width"
                          data-ng-model="hcOnlyCtrl.model.hcNotes"
                          maxlength="256" rows="4" required></textarea>
            </div>
        </div>
    </ng-form>
</div>


