<div class="container-fluid">
    <ng-form name="hcOnlyCtrl.hcOnlyForm">
        <div class="row">
            <div class="form-group col-md-4"
                 ng-class="{'has-error':hcOnlyCtrl.hcOnlyForm.dateReceived_{{::$id}}.$invalid}">
                <label for="dateReceived_{{::$id}}" class="required">
                    <span class="field-name">{{"DATE_APPL_REC" |translate}}</span>
                    <strong class="required"> {{"REQUIRED" |translate}} </strong>
                    <input type="date" id="dateReceived_{{::$id}}" name="dateReceived_{{::$id}}"
                           data-ng-model="hcOnlyCtrl.model.dateReceived" class="form-control"
                           required/>
                    <strong id="dateReceived-error" class="error"
                            ng-show="hcOnlyCtrl.showError(hcOnlyCtrl.hcOnlyForm.dateReceived_{{::$id}})">
                            <span class="label label-danger"
                                  ng-messages="hcOnlyCtrl.hcOnlyForm.dateReceived_{{::$id}}.$error">
                                <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                            </span>
                    </strong>
                </label>
            </div>
            <div class="form-group col-md-4"
                 ng-class="{'has-error':hcOnlyCtrl.hcOnlyForm.companyCode_{{::$id}}.$invalid}">
                <label for="companyCode_{{::$id}}" class="required">
                    <span class="field-name">{{"CSP_COMPANY_CODE" |translate}}</span>
                    <strong class="required"> {{"REQUIRED" |translate}} </strong>
                    <input type="text" id="companyCode_{{::$id}}" name="companyCode_{{::$id}}"
                           data-ng-model="hcOnlyCtrl.model.companyId" class="form-control"
                           required/>
                    <strong id="companyCode-error" class="error"
                            ng-show="hcOnlyCtrl.showError(hcOnlyCtrl.hcOnlyForm.companyCode_{{::$id}})">
                            <span class="label label-danger"
                                  ng-messages="hcOnlyCtrl.hcOnlyForm.companyCode_{{::$id}}.$error">
                                <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                            </span>
                    </strong>
                </label>
            </div>
            <div class="form-group col-md-4"
                 ng-class="{'has-error':hcOnlyCtrl.hcOnlyForm.applicationId_{{::$id}}.$invalid}">
                <label for="applicationId_{{::$id}}" class="required">
                    <span class="field-name">{{"CSP_APPLICATION_CODE" |translate}}</span>
                    <strong class="required"> {{"REQUIRED" |translate}} </strong>
                    <input type="text" id="applicationId_{{::$id}}" name="applicationId_{{::$id}}"
                           data-ng-model="hcOnlyCtrl.model.applicationId" class="form-control"
                           required/>
                    <strong id="applicationId-error" class="error"
                            ng-show="hcOnlyCtrl.showError(hcOnlyCtrl.hcOnlyForm.applicationId_{{::$id}})">
                            <span class="label label-danger"
                                  ng-messages="hcOnlyCtrl.hcOnlyForm.applicationId_{{::$id}}.$error">
                                <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                            </span>
                    </strong>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12"
                 ng-class="{'has-error':hcOnlyCtrl.hcOnlyForm.notes_{{::$id}}.$invalid}">
                <label for="notes_{{::$id}}" class="required">
                    <span class="field-name">{{"NOTES" |translate}}</span>
                    <strong class="required"> {{"REQUIRED" |translate}} </strong>
                    <strong id="notes-error" class="error"
                            ng-show="hcOnlyCtrl.showError(hcOnlyCtrl.hcOnlyForm.notes_{{::$id}})">
                            <span class="label label-danger" ng-messages="hcOnlyCtrl.hcOnlyForm.notes_{{::$id}}.$error">
                                <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                            </span>
                    </strong>
                </label>
                <textarea id="notes_{{::$id}}" name="notes_{{::$id}}" class="form-control full-width"
                          data-ng-model="hcOnlyCtrl.model.hcNotes"
                          maxlength="256" rows="4" required></textarea>
            </div>
        </div>
    </ng-form>
</div>


