<div class="container-fluid">
    <ng-form name="timelySubCtrl.timelySubForm">

        <div class="row">
            <div class="col-xs-12">
                <fieldset>
                    <legend class="required"><span class="field-name">{{'STATEMENTS_TIMELY' |translate}}</span>
                        <strong class="required"> {{"REQUIRED" |translate}} </strong>
                        <cmp-error-message field-name="timelySubCtrl.timelyId" form-ref="timelySubCtrl.timelySubForm"
                                           show-error="timelySubCtrl.showErrors()"
                                           error-types="timelySubCtrl.requiredOnly"></cmp-error-message>
                    </legend>
                    <div class="radio">
                        <label for="{{::timelySubCtrl.timelyId}}">
                            <input type="radio"
                                   name="{{::timelySubCtrl.timelyId}}" id="{{::timelySubCtrl.timelyId}}"
                                   ng-model="timelySubCtrl.model.submissionStatement"
                                   ng-value="timelySubCtrl.noAppValue"
                                   ng-required="!timelySubCtrl.model.submissionStatement"/>
                            {{'STATE_NO_APPLICATION'|translate}}
                        </label>
                    </div>
                    <div class="radio">
                        <label for="market-approval">
                            <input type="radio" name="{{::timelySubCtrl.timelyId}}"
                                   ng-model="timelySubCtrl.model.submissionStatement"
                                   ng-required="!timelySubCtrl.model.submissionStatement"
                                   ng-value="timelySubCtrl.appValue" id="market-approval"/>
                            {{'STATE_APPLICATION'|translate}}
                        </label>
                    </div>
                </fieldset>
            </div>
        </div>
        <div ng-if="timelySubCtrl.isApplicationMarketing()">
            <div class="row">
                <div class="form-group col-md-4"
                     ng-class="{'has-error':timelySubCtrl.timelySubForm[timelySubCtrl.dateId].$invalid}">
                    <label for="{{::timelySubCtrl.dateId}}" class="required">
                        <span class="field-name">{{"TIMELYDATE" |translate}}</span>
                        <strong class="required"> {{"REQUIRED" |translate}} </strong>
                        <input type="date" id="{{::timelySubCtrl.dateId}}" name="{{::timelySubCtrl.dateId}}"
                               data-ng-model="timelySubCtrl.model.approvalDate" class="form-control" required/>
                        <cmp-error-message field-name="timelySubCtrl.dateId" form-ref="timelySubCtrl.timelySubForm"
                                           show-error="timelySubCtrl.showErrors()"
                                           error-types="timelySubCtrl.dateError"></cmp-error-message>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6"
                     ng-class="{'has-error':timelySubCtrl.timelySubForm[timelySubCtrl.countryId].$invalid}">
                    <label for="{{::timelySubCtrl.countryId}}" class="required">
                        <span class="field-name">{{"TIMELYCOUNTRY" |translate}}</span>
                        <strong class="required"> {{"REQUIRED" |translate}} </strong>
                        <select id="{{::timelySubCtrl.countryId}}" name="{{::timelySubCtrl.countryId}}"
                                ng-options="country |translate for country in timelySubCtrl.countries"
                                ng-change="timelySubCtrl.isEuOther()"
                                data-ng-model="timelySubCtrl.model.country" class="form-control" required></select>
                        <cmp-error-message field-name="timelySubCtrl.countryId" form-ref="timelySubCtrl.timelySubForm"
                                           show-error="timelySubCtrl.showErrors()"
                                           error-types="timelySubCtrl.requiredOnly"></cmp-error-message>

                    </label>
                </div>
                <div ng-if="timelySubCtrl.isEuOther()">
                    <div class="form-group col-md-6"
                         ng-class="{'has-error':timelySubCtrl.timelySubForm[timelySubCtrl.otherCountryId].$invalid}">
                        <label for="{{::timelySubCtrl.otherCountryId}}" class="required">
                            <span class="field-name">{{"OTHER_EU_COUNTRY" |translate}}</span>
                            <strong class="required"> {{"REQUIRED" |translate}} </strong>
                            <input type="text" id="{{::timelySubCtrl.otherCountryId}}"
                                   name="{{::timelySubCtrl.otherCountryId}}" maxlength="60" size="60"
                                   data-ng-model="timelySubCtrl.model.otherCountry" class="form-control" required/>
                            <cmp-error-message field-name="timelySubCtrl.otherCountryId"
                                               form-ref="timelySubCtrl.timelySubForm"
                                               show-error="timelySubCtrl.showErrors()"
                                               error-types="timelySubCtrl.requiredOnly"></cmp-error-message>

                        </label>
                    </div>
                </div>
            </div>
        </div>
    </ng-form>
</div>