<div class="container-fluid">
    <ng-form name="timelySubCtrl.timelySubForm">
        <div class="row">
            <div class="col-xs-12">
                <fieldset>
                    <legend class="required"><span class="field-name">{{'STATEMENTS_TIMELY' |translate}}</span>
                        <strong class="required"> {{"REQUIRED" |translate}} </strong>
                        <cmp-error-message field-name="timelySubCtrl.timelyId" form-ref="timelySubCtrl.timelySubForm"
                                           show-error="timelySubCtrl.showErrors()"
                                           error-types="timelySubCtrl.requiredOnly"></cmp-error-message>
                    </legend>
                    <div class="radio">
                        <label for="{{::timelySubCtrl.timelyId}}">
                            <input type="radio"
                                   name="{{::timelySubCtrl.timelyId}}" id="{{::timelySubCtrl.timelyId}}"
                                   ng-model="timelySubCtrl.model.submissionStatement"
                                   ng-value="timelySubCtrl.noAppValue"
                                   ng-required="!timelySubCtrl.model.submissionStatement"/>
                            <ng-bind-html ng-bind-html="timelySubCtrl.noApplication"></ng-bind-html>
                        </label>
                    </div>
                    <br/>
                    <div class="radio">
                        <label for="market-approval">
                            <input type="radio" name="{{::timelySubCtrl.timelyId}}"
                                   ng-model="timelySubCtrl.model.submissionStatement"
                                   ng-required="!timelySubCtrl.model.submissionStatement"
                                   ng-value="timelySubCtrl.appValue" id="market-approval"/>
                            <ng-bind-html ng-bind-html="timelySubCtrl.application"></ng-bind-html>
                        </label>
                    </div>
                </fieldset>
            </div>
        </div>
        <div ng-show="timelySubCtrl.isApplicationMarketing()">
            <div class="row">
                <div class="col-xs-12">
                    <div class=" rep-vertical-align"
                         ng-class="{'has-error':timelySubCtrl.timelySubForm[timelySubCtrl.dateId].$invalid}">
                        <label for="{{::timelySubCtrl.dateId}}" class="required">
                            <span class="field-name">{{"TIMELYDATE" |translate}}</span>
                            <span ng-if="!timelySubCtrl.isFrench()" class="datepicker-format">(YYYY-MM-DD)</span>
                            <span ng-if="timelySubCtrl.isFrench()" class="datepicker-format">(AAAA-MM-JJ)</span>
                            <strong class="required"> {{"REQUIRED" |translate}} </strong>
                            <cmp-error-message field-name="timelySubCtrl.dateId" form-ref="timelySubCtrl.timelySubForm"
                                               show-error="timelySubCtrl.showErrors()"
                                               error-types="timelySubCtrl.dateError"></cmp-error-message>
                        </label>
                    </div>
                    <div class="rep-vertical-align">
                        <input type="date" id="{{::timelySubCtrl.dateId}}" name="{{::timelySubCtrl.dateId}}"
                               data-ng-model="timelySubCtrl.model.approvalDate" class="form-control"
                               ng-required="timelySubCtrl.isApplicationMarketing()"/>
                    </div>
                    <button title="{{'HELP_MARKETDATE'|translate}}"  class="btn rep-help-button-primary btn-xs rep-vertical-align"
                            ng-click="timelySubCtrl.addInstruct(0)"><span
                            class="fa fa-question-circle fa-2x"></span><span class="wb-inv">"{{'HELP_MARKETDATE'|translate}}"</span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div uib-alert template-url="./app/lib/uib-templates/alert.html" ng-if="timelySubCtrl.alerts[0]"
                         class="alert-info" close="timelySubCtrl.closeAlert(0)">
                        <section aria-live="assertive">
                            <div ng-if="!timelySubCtrl.isFrench()"
                                 ng-include="'app/scripts/templates/csp/tpl-csp-marketDate-en.html'">
                            </div>
                            <div ng-if="timelySubCtrl.isFrench()"
                                 ng-include="'app/scripts/templates/csp/tpl-csp-marketDate-fr.html'">
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="row rep-margin-top">
                <div class="form-group col-md-7 rep-margin-top"
                     ng-class="{'has-error':timelySubCtrl.timelySubForm[timelySubCtrl.countryId].$invalid}">
                    <label for="{{::timelySubCtrl.countryId}}" class="required">
                        <span class="field-name">{{"TIMELYCOUNTRY" |translate}}</span>
                        <strong class="required"> {{"REQUIRED" |translate}} </strong>
                        <div class="rep-pad-top">
                            <div class="rep-error" ng-class="{'has-error':adr.addressForm[adr.countryId].$invalid}">
                                <ui-select ng-model="timelySubCtrl.model.country" id="{{::timelySubCtrl.countryId}}"
                                           name="{{::timelySubCtrl.countryId}}"
                                           on-select="timelySubCtrl.countryChanged()"
                                           ng-required="timelySubCtrl.isApplicationMarketing()"
                                           title="{{'COUNTRY_CHOOSE'|translate}}"
                                           class="rep-selectize-font full-width">
                                    <ui-select-match placeholder="{{'COUNTRY_CHOOSE'|translate}}"
                                                     id="country_match{{::$id}}"
                                                     class="rep-selectize-font rep-selectize-dropdown form-control">
                                        {{$select.selected[timelySubCtrl.lang]}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="countryRecord in  timelySubCtrl.countries | filter:{[timelySubCtrl.lang]: $select.search}"
                                            class="rep-selectize-font">
                                        <span ng-bind-html="countryRecord[timelySubCtrl.lang] | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <cmp-error-message field-name="timelySubCtrl.countryId" form-ref="timelySubCtrl.timelySubForm"
                                           show-error="timelySubCtrl.showErrors()"
                                           error-types="timelySubCtrl.requiredOnly"></cmp-error-message>

                    </label>
                </div>
            </div>
        </div>
    </ng-form>
    <!-- <pre>{{timelySubCtrl.model|json}}</pre>-->
</div>