<div class="container-fluid">
    <ng-form name="timelySubCtrl.timelySubForm">

        <div class="row">
            <div class="col-xs-12">
                <fieldset ng-class="{ 'has-error' : timelySubCtrl.timelySubForm.timely.$invalid }">
                    <legend class="required"><span class="field-name">{{'STATEMENTS_TIMELY' |translate}}</span>
                        <strong
                                class="required"> {{"REQUIRED" |translate}} </strong></legend>
                    <strong id="timely-error" class="error"
                            ng-show="timelySubCtrl.showError(timelySubCtrl.timelySubForm.timely)">
                    <span class="label label-danger"
                          ng-messages="timelySubCtrl.timelySubForm.timely.$error">
                                             <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                                         </span>
                    </strong>
                    <div class="radio">
                        <label for="no-market-approval"><input type="radio" name="timelySubCtrl.timelySubForm.timely"
                                                               id="no-market-approval"
                                                               ng-model="timelySubCtrl.model.submissionStatement"
                                                               ng-value="timelySubCtrl.noAppValue" required="required"/>
                            {{'STATE_NO_APPLICATION'|translate}}
                        </label>
                    </div>
                    <div class="radio">
                        <label for="market-approval"><input type="radio" name="timelySubCtrl.timelySubForm.timely"
                                                            ng-model="timelySubCtrl.model.submissionStatement"
                                                            ng-value="timelySubCtrl.appValue" id="market-approval"/>
                            {{'STATE_APPLICATION'|translate}}
                        </label>
                    </div>
                </fieldset>
            </div>
        </div>
        <div ng-if="timelySubCtrl.isApplicationMarketing()">
            <div class="row">
                <div class="form-group col-md-4"
                     ng-class="{'has-error':timelySubCtrl.timelySubForm.timelyDate_{{::$id}}.$invalid}">
                    <label for="timelyDate_{{::$id}}" class="required">
                        <span class="field-name">{{"APPL_DATE" |translate}}</span>
                        <strong class="required"> {{"REQUIRED" |translate}} </strong>
                        <input type="date" id="timelyDate_{{::$id}}" name="timelyDate_{{::$id}}"
                               data-ng-model="timelySubCtrl.model.approvalDate" class="form-control" required/>
                        <strong id="timelyDate-error" class="error"
                                ng-show="timelySubCtrl.showError(timelySubCtrl.timelySubForm.timelyDate_{{::$id}})">
                                         <span class="label label-danger"
                                               ng-messages="timelySubCtrl.timelySubForm.timelyDate_{{::$id}}.$error">
                                             <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                                              <span ng-message="date">{{'MSG_ERR_DATE_FORMAT'|translate}}</span>
                                         </span>
                        </strong>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6"
                     ng-class="{'has-error':timelySubCtrl.timelySubForm.timelyCountry_{{::$id}}.$invalid}">
                    <label for="timelyCountry_{{::$id}}" class="required">
                        <span class="field-name">{{"MARKETING_COUNTRY" |translate}}</span>
                        <strong class="required"> {{"REQUIRED" |translate}} </strong>
                        <select id="timelyCountry_{{::$id}}" name="timelyCountry_{{::$id}}"
                                ng-options="country |translate for country in timelySubCtrl.countries"
                                ng-change="timelySubCtrl.isEuOther()"
                                data-ng-model="timelySubCtrl.model.country" class="form-control" required></select>
                        <strong id="timelyCountry-error" class="error"
                                ng-show="timelySubCtrl.showError(timelySubCtrl.timelySubForm.timelyCountry_{{::$id}})">
                                         <span class="label label-danger"
                                               ng-messages="timelySubCtrl.timelySubForm.timelyCountry_{{::$id}}.$error">
                                             <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                                         </span>
                        </strong>
                    </label>
                </div>
                <div ng-if="timelySubCtrl.isEuOther()">
                    <div class="form-group col-md-6"
                         ng-class="{'has-error':timelySubCtrl.timelySubForm.otherCountry_{{::$id}}.$invalid}">
                        <label for="otherCountry_{{::$id}}" class="required">
                            <span class="field-name">{{"OTHER_EU_COUNTRY" |translate}}</span>
                            <strong class="required"> {{"REQUIRED" |translate}} </strong>
                            <input type="text" id="otherCountry_{{::$id}}" name="otherCountry_{{::$id}}" maxlength="60"
                                   size="60"
                                   data-ng-model="timelySubCtrl.model.otherCountry" class="form-control" required/>
                            <strong id="otherCountry-error" class="error"
                                    ng-show="timelySubCtrl.showError(timelySubCtrl.timelySubForm.otherCountry_{{::$id}})">
                                         <span class="label label-danger"
                                               ng-messages="timelySubCtrl.timelySubForm.otherCountry_{{::$id}}.$error">
                                             <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                                         </span>
                            </strong>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </ng-form>
</div>