<ng-form id="{{::selectCtrl.formId}}" name="selectCtrl.selectForm">
<section>
    <div class="row">
        <div class="form-group">
            <div>
                <div class="row">
                <label for="fileLoad" class="col-sm-3">
                        <span class="field-name">{{'SELECT_LOAD'|translate}}</span>
                    </label>

                    <div class="col-sm-8">
                        <input  id="fileLoad" type="file" accept=".xml, .json, .hcsc" name="fileLoad"
                                data-hpfb-file-select="selectCtrl.modelCallback(fileContent)"
                               data-root-tag="{{selectCtrl.rootElem}}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" aria-live='polite'>
                        <p><br/><span>{{selectCtrl.status|translate}}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</ng-form>

