<ng-form name="dosIdCtrl.dosIdForm">
    <div class="form-group">
        <div class="col-xs-4">
            <label for="dossierId_{{::$id}}" class="required">
                <span class="field-name">{{'DOSSIER_ID'|translate}}&nbsp;</span>
                <strong class="required"> {{"REQUIRED" |translate}}</strong>
                <div>
                    <div>
                        <div class="btn-group">
                            <div class="rep-input-group">
                                <span class="input-group-addon">HC6-024-</span>
                                <div ng-class="{'has-error':dosIdCtrl.dosIdForm.dossierId.$invalid}">
                                    <input type="text" class="form-control full-width" id="dossierId_{{::$id}}"
                                           maxlength="7" name="dossierId" minlength="7" size="9" ng-disabled="!dosIdCtrl.isEditable"
                                           ng-model="dosIdCtrl.record.dossierId" required/>
                                </div>
                                <span class="input-group-btn">
                                <button class="btn btn-danger" ng-click="dosIdCtrl.delete()" name="dossierIdDelete" ng-disabled="!dosIdCtrl.isEditable">
                                    <span aria-label="{{'DELETE_DIN'|translate }}"></span>
                                    {{'DELETE'|translate}}
                                </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <strong id="dossierIdValue-error" class="error"
                            ng-show="dosIdCtrl.showError(dosIdCtrl.dosIdForm.dossierId)">
                        <span class="label label-danger" ng-messages="dosIdCtrl.dosIdForm.dossierId.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                              <span ng-message="minlength"><span translate="MSG_LENGTH_7NUM"></span></span>
                        </span>
                    </strong>
                </div>
            </label>
        </div>
    </div>
</ng-form>