<ng-form name="roaRecCtrl.roaRecForm">
    <div class="container-fluid">
        <fieldset>
            <legend>
                {{'ROA_LBL' | translate}}&nbsp;{{roaRecCtrl.model.id}}
            </legend>
            <div class="row form-group">
                <div class="col-md-4" ng-class="{'has-error':roaRecCtrl.roaRecForm.roaVal.$invalid}">
                    <label for="roa{{$id}}" class="required">
                        <span class="field-name">{{'ROA_LBL'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong>
                        <select ng-model="roaRecCtrl.model.roa" class="form-control" id="roa{{$id}}" name="roaVal"
                                ng-required="true"
                                ng-options="val |translate for val in  roaRecCtrl.roaList  | orderByTranslatedOtherFirst">
                        </select>
                        <strong id="roaList-error" class="error"
                                ng-if="roaRecCtrl.showError(roaRecCtrl.roaRecForm.roaVal.$invalid,roaRecCtrl.roaRecForm.roaVal.$touched)">
                        <span class="label label-danger"
                              ng-messages="roaRecCtrl.roaRecForm.roaVal.$error">
                            <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                        </span>
                        </strong>
                    </label>
                </div>
                <div class="col-md-5" ng-if="roaRecCtrl.isRoaOther()"
                     ng-class="{'has-error':roaRecCtrl.roaRecForm.otherRoa.$invalid}">
                    <label for="other-roa-details{{$index}}" class="required">
                        <span class="field-name">{{'OTHER_ROA_DETAILS'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong>
                        <input type="text" id="other-roa-details{{$index}}" class="form-control"
                               name="otherRoa" size="40" maxlength="40"
                               ng-model="roaRecCtrl.model.otherRoaDetails" ng-required="true"/>
                        <strong id="otherRoa-error" class="error"
                                ng-if="roaRecCtrl.showError(roaRecCtrl.roaRecForm.otherRoa.$invalid,roaRecCtrl.roaRecForm.otherRoa.$touched)">
                         <span class="label label-danger"
                               ng-messages="roaRecCtrl.roaRecForm.otherRoa.$error">
                             <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                         </span>
                        </strong>
                    </label>
                </div>

            </div>
            <div class="row">
                <div class=" col-sm-3">
                    <button ng-click="roaRecCtrl.deleteRecord(item.id)" class="btn btn-danger btn-sm" >
                        {{'DELETE'|translate}}&nbsp;{{'ROA_ABREV'|translate}}
                    </button>
                </div>
            </div>
        </fieldset>
    </div>
</ng-form>