<div class="container-fluid">
    <ng-form name="hcOnlyCtrl.hcOnlyForm">
        <div class="row">
            <div class="form-group col-md-4"
                 ng-class="{'has-error':hcOnlyCtrl.hcOnlyForm[hcOnlyCtrl.dateReceivedId].$invalid}">
                <label for="{{::hcOnlyCtrl.dateReceivedId}}">
                    <span class="field-name">{{::"DATE_APPL_REC" |translate}}</span>
                    <span ng-if="!hcOnlyCtrl.isFrench()" class="datepicker-format">(YYYY-MM-DD)</span>
                    <span ng-if="hcOnlyCtrl.isFrench()" class="datepicker-format">(AAAA-MM-JJ)</span>
                    <input type="date" id="{{::hcOnlyCtrl.dateReceivedId}}" name="{{::hcOnlyCtrl.dateReceivedId}}"
                           data-ng-model="hcOnlyCtrl.model.dateReceived" class="form-control" title="{{::'DATE_APPL_REC'|translate}}"/>
                   <!-- <cmp-error-message field-name="hcOnlyCtrl.dateReceivedId" form-ref="hcOnlyCtrl.hcOnlyForm"
                                       show-error="hcOnlyCtrl.showErrors()"
                                       error-types="hcOnlyCtrl.requiredOnlyError"></cmp-error-message>-->
                </label>
            </div>
            <div class="form-group col-md-4"
                 ng-class="{'has-error':hcOnlyCtrl.hcOnlyForm[hcOnlyCtrl.companyCodeId].$invalid}">
                <label for="{{::hcOnlyCtrl.companyCodeId}}">
                    <span class="field-name">{{::"CSP_COMPANY_CODE" |translate}}</span>
                    <input type="text" id="{{::hcOnlyCtrl.companyCodeId}}" name="{{::hcOnlyCtrl.companyCodeId}}"
                           data-ng-model="hcOnlyCtrl.model.companyId" class="form-control" title="{{::'CSP_COMPANY_CODE'|translate}}"
                            maxlength="5" size="5"/>
                   <!-- <cmp-error-message field-name="hcOnlyCtrl.companyCodeId" form-ref="hcOnlyCtrl.hcOnlyForm"
                                       show-error="hcOnlyCtrl.showErrors()"
                                       error-types="hcOnlyCtrl.requiredOnlyError"></cmp-error-message>-->
                </label>
            </div>
            <div class="form-group col-md-4"
                 ng-class="{'has-error':hcOnlyCtrl.hcOnlyForm[hcOnlyCtrl.applicationCodeId].$invalid}">
                <label for="{{::hcOnlyCtrl.applicationCodeId}}" >
                    <span class="field-name">{{::"CSP_APPLICATION_CODE" |translate}}</span>
                    <input type="text" id="{{::hcOnlyCtrl.applicationCodeId}}" name="{{::hcOnlyCtrl.applicationCodeId}}"
                           data-ng-model="hcOnlyCtrl.model.applicationId" class="form-control" title="{{::'CSP_APPLICATION_CODE'|translate}}"
                           maxlength="6" size="6"/>
                  <!--  <cmp-error-message field-name="hcOnlyCtrl.applicationCodeId" form-ref="hcOnlyCtrl.hcOnlyForm"
                                       show-error="hcOnlyCtrl.showErrors()"
                                       error-types="hcOnlyCtrl.requiredOnlyError"></cmp-error-message>-->
                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12"
                 ng-class="{'has-error':hcOnlyCtrl.hcOnlyForm[hcOnlyCtrl.notesId].$invalid}">
                <label for="{{::hcOnlyCtrl.notesId}}">
                    <span class="field-name">{{::"NOTES" |translate}}</span>
                  <!--  <cmp-error-message field-name="hcOnlyCtrl.notesId" form-ref="hcOnlyCtrl.hcOnlyForm"
                                       show-error="hcOnlyCtrl.showErrors()"
                                       error-types="hcOnlyCtrl.requiredOnlyError"></cmp-error-message>-->
                </label>
                <textarea id="{{::hcOnlyCtrl.notesId}}" name="{{::hcOnlyCtrl.notesId}}" class="form-control full-width"
                          data-ng-model="hcOnlyCtrl.model.hcNotes" title="{{::'NOTES'|translate}}"
                          maxlength="256" rows="4"></textarea>
            </div>
        </div>
    </ng-form>
</div>


