<div class="form-group">
    <!--<pre>tabs {{tabsCtrl.appendix4List | json}}</pre>-->

    <ul class="nav nav-tabs">
        <li ng-repeat="tab in tabsCtrl.tabs" role="presentation" ng-click="tabsCtrl.selectTab($index)"
            ng-class="{'active':tabsCtrl.tabs[$index].selected === true}">
            <a role="tab">{{tab.label |translate}}</a>
        </li>

    </ul>
    <div class="tabpanels">
        <ng-form name="tabsCtrl.tabs[0].form">
            <div id="formulations-panel" role="tabpanel" class="out">
                <div ng-show="tabsCtrl.tabs[0].selected">
                    <cmp-formulations formulations="tabsCtrl.formulationList"
                                      record-changed="tabsCtrl.recordChanged()"></cmp-formulations>
                </div>
                <!--<p>
                    Formulations Section.Formulations Section.Formulations Section.Formulations Section.Formulations Section.Formulations Section.Formulations Section.Formulations Section.
                </p>-->
            </div>
        </ng-form>
        <ng-form name="tabsCtrl.tabs[1].form">
            <div id="appendix4-panel" role="tabpanel" class="out">
                <div  ng-show="tabsCtrl.tabs[1].selected">
                <cmp-appendix-four ingredients="tabsCtrl.appendix4List"
                                   record-changed="tabsCtrl.recordChanged()"></cmp-appendix-four>
                </div>
            </div>
        </ng-form>
    </div>
</div>
<!--<div class="wb-tabsCtrl">
   <div class="tabpanels">
       <details id="formulations-panel"  open="open">
           <summary>Formulations</summary>
           <p>
               Formulations Section.Formulations Section.Formulations Section.Formulations Section.Formulations Section.Formulations Section.Formulations Section.Formulations Section.
           </p>
       </details>
       <details id="appendix4-panel">
           <summary>Appendix 4</summary>
           <cmp-therapeutic-class></cmp-therapeutic-class>
           &lt;!&ndash;<cmp-appendix-four></cmp-appendix-four>&ndash;&gt;
       </details>
   </div>

</div>-->