<ng-form name="ap4Ctrl.appendixForm"  id="{{::ap4Ctrl.appendix4Id}}">
    <div class="container-fluid">
        <cmp-error-summary form-ref="ap4Ctrl.appendixForm"
                           form-preamble="APPENDIX" exclusion-list=ap4Ctrl.exclusions
                           name-suffix="ap4Ctrl.appendixForm" set-heading-level="h2" form-id="ap4Ctrl.appendix4Id"
                           make-focused="" alias-list="ap4Ctrl.alias" show-errors="ap4Ctrl.showSummary"
                           transclude-list="ap4Ctrl.transcludeList"
                           expand-record="ap4Ctrl.setRecord(index)"
                           update-errors="ap4Ctrl.updateSummary"></cmp-error-summary>

        <cmp-expanding-table title="{{'INGRED_LIST'|translate}}"  tname="cmp-appendix-four-record" reset-to-collapsed="ap4Ctrl.resetToCollapsed"
                             list-items="ap4Ctrl.ingredientList"
                             column-def="ap4Ctrl.colNames" select-record="ap4Ctrl.selectRecord"
                             disable-selection="!ap4Ctrl.isDetailValid">

            <cmp-appendix-four-record record="$parent.record" on-update="ap4Ctrl.update($parent.$index,record)"
                                      service="ap4Ctrl.service"
                                      on-delete="ap4Ctrl.delete($parent.$index)" record-changed="ap4Ctrl.recordChanged()"
                                      delete-btn="true"
                                      update-error-summary="ap4Ctrl.updateErrorSummary()"
                                      error-summary-update="ap4Ctrl.updateSummary" show-error-summary="ap4Ctrl.showSummary">
            </cmp-appendix-four-record>

        </cmp-expanding-table>
        <div class="mrgn-tp-md mrgn-bttm-lg">
            <div class="btn-group-sm col-md-12 text-right">
                <button  class="btn btn-primary"  name="addSrcIngred"
                       ng-click="ap4Ctrl.addNew()">{{'ADD_SOURCED'|translate}}</button>
            </div>
        </div>
    </div>
</ng-form>