<div class="container-fluid">
    <ng-form name="ap4RecCtrl.appendix4RecForm" id="{{::ap4RecCtrl.appendixFormRecordId}}" novalidate data-ng-model-options="{debounce: 250}">
        <cmp-error-summary form-ref="ap4RecCtrl.appendix4RecForm"
                           form-preamble="{{'ING_DETAILS'|translate}}&nbsp;{{ap4RecCtrl.model.id}}" exclusion-list=ap4RecCtrl.exclusions
                           name-suffix="{{ap4RecCtrl.summaryName}}" set-heading-level="h3" form-id="ap4RecCtrl.appendixFormRecordId"
                           transclude-list="ap4RecCtrl.transcludeList"
                           make-focused="" alias-list="ap4RecCtrl.alias" show-errors="ap4RecCtrl.showSummary"
                           update-errors="ap4RecCtrl.updateSummary"></cmp-error-summary>
        <fieldset>
            <legend class="legend-rep">{{'ING_DETAILS'|translate}}&nbsp;{{ap4RecCtrl.model.id}}</legend>
            <div class="row">
                <div class="col-xs-12 form-group"
                     data-ng-class="{'has-error':ap4RecCtrl.appendix4RecForm[ap4RecCtrl.ingredNameId].$invalid}">
                    <label for="{{::ap4RecCtrl.ingredNameId}}" class="required">
                        <span class="field-name">{{'INGRED_MAT_NAME'|translate}}</span>
                        <strong class="required"> {{"REQUIRED" |translate}}</strong>
                        <cmp-error-message field-name="ap4RecCtrl.ingredNameId"
                                           form-ref="ap4RecCtrl.appendix4RecForm"
                                           show-error="ap4RecCtrl.showErrors()"
                                           error-types="ap4RecCtrl.requiredOnly"></cmp-error-message>
                    </label>
                        <input type="text" class="form-control full-width" id="{{::ap4RecCtrl.ingredNameId}}" data-ng-change="ap4RecCtrl.recordChanged()"
                               data-ng-model="ap4RecCtrl.model.ingredientName" name="{{::ap4RecCtrl.ingredNameId}}" required
                               data-ng-model-options="{updateOn: 'blur'}" maxlength="100" list="humanAnimalList"
                               data-focus-if="ap4RecCtrl.isFocus"/>
                    <datalist id="humanAnimalList" class="rep-selectize-dropdown rep-selectize-font" >
                        <option data-ng-repeat="item in ap4RecCtrl.humanAnimalIngredientNameList()" value="{{item}}" label="{{item}}"/>
                    </datalist>

                </div>
            </div>
            <fieldset id="{{::ap4RecCtrl.fsType}}">
                <legend class="required legend-rep">
                    <span class="field-name">{{'SOURCED'|translate}}</span>
                    <strong class="required"> {{"REQUIRED" |translate}}</strong>
                    <cmp-error-message field-name="ap4RecCtrl.fsType"
                                       form-ref="ap4RecCtrl.appendix4RecForm"
                                       show-error="ap4RecCtrl.showErrors()"
                                       error-types="ap4RecCtrl.requiredOnly"></cmp-error-message>
                    <input id="{{::ap4RecCtrl.oneTypeId}}" name="{{::ap4RecCtrl.fsType}}" type="hidden"
                           data-ng-model="ap4RecCtrl.isSourced" required/>
                </legend>
                <div><div class="row">
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label for="sourced-human_{{::$id}}">
                                <input type="checkbox" name="sourced-human" data-ng-model="ap4RecCtrl.model.humanSourced"
                                       id="sourced-human_{{::$id}}"
                                       data-ng-change="ap4RecCtrl.showTissuesFluids()"> {{'HUMAN'|translate}}
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label for="sourced-animal_{{::$id}}">
                                <input type="checkbox" name="sourced-animal" data-ng-model="ap4RecCtrl.model.animalSourced"
                                       id="sourced-animal_{{::$id}}"
                                       data-ng-change="ap4RecCtrl.showAnimalSources()">{{'ANIMAL'|translate}}
                            </label>
                        </div>
                    </div>
                </div></div>
            </fieldset>

            <section class="section">
                <cmp-tissues-fluids-list data-ng-if="ap4RecCtrl.model.humanSourced || ap4RecCtrl.model.animalSourced"
                                         service="ap4RecCtrl.service" is-focus="ap4RecCtrl.isFocus" cancel-focus="ap4RecCtrl.cancelFocus"
                                         is-file-loaded="ap4RecCtrl.isFileLoaded" show-errors="ap4RecCtrl.showErrors()"
                                         records="ap4RecCtrl.model.tissuesFluidsOrigin.tissuesList">
                </cmp-tissues-fluids-list>
            </section>

            <section class="section">
                <cmp-animal-sourced-section data-ng-if="ap4RecCtrl.model.animalSourced"  records="ap4RecCtrl.model.sourceAnimalDetails"
                                            on-update="ap4RecCtrl.updateAnimalSourced(model)" show-errors="ap4RecCtrl.showErrors()"
                                            is-file-loaded="ap4RecCtrl.isFileLoaded"
                                            update-error-summary="ap4RecCtrl.updateErrorSummaryState()">
                </cmp-animal-sourced-section>
            </section>

            <div class="row">

                <div class="btn-group-sm col-xs-12">
                   <!-- <input type="submit" value="{{'SAVE_SOURCED'|translate}}" class="btn btn-primary" ng-if="!ap4RecCtrl.record"
                           data-ng-click="ap4RecCtrl.save()"/>-->
                    <input type="submit" data-ng-if="ap4RecCtrl.deleteBtn === true" value="{{'DELETE_SOURCED'|translate}}"
                           class="btn btn-danger" data-ng-click="ap4RecCtrl.delete()" onclick="focusOnRow(this, 'addSrcIngred')"/>
                </div>
            </div>
        </fieldset>
       <!-- <pre>record {{ap4RecCtrl.model |json}}</pre>-->
    </ng-form>
</div>