<ng-form name="sysCtrl.otherForm">
    <div>
        <fieldset id="{{::sysCtrl.systemRoleId}}">
            <legend class="required legend-rep">
                <span class="field-name">{{::'OTHER_LEGEND' |translate}}</span>
                <strong class="required"> {{::"REQUIRED" |translate}}</strong>
                <cmp-error-message field-name="sysCtrl.systemRoleId"
                                   form-ref="sysCtrl.otherForm"
                                   show-error="sysCtrl.showErrorMessage(sysCtrl.otherForm.$invalid)"
                                   error-types="sysCtrl.requiredOnly">
                </cmp-error-message>
                <input id="{{::sysCtrl.roleMissingId}}" name="{{::sysCtrl.systemRoleId}}" type="hidden"
                       data-ng-model="sysCtrl.isSelected" required/>

               <!-- <strong id="role-error{{::$id}}" class="error" ng-if="sysCtrl.showErrorMissing()">
                         <span class="label label-danger" ng-messages="sysCtrl.otherForm.roleMissing.$error">
                             <span ng-message="required">{{"MSG_ERR_ROLE"|translate}}</span>
                         </span>
                </strong>-->
            </legend>
            <div class="row">
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="adipose_{{::$id}}">
                            <input type="checkbox" name="adipose" id="adipose_{{::$id}}"
                                   data-ng-change="sysCtrl.detailsChanged('ADIPOSE',sysCtrl.model.adipose)"
                                   data-ng-model="sysCtrl.model.adipose"/>
                            {{::'ADIPOSE'|translate}}
                        </label>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="ascites_{{::$id}}">
                            <input type="checkbox" name="ascites" id="ascites_{{::$id}}"
                                   data-ng-change="sysCtrl.detailsChanged('ASCITES',sysCtrl.model.ascites)"
                                   data-ng-model="sysCtrl.model.ascites"/>
                            {{::'ASCITES'|translate}}
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="antlerVelvet_{{::$id}}">
                            <input type="checkbox" name="ascites" id="antlerVelvet_{{::$id}}"
                                   data-ng-change="sysCtrl.detailsChanged('ANTLERV',sysCtrl.model.antlerVelvet)"
                                   data-ng-model="sysCtrl.model.antlerVelvet"/>
                            {{::'ANTLERV'|translate}}
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="serum_{{::$id}}">
                            <input type="checkbox" name="serum" id="serum_{{::$id}}"
                                   data-ng-change="sysCtrl.detailsChanged('SERUM',sysCtrl.model.serum)"
                                   data-ng-model="sysCtrl.model.serum"/>
                            {{::'SERUM'|translate}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="wholeBlood_{{::$id}}">
                            <input type="checkbox" name="wholeBlood" id="wholeBlood_{{::$id}}"
                                   data-ng-change="sysCtrl.detailsChanged('WHOLEBLOOD',sysCtrl.model.wholeBlood)"
                                   data-ng-model="sysCtrl.model.wholeBlood"/>
                            {{::'WHOLEBLOOD'|translate}}
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="plasma_{{::$id}}">
                            <input type="checkbox" name="plasma" id="plasma_{{::$id}}"
                                   data-ng-change="sysCtrl.detailsChanged('PLASMA',sysCtrl.model.plasma)"
                                   data-ng-model="sysCtrl.model.plasma"/>
                            {{::'PLASMA'|translate}}
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="embryonicTissue_{{::$id}}">
                            <input type="checkbox" name="embryonicTissue" id="embryonicTissue_{{::$id}}"
                                   data-ng-change="sysCtrl.detailsChanged('EMBRYONICTISS',sysCtrl.model.embryonicTissue)"
                                   data-ng-model="sysCtrl.model.embryonicTissue"/>
                            {{::'EMBRYONICTISS'|translate}}
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="fetalTissue_{{::$id}}">
                            <input type="checkbox" name="fetalTissue" id="fetalTissue_{{::$id}}"
                                   data-ng-change="sysCtrl.detailsChanged('FETALTISS',sysCtrl.model.fetalTissue)"
                                   data-ng-model="sysCtrl.model.fetalTissue"/>
                            {{::'FETALTISS'|translate}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="boneMarrow_{{::$id}}">
                            <input type="checkbox" name="boneMarrow" id="boneMarrow_{{::$id}}"
                                   data-ng-change="sysCtrl.detailsChanged('BONEMARROW',sysCtrl.model.boneMarrow)"
                                   data-ng-model="sysCtrl.model.boneMarrow"/>
                            {{::'BONEMARROW'|translate}}
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="eyesCornea_{{::$id}}">
                            <input type="checkbox" name="eyesCornea" id="eyesCornea_{{::$id}}"
                                   data-ng-change="sysCtrl.detailsChanged('EYESCORNEA',sysCtrl.model.eyesCornea)"
                                   data-ng-model="sysCtrl.model.eyesCornea"/>
                            {{::'EYESCORNEA'|translate}}
                        </label>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="gallBladder_{{::$id}}">
                            <input type="checkbox" name="gallBladder" id="gallBladder_{{::$id}}"
                                   data-ng-change="sysCtrl.detailsChanged('GALL',sysCtrl.model.gallBladder)"
                                   data-ng-model="sysCtrl.model.gallBladder"/>
                            {{::'GALL'|translate}}
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="fluidsOther_{{::$id}}">
                            <input type="checkbox" name="fluidsOther" id="fluidsOther_{{::$id}}"
                                   data-ng-model="sysCtrl.model.otherFluids"/>
                            {{::'FLUIDS_OTHER'|translate}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row" data-ng-class="{'has-error':sysCtrl.otherForm[sysCtrl.otherDetailsId].$invalid}">
                <div class="col-md-12">
                    <div class="form-group" ng-if="sysCtrl.otherChanged()">
                        <label class="required" for="{{::sysCtrl.otherDetailsId}}">
                            {{::'OTHERTISS_DETAILS'|translate}}
                            <strong class="required">{{::"REQUIRED" |translate}}</strong>
                            <cmp-error-message field-name="sysCtrl.otherDetailsId"
                                               form-ref="sysCtrl.otherForm"
                                               show-error="sysCtrl.showErrorMessage(sysCtrl.otherForm[sysCtrl.otherDetailsId].$invalid)"
                                               error-types="sysCtrl.requiredOnly"></cmp-error-message>
                            <input type="text" size="40" maxlength="40" name="{{::sysCtrl.otherDetailsId}}" id="{{::sysCtrl.otherDetailsId}}"
                                   data-ng-model-options="{ debounce: '$inherit'}" data-ng-required="{{sysCtrl.model.otherFluids}}"
                                   data-ng-model="sysCtrl.model.otherDetails" class="form-control"/>
                        </label>
                    </div>
                </div>

            </div>
        </fieldset>
    </div>
</ng-form>