<ng-form name="animalSectCtrl.anSectForm" id="{{::animalSectCtrl.animalSectionRecordId}}">
    <div>
        <div class="row">
            <section class="panel panel-default">
                <header class="panel-heading">
                    <h3 class="panel-title">{{::'ANIMAL_SRCS'|translate}}</h3>
                </header>
                <input type="hidden" required aria-hidden="true" name="{{::animalSectCtrl.oneAnimalId}}" ng-model="animalSectCtrl.oneAnimal" aria-hidden="true"/>
                <div class="panel-body">
                    <cmp-animal-sourced-list records="animalSectCtrl.model.animalSrcList"
                                             on-update="animalSectCtrl.updateAnimalSourceList(list)" show-errors="animalSectCtrl.showErrors()">
                    </cmp-animal-sourced-list>
                </div>
            </section>
        </div>
        <div class="row">
            <div class="col-md-4 form-group" ng-class="{'has-error':animalSectCtrl.anSectForm[animalSectCtrl.ageAnimalsId].$invalid}">
                <label for="{{::animalSectCtrl.ageAnimalsId}}" class="required">
                    <span class="field-name">{{::'AGEANIMALS'|translate}}</span>
                    <strong class="required">{{::"REQUIRED" |translate}}</strong>
                    <input type="number" id="{{::animalSectCtrl.ageAnimalsId}}" name="{{::animalSectCtrl.ageAnimalsId}}"
                           ng-model="animalSectCtrl.model.ageAnimals" ng-model-options="{debounce: 0}"
                           only-digits only-max="5"
                           class="form-control full-width" required/>
                    <cmp-error-message field-name="animalSectCtrl.ageAnimalsId"
                                       form-ref="animalSectCtrl.anSectForm"
                                       show-error="animalSectCtrl.showError(animalSectCtrl.anSectForm[animalSectCtrl.ageAnimalsId])"
                                       error-types="animalSectCtrl.numberErrors"></cmp-error-message>
                </label>
            </div>
            <div class="col-md-4 form-group" ng-class="{'has-error':animalSectCtrl.anSectForm[animalSectCtrl.controlledPopId].$invalid}">
                <label for="{{::animalSectCtrl.controlledPopId}}" class="required">
                    <span class="field-name">{{::'CONTROLLEDPOP'|translate}}</span>
                    <strong class="required">{{::"REQUIRED" |translate}}</strong>
                    <select id="{{::animalSectCtrl.controlledPopId}}" name="{{::animalSectCtrl.controlledPopId}}"
                            ng-model="animalSectCtrl.model.isControlledPop" class="form-control full-width" required
                            ng-options="val |translate for val in animalSectCtrl.yesNoUnknownList">
                    </select>
                    <cmp-error-message field-name="animalSectCtrl.controlledPopId"
                                       form-ref="animalSectCtrl.anSectForm"
                                       show-error="animalSectCtrl.showError(animalSectCtrl.anSectForm[animalSectCtrl.controlledPopId])"
                                       error-types="animalSectCtrl.requiredOnly"></cmp-error-message>
                </label>
            </div>
            <div class="col-md-3 form-group" ng-class="{'has-error':animalSectCtrl.anSectForm[animalSectCtrl.cellLineId].$invalid}">
                <label for="{{::animalSectCtrl.cellLineId}}" class="required">
                    <span class="field-name">{{::'CELLLINE'|translate}}</span>
                    <strong class="required">{{::"REQUIRED" |translate}}</strong>
                    <select id="{{::animalSectCtrl.cellLineId}}" name="{{::animalSectCtrl.cellLineId}}"
                            ng-model="animalSectCtrl.model.isCellLine" class="form-control full-width" required
                            ng-options="val |translate for val in animalSectCtrl.yesNoUnknownList">
                    </select>
                    <cmp-error-message field-name="animalSectCtrl.cellLineId"
                                       form-ref="animalSectCtrl.anSectForm"
                                       show-error="animalSectCtrl.showError(animalSectCtrl.anSectForm[animalSectCtrl.cellLineId])"
                                       error-types="animalSectCtrl.requiredOnly"></cmp-error-message>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 form-group" ng-class="{'has-error':animalSectCtrl.anSectForm[animalSectCtrl.isBiotechId].$invalid}">
                <label for="{{::animalSectCtrl.isBiotechId}}" class="required">
                    <span class="field-name">{{::'BIOTECHDERIVED'|translate}}</span>
                    <strong class="required">{{::"REQUIRED" |translate}}</strong>
                    <select id="{{::animalSectCtrl.isBiotechId}}" name="{{::animalSectCtrl.isBiotechId}}" required
                            ng-model="animalSectCtrl.model.isBiotechDerived" class="form-control full-width"
                            ng-options="val |translate for val in animalSectCtrl.yesNoUnknownList">
                    </select>
                    <cmp-error-message field-name="animalSectCtrl.isBiotechId"
                                       form-ref="animalSectCtrl.anSectForm"
                                       show-error="animalSectCtrl.showError(animalSectCtrl.anSectForm[animalSectCtrl.isBiotechId])"
                                       error-types="animalSectCtrl.requiredOnly"></cmp-error-message>
                </label>
            </div>
        </div>
        <div class="row">
            <section class="panel panel-default">
                <header class="panel-heading">
                    <h3 class="panel-title">{{::'ANIMAL_CTRIES_ORIGIN'|translate}}</h3>
                </header>
                <input type="hidden"  required aria-hidden="true" name="{{::animalSectCtrl.noCountryId}}"
                       ng-model="animalSectCtrl.oneCountry"/>
                <div class="panel-body">
                    <cmp-country-list field-label="ANIMAL_CTRY_ORIGIN" with-unknown="true"
                                      list-items="animalSectCtrl.model.countryList"
                                      on-update="animalSectCtrl.updateCountryList(list)"></cmp-country-list>
                </div>
            </section>
        </div>
    </div>
    <!--<pre>{{animalSectCtrl.model |json}} </pre>-->
</ng-form>