<ng-form name="sysCtrl.immuneForm">
    <div>
        <fieldset id="{{::sysCtrl.systemRoleId}}">
            <legend class="required">
                <span class="field-name">{{::'IMMUNE_LEGEND' |translate}}</span>
                <strong class="required"> {{::"REQUIRED" |translate}}</strong>
                <input id="{{::sysCtrl.roleMissingId}}" name="{{::sysCtrl.roleMissingId}}" type="hidden"
                       ng-model="sysCtrl.isSelected" required/>
                <cmp-error-message field-name="sysCtrl.roleMissingId"
                                   form-ref="sysCtrl.immuneForm"
                                   show-error="sysCtrl.showErrors()"
                                   error-types="sysCtrl.requiredOnly"></cmp-error-message>
            </legend>
            <div class="row">
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="lymphNodes_{{::$id}}">
                            <input type="checkbox" name="lymphNodes" id="lymphNodes_{{::$id}}"
                                   ng-change="sysCtrl.detailsChanged('LYMPH',sysCtrl.model.lymphNodes)"
                                   ng-model="sysCtrl.model.lymphNodes"/>
                            {{::'LYMPH'|translate}}
                        </label>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="spleen_{{::$id}}">
                            <input type="checkbox" name="spleen" id="spleen_{{::$id}}"
                                   ng-change="sysCtrl.detailsChanged('SPLEEN',sysCtrl.model.spleen)"
                                   ng-model="sysCtrl.model.spleen"/>
                            {{::'SPLEEN'|translate}}
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="thymus_{{::$id}}">
                            <input type="checkbox" name="thymus" id="thymus_{{::$id}}"
                                   ng-change="sysCtrl.detailsChanged('THYMUS',sysCtrl.model.thymus)"
                                   ng-model="sysCtrl.model.thymus"/>
                            {{::'THYMUS'|translate}}
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="tonsils_{{::$id}}">
                            <input type="checkbox" name="tonsils" id="tonsils_{{::$id}}"
                                   ng-change="sysCtrl.detailsChanged('TONSILS',sysCtrl.model.tonsils)"
                                   ng-model="sysCtrl.model.tonsils"/>
                            {{::'TONSILS'|translate}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="immuneOther_{{::$id}}">
                            <input type="checkbox" name="immuneOther" id="immuneOther_{{::$id}}"
                                   ng-model="sysCtrl.model.otherImmune"/>
                            {{::'IMMUNE_OTHER'|translate}}
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-if="sysCtrl.otherChanged()">
                        <label class="required" for="{{::sysCtrl.otherDetailsId}}">{{::'IMMUNE_DETAILS'|translate}}
                            <strong class="required">{{::"REQUIRED" |translate}}</strong>
                            <input type="text" size="40" maxlength="40" name="{{::sysCtrl.otherDetailsId}}" id="{{::sysCtrl.otherDetailsId}}"
                                   ng-model-options="{ debounce: '$inherit'}" ng-required="{{sysCtrl.model.otherImmune}}"
                                   ng-model="sysCtrl.model.otherDetails"/>
                            <cmp-error-message field-name="sysCtrl.otherDetailsId"
                                               form-ref="sysCtrl.immuneForm"
                                               show-error="sysCtrl.showErrors()"
                                               error-types="sysCtrl.requiredOnly"></cmp-error-message>
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</ng-form>