<ng-form name="sysCtrl.reprodForm">
    <div>
        <fieldset id="{{::sysCtrl.systemRoleId}}">
            <legend class="required legend-rep">
                <span class="field-name">{{::'REPRODUCTIVE_LEGEND' |translate}}</span>
                <strong class="required"> {{::"REQUIRED" |translate}}</strong>
                <cmp-error-message field-name="sysCtrl.systemRoleId"
                                   form-ref="sysCtrl.reprodForm"
                                   show-error="sysCtrl.showErrorMessage(sysCtrl.reprodForm.$invalid)"
                                   error-types="sysCtrl.requiredOnly"></cmp-error-message>
                <input id="{{::sysCtrl.roleMissingId}}" name="{{::sysCtrl.systemRoleId}}" type="hidden"
                       data-ng-model="sysCtrl.isSelected" required/>
            </legend>
            <div class="row">
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="milkProducts_{{::$id}}">
                            <input type="checkbox" name="milkProducts" id="milkProducts_{{::$id}}"
                                   data-ng-change="sysCtrl.detailsChanged('MILK',sysCtrl.model.milkProducts)"
                                   data-ng-model="sysCtrl.model.milkProducts"/>
                            {{::'MILK'|translate}}
                        </label>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="kidney_{{::$id}}">
                            <input type="checkbox" name="kidney" id="kidney_{{::$id}}"
                                   data-ng-change="sysCtrl.detailsChanged('KIDNEY',sysCtrl.model.kidney)"
                                   data-ng-model="sysCtrl.model.kidney"/>
                            {{::'KIDNEY'|translate}}
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="colostrum_{{::$id}}">
                            <input type="checkbox" name="colostrum" id="colostrum_{{::$id}}"
                                   data-ng-change="sysCtrl.detailsChanged('COLOSTRUM',sysCtrl.model.colostrum)"
                                   data-ng-model="sysCtrl.model.colostrum"/>
                            {{::'COLOSTRUM'|translate}}
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="mammaryGlands_{{::$id}}">
                            <input type="checkbox" name="mammaryGlands" id="mammaryGlands_{{::$id}}"
                                   data-ng-change="sysCtrl.detailsChanged('MAMMARY',sysCtrl.model.mammaryGlands)"
                                   data-ng-model="sysCtrl.model.mammaryGlands"/>
                            {{::'MAMMARY'|translate}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="ovaries_{{::$id}}">
                            <input type="checkbox" name="ovaries" id="ovaries_{{::$id}}"
                                   data-ng-change="sysCtrl.detailsChanged('OVARIES',sysCtrl.model.ovaries)"
                                   data-ng-model="sysCtrl.model.ovaries"/>
                            {{::'OVARIES'|translate}}
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="placenta_{{::$id}}">
                            <input type="checkbox" name="placenta" id="placenta_{{::$id}}"
                                   data-ng-change="sysCtrl.detailsChanged('PLACENTA',sysCtrl.model.placenta)"
                                   data-ng-model="sysCtrl.model.placenta"/>
                            {{::'PLACENTA'|translate}}
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="placentalFluid_{{::$id}}">
                            <input type="checkbox" name="placentalFluid" id="placentalFluid_{{::$id}}"
                                   data-ng-change="sysCtrl.detailsChanged('PLACENTAFLUID',sysCtrl.model.placentalFluid)"
                                   data-ng-model="sysCtrl.model.placentalFluid"/>
                            {{::'PLACENTAFLUID'|translate}}
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="semen_{{::$id}}">
                            <input type="checkbox" name="semen" id="semen_{{::$id}}"
                                   data-ng-change="sysCtrl.detailsChanged('SEMEN',sysCtrl.model.semen)"
                                   data-ng-model="sysCtrl.model.semen"/>
                            {{::'SEMEN'|translate}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="testes_{{::$id}}">
                            <input type="checkbox" name="testes" id="testes_{{::$id}}"
                                   data-ng-change="sysCtrl.detailsChanged('TESTES',sysCtrl.model.testes)"
                                   data-ng-model="sysCtrl.model.testes"/>
                            {{::'TESTES'|translate}}
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="urine_{{::$id}}">
                            <input type="checkbox" name="urine" id="urine_{{::$id}}"
                                   data-ng-change="sysCtrl.detailsChanged('URINE',sysCtrl.model.urine)"
                                   data-ng-model="sysCtrl.model.urine"/>
                            {{::'URINE'|translate}}
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="reprodOther_{{::$id}}">
                            <input type="checkbox" name="reprodOther" id="reprodOther_{{::$id}}"
                                   data-ng-model="sysCtrl.model.otherReproductive"/>
                            {{::'REPROD_OTHER'|translate}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row" data-ng-class="{'has-error':sysCtrl.reprodForm[sysCtrl.otherDetailsId].$invalid}">
                <div class="col-md-12" ng-if="sysCtrl.otherChanged()">
                    <div class="form-group">
                        <label class="required" for="{{::sysCtrl.otherDetailsId}}">
                            {{::'REPRODUCTIVE_DETAILS'|translate}}
                            <strong class="required">{{::"REQUIRED" |translate}}</strong>
                            <cmp-error-message field-name="sysCtrl.otherDetailsId"
                                               form-ref="sysCtrl.reprodForm"
                                               show-error="sysCtrl.showErrorMessage(sysCtrl.reprodForm[sysCtrl.otherDetailsId].$invalid)"
                                               error-types="sysCtrl.requiredOnly"></cmp-error-message>
                            <input type="text" size="40" maxlength="40" name="{{::sysCtrl.otherDetailsId}}" id="{{::sysCtrl.otherDetailsId}}"
                                   data-ng-required="{{sysCtrl.model.otherReproductive}}"  data-ng-model-options="{ debounce: '$inherit'}"
                                   data-ng-model="sysCtrl.model.otherDetails" class="form-control"/>
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</ng-form>