<ng-form name="sysCtrl.muscleForm">
    <div>
        <fieldset id="{{::sysCtrl.systemRoleId}}">
            <legend class="required">
                <span class="field-name">{{::'MUSCLE_LEGEND' |translate}}</span>
                <strong class="required"> {{::"REQUIRED" |translate}}</strong>
                <input id="{{::sysCtrl.roleMissingId}}" name="{{::sysCtrl.roleMissingId}}"  type="hidden"
                       ng-model="sysCtrl.isSelected" required/>
                <cmp-error-message field-name="sysCtrl.roleMissingId"
                                   form-ref="sysCtrl.muscleForm"
                                   show-error="sysCtrl.showErrors()"
                                   error-types="sysCtrl.requiredOnly"></cmp-error-message>
            </legend>
            <div class="row">
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="abdomen_{{::$id}}">
                            <input type="checkbox" name="abdomen" id="abdomen_{{::$id}}"
                                   ng-change="sysCtrl.detailsChanged('ABDOMEN',sysCtrl.model.abdomen)"
                                   ng-model="sysCtrl.model.abdomen"/>
                            {{::'ABDOMEN'|translate}}
                        </label>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="skull_{{::$id}}">
                            <input type="checkbox" name="skull" id="skull_{{::$id}}"
                                   ng-change="sysCtrl.detailsChanged('SKULL',sysCtrl.model.skull)"
                                   ng-model="sysCtrl.model.skull"/>
                            {{::'SKULL'|translate}}
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="bones_{{::$id}}">
                            <input type="checkbox" name="bones" id="bones_{{::$id}}"
                                   ng-change="sysCtrl.detailsChanged('BONES',sysCtrl.model.bones)"
                                   ng-model="sysCtrl.model.bones"/>
                            {{::'BONES'|translate}}
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="collagen_{{::$id}}">
                            <input type="checkbox" name="collagen" id="collagen_{{::$id}}"
                                   ng-change="sysCtrl.detailsChanged('COLLAGEN',sysCtrl.model.collagen)"
                                   ng-model="sysCtrl.model.collagen"/>
                            {{::'COLLAGEN'|translate}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="tendonsLigaments_{{::$id}}">
                            <input type="checkbox" name="tendonsLigaments" id="tendonsLigaments_{{::$id}}"
                                   ng-change="sysCtrl.detailsChanged('TENDONS',sysCtrl.model.tendonsLigaments)"
                                   ng-model="sysCtrl.model.tendonsLigaments"/>
                            {{::'TENDONS'|translate}}
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="vertebralColumn_{{::$id}}">
                            <input type="checkbox" name="vertebralColumn" id="vertebralColumn_{{::$id}}"
                                   ng-change="sysCtrl.detailsChanged('VERTEBRALCOLUMN',sysCtrl.model.vertebralColumn)"
                                   ng-model="sysCtrl.model.vertebralColumn"/>
                            {{::'VERTEBRALCOLUMN'|translate}}
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="muscle_{{::$id}}">
                            <input type="checkbox" name="muscle" id="muscle_{{::$id}}"
                                   ng-change="sysCtrl.detailsChanged('MUSCLE',sysCtrl.model.muscle)"
                                   ng-model="sysCtrl.model.muscle"/>
                            {{::'MUSCLE'|translate}}
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="muscleOther_{{::$id}}">
                            <input type="checkbox" name="muscleOther" id="muscleOther_{{::$id}}"
                                   ng-model="sysCtrl.model.otherMuscle"/>
                            {{::'MUSCLE_OTHER'|translate}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" ng-if="sysCtrl.otherChanged()">
                    <div class="form-group">
                        <label class="required" for="{{::sysCtrl.otherDetailsId}}">
                            {{::'MUSCLE_DETAILS'|translate}}
                            <strong class="required">{{::"REQUIRED" |translate}}</strong>
                            <input type="text" size="40" maxlength="40" name="{{::sysCtrl.otherDetailsId}}" id="{{::sysCtrl.otherDetailsId}}"
                                   ng-required="{{sysCtrl.model.otherMuscle}}" ng-model-options="{ debounce: '$inherit'}"
                                   ng-model="sysCtrl.model.otherDetails"/>
                            <cmp-error-message field-name="sysCtrl.otherDetailsId"
                                               form-ref="sysCtrl.muscleForm"
                                               show-error="sysCtrl.showErrors()"
                                               error-types="sysCtrl.requiredOnly"></cmp-error-message>
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</ng-form>