<ng-form name="animalSectCtrl.anSectForm" id="{{::animalSectCtrl.animalSectionRecordId}}">
    <div>
        <div class="row">
            <section class="panel panel-default">
                <header class="panel-heading">
                    <h3 class="panel-title">{{::'ANIMAL_SRCS'|translate}}</h3>
                </header>
                <input type="hidden" required name="{{::animalSectCtrl.oneAnimalId}}" data-ng-model="animalSectCtrl.oneAnimal" />
                <div class="panel-body row">
                    <cmp-animal-sourced-list records="animalSectCtrl.model.animalSrcList"
                                             is-file-loaded="animalSectCtrl.isFileLoaded"
                                             on-update="animalSectCtrl.updateAnimalSourceList(list)"
                                             show-errors="animalSectCtrl.showErrors()">
                    </cmp-animal-sourced-list>
                </div>
            </section>
        </div>
        <div class="row">
            <div class="col-md-6 form-group" data-ng-class="{'has-error':animalSectCtrl.anSectForm[animalSectCtrl.ageKnownId].$invalid}">
                <fieldset  class="chkbxrdio-grp">
                <legend class="full-width required radioButtonTitle">
                    <span class="field-name">{{::'IS_AGE_KNOWN'|translate}}</span>
                    <strong class="required">{{::"REQUIRED" |translate}}</strong>
                    <cmp-error-message field-name="animalSectCtrl.ageKnownId"
                                       form-ref="animalSectCtrl.anSectForm"
                                       show-error="animalSectCtrl.showError(animalSectCtrl.anSectForm[animalSectCtrl.ageKnownId])"
                                       error-types="animalSectCtrl.requiredOnly"></cmp-error-message>
                    <!--<select id="{{::animalSectCtrl.ageKnownId}}" name="{{::animalSectCtrl.ageKnownId}}"-->
                            <!--data-ng-model="animalSectCtrl.model.isAgeKnown" class="form-control full-width" required-->
                            <!--data-ng-options="val |translate for val in animalSectCtrl.yesNoList">-->
                    <!--</select>-->
                </legend>
                <input type="radio" id="{{::animalSectCtrl.ageKnownId}}" name="{{::animalSectCtrl.ageKnownId}}" value="Y" data-ng-model="animalSectCtrl.model.isAgeKnown" required/>
                <label for="{{::animalSectCtrl.ageKnownId}}">&nbsp;{{::'Y'|translate}}</label>
                <input type="radio" id="{{::animalSectCtrl.ageKnownId}}_1" name="{{::animalSectCtrl.ageKnownId}}" value="N" data-ng-model="animalSectCtrl.model.isAgeKnown" required/>
                <label for="{{::animalSectCtrl.ageKnownId}}_1">&nbsp;{{::'N'|translate}}</label>
                </fieldset>
            </div>
            <div class="col-md-6 form-group"  data-ng-if="animalSectCtrl.isAnimalAgeKnown()"
                 data-ng-class="{'has-error':animalSectCtrl.anSectForm[animalSectCtrl.ageAnimalsId].$invalid}">
                <label for="{{::animalSectCtrl.ageAnimalsId}}" class="full-width required">
                    <span class="field-name">{{::'AGEANIMALS'|translate}}</span>
                    <strong class="required">{{::"REQUIRED" |translate}}</strong>
                    <cmp-error-message field-name="animalSectCtrl.ageAnimalsId"
                                       form-ref="animalSectCtrl.anSectForm"
                                       show-error="animalSectCtrl.showError(animalSectCtrl.anSectForm[animalSectCtrl.ageAnimalsId])"
                                       error-types="animalSectCtrl.numberErrors"></cmp-error-message>
                    <input type="number" id="{{::animalSectCtrl.ageAnimalsId}}" name="{{::animalSectCtrl.ageAnimalsId}}"
                           data-ng-model="animalSectCtrl.model.ageAnimals" data-ng-model-options="{debounce: 0}"
                           data-only-digits only-max="5" size="10"
                           class="form-control" required/>
                </label>
            </div>
            <div class="col-md-6 form-group" data-ng-class="{'has-error':animalSectCtrl.anSectForm[animalSectCtrl.controlledPopId].$invalid}">
                <fieldset class="chkbxrdio-grp">
                <legend class="required radioButtonTitle">
                    <span class="field-name">{{::'CONTROLLEDPOP'|translate}}</span>
                    <strong class="required">{{::"REQUIRED" |translate}}</strong>
                    <cmp-error-message field-name="animalSectCtrl.controlledPopId"
                                       form-ref="animalSectCtrl.anSectForm"
                                       show-error="animalSectCtrl.showError(animalSectCtrl.anSectForm[animalSectCtrl.controlledPopId])"
                                       error-types="animalSectCtrl.requiredOnly"></cmp-error-message>
                    <!--<select id="{{::animalSectCtrl.controlledPopId}}" name="{{::animalSectCtrl.controlledPopId}}"-->
                            <!--data-ng-model="animalSectCtrl.model.isControlledPop" class="form-control full-width" required-->
                            <!--data-ng-options="val |translate for val in animalSectCtrl.yesNoUnknownList">-->
                    <!--</select>-->
                </legend>
                <input type="radio" id="{{::animalSectCtrl.controlledPopId}}" name="{{::animalSectCtrl.controlledPopId}}" value="Y" data-ng-model="animalSectCtrl.model.isControlledPop" required/>
                <label for="{{::animalSectCtrl.controlledPopId}}">&nbsp;{{::'Y'|translate}}</label>
                <input type="radio" id="{{::animalSectCtrl.controlledPopId}}_1" name="{{::animalSectCtrl.controlledPopId}}" value="N" data-ng-model="animalSectCtrl.model.isControlledPop" required />
                <label for="{{::animalSectCtrl.controlledPopId}}_1">&nbsp;{{::'N'|translate}}</label>
                <input type="radio" id="{{::animalSectCtrl.controlledPopId}}_2" name="{{::animalSectCtrl.controlledPopId}}" value="UNKNOWN" data-ng-model="animalSectCtrl.model.isControlledPop" required />
                <label for="{{::animalSectCtrl.controlledPopId}}_2">&nbsp;{{::'UNKNOWN'|translate}}</label>
                </fieldset>
            </div>
            <div class="col-md-6 form-group" data-ng-class="{'has-error':animalSectCtrl.anSectForm[animalSectCtrl.cellLineId].$invalid}">
                <fieldset class="chkbxrdio-grp">
                <legend class="full-width required radioButtonTitle">
                    <span class="field-name">{{::'CELLLINE'|translate}}</span>
                    <strong class="required">{{::"REQUIRED" |translate}}</strong>
                    <cmp-error-message field-name="animalSectCtrl.cellLineId"
                                       form-ref="animalSectCtrl.anSectForm"
                                       show-error="animalSectCtrl.showError(animalSectCtrl.anSectForm[animalSectCtrl.cellLineId])"
                                       error-types="animalSectCtrl.requiredOnly"></cmp-error-message>
                    <!--<select id="{{::animalSectCtrl.cellLineId}}" name="{{::animalSectCtrl.cellLineId}}"-->
                            <!--data-ng-model="animalSectCtrl.model.isCellLine" class="form-control full-width" required-->
                            <!--data-ng-options="val |translate for val in animalSectCtrl.yesNoUnknownList">-->
                    <!--</select>-->
                </legend>
                <input type="radio" id="{{::animalSectCtrl.cellLineId}}" name="{{::animalSectCtrl.cellLineId}}" value="Y" data-ng-model="animalSectCtrl.model.isCellLine" required/>
                <label for="{{::animalSectCtrl.cellLineId}}">&nbsp;{{::'Y'|translate}}</label>
                <input type="radio" id="{{::animalSectCtrl.cellLineId}}_1" name="{{::animalSectCtrl.cellLineId}}" value="N" data-ng-model="animalSectCtrl.model.isCellLine" required />
                <label for="{{::animalSectCtrl.cellLineId}}_1">&nbsp;{{::'N'|translate}}</label>
                <input type="radio" id="{{::animalSectCtrl.cellLineId}}_2" name="{{::animalSectCtrl.cellLineId}}" value="UNKNOWN" data-ng-model="animalSectCtrl.model.isCellLine" required />
                <label for="{{::animalSectCtrl.cellLineId}}_2">&nbsp;{{::'UNKNOWN'|translate}}</label>
                </fieldset>
            </div>
            <div class="col-md-6 form-group" data-ng-class="{'has-error':animalSectCtrl.anSectForm[animalSectCtrl.isBiotechId].$invalid}">
                <fieldset class="chkbxrdio-grp">
                <legend class="full-width required radioButtonTitle">
                    <span class="field-name">{{::'BIOTECHDERIVED'|translate}}</span>
                    <strong class="required">{{::"REQUIRED" |translate}}</strong>
                    <cmp-error-message field-name="animalSectCtrl.isBiotechId"
                                       form-ref="animalSectCtrl.anSectForm"
                                       show-error="animalSectCtrl.showError(animalSectCtrl.anSectForm[animalSectCtrl.isBiotechId])"
                                       error-types="animalSectCtrl.requiredOnly"></cmp-error-message>
                    <!--<select id="{{::animalSectCtrl.isBiotechId}}" name="{{::animalSectCtrl.isBiotechId}}" required-->
                            <!--data-ng-model="animalSectCtrl.model.isBiotechDerived" class="form-control full-width"-->
                            <!--data-ng-options="val |translate for val in animalSectCtrl.yesNoUnknownList">-->
                    <!--</select>-->
                </legend>
                <input type="radio" id="{{::animalSectCtrl.isBiotechId}}" name="{{::animalSectCtrl.isBiotechId}}" value="Y" data-ng-model="animalSectCtrl.model.isBiotechDerived" required/>
                <label for="{{::animalSectCtrl.isBiotechId}}">&nbsp;{{::'Y'|translate}}</label>
                <input type="radio" id="{{::animalSectCtrl.isBiotechId}}_1" name="{{::animalSectCtrl.isBiotechId}}" value="N" data-ng-model="animalSectCtrl.model.isBiotechDerived" required />
                <label for="{{::animalSectCtrl.isBiotechId}}_1">&nbsp;{{::'N'|translate}}</label>
                <input type="radio" id="{{::animalSectCtrl.isBiotechId}}_2" name="{{::animalSectCtrl.isBiotechId}}" value="UNKNOWN" data-ng-model="animalSectCtrl.model.isBiotechDerived" required />
                <label for="{{::animalSectCtrl.isBiotechId}}_2">&nbsp;{{::'UNKNOWN'|translate}}</label>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <section class="panel panel-default">
                <header class="panel-heading">
                    <h3 class="panel-title">{{::'ANIMAL_CTRIES_ORIGIN'|translate}}</h3>
                </header>
                <input type="hidden"  required aria-hidden="true" name="{{::animalSectCtrl.noCountryId}}"
                       data-ng-model="animalSectCtrl.oneCountry"/>
                <div class="panel-body">
                    <cmp-src-country-list field-label="ANIMAL_CTRY_ORIGIN" with-unknown="true"
                                      list-items="animalSectCtrl.model.countryList"
                                      is-file-loaded="animalSectCtrl.isFileLoaded"
                                          show-errors="animalSectCtrl.showErrors()"
                                      on-update="animalSectCtrl.updateCountryList(list)"></cmp-src-country-list>
                </div>
            </section>
        </div>
    </div>
    <!--<pre>{{animalSectCtrl.model |json}} </pre>-->
</ng-form>