<ng-form name="sysCtrl.cardioForm">
    <div>
        <fieldset id="{{::sysCtrl.systemRoleId}}">
            <legend class="required">
                <span class="field-name">{{'CARDIO_LEGEND' |translate}}</span>
                <strong class="required"> {{::"REQUIRED" |translate}}</strong>
                <input id="{{::sysCtrl.roleMissingId}}" name="{{::sysCtrl.roleMissingId}}" required type="hidden"
                       ng-model="sysCtrl.isSelected"/>
                <cmp-error-message field-name="sysCtrl.roleMissingId"
                                   form-ref="sysCtrl.cardioForm"
                                   show-error="sysCtrl.showErrors()"
                                   error-types="sysCtrl.requiredOnly"></cmp-error-message>
            </legend>

            <div class="row">
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="heartPericardium_{{::$id}}">
                            <input type="checkbox" name="heartPericardium" id="heartPericardium_{{::$id}}"
                                   ng-model="sysCtrl.model.heartPericardium"
                                   ng-change="sysCtrl.detailsChanged('HEART',sysCtrl.model.heartPericardium)"/>
                            {{::'HEART'|translate}}
                        </label>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="lung_{{::$id}}">
                            <input type="checkbox" name="lung" id="lung_{{::$id}}"
                                   ng-model="sysCtrl.model.lung"
                                   ng-change="sysCtrl.detailsChanged('LUNG',sysCtrl.model.lung)"/>
                            {{::'LUNG'|translate}}
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="nasalFluid_{{::$id}}">
                            <input type="checkbox" name="nasalFluid" id="nasalFluid_{{::$id}}"
                                   ng-change="sysCtrl.detailsChanged('NASALFLUID',sysCtrl.model.nasalFluid)"
                                   ng-model="sysCtrl.model.nasalFluid"/>
                            {{::'NASALFLUID'|translate}}
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="trachea_{{::$id}}">
                            <input type="checkbox" name="trachea" id="trachea_{{::$id}}"
                                   ng-change="sysCtrl.detailsChanged('TRACHEA',sysCtrl.model.trachea)"
                                   ng-model="sysCtrl.model.trachea"/>
                            {{::'TRACHEA'|translate}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="otherCardio_{{::$id}}">
                            <input type="checkbox" name="otherCardio" id="otherCardio_{{::$id}}"
                                   ng-model="sysCtrl.model.otherCardio"/>
                            {{::'CARDIO_OTHER'|translate}}
                        </label>
                    </div>
                </div>
                <div ng-if="sysCtrl.otherChanged()" class="col-md-6">
                    <div class="form-group ">
                        <label class="required" for="{{::sysCtrl.otherDetailsId}}">{{::'CARDIO_DETAILS'|translate}}
                            <strong class="required">{{::"REQUIRED" |translate}}</strong>
                            <input type="text" size="40" maxlength="40" name="{{::sysCtrl.otherDetailsId}}" id="{{::sysCtrl.otherDetailsId}}"
                                  ng-required="{{sysCtrl.model.otherCardio}}"  ng-model-options="{ debounce: '$inherit'}"
                                   ng-model="sysCtrl.model.otherDetails"/>
                            <cmp-error-message field-name="sysCtrl.otherDetailsId"
                                               form-ref="sysCtrl.cardioForm"
                                               show-error="sysCtrl.showErrors()"
                                               error-types="sysCtrl.requiredOnly"></cmp-error-message>
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</ng-form>