<div class="container-fluid">
    <ng-form name="ap4RecCtrl.appendix4RecForm" id="{{::ap4RecCtrl.appendixFormRecordId}}" novalidate ng-model-options="{debounce: 250}">
        <cmp-error-summary form-ref="ap4RecCtrl.appendix4RecForm"
                           form-preamble="{{'ING_DETAILS'|translate}}&nbsp;{{ap4RecCtrl.model.id}}" exclusion-list=ap4RecCtrl.exclusions
                           name-suffix="{{ap4RecCtrl.summaryName}}" set-heading-level="h3" form-id="ap4RecCtrl.appendixFormRecordId"
                           transclude-list="ap4RecCtrl.transcludeList"
                           make-focused="" alias-list="ap4RecCtrl.alias" show-errors="ap4RecCtrl.showSummary"
                           update-errors="ap4RecCtrl.updateSummary"></cmp-error-summary>
        <fieldset>
            <legend>{{'ING_DETAILS'|translate}}&nbsp;{{ap4RecCtrl.model.id}}</legend>
            <div class="row">
                <div class="col-xs-12 form-group"
                     ng-class="{'has-error':ap4RecCtrl.appendix4RecForm.ingredientName.$invalid}">
                    <label for="{{::ap4RecCtrl.ingredNameId}}" class="required">
                        {{'INGRED_MAT_NAME'|translate}}
                        <strong class="required"> {{"REQUIRED" |translate}}</strong>
                        <input type="text" class="form-control full-width" id="{{::ap4RecCtrl.ingredNameId}}" ng-change="ap4RecCtrl.recordChanged()"
                               ng-model="ap4RecCtrl.model.ingredientName" name="{{::ap4RecCtrl.ingredNameId}}" required
                               ng-model-options="{updateOn: 'blur'}" maxlength="100" size="100"/>
                        <cmp-error-message field-name="ap4RecCtrl.ingredNameId"
                                           form-ref="ap4RecCtrl.appendix4RecForm"
                                           show-error="ap4RecCtrl.showErrors()"
                                           error-types="ap4RecCtrl.requiredOnly"></cmp-error-message>

                    </label>
                </div>
            </div>
            <fieldset id="{{::ap4RecCtrl.fsType}}">
                <legend class="required">
                    <span class="field-name">{{'SOURCED'|translate}}</span>
                    <strong class="required"> {{"REQUIRED" |translate}}</strong>
                    <input id="{{::ap4RecCtrl.oneTypeId}}" name="{{::ap4RecCtrl.oneTypeId}}" required type="hidden"
                           ng-model="ap4RecCtrl.isSourced"/>
                </legend>
                <div class="row">
                    <div class="col-xs-2">
                        <div class="checkbox">
                            <label for="sourced-human_{{::$id}}">
                                <input type="checkbox" name="sourced-human" ng-model="ap4RecCtrl.model.humanSourced"
                                       id="sourced-human_{{::$id}}"
                                       ng-change="ap4RecCtrl.showTissuesFluids()"> {{'HUMAN'|translate}}
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="checkbox">
                            <label for="sourced-animal">
                                <input type="checkbox" name="sourced-animal" ng-model="ap4RecCtrl.model.animalSourced"
                                       id="sourced-animal"
                                       ng-change="ap4RecCtrl.showAnimalSources()">{{'ANIMAL'|translate}}
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>

            <section class="section">
                <cmp-tissues-fluids-list ng-if="ap4RecCtrl.model.humanSourced || ap4RecCtrl.model.animalSourced"
                                         service="ap4RecCtrl.service"
                                         records="ap4RecCtrl.model.tissuesFluidsOrigin.tissuesList">
                </cmp-tissues-fluids-list>
            </section>

            <section class="section">
                <cmp-animal-sourced-section ng-if="ap4RecCtrl.model.animalSourced"  records="ap4RecCtrl.model.sourceAnimalDetails"
                                            on-update="ap4RecCtrl.updateAnimalSourced(model)" show-errors="ap4RecCtrl.showErrors()"

                update-error-summary="ap4RecCtrl.updateErrorSummaryState()"></cmp-animal-sourced-section>
            </section>

            <div class="row">

                <div class="btn-group-sm col-xs-12 text-right">
                   <!-- <input type="submit" value="{{'SAVE_SOURCED'|translate}}" class="btn btn-primary" ng-if="!ap4RecCtrl.record"
                           ng-click="ap4RecCtrl.save()"/>-->
                    <input type="submit" ng-if="ap4RecCtrl.deleteBtn === true" value="{{'DELETE_SOURCED'|translate}}"
                           class="btn btn-danger" ng-click="ap4RecCtrl.delete()"/>
                </div>
            </div>
        </fieldset>
       <!-- <pre>record {{ap4RecCtrl.model |json}}</pre>-->
    </ng-form>
</div>