<div>
    <!--<h4>Description de la présentation administrative ou de la composante administrative</h4>-->
    <ul>
        <li>Contrat en vertu duquel un fabricant (le concédant de licence) fournit un produit pharmaceutique à un autre fabricant (le titulaire de licence) afin qu'il soit vendu sous le nom du second fabricant.</li>
    </ul>
</div>
<div class="row alert alert-info" role="alert">
    <span>
        Remarque : Un nouveau numéro de dossier est exigé si les produits proposés n’ont pas été préalablement approuvés (c.-à-d., ils n’ont pas de numéro de dossier), sauf dans le cas d’un remplacement du contrat de licence initial. Vous pouvez contacter Santé Canada pour plus d'informations: eReview@hc-sc.gc.ca pour les médicaments à usage humain et vdd.skmd.so-dgps.dmv.cp@hc-sc.gc.ca pour les médicaments à usage vétérinaire.
        <p>Sur le présent formulaire : Utilisez le numéro de la compagnie pour le nouveau propriétaire (titulaire de licence) et le numéro de dossier existant, à moins qu’un nouveau numéro de dossier ait été attribué par Santé Canada.</p>
    </span>
</div>