<div>
    <!--<h4>Administrative Submission or administrative component description</h4>-->
    <br>
    <ul>
        <li>A change to the manufacturer’s name and the product name.</li>
    </ul>
</div>
<div class="row alert alert-info">
    <span>
        Note: An amended company enrolment is required. A new company identifier will be issued for the substantive name change.
        <p>On this form: Use new company identifier (associated with new manufacturer’s name) and existing dossier identifier.
    </span>
</div>