<div>
    <!--<h4>Description de la présentation administrative ou de la composante administrative</h4>-->
    <ul>
        <li>Transfert du titre de propriété et de la responsabilité du produit d'un fabricant à un autre (DIN ne change pas).</li>
    </ul>
</div>
<div class="row alert alert-info">
    <span>
        Remarque : Le numéro de dossier sera transféré à partir du propriétaire précédent si tous les DIN du dossier sont transférés. Vous pouvez également communiquer avec Santé Canada pour obtenir de plus amples renseignements: eReview@hc-sc.gc.ca pour les médicaments à usage humain et vdd.skmd.so-dgps.dmv.cp.sc@hc-sc.gc.ca pour les médicaments à usage vétérinaire.
        <p>Sur le présent formulaire : Utilisez le numéro de la compagnie pour le nouveau propriétaire et le numéro de dossier existant, à moins qu’un nouveau numéro de dossier ait été attribué par Santé Canada.</p>

    </span>
</div>