<ng-form name="mirCtrl.materialIngRecordForm">
    <div class="container-fluid">
        <fieldset>
            <legend>{{'MATERIAL_DETAILS'|translate}}&nbsp;{{mirCtrl.recordIndex+1}}</legend>
            <div class="row">
                <div class="form-group col-md-12"
                     ng-class="{'has-error':mirCtrl.materialIngRecordForm.matIngName.$invalid}">
                    <label for="matIngName" class="required">
                        <span class="field-name">{{'MATERIAL_NAME'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong>
                        <input type="text" id="matIngName" data-ng-model="mirCtrl.mirModel.ingredientName"
                               ng-model-options="{ debounce: $inherit}"
                               maxlength="100" size="100" ng-required="true"
                               class="form-control" name="matIngName" ng-required="true"/>
                        <strong id="msterialName-error" class="error"
                                ng-if="mirCtrl.showError(mirCtrl.materialIngRecordForm.matIngName.$invalid,mirCtrl.materialIngRecordForm.matIngName.$touched)">
                            <span class="label label-danger" ng-messages="mirCtrl.materialIngRecordForm.inFinal.$error">
                                <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                            </span>
                        </strong>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-2">
                    <label for="cas"><span class="field-name">{{'CAS_NUM'|translate}}</span></label>
                    <input type="text" id="cas" data-ng-model="mirCtrl.mirModel.cas"
                           ng-model-options="{ debounce: $inherit}"
                           class="form-control" name="casNum" maxlength="12" size="12"/>
                </div>
                <div class="form-group col-md-4">
                    <label for="standard"><span class="field-name">{{'STANDARD'|translate}}</span></label>
                    <input type="text" id="standard" data-ng-model="mirCtrl.mirModel.ingredientStandard"
                           ng-model-options="{ debounce: $inherit}"
                           class="form-control" name="stamdard" maxlength="40" size="40"/>
                </div>
                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12"
                     ng-class="{'has-error':mirCtrl.materialIngRecordForm.inFinal.$invalid}">
                    <label for="inFinalContainer" class="required">
                        <span class="field-name">{{'IN_FINAL_CONTAINER'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong>
                        <select id="inFinalContainer" ng-model="mirCtrl.mirModel.inFinalContainer"
                                ng-required="true" class="form-control" name="inFinal"
                                ng-options="val |translate for val in  mirCtrl.yesNoList">
                        </select>
                        <strong id="inFinalContainer-error" class="error"
                                ng-if="mirCtrl.showError(mirCtrl.materialIngRecordForm.inFinal.$invalid,mirCtrl.materialIngRecordForm.inFinal.$touched)">
                        <span class="label label-danger"
                              ng-messages="mirCtrl.materialIngRecordForm.inFinal.$error">
                            <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                        </span>
                        </strong>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="alert alert-info" role="alert" aria-live="polite">
                    {{'SOURCED_INFO'|translate}}
                </div>
            </div>
            <div class="row">

                <div class="btn-group-sm col-xs-12 text-right">
                    <button class="btn btn-primary" name="saveMaterial"
                            ng-click="mirCtrl.save()">Save
                    </button>
                    <button ng-if="mirCtrl.deleteBtn === true" class="btn btn-danger" name="deleteMaterial"
                            ng-click="mirCtrl.delete()">Delete</button>
                    <button class="btn btn-default" name="discardMaterial" ng-click="mirCtrl.discardChanges()">
                        Discard Changes</button>
                </div>
            </div>
        </fieldset>
    </div>
</ng-form>

