<div class="form-group">

    <ng-form name="product-details-form">

        <fieldset>
            <legend>Product Details</legend>


            <div class="col-md-4 form-group">
                <label for="brand-name" class="required"><span class="field-name">{{'BRAND_NAME'|translate}}</span>
                    <strong class="required">{{"REQUIRED" |translate}}</strong></label>
                <input type="text" id="brand-name" data-ng-model="$ctrl.productModel.brandName"
                       class="form-control full-width" name="text" ng-required="true" maxlength="60" size="60"/>
            </div>


            <div class="col-md-4 form-group">
                <label for="med-ingredient" class="required"><span class="field-name">{{'MEDICINAL_INGREDIENT'|translate}}</span>
                    <strong class="required">{{"REQUIRED" |translate}}</strong></label>
                <input type="text" id="med-ingredient" data-ng-model="$ctrl.productModel.medIngredient"
                       class="form-control full-width" name="text" ng-required="true" maxlength="60" size="60"/>
            </div>


            <div class="col-md-4 form-group">
                <label for="strength" class="required"><span class="field-name">{{'STRENGTH'|translate}}</span>
                    <strong class="required">{{"REQUIRED" |translate}}</strong></label>
                <input type="text" id="strength" data-ng-model="$ctrl.productModel.strengths"
                       class="form-control full-width" name="text" ng-required="true" maxlength="60" size="60"/>
            </div>


            <div class="col-md-6 form-group">
                <label for="strength" class="required"><span class="field-name">{{'DOSAGE_FORM'|translate}}</span>
                    <strong class="required">{{"REQUIRED" |translate}}</strong></label>
                <label for="dosage-form-list">Dosage Form</label>
                <select id="dosage-form-list" data-ng-model="$ctrl.productModel.dosageForm" class="form-control full-width">
                    <option></option>
                    <option value="1">1st Choice</option>
                    <option value="2">2nd Choice</option>
                    <option value="3">Other</option>
                </select>
            </div>

            <div class="col-md-6 form-group">
                <label for="dosage-form-other" ng-class="{'required' : $ctrl.productModel.dosageForm === '3'}">
                    <span class="field-name">{{'DOSAGE_FORM_OTHER'|translate}}</span>
                    <strong class="required" ng-if="$ctrl.productModel.dosageForm === '3'">{{"REQUIRED" |translate}}</strong></label>
                <input type="text" id="dosage-form-other" data-ng-model="$ctrl.productModel.dosageFormOther"
                       class="form-control full-width" ng-disabled="$ctrl.productModel.dosageForm !== '3'" name="text"
                       ng-required="$ctrl.productModel.dosageForm === '3'" maxlength="60" size="60"/>
            </div>

            <div class="col-md-12 form-group">
                <label for="company-name" class="required"><span class="field-name">{{'COMPANY_NAME'|translate}}</span>
                    <strong class="required">{{"REQUIRED" |translate}}</strong></label>
                <input type="text" id="company-name" data-ng-model="$ctrl.productModel.companyName"
                       class="form-control full-width" name="text" ng-required="true" maxlength="60" size="60"/>
            </div>


            <!--<pre>productModel : {{$ctrl.productModel | json}}</pre>-->
        </fieldset>


        <div class="row">

            <div class="btn-group-sm col-xs-12 text-right">
                <input type="submit" value="Save" class="btn btn-primary"
                       ng-click="$ctrl.saveProduct()"/>
                <input type="submit" ng-if="$ctrl.deleteBtn === true" value="Delete" class="btn btn-danger" ng-click="$ctrl.delete()"/>
                <input type="submit" value="Discard Changes" class="btn btn-default" ng-click="$ctrl.discardChanges()">
            </div>
        </div>
    </ng-form>
</div>