<div ui-tree-handle class="tree-node tree-node-content rep-ui-tree-cursor">
    <div >
        <div class="row margin-top-medium">
            <div class="margin-bottom-medium">
                <a class="" data-ng-if="node.nodes" class="rep-anchor"
                   data-ng-click="toggle(this)"><i class="glyphicon"
                                                   data-ng-class="{'fa fa-caret-right fa-lg fa-fw': collapsed, 'fa fa-caret-down fa-lg fa-fw': !collapsed}"></i>
                    {{node.recordName|translate}}&nbsp;-&nbsp;Record&nbsp{{node.index+1}}
                </a>
            </div>
            <div data-ng-if="node.value && node.value.length>0 && !collapsed" class="col-xs-12">

                <table class="table dataTable table-bordered table-hover table-condensed table-striped">
                    <tr>
                        <th width="20%" scope="col">Name</th>
                        <th width="15%" scope="col">Change Type</th>
                        <th width="30%" scope="col">Original Value</th>
                        <th width="30%" scope="col">Changed Value</th>
                    </tr>
                    <tr data-ng-repeat="child in node.value">
                        <td width="20%">{{child.recordName |translate}}</td>
                        <td width="15%">{{child.type |translate}}</td>
                        <td width="30%" data-ng-if="child.type==='A'|| child.type==='D'">{{child.original |json }}</td>
                        <td width="30%" data-ng-if="child.type==='A'|| child.type==='D'">{{child.diff |json}}</td>
                        <td width="30%" data-ng-if="!(child.type==='A'|| child.type==='D')">{{child.original |translate }}
                        </td>
                        <td width="30%" data-ng-if="!(child.type==='A'|| child.type==='D')">{{child.diff |translate }}</td>
                    </tr>
                </table>

            </div>
            <div data-ng-if="node.isChange &&!collapsed">
                <div class="col-xs-12">
                    <label>(Entire record&nbsp;{{node.type |translate}})</label>
                    <table class="table dataTable table-bordered table-hover table-condensed table-striped">
                        <tr>
                            <th>Change Type</th>
                            <th>Original Value</th>
                            <th>Changed Value</th>
                        </tr>
                        <tr>
                            <td width="20%">{{node.type |translate}}</td>
                            <td width="20%">{{node.original |json}}</td>
                            <td width="60%">{{node.diff |json}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <ol ui-tree-nodes="" data-ng-model="node.nodes" data-ng-class="{hidden: collapsed}">
            <li data-ng-repeat="node in node.nodes" ui-tree-node ng-include="'app/scripts/components/nodes-renderer/nodes-renderer.html'">
            </li>
        </ol>
    </div>

</div>