<ng-form name="lifecycleListCtrl.lifecycleListForm" novalidate="novalidate">
<section class="panel  panel-default">
    <header class="panel-heading">
        <h3 class="panel-title">Lifecycle Management Table</h3>
    </header>
    <div class="panel-body">
        <div class="row">
            <cmp-expanding-table list-items="lifecycleListCtrl.lifecycleList"
                                 reset-to-collapsed="lifecycleListCtrl.setCollapsed"
                                 column-def="lifecycleListCtrl.columnDef" select-record="lifecycleListCtrl.selectRecord"
                                 disable-selection="!lifecycleListCtrl.isDetailsValid">

                <cmp-lifecycle-details lifecycle-record="$parent.record"
                                       is-detail-valid="lifecycleListCtrl.setValid(state)"
                                       on-delete="lifecycleListCtrl.deleteRecord(id)"
                                       enable-delete-index="lifecycleListCtrl.lastRecordSequence()"
                                       on-update="lifecycleListCtrl.onUpdateLifecycleRecord(record)"></cmp-lifecycle-details>

            </cmp-expanding-table>

        </div>
        <div class="row mrgn-tp-md mrgn-bttm-lg">
            <div class="btn-group-sm col-md-12 text-right">
                <input type="submit" value="{{'ADD_TRANSACTION'|translate}}" class="btn btn-primary"
                       ng-click="lifecycleListCtrl.addTransaction()"
                       ng-disabled="!lifecycleListCtrl.isDetailsValid">
                <input type="submit" value="Cancel" class="btn btn-default"
                       data-ng-show="lifecycleListCtrl.newAdrFormShow"
                       ng-click="lifecycleListCtrl.newAdrFormShow = false">
            </div>
        </div>
    </div>
</section>