<ng-form name="lifeListCtrl.lifecycleListForm" novalidate="novalidate">
        <div class="row">
            <input type="text" id="oneRec_{{$id}}" name="oneRec" ng-show="false"
                   ng-model="lifeListCtrl.oneRecord" ng-required="true"/>
            <label>
                <strong id=" onerec-error" class="error"
                        ng-if="lifeListCtrl.showError(lifeListCtrl.lifecycleListForm.oneRec.$touched,lifeListCtrl.lifecycleListForm.oneRec.$invalid)">
                        <span class="label label-danger"
                              ng-messages="lifeListCtrl.lifecycleListForm.oneRec.$error">
                            <span ng-message="required">{{"MSG_ERR_ONE_LIFE_REC"|translate}}</span>
                        </span>
                </strong>
            </label>
            <cmp-expanding-table list-items="lifeListCtrl.lifecycleList"
                                 reset-to-collapsed="lifeListCtrl.setCollapsed"
                                 column-def="lifeListCtrl.columnDef" select-record="lifeListCtrl.selectRecord"
                                 disable-selection="!lifeListCtrl.isDetailsValid">

                <cmp-lifecycle-details lifecycle-record="$parent.record"
                                       is-detail-valid="lifeListCtrl.setValid(state)"
                                       on-delete="lifeListCtrl.deleteRecord(id)"
                                       enable-delete-index="lifeListCtrl.lastRecordSequence()"
                                       on-update="lifeListCtrl.onUpdateLifecycleRecord(record)"></cmp-lifecycle-details>

            </cmp-expanding-table>

        </div>
        <div class="row mrgn-tp-md mrgn-bttm-lg">
            <div class="btn-group-sm col-md-12 text-right">
                <input type="submit" value="{{'ADD_TRANSACTION'|translate}}" class="btn btn-primary"
                       ng-click="lifeListCtrl.addTransaction()"
                       ng-disabled="lifeListCtrl.isAddDisabled()">
                <input type="submit" value="Cancel" class="btn btn-default"
                       data-ng-show="lifeListCtrl.newAdrFormShow"
                       ng-click="lifeListCtrl.newAdrFormShow = false">
            </div>
        </div>
    </div>
</ng-form>