<div class="container-fluid">
    <ng-form name="contCtrl.contactForm">
        <div class="row">
            <div class="col-md-3 form-group"
                 ng-class="{'has-error':contCtrl.contactForm[contCtrl.salutationId].$invalid}">
                <label for="{{::contCtrl.salutationId}}" class="required">
                    <span class="field-name">{{"SALUTATION"|translate}}</span>
                    <strong class="required"> {{"REQUIRED" |translate}}</strong>
                    <select id="{{::contCtrl.salutationId}}" name="{{::contCtrl.salutationId}}" class="form-control"
                            data-ng-model="contCtrl.contactModel.salutation" ng-disabled="!contCtrl.isEditable"
                            ng-options="salut |translate for salut in contCtrl.salutationList" required>
                    </select>
                    <cmp-error-message field-name="contCtrl.salutationId" form-ref="contCtrl.contactForm"
                                       show-error="contCtrl.showErrors()"
                                       error-types="contCtrl.requiredOnly"></cmp-error-message>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 form-group"
                 ng-class="{'has-error':contCtrl.contactForm[contCtrl.firstNameId].$invalid}">
                <label for="{{::contCtrl.firstNameId}}" class="required">
                    <span class="field-name">{{'FIRSTNAME'|translate}}</span>
                    <strong class="required">{{"REQUIRED" |translate}}</strong>
                    <input type="text" id="{{::contCtrl.firstNameId}}"
                           data-ng-model="contCtrl.contactModel.givenName"
                           class="form-control full-width" name="{{::contCtrl.firstNameId}}" maxlength="60"
                           size="60" ng-readonly="!contCtrl.isEditable" required/>
                    <cmp-error-message field-name="contCtrl.firstNameId" form-ref="contCtrl.contactForm"
                                       show-error="contCtrl.showErrors()"
                                       error-types="contCtrl.requiredOnly"></cmp-error-message>
                </label>
            </div>
            <div class="col-md-2 form-group">
                <label for="initials_{{::$id}}">
                    <span class="field-name">{{'INITIALS'|translate}}</span>
                    <input type="text" id="initials_{{::$id}}" data-ng-model="contCtrl.contactModel.initials"
                           class="form-control full-width" name="initials" maxlength="10" size="10"
                           ng-readonly="!contCtrl.isEditable"/>
                </label>
            </div>
            <div class="col-md-5 form-group"
                 ng-class="{'has-error':contCtrl.contactForm[contCtrl.lastNameId].$invalid}">
                <label for="{{::contCtrl.lastNameId}}" class="required">
                    <span class="field-name">{{'LASTNAME'|translate}}</span>
                    <strong class="required">{{"REQUIRED" |translate}}</strong>
                    <input type="text" id="{{::contCtrl.lastNameId}}"
                           data-ng-model="contCtrl.contactModel.surname"
                           ng-readonly="!contCtrl.isEditable"
                           class="form-control full-width" name="{{::contCtrl.lastNameId}}" required
                           maxlength="60" size="60"/>
                    <cmp-error-message field-name="contCtrl.lastNameId" form-ref="contCtrl.contactForm"
                                       show-error="contCtrl.showErrors()"
                                       error-types="contCtrl.requiredOnly"></cmp-error-message>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-group"
                 ng-class="{'has-error':contCtrl.contactForm[contCtrl.langCorrespondId].$invalid}">
                <label for="{{::contCtrl.langCorrespondId}}" class="required">
                    <span class="field-name">{{'LANGCORRESPOND'|translate}}</span>
                    <strong class="required">{{'REQUIRED' |translate}}</strong>
                    <select id="{{::contCtrl.langCorrespondId}}" name="{{::contCtrl.langCorrespondId}}"
                            data-ng-model="contCtrl.contactModel.language"
                            ng-options="langCorr |translate for langCorr in contCtrl.langList"
                            class="form-control" ng-disabled="!contCtrl.isEditable" required>
                    </select>
                    <cmp-error-message field-name="contCtrl.langCorrespondId" form-ref="contCtrl.contactForm"
                                       show-error="contCtrl.showErrors()"
                                       error-types="contCtrl.requiredOnly"></cmp-error-message>
                </label>
            </div>
            <div class="col-md-4 form-group"
                 ng-class="{'has-error':contCtrl.contactForm[contCtrl.jobTitleId].$invalid}">
                <label for="{{::contCtrl.jobTitleId}}" class="required">
                    <span class="field-name">{{'JOBTITLE'|translate}}</span>
                    <strong class="required">{{'REQUIRED'|translate}}</strong>
                    <input type="text" id="{{::contCtrl.jobTitleId}}"
                           data-ng-model="contCtrl.contactModel.title" class="form-control"
                           name="{{::contCtrl.jobTitleId}}" maxlength="40" size="40" ng-readonly="!contCtrl.isEditable"
                           required/>
                    <cmp-error-message field-name="contCtrl.jobTitleId" form-ref="contCtrl.contactForm"
                                       show-error="contCtrl.showErrors()"
                                       error-types="contCtrl.requiredOnly"></cmp-error-message>
                </label>
            </div>
            <div class="col-md-4 form-group"
                 ng-class="{'has-error':contCtrl.contactForm[contCtrl.faxId].$invalid}">
                <label for="{{::contCtrl.faxId}}" ng-class="{'required':contCtrl.faxMandatory}">
                    <span class="field-name">{{'FAX_NUMBER'|translate}}</span>
                    <strong ng-if="contCtrl.faxMandatory" class="required">{{'REQUIRED'|translate}}</strong>

                    <input type="text" id="{{::contCtrl.faxId}}"
                           data-ng-model="contCtrl.contactModel.fax" ng-readonly="!contCtrl.isEditable"
                           ng-required="contCtrl.faxMandatory" class="form-control" ng-pattern="contCtrl.phoneReg"
                           name="{{::contCtrl.faxId}}" maxlength="25" size="25"/>
                    <cmp-error-message ng-if="contCtrl.faxMandatory" field-name="contCtrl.faxId"
                                       form-ref="contCtrl.contactForm"
                                       show-error="contCtrl.showErrors()"
                                       error-types="contCtrl.faxError"></cmp-error-message>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 form-group"
                 ng-class="{'has-error':contCtrl.contactForm[contCtrl.phoneNumberId].$invalid}">
                <label for="{{::contCtrl.phoneNumberId}}" class="required">
                    <span class="field-name">{{'PHONENUMBER'|translate}}</span>
                    <strong class="required">{{"REQUIRED" |translate}}</strong>
                    <input type="text" id="{{::contCtrl.phoneNumberId}}"
                           data-ng-model="contCtrl.contactModel.phone"
                           class="form-control full-width" name="{{::contCtrl.phoneNumberId}}"
                           maxlength="25" size="25" ng-readonly="!contCtrl.isEditable" ng-pattern="contCtrl.phoneReg"
                           required/>
                    <cmp-error-message field-name="contCtrl.phoneNumberId" form-ref="contCtrl.contactForm"
                                       show-error="contCtrl.showErrors()"
                                       error-types="contCtrl.phoneError"></cmp-error-message>
                </label>
            </div>
            <div class="col-md-3 form-group">
                <label for="{{::contCtrl.phoneExtId}}"><span class="field-name">{{'PHONE_EXT'|translate}}</span>
                    <input type="text" id="{{::contCtrl.phoneExtId}}" data-ng-model="contCtrl.contactModel.phoneExt"
                           ng-readonly="!contCtrl.isEditable" class="form-control" name="{{::contCtrl.phoneExtId}}" maxlength="10"/>
                </label>
            </div>
            <div class="col-md-6 form-group"
                 ng-class="{'has-error':contCtrl.contactForm[contCtrl.contactEmailId].$invalid}">
                <label for="{{::contCtrl.contactEmailId}}" class="required">
                    <span class="field-name">{{'CONTACTEMAIL'|translate}}</span>
                    <strong class="required">{{"REQUIRED" |translate}}</strong>
                    <input type="email" id="{{::contCtrl.contactEmailId}}"
                           data-ng-model="contCtrl.contactModel.email"
                           ng-readonly="!contCtrl.isEditable" maxlength="50" size="60"
                           class="form-control full-width" name="{{::contCtrl.contactEmailId}}" required/>
                    <cmp-error-message field-name="contCtrl.contactEmailId" form-ref="contCtrl.contactForm"
                                       show-error="contCtrl.showErrors()" error-types="contCtrl.emailError">
                    </cmp-error-message>
                </label>
            </div>
        </div>
        <!--<pre>contact model: {{contCtrl.contactRecord | json : spacing}}</pre>-->
    </ng-form>

</div>