<div class="container-fluid">
    <ng-form name="contCtrl.contactForm">
        <div class="row">
            <div class="col-md-3 form-group" ng-class="{'has-error':contCtrl.contactForm.salutation{{::contCtrl.fldId}}_{{::$id}}.$invalid}">
                <label for="salutation{{::contCtrl.fldId}}_{{::$id}}" class="required">
                    <span class="field-name">{{"SALUTATION"|translate}}</span>
                    <strong class="required"> {{"REQUIRED" |translate}}</strong>
                    <select id="salutation{{::contCtrl.fldId}}_{{::$id}}" name="salutation{{::contCtrl.fldId}}_{{::$id}}" class="form-control" ng-blur="contCtrl.updateErrorSummary()"
                            data-ng-model="contCtrl.contactModel.salutation" ng-disabled="!contCtrl.isEditable"
                            ng-options="salut |translate for salut in contCtrl.salutationList" required>
                    </select>
                    <strong id="salutation-error" class="error" ng-show="contCtrl.showError(contCtrl.contactForm.salutation{{::contCtrl.fldId}}_{{::$id}})">
                      <span class="label label-danger" ng-messages="contCtrl.contactForm.salutation{{::contCtrl.fldId}}_{{::$id}}.$error">
                          <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                      </span>
                    </strong>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 form-group"
                 ng-class="{'has-error':contCtrl.contactForm.firstName{{::contCtrl.fldId}}_{{::$id}}.$invalid}">
                <label for="firstName{{::contCtrl.fldId}}_{{::$id}}" class="required">
                    <span class="field-name">{{'FIRSTNAME'|translate}}</span>
                    <strong class="required">{{"REQUIRED" |translate}}</strong>
                    <input type="text" id="firstName{{::contCtrl.fldId}}_{{::$id}}"
                           data-ng-model="contCtrl.contactModel.givenName"
                           class="form-control full-width" name="firstName{{::contCtrl.fldId}}_{{::$id}}" maxlength="60"
                           ng-blur="contCtrl.updateErrorSummary()"
                           size="60" ng-readonly="!contCtrl.isEditable" required/>
                    <strong id="firstName-error" class="error"
                            ng-show="contCtrl.showError(contCtrl.contactForm.firstName{{::contCtrl.fldId}}_{{::$id}})">
                        <span class="label label-danger"
                              ng-messages="contCtrl.contactForm.firstName{{::contCtrl.fldId}}_{{::$id}}.$error">
                            <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                        </span>
                    </strong>
                </label>
            </div>
            <div class="col-md-2 form-group">
                <label for="initials_{{::$id}}">
                    <span class="field-name">{{'INITIALS'|translate}}</span>
                    <input type="text" id="initials_{{::$id}}" data-ng-model="contCtrl.contactModel.initials"
                           class="form-control full-width" name="initials" maxlength="10" size="10"
                           ng-readonly="!contCtrl.isEditable"/>
                </label>
            </div>
            <div class="col-md-5 form-group"
                 ng-class="{'has-error':contCtrl.contactForm.lastName{{::contCtrl.fldId}}_{{::$id}}.$invalid}">
                <label for="lastName{{::contCtrl.fldId}}_{{::$id}}" class="required">
                    <span class="field-name">{{'LASTNAME'|translate}}</span>
                    <strong class="required">{{"REQUIRED" |translate}}</strong>
                    <input type="text" id="lastName{{::contCtrl.fldId}}_{{::$id}}"
                           data-ng-model="contCtrl.contactModel.surname"
                           ng-readonly="!contCtrl.isEditable" ng-blur="contCtrl.updateErrorSummary()"
                           class="form-control full-width" name="lastName{{::contCtrl.fldId}}_{{::$id}}" required
                           maxlength="60" size="60"/>
                    <strong id="surname-error" class="error"
                            ng-show="contCtrl.showError(contCtrl.contactForm.lastName{{::contCtrl.fldId}}_{{::$id}})">
                        <span class="label label-danger"
                              ng-messages="contCtrl.contactForm.lastName{{::contCtrl.fldId}}_{{::$id}}.$error">
                            <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                        </span>
                    </strong>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 form-group"
                 ng-class="{'has-error':contCtrl.contactForm.langCorrespond{{::contCtrl.fldId}}__{{::$id}}.$invalid}">
                <label for="langCorrespond{{::contCtrl.fldId}}_{{::$id}}" class="required">
                    <span class="field-name">{{'LANGCORRESPOND'|translate}}</span>
                    <strong class="required">{{'REQUIRED' |translate}}</strong>
                    <select id="langCorrespond{{::contCtrl.fldId}}_{{::$id}}"
                            name="langCorrespond{{::contCtrl.fldId}}_{{::$id}}"
                            data-ng-model="contCtrl.contactModel.language" ng-blur="contCtrl.updateErrorSummary()"
                            ng-options="langCorr |translate for langCorr in contCtrl.langList"
                            class="form-control" ng-disabled="!contCtrl.isEditable" required>
                    </select>
                    <strong id="langCorresp-error" class="error"
                            ng-show="contCtrl.showError(contCtrl.contactForm.langCorrespond{{::contCtrl.fldId}}_{{::$id}})">
                        <span class="label label-danger"
                              ng-messages="contCtrl.contactForm.langCorrespond{{::contCtrl.fldId}}_{{::$id}}.$error">
                            <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                        </span>
                    </strong>
                </label>
            </div>
            <div class="col-md-4 form-group"
                 ng-class="{'has-error':contCtrl.contactForm.jobTitle{{::contCtrl.fldId}}_{{::$id}}.$invalid}">
                <label for="jobTitle{{::contCtrl.fldId}}_{{::$id}}" class="required">
                    <span class="field-name">{{'JOBTITLE'|translate}}</span>
                    <strong class="required">{{'REQUIRED'|translate}}</strong>
                    <input type="text" id="jobTitle{{::contCtrl.fldId}}_{{::$id}}"
                           data-ng-model="contCtrl.contactModel.title"
                           class="form-control full-width" name="jobTitle{{::contCtrl.fldId}}_{{::$id}}" required
                           maxlength="40" size="40"
                           ng-readonly="!contCtrl.isEditable" ng-blur="contCtrl.updateErrorSummary()"
                           required/>
                    <strong id="jobTitle-error" class="error"
                            ng-show="contCtrl.showError(contCtrl.contactForm.jobTitle{{::contCtrl.fldId}}__{{::$id}})">
                        <span class="label label-danger"
                              ng-messages="contCtrl.contactForm.jobTitle{{::contCtrl.fldId}}_{{::$id}}.$error">
                            <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                        </span>
                    </strong>
                </label>

            </div>
            <div class="col-md-3 form-group"
                 ng-class="{'has-error':contCtrl.contactForm.fax_number{{::contCtrl.fldId}}_{{::$id}}.$invalid}">
                <label for="fax_number{{::contCtrl.fldId}}_{{::$id}}" ng-class="{'required':contCtrl.faxMandatory}">
                    <span class="field-name">{{'FAX_NUMBER'|translate}}</span>
                    <strong ng-if="contCtrl.faxMandatory" class="required">{{'REQUIRED'|translate}}</strong>

                    <input type="text" id="fax_number{{::contCtrl.fldId}}_{{::$id}}"
                           data-ng-model="contCtrl.contactModel.fax"
                           ng-readonly="!contCtrl.isEditable" ng-required="contCtrl.faxMandatory"
                           class="form-control full-width" name="fax_number{{::contCtrl.fldId}}_{{::$id}}"
                           maxlength="25" size="25"/>
                    <strong id="fax-error" class="error"
                            ng-show="contCtrl.showError(contCtrl.contactForm.fax_number{{::contCtrl.fldId}}_{{::$id}})">
                        <span class="label label-danger"
                              ng-messages="contCtrl.contactForm.fax_number{{::contCtrl.fldId}}_{{::$id}}.$error">
                            <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                        </span>
                    </strong>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 form-group"
                 ng-class="{'has-error':contCtrl.contactForm.phoneNumber{{::contCtrl.fldId}}_{{::$id}}.$invalid}">
                <label for="phoneNumber{{::contCtrl.fldId}}_{{::$id}}" class="required">
                    <span class="field-name">{{'PHONENUMBER'|translate}}</span>
                    <strong class="required">{{"REQUIRED" |translate}}</strong>
                    <input type="text" id="phoneNumber{{::contCtrl.fldId}}_{{::$id}}"
                           data-ng-model="contCtrl.contactModel.phone"
                           ng-blur="contCtrl.updateErrorSummary()"
                           class="form-control full-width" name="phoneNumber{{::contCtrl.fldId}}_{{::$id}}" required
                           maxlength="25"
                           size="25" ng-readonly="!contCtrl.isEditable" ng-pattern="contCtrl.phoneReg"
                           required/>
                    <strong id="phoneNum-error" class="error"
                            ng-show="contCtrl.showError(contCtrl.contactForm.phoneNumber{{::contCtrl.fldId}}_{{::$id}})">
                        <span class="label label-danger"
                              ng-messages="contCtrl.contactForm.phoneNumber{{::contCtrl.fldId}}_{{::$id}}.$error">
                            <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                             <span ng-message="pattern"><span translate="MSG_ERR_PHONE_FORMAT"></span></span>
                        </span>
                    </strong>
                </label>

            </div>
            <div class="col-md-3 form-group">
                <label for="phone-ext_{{::$id}}"><span class="field-name">{{'PHONE_EXT'|translate}}</span>
                    <input type="text" id="phone-ext_{{::$id}}" data-ng-model="contCtrl.contactModel.phoneExt"
                           ng-readonly="!contCtrl.isEditable" class="form-control" name="phoneExt" maxlength="10"/>
                </label>
            </div>
            <div class="col-md-6 form-group"
                 ng-class="{'has-error':contCtrl.contactForm.contactEmail{{::contCtrl.fldId}}_{{::$id}}.$invalid}">
                <label for="contactEmail{{::contCtrl.fldId}}_{{::$id}}" class="required">
                    <span class="field-name">{{'CONTACTEMAIL'|translate}}</span>
                    <strong class="required">{{"REQUIRED" |translate}}</strong>
                    <input type="email" id="contactEmail{{::contCtrl.fldId}}_{{::$id}}"
                           data-ng-model="contCtrl.contactModel.email"
                           ng-blur="contCtrl.updateErrorSummary()"
                           ng-readonly="!contCtrl.isEditable" maxlength="50" size="60"
                           class="form-control full-width" name="contactEmail{{::contCtrl.fldId}}_{{::$id}}" required/>
                    <strong id="contactEmail-error" class="error"
                            ng-show="contCtrl.showError(contCtrl.contactForm.contactEmail{{::contCtrl.fldId}}_{{::$id}})">
                        <span class="label label-danger"
                              ng-messages="contCtrl.contactForm.contactEmail{{::contCtrl.fldId}}_{{::$id}}.$error">
                            <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                          <span ng-message="email"><span translate="MSG_ERR_EMAIL_FORMAT"></span></span>
                        </span>
                    </strong>
                </label>
            </div>
        </div>
        <!--<pre>contact model: {{contCtrl.contactRecord | json : spacing}}</pre>-->
    </ng-form>

</div>