<ng-form name="ar.roleForm">
    <fieldset>
        <legend class="required">
            <span class="field-name">{{ar.legendText |translate}}</span>
            <strong class="required"> {{"REQUIRED" |translate}}</strong>
            <input id="roleMissing_{{$id}}" name="roleMissing" ng-required="true" ng-show="false"
                   ng-model="ar.isSelected" required/>
            <strong id=" address-role-error" class="error" ng-if="ar.showErrorMissing()">
                        <span class="label label-danger" ng-messages="ar.roleForm.roleMissing.$error">
                            <span ng-message="required">{{"MSG_ERR_ROLE"|translate}}</span>
                        </span>
            </strong>
        </legend>
        <div class="row">
            <div class="col-sm-4">
                <div class="checkbox">
                    <label for="chk-manufacturer_{{$id}}">
                        <input type="checkbox" ng-model="ar.roleModel.manufacturer" name="manufacturer"
                               ng-change="ar.oneSelected(ar.roleForm.manufacturer,'manufacturer')"
                               ng-disabled="!ar.isEditable"
                               id="chk-manufacturer_{{$id}}"/>{{"MANUFACT"|translate}}
                        <strong id="manufacturer-role-error" class="error" ng-if="ar.roleForm.manufacturer.$invalid">
                 <span class="label label-danger" ng-messages="ar.roleForm.manufacturer.$error">
                            <span ng-message="duplicateRole">{{"MANUFACT_SEL"|translate}}</span>
                        </span>
                        </strong>
                    </label>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="checkbox">
                    <label for="chk-mailing{{$id}}">
                        <input type="checkbox" name="mailing" ng-model="ar.roleModel.mailing" name="mailing"
                               ng-disabled="!ar.isEditable"
                               ng-change="ar.oneSelected(ar.roleForm.mailing,'mailing')" id="chk-mailing{{$id}}"/>
                        {{"MAILING"|translate}}
                        <strong id="mailing-role-error" class="error" ng-if="ar.roleForm.mailing.$invalid">
                 <span class="label label-danger" ng-messages="ar.roleForm.mailing.$error">
                            <span ng-message="duplicateRole">{{"MAIL_SEL"|translate}}</span>
                        </span>
                        </strong>
                    </label>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="checkbox">
                    <label for="chk-billing_{{$id}}">
                        <input type="checkbox" name="billing" ng-model="ar.roleModel.billing"
                               ng-disabled="!ar.isEditable"
                               ng-change="ar.oneSelected(ar.roleForm.billing,'billing')" id="chk-billing_{{$id}}"/>
                        {{"BILLING"|translate}}
                        <strong id="billing-role-error" class="error" ng-if="ar.roleForm.billing.$invalid">
                 <span class="label label-danger" ng-messages="ar.roleForm.billing.$error">
                            <span ng-message="duplicateRole">{{"BILLING_SEL"|translate}}</span>
                        </span>
                        </strong>
                    </label>
                </div>

            </div>
            <div class="col-sm-4">
                <div ng-show="!ar.isContact" class="checkbox">
                    <label for="chk-importer_{{$id}}">
                        <input type="checkbox" name="importer" ng-model="ar.roleModel.importer"
                               ng-disabled="!ar.isEditable"
                               ng-change="ar.oneSelected(ar.roleForm.importer,'importer')" id="chk-importer_{{$id}}"/>
                        {{"IMPORTER"|translate}}
                        <strong id="importer-role-error" class="error" ng-if="ar.roleForm.importer.$invalid">
                 <span class="label label-danger" ng-messages="ar.roleForm.importer.$error">
                            <span ng-message="duplicateRole">{{"IMPORTER_SEL"|translate}}</span>
                        </span>
                        </strong>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div ng-show="ar.isContact" class="checkbox">
                    <label for="chk-rep-primary_{{$id}}">
                        <input type="checkbox" name="repPrimary" ng-model="ar.roleModel.repPrimary"
                               ng-disabled="!ar.isEditable"
                               ng-change="ar.oneSelected(ar.roleForm.repPrimary,'repPrimary')"
                               id="chk-rep-primary_{{$id}}"/> {{'REP_PRIM'|translate}}
                        <strong id="repPrimmary-role-error" class="error" ng-if="ar.roleForm.repPrimary.$invalid">
                 <span class="label label-danger" ng-messages="ar.roleForm.repPrimary.$error">
                            <span ng-message="duplicateRole">{{"REPPRIM_SEL"|translate}}</span>
                        </span>
                        </strong>
                    </label>
                </div>
            </div>
            <div class="col-sm-4">
                <div ng-show="ar.isContact" class="checkbox">
                    <label for="chk-rep-secondary_{{$id}}">
                        <input type="checkbox" name="repSecondary" ng-model="ar.roleModel.repSecondary"
                               ng-disabled="!ar.isEditable"
                               ng-change="ar.oneSelected(ar.roleForm.repSecondary,'repSecondary')"
                               id="chk-rep-secondary_{{$id}}"/> {{'REP_ALT'|translate}}
                        <strong id="repSecondary-role-error" class="error" ng-if="ar.roleForm.repSecondary.$invalid">
                 <span class="label label-danger" ng-messages="ar.roleForm.repSecondary.$error">
                            <span ng-message="duplicateRole">{{"REPALT_SEL"|translate}}</span>
                        </span>
                        </strong>
                    </label>
                </div>
                </label>
            </div>
        </div>
        </div>
    </fieldset>
</ng-form>