<div class="container-fluid">
    <ng-form name="cspCertCtrl.certForm">
        <div class="row">
            <div class="col-md-5 form-group" ng-class="{'has-error':cspCertCtrl.certForm.firstName.$invalid}">
                <label for="firstName_{{::$id}}" class="required">
                    <span class="field-name">{{'FIRSTNAME'|translate}}</span>
                    <strong class="required">{{"REQUIRED" |translate}}</strong>
                    <input type="text" id="firstName_{{::$id}}" data-ng-model="cspCertCtrl.model.givenName"
                           class="form-control full-width" name="firstName" maxlength="60"
                           ng-blur="cspCertCtrl.updateErrorSummary()"
                           size="60" required/>
                    <strong id="firstName-error" class="error"
                            ng-if="cspCertCtrl.showError(cspCertCtrl.certForm.firstName)">
                        <span class="label label-danger" ng-messages="cspCertCtrl.certForm.firstName.$error">
                            <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                        </span>
                    </strong>
                </label>
            </div>
            <div class="col-md-2 form-group">
                <label for="initials_{{::$id}}">
                    <span class="field-name">{{'INITIALS'|translate}}</span>
                    <input type="text" id="initials_{{::$id}}" data-ng-model="cspCertCtrl.model.initials"
                           class="form-control full-width" name="initials" maxlength="10" size="10"/>
                </label>
            </div>
            <div class="col-md-5 form-group" ng-class="{'has-error':cspCertCtrl.certForm.lastName.$invalid}">
                <label for="lastName_{{::$id}}" class="required">
                    <span class="field-name">{{'LASTNAME'|translate}}</span>
                    <strong class="required">{{"REQUIRED" |translate}}</strong>
                    <input type="text" id="lastName_{{::$id}}" data-ng-model="cspCertCtrl.model.surname"
                           ng-blur="cspCertCtrl.updateErrorSummary()"
                           class="form-control full-width" name="lastName" required maxlength="60" size="60"/>

                    <strong id="surname-error" class="error"
                            ng-if="cspCertCtrl.showError(cspCertCtrl.certForm.lastName)">
                        <span class="label label-danger" ng-messages="cspCertCtrl.certForm.lastName.$error">
                            <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                        </span>
                    </strong>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-group" ng-class="{'has-error':cspCertCtrl.certForm.jobTitle.$invalid}">
                <label for="jobTitle_{{::$id}}" class="required">
                    <span class="field-name">{{'JOBTITLE'|translate}}</span>
                    <strong class="required">{{'REQUIRED'|translate}}</strong>
                    <input type="text" id="jobTitle_{{::$id}}" data-ng-model="cspCertCtrl.model.title"
                           class="form-control full-width" name="jobTitle" required maxlength="40" size="40"
                           ng-blur="cspCertCtrl.updateErrorSummary()" required/>
                    <strong id="jobTitle-error" class="error"
                            ng-if="cspCertCtrl.showError(cspCertCtrl.certForm.jobTitle)">
                        <span class="label label-danger" ng-messages="cspCertCtrl.certForm.jobTitle.$error">
                            <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                        </span>
                    </strong>
                </label>
            </div>
            <div class="form-group col-md-4"
                 ng-class="{'has-error':cspCertCtrl.certForm.dateReceived_{{::$id}}.$invalid}">
                <label for="dateReceived_{{::$id}}" class="required">
                    <span class="field-name">{{"DATE_SIGNED" |translate}}</span>
                    <strong class="required"> {{"REQUIRED" |translate}} </strong>
                    <input type="date" id="dateReceived_{{::$id}}" name="dateReceived_{{::$id}}"
                           data-ng-model="cspCertCtrl.model.dateSigned" class="form-control"
                           required/>
                    <strong id="dateReceived-error" class="error"
                            ng-show="cspCertCtrl.showError(cspCertCtrl.certForm.dateReceived_{{::$id}})">
                            <span class="label label-danger"
                                  ng-messages="cspCertCtrl.certForm.dateReceived_{{::$id}}.$error">
                                <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                                 <span ng-message="date">{{'MSG_ERR_DATE_FORMAT'|translate}}</span>
                            </span>
                    </strong>
                </label>
            </div>
        </div>

    </ng-form>
</div>