<div>
    <ng-form id="reg-company-form" name="main.companyEnrolForm"
             novalidate="novalidate">
        <section class="panel panel-primary mrgn-tp-lg">
            <header class="panel-heading clearfix">
                <div class="btn-group pull-right">
                    <button title="{{'HELP_FILE_LOAD'|translate}}" class="btn-xs rep-help-button"
                            id="load-instructions-toggle" ng-click="main.addInstruct(0)"><span
                            class="fa fa-question-circle fa-2x"></span><span class="wb-inv">"{{'HELP_FILE_LOAD'|translate}}"</span>
                    </button>
                </div>
                <h2 class="panel-title">{{'LOAD_COMPANY_FILE'| translate}}</h2>
            </header>
            <div class="panel-body">
                <div uib-alert template-url="./app/lib/uib-templates/alert.html" ng-if="main.alerts[0]"
                     class="alert-info" close="main.closeAlert(0)">
                    <section>
                        <div>
                            <h3 class="rep-margin-minus-top">Files to load</h3>
                            <ul>
                                <li>Working Copy (.hcsc) – when continuing with an incomplete company template.</li>
                                <li>Final XML – when amending an approved company enrolment.</li>
                                <li>A file should not be loaded if it is the initial enrolment for company.</li>
                            </ul>
                        </div>
                    </section>
                </div>
                <div class="col-md-12">

                    <hpfb-file-select update-model-root="main.showContent(fileContent)" root-elem="COMPANY_ENROL"/>
                </div>
            </div>
            <div>
            </div>
        </section>
        <div>
            <section class="panel panel-primary mrgn-tp-lg">
                <header class="panel-heading clearfix">
                    <div class="btn-group pull-right">
                        <button title="{{'ENROL_INSTRUCT'|translate}}" class="btn-xs rep-help-button"
                                id="enrol-instructions-toggle" ng-click="main.addInstruct(1)"><span
                                class="fa fa-question-circle fa-2x"></span><span class="wb-inv">"{{'ENROL_INSTRUCT'|translate}}"</span>
                        </button>
                    </div>
                    <h2 class="panel-title">{{'REG_COMPANY_ENROL'|translate}}</h2>
                </header>
                <div class="panel-body">
                    <div uib-alert template-url="./app/lib/uib-templates/alert.html" ng-if="main.alerts[1]"
                         class="alert-info" close="main.closeAlert(1)">
                        <section>
                            <div>
                                <ul>
                                    <li>
                                        The “<b>Application Status</b>”, “<b>Enrolment Version</b>”, and “<b>Date Last
                                        Saved</b>” fields are automatically filled by the form upon selecting “<b>Save
                                        Working Copy</b>” or “<b>Save Draft for Filing</b>” in the bottom of the
                                        template.
                                    </li>
                                    <li>
                                        The “<b>Company Id</b>” field will be filled by Health Canada when generating
                                        final xml file.
                                    </li>
                                    <li>
                                        The “<b>Amend Enrolment</b>” button must be selected when amending an approved
                                        company enrolment. Load the approved final xml file in the template to enable
                                        the “Amend Enrolment” button.
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <cmp-application-info record="main.company" user-type="main.userType"
                                          is-incomplete="main.isIncomplete" set-type="main.setApplType(type)"
                                          configure-id-field="main.configCompany"></cmp-application-info>
                    <div>
                        <section class="panel  panel-default">
                            <header class="panel-heading clearfix">
                                <div class="btn-group pull-right">
                                    <button title="{{'ADDRESS_INSTRUCT'|translate}}"
                                            class="btn-xs rep-help-button-primary"
                                            id="address-instructions-toggle" ng-click="main.addInstruct(3)"><span
                                            class="fa fa-question-circle fa-2x"></span><span class="wb-inv">"{{'ADDRESS_INSTRUCT'|translate}}"</span>
                                    </button>
                                </div>
                                <h3 class="panel-title">{{'ADDR_INFO'|translate}}</h3>
                            </header>
                            <div class="panel-body">
                                <div uib-alert template-url="./app/lib/uib-templates/alert.html" ng-if="main.alerts[3]"
                                     class="alert-info" close="main.closeAlert(3)">
                                    <section>
                                        <div>
                                            <h4 class="rep-margin-minus-top">Address Information</h4>
                                            <ul>
                                                <li>A minimum of one address is required for the company template.</li>
                                                <li>There must be an address associated with each of the following three
                                                    roles:
                                                    “Manufacturer / Sponsor Mailing Address”, “Billing Address”, and
                                                    “Regulatory Mailing / Annual Contact”.
                                                </li>
                                                <li>
                                                    A single address may be provided for multiple roles, however, each
                                                    role must be associated to only one address.
                                                </li>
                                                <li>
                                                    A “Canadian Importer Mailing Address” is required if a country other
                                                    than Canada is selected for the “Manufacturer / Sponsor Mailing
                                                    Address”. Although it does not need to be provided at the time of
                                                    company enrolment, a Canadian Importer Mailing Address must be
                                                    identified prior to the product entering the market, by amending
                                                    your company enrolment.
                                                </li>
                                            </ul>
                                            <h4>Description of Roles</h4>
                                            <ul>
                                                <li>
                                                    “Manufacturer / Sponsor Information”: Refers to the name to
                                                    which the drug submission is filed and, where a Drug
                                                    Identification Number (DIN) / Notice of Compliance (NOC) is to
                                                    be issued, the company in whose name the DIN / NOC will be
                                                    registered, (i.e., the DIN / NOC owner) and the name to be
                                                    included on the product label and Product Monograph / Package
                                                    Insert.
                                                </li>
                                                <li>
                                                    “Regulatory Mailing / Annual Contact”: pertains to where and to
                                                    whom Health Canada should direct regulatory mail <b>other than
                                                    correspondence specific to the subject drug submission</b>, e.g.
                                                    annual notification, regulatory / policy amendment notices as
                                                    they apply to DINs registered to the manufacturer/sponsor.
                                                    Operational and system requirements dictate that the regulatory
                                                    mailing name/address must be the same for all DINs registered to
                                                    the manufacturer / sponsor identified where more than one DIN is
                                                    held by that company.
                                                </li>
                                                <li>
                                                    “Canadian Importer”: is responsible for the sale of this product in
                                                    Canada. Must
                                                    be provided only if the address of the manufacturer / sponsor
                                                    identified is NOT
                                                    located in Canada.
                                                </li>
                                                <li>
                                                    “Billing Address” – To whom the invoice is to be sent.
                                                </li>
                                            </ul>
                                        </div>
                                    </section>
                                </div>
                                <cmp-company-address-list addresses="main.company.addressList"
                                                          get-new-address="main.getNewAddress()"
                                                          is-amend="main.formAmendType"
                                                          company-service="main.companyService"></cmp-company-address-list>
                            </div>
                        </section>
                        <section class="panel  panel-default">
                            <header class="panel-heading clearfix">
                                <div class="btn-group pull-right">
                                    <button title="{{'REPRESENT_INSTRUCT'|translate}}"
                                            class="btn-xs rep-help-button-primary"
                                            id="contacts-instructions-toggle" ng-click="main.addInstruct(4)"><span
                                            class="fa fa-question-circle fa-2x"></span><span class="wb-inv">"{{'REPRESENT_INSTRUCT'|translate}}"</span>
                                    </button>
                                </div>
                                <h3 class="panel-title">{{'CONTACT_INFO'|translate}}</h3>
                            </header>
                            <div class="panel-body">
                                <div uib-alert template-url="./app/lib/uib-templates/alert.html" ng-if="main.alerts[4]"
                                     class="alert-info" close="main.closeAlert(4)">
                                    <section>
                                        <div>
                                            <h4 class="rep-margin-minus-top">Company Representative Information</h4>
                                            <ul>
                                                <li>
                                                    A minimum of one company representative is required for the company
                                                    template
                                                </li>
                                                <li>
                                                    There must be a company representative associated with each of the
                                                    following
                                                    roles: “Manufacturer / Sponsor Mailing Address”, “Billing Address”,
                                                    “Regulatory
                                                    Mailing / Annual Contact” and “Primary REP contact”
                                                </li>
                                                <li>
                                                    A single contact may be provided for multiple roles, however, each
                                                    role must be
                                                    associated to only one contact.
                                                </li>
                                                <li>
                                                    The Primary REP contact is the person to be contacted by Health
                                                    Canada if there
                                                    are any issues or clarifications required for this template when it
                                                    is submitted
                                                    for approval.
                                                </li>
                                                <li>
                                                    Sponsors may choose to provide an Alternate REP contact, however
                                                    this is not a
                                                    requirement.
                                                </li>
                                            </ul>
                                            <h4>Description of Roles</h4>
                                            <ul>
                                                <li>
                                                    “Manufacturer / Sponsor Information”: Refers to the name to
                                                    which the drug submission is filed and, where a Drug
                                                    Identification Number (DIN) / Notice of Compliance (NOC) is to
                                                    be issued, the company in whose name the DIN / NOC will be
                                                    registered, (i.e., the DIN / NOC owner) and the name to be
                                                    included on the product label and Product Monograph / Package
                                                    Insert.
                                                </li>
                                                <li>
                                                    “Regulatory Mailing / Annual Contact”: pertains to where and to
                                                    whom Health Canada should direct regulatory mail <b>other than
                                                    correspondence specific to the subject drug submission</b>, e.g.
                                                    annual notification, regulatory / policy amendment notices as
                                                    they apply to DINs registered to the manufacturer/sponsor.
                                                    Operational and system requirements dictate that the regulatory
                                                    mailing name/address must be the same for all DINs registered to
                                                    the manufacturer / sponsor identified where more than one DIN is
                                                    held by that company.
                                                </li>
                                                <li>
                                                    “Billing Address” – To whom the invoice is to be sent.
                                                </li>
                                            </ul>
                                        </div>
                                    </section>
                                </div>
                                <cmp-company-contact-list contacts="main.company.contactList"
                                                          get-new-contact="main.getNewContact()"
                                                          is-amend="main.formAmendType"
                                                          company-service="main.companyService"></cmp-company-contact-list>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
            <div class="row btn-group-sm">
                <div class="form-group col-md-3">
                    <button class="btn btn-default btn-lg active" ng-click="main.saveJson()"
                            ng-disabled="main.disableDraftButton">{{'SAVE_WORKING' |translate}}
                    </button>
                </div>
                <div class="form-group col-md-3">
                    <button class="btn btn-primary btn-lg active" ng-disabled="main.disableXML" id="btn_xmlSave"
                            ng-click="main.saveXML()">{{main.saveXMLLabel |translate}}
                    </button>
                    <button title="{{'SAVE_INSTRUCT'|translate}}" class="btn rep-help-button-primary btn-xs"
                            id="save-instructions-toggle" ng-click="main.addInstruct(2)"><span
                            class="fa fa-question-circle fa-2x"></span><span class="wb-inv">"{{'SAVE_INSTRUCT'|translate}}"</span>
                    </button>
                </div>

            </div>
            <div class="row">
                <div class="col-md-10">
                    <div uib-alert template-url="./app/lib/uib-templates/alert.html" ng-if="main.alerts[2]"
                         class="alert-info" close="main.closeAlert(2)">
                        <section aria-live="assertive">
                            <div>
                                <ul>
                                    <li>Click the "Save Draft for Filing" button to generate the draft XML file.</li>
                                    <li>Submit the created file to Health Canada using the Common Electronic Submission
                                        Gateway (CESG).
                                    </li>
                                    <li>Refer to the REP guidance document for detailed information.</li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <!--<pre>overall: {{main.company | json : spacing} }</pre>-->
        </div>
    </ng-form>

</div>