<div>
    <ng-form id="reg-company-form" name="main.companyEnrolForm"
             novalidate="novalidate">
        <section class="panel panel-primary mrgn-tp-lg">
            <header class="panel-heading clearfix">
                <div class="btn-group pull-right">
                    <button title="{{'HELP_FILE_LOAD'|translate}}" class="btn-xs rep-help-button"
                            id="load-instructions-toggle" ng-click="main.addInstruct(0)"><span
                            class="fa fa-question-circle fa-2x"></span><span class="wb-inv">"{{'HELP_FILE_LOAD'|translate}}"</span>
                    </button>
                </div>
                <h2 class="panel-title">{{'LOAD_COMPANY_FILE'| translate}}</h2>
            </header>
            <div class="panel-body">
                <div uib-alert template-url="./app/lib/uib-templates/alert.html" ng-if="main.alerts[0]"
                     class="alert-info" close="main.closeAlert(0)">
                    <section aria-live="assertive">
                        <section aria-live="assertive">
                            <div ng-if="!main.isFrench()"
                                 ng-include="'app/scripts/templates/company/tpl-company-file-en.html'">
                            </div>
                            <div ng-if="main.isFrench()"
                                 ng-include="'app/scripts/templates/company/tpl-company-file-fr.html'">
                            </div>
                        </section>
                    </section>
                </div>
                <div class="col-md-12">

                    <hpfb-file-select update-model-root="main.showContent(fileContent)" root-elem="COMPANY_ENROL"/>
                </div>
            </div>
            <div>
            </div>
        </section>
        <div id="master-error">
            <cmp-error-summary form-ref="main.companyEnrolForm" show-errors="main.showErrorSummary"
                               form-preamble="COMPANY_FORM" exclusion-list="main.exclusions"
                               alias-list="main.alias"
                               update-errors="main.updateSummary" make-focused="main.updateSummary"
                               name-suffix="main.companyEnrolForm" set-heading-level="h2"></cmp-error-summary>
        </div>
        <div>
            <section class="panel panel-primary mrgn-tp-lg">
                <header class="panel-heading clearfix">
                    <div class="btn-group pull-right">
                        <button title="{{'ENROL_INSTRUCT'|translate}}" class="btn-xs rep-help-button"
                                id="enrol-instructions-toggle" ng-click="main.addInstruct(1)"><span
                                class="fa fa-question-circle fa-2x"></span><span class="wb-inv">"{{'ENROL_INSTRUCT'|translate}}"</span>
                        </button>
                    </div>
                    <h2 class="panel-title">{{'REG_COMPANY_ENROL'|translate}}</h2>
                </header>
                <div class="panel-body">
                    <div uib-alert template-url="./app/lib/uib-templates/alert.html" ng-if="main.alerts[1]"
                         class="alert-info" close="main.closeAlert(1)">
                        <section aria-live="assertive">
                            <div ng-if="!main.isFrench()"
                                 ng-include="'app/scripts/templates/company/tpl-company-enrolment-en.html'">
                            </div>
                            <div ng-if="main.isFrench()"
                                 ng-include="'app/scripts/templates/company/tpl-company-enrolment-fr.html'">
                            </div>
                        </section>
                    </div>
                    <cmp-application-info record="main.company" user-type="main.userType"
                                          is-incomplete="main.isIncomplete" set-type="main.setApplType(type)"
                                          configure-id-field="main.configCompany"></cmp-application-info>
                    <div>
                        <section class="panel  panel-default">
                            <header class="panel-heading clearfix">
                                <div class="btn-group pull-right">
                                    <button title="{{'ADDRESS_INSTRUCT'|translate}}"
                                            class="btn-xs rep-help-button-primary"
                                            id="address-instructions-toggle" ng-click="main.addInstruct(3)"><span
                                            class="fa fa-question-circle fa-2x"></span><span class="wb-inv">"{{'ADDRESS_INSTRUCT'|translate}}"</span>
                                    </button>
                                </div>
                                <h3 class="panel-title">{{'ADDR_INFO'|translate}}</h3>
                            </header>
                            <div class="panel-body">
                                <div uib-alert template-url="./app/lib/uib-templates/alert.html" ng-if="main.alerts[3]"
                                     class="alert-info" close="main.closeAlert(3)">
                                    <section aria-live="assertive">
                                        <div ng-if="!main.isFrench()"
                                             ng-include="'app/scripts/templates/company/tpl-company-address-en.html'">
                                        </div>
                                        <div ng-if="main.isFrench()"
                                             ng-include="'app/scripts/templates/company/tpl-company-address-fr.html'">
                                        </div>
                                    </section>
                                </div>
                                <cmp-company-address-list addresses="main.company.addressList"
                                                          get-new-address="main.getNewAddress()"
                                                          is-amend="main.formAmendType"
                                                          error-summary-update="main.updateSummary"
                                                          show-error-summary="main.showErrorSummary"
                                                          company-service="main.companyService"></cmp-company-address-list>
                            </div>
                        </section>
                        <section class="panel  panel-default">
                            <header class="panel-heading clearfix">
                                <div class="btn-group pull-right">
                                    <button title="{{'REPRESENT_INSTRUCT'|translate}}"
                                            class="btn-xs rep-help-button-primary"
                                            id="contacts-instructions-toggle" ng-click="main.addInstruct(4)"><span
                                            class="fa fa-question-circle fa-2x"></span><span class="wb-inv">"{{'REPRESENT_INSTRUCT'|translate}}"</span>
                                    </button>
                                </div>
                                <h3 class="panel-title">{{'CONTACT_INFO'|translate}}</h3>
                            </header>
                            <div class="panel-body">
                                <div uib-alert template-url="./app/lib/uib-templates/alert.html" ng-if="main.alerts[4]"
                                     class="alert-info" close="main.closeAlert(4)">
                                    <section aria-live="assertive">
                                        <div ng-if="!main.isFrench()"
                                             ng-include="'app/scripts/templates/company/tpl-company-contact-en.html'">
                                        </div>
                                        <div ng-if="main.isFrench()"
                                             ng-include="'app/scripts/templates/company/tpl-company-contact-fr.html'">
                                        </div>
                                    </section>
                                </div>
                                <cmp-company-contact-list contacts="main.company.contactList"
                                                          get-new-contact="main.getNewContact()"
                                                          is-amend="main.formAmendType"
                                                          error-summary-update="main.updateSummary"
                                                          show-error-summary="main.showErrorSummary"
                                                          company-service="main.companyService"></cmp-company-contact-list>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
            <div class="row btn-group-sm">
                <div class="form-group col-md-3">
                    <button class="btn btn-default btn-lg active" ng-click="main.saveJson()"
                            ng-disabled="main.disableDraftButton">{{'SAVE_WORKING' |translate}}
                    </button>
                </div>
                <div class="form-group col-md-3">
                    <button class="btn btn-primary btn-lg active" id="btn_xmlSave" ng-disabled="main.disableDraftButton"
                            ng-click="main.saveXML()">{{main.saveXMLLabel |translate}}
                    </button>
                    <button title="{{'SAVE_INSTRUCT'|translate}}" class="btn rep-help-button-primary btn-xs"
                            id="save-instructions-toggle" ng-click="main.addInstruct(2)"><span
                            class="fa fa-question-circle fa-2x"></span><span class="wb-inv">"{{'SAVE_INSTRUCT'|translate}}"</span>
                    </button>
                </div>

            </div>
            <div class="row">
                <div class="col-md-10">
                    <div uib-alert template-url="./app/lib/uib-templates/alert.html" ng-if="main.alerts[2]"
                         class="alert-info" close="main.closeAlert(2)">
                        <section aria-live="assertive">
                                <div ng-if="!main.isFrench()"
                                     ng-include="'app/scripts/templates/company/tpl-company-save-en.html'">
                                </div>
                                <div ng-if="main.isFrench()"
                                     ng-include="'app/scripts/templates/company/tpl-company-save-fr.html'">
                                </div>
                        </section>
                    </div>
                </div>
            </div>
            <!--<pre>overall: {{main.company | json : spacing} }</pre>-->
        </div>
    </ng-form>

</div>