<ng-form name="roaCtrl.roaListForm">
    <cmp-expanding-table title="Routes of administration" reset-to-collapsed="roaCtrl.resetToCollapsed"
                         list-items="roaCtrl.model.roaList"
                         column-def="roaCtrl.columnDef" select-record="roaCtrl.selectRecord"
                         disable-selection="!roaCtrl.isDetailValid">

        <cmp-roa-record record="$parent.record" show-errors="thera.showErrors()"
                        on-delete="roaCtrl.deleteRecord(id)"></cmp-roa-record>

    </cmp-expanding-table>


    <div class="mrgn-tp-md mrgn-bttm-lg">
        <div class="btn-group-sm col-md-12 text-right">
            <button class="btn btn-primary" ng-click="roaCtrl.addNew()" name="addRoaRec" ng-disabled="roaCtrl.roaListForm.$invalid">
                {{'ADD_ROA'|translate}}
            </button>
        </div>
    </div>
</ng-form>
