<ng-form name="contactListCtrl.contactListForm">
    <section class="panel panel-default">
        <header class="panel-heading">
            <h2 class="panel-title">{{'CONTACT_INFO'|translate}}</h2>
        </header>
        <div class="panel-body">
            <div class="row">
                <!-- Place generic expander here-->
                <input type="checkbox" id="contactValid" name="contactRolesValid" ng-show="false"
                       ng-model="contactListCtrl.allRolesSelected" required/>
                <label>
                    <strong id=" contactNum-role-error" class="error" ng-if="contactListCtrl.showError()">
                        <span class="label label-danger"
                              ng-messages="contactListCtrl.contactListForm.contactRolesValid.$error">
                            <span ng-message="required">{{"MSG_ERR_ALLROLE"|translate}}</span>
                        </span>
                    </strong>
                </label>
                <cmp-expanding-table list-items="contactListCtrl.contactList"
                                     column-def="contactListCtrl.columnDef" select-record="contactListCtrl.selectRecord"
                                     disable-selection="!contactListCtrl.isDetailValid">

                    <cmp-contact-record on-delete="contactListCtrl.deleteContact(contactId)"
                                        on-update="contactListCtrl.onUpdateContactRecord(contact)"
                                        is-amend="contactListCtrl.isAmend()"
                                        is-role-selected="contactListCtrl.isREPRoleSelected(roleName,id)"
                                        is-detail-valid="contactListCtrl.setValid(state)">
                    </cmp-contact-record>

                </cmp-expanding-table>
            </div>
                <div class="row mrgn-tp-md mrgn-bttm-lg">
                    <div class="btn-group-sm col-md-12 text-right">
                        <input type="submit" value="Add Contact" class="btn btn-primary"
                               ng-click="contactListCtrl.addContact()" ng-disabled="!contactListCtrl.isDetailValid">
                        <input type="submit" value="Cancel" class="btn btn-default"
                               data-ng-show="contactListCtrl.newContactFormShow"
                               ng-click="contactListCtrl.newAdrFormShow=false">
                    </div>
                </div>

        </div>
    </section>
</ng-form>
