<div class="container-fluid">
    <ng-form name="contactRec.contactRecForm" novalidate="novalidate">
        <div>
            <div>
                <fieldset>
                    <legend>{{contactRec.contactModel.repRole |translate}} &nbsp;{{'REP_CONTACT' |translate}}</legend>
                    <div class="row" ng-show="contactRec.formAmend">
                        <div class="col-sm-12 form-group">
                            <div class="checkbox">
                                <label for="chkAmend_{{$id}}">
                                    <input type="checkbox" ng-model="contactRec.contactModel.amend" name="amendRecord"
                                           id="chkAmend_{{$id}}" ng-change="contactRec.setEditableState()"/>
                                    {{'AMEND'|translate}}&nbsp;{{contactRec.contactModel.repRole|translate}}&nbsp;{{'REP_CONTACT'|translate}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <cmp-contact-details contact-record="contactRec.contactModel"
                                             is-amend="contactRec.editState"
                                             on-update="contactRec.onUpdateContactRecord(contact)"
                                             show-errors="contactRec.showErrors()"></cmp-contact-details>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="btn-group-sm col-xs-12 text-right">
                <input type="submit" value="{{'SAVE_CONTACT' |translate}}" class="btn btn-primary" name="saveContact"
                       id="saveContact" ng-click="contactRec.updateContactModel()"/>
                <input type="submit" value="{{'DELETE_CONTACT' |translate}}" class="btn btn-danger"
                       ng-click="contactRec.delete()"/>
                <input type="submit" value="{{'DISCARD_CHANGES'|translate}}" class="btn btn-default"
                       ng-click="contactRec.discardChanges()"/>
            </div>
        </div>
</div>
</ng-form>
<!--    <pre>contact record model: {{contactRec.contactModel | json : spacing}}</pre>-->

</div>