<div>
    <!-- <h4 class="rep-margin-minus-top">fr_Applicant Information Instructions</h4>-->
    <ul>
        <li><b>Nom du demandeur</b> : Inscrire le nom de la personne présentant la demande de CPS. Veuillez consulter la
            section 2.2.2 de la <i>ligne directrice: Certificats de protection supplémentaire</i> au
            sujet de l’attestation du demandeur.
        </li>
        <li><b>Numéro d’entreprise d’ARC</b> : Fournissez le numéro à neuf chiffres que l'Agence du revenu du Canada a attribué au demandeur.</li>
        <li><b>Numéro de client de CPS</b> : Indiquer le Numéro de client de CPS du demandeur. Veuillez contacter le Bureau des
            médicaments brevetés et de la liaison avant l’expiration du délai réglementaire dans lequel la demande de CPS doit être déposée, afin
            d’obtenir un Numéro de client de CPS ou d’en confirmer si celui-ci n’est pas connu. </li>
        <li><b>	Nom de l’agent</b> : Veuillez fournir le nom de l’organisme ou de la personne autorisé à
            correspondre avec Santé Canada en ce qui concerne la
            demande de CPS.  Tout organisme ou personne qui possède des coordonnées au
            Canada peut être nommé à titre d’agent. Si vous fournissez le nom d'un agent, toutes coordonnées
            doivent être celles de l'agent, à l’exception du Numéro de client de CPS, qui est propre au demandeur. Si vous souhaitez utiliser les
            coordonnées du demandeur, veuillez ne pas inclure un nom d'agent sur ce formulaire de demande, même si vous utilisez un agent.
        </li>
        <li><b>Noms</b> : Fournir le nom d’une personne autorisée à correspondre avec Santé Canada au nom du demandeur
            présentant la demande de CPS.
        </li>
        <li><b>Titre de poste</b> : Inscrire le titre du poste de la personne nommée.</li>
        <li><b>Adresse (numéro, rue, ville, province et code postal)</b> : Indiquer l’adresse au Canada où la personne
            nommée est située aux fins de l’entreprise du demandeur.
        </li>
        <li><b>Numéro de téléphone, numéro de télécopieur et adresse électronique</b> : Indiquer les numéros de
            téléphone et de télécopieur et l’adresse électronique de la personne à qui Santé Canada peut s’adresser au sujet
            de la demande de CPS. Ces renseignements permettront de communiquer avec le demandeur concernant toute
            question concernant la demande de CPS. Santé Canada délivre les CPS en envoyant un certificat électronique
            par fax électronique au numéro de télécopieur fourni.
        </li>
    </ul>
</div>