<div>
    <div>
        <ul>
            <li><b>Applicant Name</b>: Enter the name of the applicant making the CSP application. See section 2.2.2 of
                the <i>Guidance Document: Certificates of Supplementary Protection</i> for information on the
                Attestation as to applicant.
            </li>
            <li><b>CRA Business Number</b>: Provide the nine-digit number that the Canada Revenue Agency has assigned to the applicant.</li>
            <li><b>CSP Customer Number</b>: Provide the applicant’s CSP Customer Number. Please contact the Office of Patented Medicines and
                Liaison in advance of a CSP application filing deadline in order to obtain a CSP Customer Number or to confirm an existing
                CSP Customer Number, if it is not known.
            </li>
            <li><b>Agent name</b>: Provide the name of the organization or person with the authority to correspond with Health Canada regarding the CSP application.  Any organization or
                person having contact information in Canada may be named as the agent. If you are providing an agent name, then all contact information must be the agent’s contact information,
                except for the CSP Customer Number, which is unique to the applicant.  If
                you wish to use the applicant’s contact information, then please do not include an agent name on this application form even if you are using an agent.
            </li>
            <li>
                <b>Names:</b> Provide the name of a person with the authority to correspond with Health Canada on behalf
                of the applicant making the CSP application.
            </li>
            <li><b>Job Title</b>: Enter the job title of the person named.</li>
            <li><b>Address (Street/Suite, City, Province, and Postal Code)</b>: Include the address in Canada at which
                the person named is located for purposes of the business of the applicant.
            </li>
            <li><b>Telephone Number, Facsimile Number, and E-mail</b>: Provide the telephone and facsimile number and
                e-mail address of the person named whom may be contacted by Health Canada regarding the
                CSP application. This information will be used to contact the applicant regarding any issues with
                respect to the CSP application. Health Canada issues CSPs by sending an electronic certificate by e-fax
                to the facsimile number provided.
            </li>
        </ul>
    </div>
</div>

