<div>
    <div>
        <p>
            <b>Fee payment and amount </b>: Please check the box and enter the fee amount. The fee must be paid in Canadian currency to the account of the
            Receiver General of Canada, according to section 9 of the <i>Certificate of Supplementary Protection Regulations</i>.
            Beginning April 1, 2018, the fee increases annually by an amount equal to 2% of the fee payable
            in the previous year, rounded up to the nearest dollar. Health Canada will publish the fee increase
            in the <i>Canada Gazette Part I</i> annually.
            An applicant may apply to the Minister for a CSP on the payment of the prescribed fee. One of the filing requirements for
            a CSP application is the receipt of a description of the method of payment used to pay the fee, which is provided to the Minister through the CSP
            application form. Anyone can pay the fee on behalf of the applicant. An agent must use the applicant’s CSP Customer Number when paying on behalf of
            the applicant.
        </p>
    </div>
</div>


