<div>
    <h4 class="rep-margin-minus-top">FRENCH Company Representative Information</h4>
    <ul>
        <li>
            A minimum of one company representative is required for the company
            template
        </li>
        <li>
            There must be a company representative associated with each of the
            following
            roles: “Manufacturer / Sponsor Mailing Address”, “Billing Address”,
            “Regulatory Mailing / Annual Contact” and “Primary REP contact”
        </li>
        <li>
            A single contact may be provided for multiple roles, however, each
            role must be associated to only one contact.
        </li>
        <li>
            The Primary REP contact is the person to be contacted by Health
            Canada if there are any issues or clarifications required for this template when it
            is submitted for approval.
        </li>
        <li>
            Sponsors may choose to provide an Alternate REP contact, however
            this is not a
            requirement.
        </li>
    </ul>
    <h4>Description of Roles</h4>
    <ul>
        <li>
            “Manufacturer / Sponsor Information”: Refers to the name to
            which the drug submission is filed and, where a Drug
            Identification Number (DIN) / Notice of Compliance (NOC) is to
            be issued, the company in whose name the DIN / NOC will be
            registered, (i.e., the DIN / NOC owner) and the name to be
            included on the product label and Product Monograph / Package
            Insert.
        </li>
        <li>
            “Regulatory Mailing / Annual Contact”: pertains to where and to
            whom Health Canada should direct regulatory mail <b>other than
            correspondence specific to the subject drug submission</b>, e.g.
            annual notification, regulatory / policy amendment notices as
            they apply to DINs registered to the manufacturer/sponsor.
            Operational and system requirements dictate that the regulatory
            mailing name/address must be the same for all DINs registered to
            the manufacturer / sponsor identified where more than one DIN is
            held by that company.
        </li>
        <li>
            “Billing Address” – To whom the invoice is to be sent.
        </li>
    </ul>
</div>