<div>
    <ul>
        <li>
            FRENCH The “<b>Application Status</b>”, “<b>Enrolment Version</b>”, and “<b>Date Last
            Saved</b>” fields are automatically filled by the form upon selecting “<b>Save
            Working Copy</b>” or “<b>Save Draft for Filing</b>” in the bottom of the
            template.
        </li>
        <li>
            The “<b>Company Id</b>” field will be filled by Health Canada when generating
            final xml file.
        </li>
        <li>
            The “<b>Amend Enrolment</b>” button must be selected when amending an approved
            company enrolment. Load the approved final xml file in the template to enable
            the “Amend Enrolment” button.
        </li>
    </ul>
</div>