<div>
    <h4 class="rep-margin-minus-top">Address Information</h4>
    <ul>
        <li>A minimum of one address is required for the company template.</li>
        <li>There must be an address associated with each of the following three
            roles:
            “Manufacturer / Sponsor Mailing Address”, “Billing Address”, and
            “Regulatory Mailing / Annual Contact”.
        </li>
        <li>
            A single address may be provided for multiple roles, however, each
            role must be associated to only one address.
        </li>
        <li>
            A “Canadian Importer Mailing Address” is required if a country other
            than Canada is selected for the “Manufacturer / Sponsor Mailing
            Address”. Although it does not need to be provided at the time of
            company enrolment, a Canadian Importer Mailing Address must be
            identified prior to the product entering the market, by amending
            your company enrolment.
        </li>
    </ul>
    <h4>Description of Roles</h4>
    <ul>
        <li>
            “Manufacturer / Sponsor Information”: Refers to the name to
            which the drug submission is filed and, where a Drug
            Identification Number (DIN) / Notice of Compliance (NOC) is to
            be issued, the company in whose name the DIN / NOC will be
            registered, (i.e., the DIN / NOC owner) and the name to be
            included on the product label and Product Monograph / Package
            Insert.
        </li>
        <li>
            “Regulatory Mailing / Annual Contact”: pertains to where and to
            whom Health Canada should direct regulatory mail <b>other than
            correspondence specific to the subject drug submission</b>, e.g.
            annual notification, regulatory / policy amendment notices as
            they apply to DINs registered to the manufacturer/sponsor.
            Operational and system requirements dictate that the regulatory
            mailing name/address must be the same for all DINs registered to
            the manufacturer / sponsor identified where more than one DIN is
            held by that company.
        </li>
        <li>
            “Canadian Importer”: is responsible for the sale of this product in
            Canada. Must
            be provided only if the address of the manufacturer / sponsor
            identified is NOT
            located in Canada.
        </li>
        <li>
            “Billing Address” – To whom the invoice is to be sent.
        </li>
    </ul>
</div>