<dl>
    <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>1</dt>
    <dd id="co1">
        <p>{{::'LOAD_COMPANY_FILE'| translate}}</p>
        <ul>
            <li>Il n’est pas nécessaire de charger un fichier d’entreprise s’il s’agit de votre première inscription à l’entreprise.</li>
            <li>Lors de la production d’une copie de travail, le fichier doit être chargé en format .hcsc.</li>
            <li>Lors de la consultation ou de la mise à jour d’un brouillon ou d'une version finale du fichier XML, le fichier doit être chargé en format .xml.</li>
        </ul>
        <p class="fn-rtn ">
            <a href="#co1_ref">
                <span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>1
                <span class="wb-inv"> referrer</span>
            </a>
        </p>
    </dd>
    <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>2</dt>
    <dd id="co2">
        <p>{{::'REG_COMPANY_ENROL'|translate}}</p>
        <ul>
            <li> Si les boutons « Enregistrer une copie de travail » ou « Enregistrer le brouillon XML », situés à la fin du modèle, sont sélectionnés, les champs « Statut de l’inscription », « Version de l’inscription » et « Date du dernier enregistrement » seront remplis automatiquement par le formulaire.</li>
            <li> Le champ « ID d’entreprise » sera rempli par Santé Canada lors de la génération de la version finale du fichier d’entreprise (en format XML).</li>
            <li> Le bouton « Modifier l’inscription » n’est activé que lorsqu’une version définitive du fichier d’entreprise (en format XML) est chargée dans le modèle. Pour modifier le fichier d’entreprise (en format XML), il suffit de cliquer sur ce bouton.</li>
        </ul>
        <p class="fn-rtn">
            <a href="#co2_ref">
                <span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>2
                <span class="wb-inv"> referrer</span>
            </a>
        </p>
    </dd>
    <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>3</dt>
    <dd id="co3">
        <p>{{::'ADDR_INFO'|translate}}</p>
        <ul>
            <li>Le modèle d’entreprise doit contenir au moins une adresse.</li>
            <li>Les rôles suivants doivent être associés à une adresse : « Fabricant ou promoteur », « Personne-ressource pour la facturation » et « Personne-ressource pour le courrier réglementaire et pour les annuels ».
            </li>
            <li>Une même adresse peut être associée à plusieurs rôles, mais un rôle ne peut être associé qu’à une seule adresse.</li>
        </ul>
        <p class="fn-rtn">
            <a href="#co3_ref">
                <span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>3
                <span class="wb-inv"> referrer</span>
            </a>
        </p>
    </dd>
    <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>4</dt>
    <dd id="co4">
        <p>{{::'ROLEMISSING'|translate}}</p>
        <ul>
            <li>«Adresse postale du fabricant / promoteur » : Désigne le nom sous lequel la présentation de médicament est déposée, lorsqu’un numéro d’identification du médicament (DIN) ou un avis de conformité (AC) doit être délivré, il s’agit du nom de l’entreprise qui enregistrera le DIN ou l’AC, ainsi que le nom qui doit figurer sur l’étiquette du produit et dans la monographie ou la notice du produit.</li>
            <li>fr_For clinical trials: “Sponsor”: Defined by Division 5, Part C of the Food and Drug Regulations as the individual, corporate body, institution or organization that conducts a clinical trial. The sponsor is not necessarily the company that fabricates the drug product. For Investigator-initiated clinical trials: if the sponsor is defined as an individual, please also indicate the name of the affiliated institution/organization</li>
            <li>« Adresse de facturation » – Indique l’adresse où la facture doit être envoyée.</li>
            <li>« Adresse postale de l’importateur canadien » : L’importateur canadien est responsable de la vente des produits au Canada lorsque le fabricant ou le promoteur n’est pas situé au Canada. L’identité de l’importateur canadien responsable de la vente doit être divulguée avant l’entrée du produit sur le marché, même s’il n’est pas nécessaire de la fournir au moment de l’inscription initiale à l’entreprise. Pour ajouter l’adresse postale d’un importateur canadien au fichier d’entreprise (en format XML), il suffit d’utiliser le bouton « Modifier l’inscription ». L’ID d’entreprise de l’importateur, délivré par Santé Canada, doit également figurer dans le fichier d’information sur le produit (en format XML), le cas échéant.</li>
            <li>fr_The Canadian Importer Mailing Address role is used to identify a company that is importing products on behalf of the manufacturer in cases where the manufacturer/sponsor is not located in Canada. If they (i.e. the registered DIN owner) are located in Canada, then a designated importer is not required.</li>
            <li>fr_For Clinical Trials, do not identify importers on the CO (Company) template. Importer information will be captured on the PI (Product Information) template.</li>
        </ul>
        <p class="fn-rtn">
            <a href="#co4_ref">
                <span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>4
                <span class="wb-inv"> referrer</span>
            </a>
        </p>
    </dd>
    <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>5</dt>
    <dd id="co5">
        <p>{{::'CONTACT_INFO'|translate}}</p>
        <ul>
            <li>Le modèle d’entreprise doit contenir au moins un représentant.</li>
            <li>Le représentant de l’entreprise doit être associé à chacun des rôles suivants : « Personne-ressource du fabricant/promoteur », « Personne-ressource de facturation », « Courrier réglementaire / adresse de personne-ressource pour l'annuelle » et « Personne-resource principale pour le processus d'inscription réglemetaire».</li>
            <li>Une même personne-ressource peut être associée à plusieurs rôles, mais un rôle ne peut être associé qu’à une seule personne-ressource.</li>
            <li>La personne-ressource principale du PIR est la personne que Santé Canada doit contacter s’il y a des questions à régler ou des précisions à apporter au modèle lorsqu’il fait l’objet d’une demande d’inscription ou de modification.</li>
            <li>Les promoteurs peuvent fournir une personne-ressource supplémentaire, mais ce n’est pas une exigence.</li>
        </ul>
        <p>Description des rôles</p>
        <ul>
            <li>« Personne-ressource du fabricant/promoteur » : Désigne le nom sous lequel la présentation de médicament est déposée et, lorsqu’un numéro d’identification du médicament (DIN) ou un avis de conformité (AC) doit être délivré, il s’agit du nom de l’entreprise qui enregistrera le DIN ou l’AC, ainsi que le nom qui doit figurer sur l’étiquette du produit et dans la monographie ou la notice du produit.</li>
            <li>fr_For clinical trials: “Sponsor”: Defined by Division 5, Part C of the Food and Drug Regulations as the individual, corporate body, institution or organization that conducts a clinical trial. The sponsor is not necessarily the company that fabricates the drug product. For Investigator-initiated clinical trials: if the sponsor is defined as an individual, please also indicate the name of the affiliated institution/organization.</li>
            <li>« Courrier réglementaire / adresse de personne-ressource pour l'annuelle» : Indique où et à qui Santé Canada doit envoyer le courrier réglementaire autre que le courrier concernant spécifiquement la présentation de médicament à traiter; p. ex., le formulaire de déclaration annuelle et les avis de modification à des règlements ou politiques qui s’appliquent aux DIN enregistrés au nom du fabricant ou du promoteur. Les besoins opérationnels et ceux du système exigent que le nom et l’adresse pour le courrier réglementaire soient les mêmes pour tous les DIN enregistrés au nom du fabricant ou du promoteur lorsque l’entreprise détient plus d’un DIN.</li>
            <li>« Personne-ressource de facturation » – Indique l’adresse où la facture doit être envoyée.</li>
        </ul>
        <p class="fn-rtn">
            <a href="#co5_ref">
                <span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>5
                <span class="wb-inv"> referrer</span>
            </a>
        </p>
    </dd>
    <!--  <dt>4a</dt>
      <dd id="5a">
          <p>{{'SECTION_IS_NOT_VISIBLE'|translate}} {{::'FAX_NUMBER'|translate}}</p>
          <p>Use 0000000000 if not available</p>
          <p class="fn-rtn">
              <a href="#5a_ref">
                  <span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>4.a
                  <span class="wb-inv"> referrer</span>
              </a>
          </p>
      </dd> -->
    <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>6</dt>
    <dd id="co6">
        <p>{{::'CONTACTROLEMISSING'|translate}}</p>
        <ul>
            <li>La Personne-resource principale pour le processus d'inscription réglemetaire est la personne que Santé Canada doit contacter s’il y a des questions à régler ou des précisions à apporter au modèle lorsqu’il fait l’objet d’une demande d’inscription ou de modification.</li>
            <li>Les promoteurs peuvent fournir une personne-ressource supplémentaire, mais ce n’est pas une exigence.</li>
        </ul>
        <p class="fn-rtn">
            <a href="#co6_ref">
                <span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>6
                <span class="wb-inv"> referrer</span>
            </a>
        </p>
    </dd>
    <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>7</dt>
    <dd id="co7">
        <ul>
            <li>Déposez un brouillon du fichier XML auprès de Santé Canada au moyen du Portail commun des demandes électroniques (PCDE).</li>
            <li>Consultez les lignes directrices du PIR pour obtenir des renseignements détaillés.</li>
        </ul>
        <p class="fn-rtn">
            <a href="#co7_ref">
                <span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>7
                <span class="wb-inv"> referrer</span>
            </a>
        </p>
    </dd>
</dl>