<div class="container-fluid">
    <ng-form name="cspCertCtrl.certForm">
        <fieldset>
            <legend>{{::'CERT_FS'|translate}}</legend>
            <div class="row">
                <div class="col-md-5 form-group"
                     ng-class="{'has-error':cspCertCtrl.certForm[cspCertCtrl.firstNameId].$invalid}">
                    <label for="{{::cspCertCtrl.firstNameId}}" class="required">
                        <span class="field-name">{{::'FIRSTNAME'|translate}}</span>
                        <strong class="required">{{::"REQUIRED" |translate}}</strong>
                        <input type="text" id="{{::cspCertCtrl.firstNameId}}"
                               data-ng-model="cspCertCtrl.model.givenName"
                               class="form-control full-width" name="{{::cspCertCtrl.firstNameId}}" maxlength="60" title="{{::'FIRSTNAME'|translate}}"
                                size="60" required/>
                        <cmp-error-message field-name="cspCertCtrl.firstNameId" form-ref="cspCertCtrl.certForm"
                                           show-error="cspCertCtrl.showErrors()"
                                           error-types="cspCertCtrl.requiredOnly"></cmp-error-message>
                    </label>
                </div>
                <div class="col-md-2 form-group">
                    <label for="initials_{{::$id}}">
                        <span class="field-name">{{::'INITIALS'|translate}}</span>
                        <input type="text" id="initials_{{::$id}}" data-ng-model="cspCertCtrl.model.initials"
                               class="form-control full-width" name="initials" maxlength="10" size="10" title="{{::'INITIALS'|translate}}"/>
                    </label>
                </div>
                <div class="col-md-5 form-group"
                     ng-class="{'has-error':cspCertCtrl.certForm[cspCertCtrl.lastNameId].$invalid}">
                    <label for="{{::cspCertCtrl.lastNameId}}" class="required">
                        <span class="field-name">{{::'LASTNAME'|translate}}</span>
                        <strong class="required">{{::"REQUIRED" |translate}}</strong>
                        <input type="text" id="{{::cspCertCtrl.lastNameId}}" data-ng-model="cspCertCtrl.model.surname"
                               class="form-control full-width" name="{{::cspCertCtrl.lastNameId}}" title="{{::'LASTNAME'|translate}}" required
                               maxlength="60"
                               size="60"/>
                        <cmp-error-message field-name="cspCertCtrl.lastNameId" form-ref="cspCertCtrl.certForm"
                                           show-error="cspCertCtrl.showErrors()"
                                           error-types="cspCertCtrl.requiredOnly"></cmp-error-message>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group"
                     ng-class="{'has-error':cspCertCtrl.certForm[cspCertCtrl.jobTitleId].$invalid}">
                    <label for="{{::cspCertCtrl.jobTitleId}}" class="required">
                        <span class="field-name">{{::'JOBTITLE'|translate}}</span>
                        <strong class="required">{{::'REQUIRED'|translate}}</strong>
                        <input type="text" id="{{::cspCertCtrl.jobTitleId}}" data-ng-model="cspCertCtrl.model.title"
                               class="form-control full-width" name="{{::cspCertCtrl.jobTitleId}}" title="{{::'JOBTITLE'|translate}}"
                               maxlength="40" size="40" required/>
                        <cmp-error-message field-name="cspCertCtrl.jobTitleId" form-ref="cspCertCtrl.certForm"
                                           show-error="cspCertCtrl.showErrors()"
                                           error-types="cspCertCtrl.requiredOnly"></cmp-error-message>
                    </label>
                </div>
                <div class="form-group col-md-4"
                     ng-class="{'has-error':cspCertCtrl.certForm[cspCertCtrl.dateSignedId].$invalid}">
                    <label for="{{::cspCertCtrl.dateSignedId}}" class="required">
                        <span class="field-name">{{::"DATE_SIGNED" |translate}}</span>
                        <span ng-if="!cspCertCtrl.isFrench()" class="datepicker-format">YYYY-MM-DD</span>
                        <span ng-if="cspCertCtrl.isFrench()" class="datepicker-format">AAAA-MM-JJ</span>
                        <strong class="required">{{::"REQUIRED"|translate}}</strong>
                        <input type="date" id="{{::cspCertCtrl.dateSignedId}}" name="{{::cspCertCtrl.dateSignedId}}"
                               data-ng-model="cspCertCtrl.model.dateSigned" class="form-control"  title="{{::'CALENDAR'|translate}}{{::'DATE_SIGNED'|translate}}"
                               required/>
                        <cmp-error-message field-name="cspCertCtrl.dateSignedId" form-ref="cspCertCtrl.certForm"
                                           show-error="cspCertCtrl.showErrors()"
                                           error-types="cspCertCtrl.dateError"></cmp-error-message>
                    </label>
                </div>
            </div>
        </fieldset>
    </ng-form>
</div>