strong.error {
    display: inline-block;
    width: 100%;
    font-size: 125%;
/* TODO what is being overridden in wet white-space: normal;*/
}
/* Specifically nesting inputs so need to add this*/
label > input {
    margin-top: 5px;
    font-weight: normal;
}

label > select {
    margin-top: 5px;
    font-weight: normal;
}
.hd1rep {
    color:white;
}
.vertical-align {
    display: flex;
    align-items: center;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.col-center {
    float: none;
    margin-right: auto;
    margin-left: auto;
}

.row-even-rep {
    overflow: hidden;
}

[class*="colrep-"] {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}


.rep-input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    margin-top: 5px;
    font-weight: normal;
}

.rep-expander{
    cursor:pointer;
    color:#295376;
}

.nav > li.active a {
    border-top: #666 solid 4px !important;
}

.rep-center {
    margin: 10px auto;
/ / it will center them
}

.rep-help-button {
    color: white;
    background-color: transparent;
    border: none;
}

.rep-normal-font {
    font-weight: normal;
}

.rep-selectize-font {
    font-weight: normal;
    font-size: 16px;
}

.selectize-dropdown {
    font-weight: normal;
    font-size: 16px;
}

.rep-selectize-dropdown {
    min-width: 100%;
}

.select2-container .select2-choice {
    height: 37px !important;
    padding: 6px 12px !important;
}

.cloak-class {
    opacity: 0;
}

.custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
}

/*.custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-decoration: none !important;
}*/

/*
.custom-dropdown-menu {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    text-decoration: none !important;;
}
*/

/*.custom-dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    text-decoration: none !important;
}*/
.custom-popup-wrapper > li > a {

    text-decoration: none !important;
}


/*.selectize-dropdown, .selectize-input, .selectize-input input*/

