<div>
    <div>
        <p>
            <b>Paiement de la taxe, montant de la taxe et méthode de paiement</b> : Veuillez cocher la case, inscrire le
            montant de la taxe et choisir la méthode de paiement dans le menu déroulant. La taxe doit être payée en
            dollars canadiens au compte du Receveur général du Canada, conformément à l’article 9 du <i>Règlement sur
            les certificats de protection supplémentaire</i>. À compter du 1er avril 2018, cette taxe est majorée
            annuellement
            de 2 % de la taxe exigible de l’année précédente et arrondie au dollar supérieur. Santé Canada publiera
            chaque année la majoration annuelle de la taxe dans la <i>partie I de la Gazette du Canada</i>. La taxe doit
            être payée au moment du dépôt d’une demande de CPS. Veuillez effectuer le paiement de la taxe au moyen du
            formulaire Détails du paiement en avance pour présentations de drogues et fiches maîtresses pour les
            médicaments à usage humain et les désinfectants assimilés à drogues et demandes de certificat de protection
            supplémentaire « Détails du paiement en avance », qui doit être transmis séparément par télécopieur ou
            par la poste. Le formulaire « Détails du paiement en avance » se trouve sur le site Web de Santé Canada. Une ligne
            directrice sur « Comment régler les frais à Direction générale des produits de santé et des aliments » se
            trouve sur le site Web de Santé Canada.
        </p>
    </div>
</div>


