<dl>
    <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>1</dt>
    <dd id="co1">
        <p>{{::'LOAD_COMPANY_FILE'| translate}}</p>
        <ul>
            <li> A file should not be loaded if this is the first time enrolling the Company.</li>
            <li> When continuing with a working copy, the format of the file to load should be (.hcsc).</li>
            <li> When viewing/updating a draft or final XML file, the format of the file to load should be (.xml).</li>
        </ul>
        <p class="fn-rtn ">
            <a href="#co1_ref">
                <span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>1
                <span class="wb-inv"> referrer</span>
            </a>
        </p>
    </dd>
    <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>2</dt>
    <dd id="co2">
        <p>{{::'REG_COMPANY_ENROL'|translate}}</p>
        <ul>
            <li> The “<b>Enrolment Status</b>”, “<b>Enrolment Version</b>”, and “<b>Date Last Saved</b>” fields are automatically filled by the form upon selecting “<b>Save Working Copy</b>” or “<b>Save Draft XML</b>” in the bottom of the template. </li>
            <li> The “<b>Company ID</b>” field will be filled by Health Canada when they generate the final company XML file.</li>
            <li> The “<b>Amend Enrolment</b>” button is only enabled when a final company xml file is loaded into the template, and must be selected when amending a final company XML file.</li>
        </ul>
        <p class="fn-rtn">
            <a href="#co2_ref">
                <span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>2
                <span class="wb-inv"> referrer</span>
            </a>
        </p>
    </dd>
    <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>3</dt>
    <dd id="co3">
        <p>{{::'ADDR_INFO'|translate}}</p>
        <ul>
            <li>A minimum of one address is required for the company template.</li>
            <li>There must be an address associated with each of the following three
                roles:
                “Manufacturer / Sponsor Mailing Address”, “Billing Address”, and
                “Regulatory Mailing / Annual Contact Address”.
            </li>
            <li>
                A single address may be associated to multiple roles, however, each role may only have one address.
            </li>

        </ul>
        <p class="fn-rtn">
            <a href="#co3_ref">
                <span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>3
                <span class="wb-inv"> referrer</span>
            </a>
        </p>
    </dd>
    <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>4</dt>
    <dd id="co4">
        <p>{{::'ROLEMISSING'|translate}}</p>
        <ul>
            <li>“Manufacturer / Sponsor Address”: Refers to the name under which the drug submission is filed, where a Drug Identification Number (DIN) / Notice of Compliance (NOC) is to be issued, the company in whose name the DIN / NOC will be registered, and the name to be included on the product label and Product Monograph / Package Insert.</li>
            <li>For clinical trials: “Sponsor”: Defined by Division 5, Part C of the Food and Drug Regulations as the individual, corporate body, institution or organization that conducts a clinical trial. The sponsor is not necessarily the company that fabricates the drug product. For Investigator-initiated clinical trials: if the sponsor is defined as an individual, please also indicate the name of the affiliated institution/organization.</li>
            <li>“Regulatory Mailing / Annual Contact Address”: Pertains to where and to whom Health Canada should direct regulatory mail other than correspondence specific to the subject drug submission, e.g. annual notification, regulatory / policy amendment notices as they apply to DINs registered to the manufacturer/sponsor. Operational and system requirements dictate that the regulatory mailing name/address must be the same for all DINs registered to the manufacturer / sponsor identified where more than one DIN is held by that company.</li>
            <li>“Billing Address” – To whom the invoice is to be sent.</li>
            <li>“Canadian Importer Mailing Address”: is responsible for the sale of products in Canada when the sponsor/manufacturer identified is NOT located in Canada. Although it does not need to be provided at the time of initial company enrolment, the Canadian Importer responsible for sale must be identified prior to the product entering the market. Add a Canadian Importer Mailing Address to the Company XML file by using the “amend enrolment” button. The Importer Company ID issued by Health Canada should also be referred to in the Product Information XML file, where appropriate.</li>
            <li>The Canadian Importer Mailing Address role is used to identify a company that is importing products on behalf of the manufacturer in cases where the manufacturer/sponsor is not located in Canada. If they (i.e. the manufacturer/sponsor) are located in Canada, then a designated importer is not required.</li>
            <li>For clinical trials: Do not identify importers related to clinical trials on the Company (CO) template. Importer information related to clinical trials should be captured on the Product Information (PI) template.</li>
        </ul>
        <p class="fn-rtn">
            <a href="#co4_ref">
                <span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>4
                <span class="wb-inv"> referrer</span>
            </a>
        </p>
    </dd>
    <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>5</dt>
    <dd id="co5">
        <p>{{::'CONTACT_INFO'|translate}}</p>
        <ul>
            <li>A minimum of one company representative is required for the company template.</li>
            <li>There must be a company representative associated with each of the following roles: “Manufacturer / Sponsor Contact”, “Billing Contact”, “Regulatory Mailing / Annual Contact” and “Primary Regulatory Enrolment Process contact”.</li>
            <li>A single contact may be associated with multiple roles, however, each role may only have one contact.</li>
            <li>The Primary REP contact is the person to be contacted by Health Canada if there are any issues or clarifications required for this template when it is submitted for approval.</li><li>Sponsors may choose to provide an Alternate REP contact, however this is not a requirement.</li>
        </ul>
        <p>Description of Roles</p>
        <ul>
            <li>“Manufacturer / Sponsor Contact”: Refers to the name to which the drug submission is filed and, where a Drug Identification Number (DIN) / Notice of Compliance (NOC) is to be issued, the company in whose name the DIN / NOC will be registered, and the name to be included on the product label and Product Monograph / Package Insert.</li>
            <li>For clinical trials: “Sponsor”: Defined by Division 5, Part C of the Food and Drug Regulations as the individual, corporate body, institution or organization that conducts a clinical trial. The sponsor is not necessarily the company that fabricates the drug product. For Investigator-initiated clinical trials: if the sponsor is defined as an individual, please also indicate the name of the affiliated institution/organization.</li>
            <li>“Regulatory Mailing / Annual Contact”: pertains to where and to whom Health Canada should direct regulatory mail other than correspondence specific to the subject drug submission, e.g. annual notification, regulatory / policy amendment notices as they apply to DINs registered to the manufacturer/sponsor. Operational and system requirements dictate that the regulatory mailing name/address must be the same for all DINs registered to the manufacturer / sponsor identified where more than one DIN is held by that company.</li>
            <li>“Billing Contact” – To whom the invoice is to be sent.</li>
        </ul>
        <p class="fn-rtn">
            <a href="#co5_ref">
                <span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>5
                <span class="wb-inv"> referrer</span>
            </a>
        </p>
    </dd>
  <!--  <dt>4a</dt>
    <dd id="5a">
        <p>{{'SECTION_IS_NOT_VISIBLE'|translate}} {{::'FAX_NUMBER'|translate}}</p>
        <p>Use 0000000000 if not available</p>
        <p class="fn-rtn">
            <a href="#5a_ref">
                <span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>4.a
                <span class="wb-inv"> referrer</span>
            </a>
        </p>
    </dd> -->
    <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>6</dt>
    <dd id="co6">
        <p>{{::'CONTACTROLEMISSING'|translate}}</p>
        <ul>
            <li>The Primary Regulatory Enrolment Process (REP) contact is the person to be contacted by Health Canada if there are any issues or clarifications required for this template when it is submitted for enrolment or amendment.</li>
            <li>Sponsors may choose to provide an Alternate Regulatory Enrolment Process (REP) contact, however this is not a requirement.</li>
        </ul>
        <p class="fn-rtn">
            <a href="#co6_ref">
                <span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>6
                <span class="wb-inv"> referrer</span>
            </a>
        </p>
    </dd>
    <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>7</dt>
    <dd id="co7">
        <ul>
            <li>Submit the draft XML file to Health Canada using the Common Electronic Submission Gateway (CESG).</li>
            <li>Refer to the Regulatory Enrolment Process (REP) guidance document for detailed information.</li>
        </ul>
        <p class="fn-rtn">
            <a href="#co7_ref">
                <span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>7
                <span class="wb-inv"> referrer</span>
            </a>
        </p>
    </dd>
</dl>