<div>
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-primary">
                <header class="panel-heading">
                    <h2 class="panel-title">1. Load the base file</h2>
                </header>
                <div class="panel-body">
                    <hpfb-file-select update-model-root="ctrl.showContent(fileContent)"
                                      root-elem="" reset-file="ctrl.resetFilenames"></hpfb-file-select>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-primary">
                <header class="panel-heading">
                    <h2 class="panel-title">2. Load the file to compare</h2>
                </header>
                <div class="panel-body">
                    <hpfb-file-select update-model-root="ctrl.showContent2(fileContent) "
                                      reset-file="ctrl.resetFilenames" root-elem=""></hpfb-file-select>
                </div>
            </section>
        </div>
    </div>
    <div class="row  margin-bottom-medium">
        <div class="col-sm-12 button-group">
            <button class="btn btn-primary" data-ng-click="ctrl.compareFiles()">Start Compare</button>
            <button class="btn btn-default" data-ng-click="ctrl.clear()">Clear</button>
        </div>
        <div class="col-sm-12 form-group" data-ng-if="!ctrl.twoFiles">
            <p><span>Please select two files to compare</span></p>
        </div>
    </div>
    <div>
        <section class="panel panel-primary">
            <header class="panel-heading clearfix">
                <h2 class="panel-title">3. Comparison Results</h2>
            </header>
            <div class="panel-body">
                <div class="row" aria-live='polite'
                     data-ng-if="ctrl.listResults && ctrl.listResults.length==0">
                    <div class="col-xs-12">
                        <p>
                            <b><span> No differences have been detected</span></b>
                        </p>
                    </div>
                </div>
                <div class="row margin-top-medium">
                    <div class="col-sm-12 button-group">
                        <button class="btn btn-default" ng-click="ctrl.expandAll()">Expand all</button>
                        <button class="btn btn-default" ng-click="ctrl.collapseAll()">Collapse all</button>
                    </div>
                </div>
                <div data-ng-if="ctrl.listResults.length>0">
                    <div class="row margin-top-large">
                        <div class="col-sm-12 form-group">
                            <div ui-tree id="tree-root" data-drag-enabled="false">
                                <ol ui-tree-nodes ng-model="ctrl.listResults">
                                    <li data-ng-repeat="node in ctrl.listResults" ui-tree-node
                                        ng-include="'app/scripts/components/nodes-renderer/nodes-renderer.html'"></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div>
        <div class="xs-col-12 btn-group">
            <button class=" btn btn-default" data-ng-click="ctrl.showRaw()">Show / Hide Raw Data</button>
        </div>
    </div>
    <div class="row margin-top-large">

        <details data-ng-if="ctrl.isRaw">
            <summary>Raw Data</summary>

            <details>
                <summary>Difference Engine Raw Results</summary>
                <div class="row" data-ng-if="ctrl.diffList">
                    <pre>Number of Diff Records:{{ctrl.diffList.length}}</pre>
                </div>
                <div class="row">
                    <pre>{{ctrl.diffList |json}}</pre>
                </div>
            </details>
            <details>
                <summary>Consolidated Results</summary>
                <div class="row">
                    <pre>{{ctrl.listResults |json}}</pre>
                </div>
            </details>
            <details>
                <summary>Base File Contents</summary>
                <div class="row">
                    <pre>{{ctrl.content1 |json}}</pre>
                </div>
            </details>
            <details>
                <summary>Compare File Contents</summary>
                <div class="row">
                    <pre>{{ctrl.content2 |json}}</pre>
                </div>
            </details>
        </details>
    </div>
    <div>
        <button data-ng-click="ctrl.test()">Test External Link</button>
        <button data-ng-click="ctrl.testfr()">Test Internal Link</button>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p><span>Version:&nbsp;{{ctrl.version}}</span></p>
        </div>
    </div>
</div>
