<div class="container-fluid">
    <ng-form name="addressRec.addressRecForm" novalidate>
        <div>
            <div>
                <h2>{{'ADDR_INFO'|translate}}</h2>
            </div>
            <div class="row">
                <div class="col-md-6 form-group"
                     ng-class="{'has-error':addressRec.addressRecForm.companyName.$invalid}">
                    <label for="companyName_{{$id}}" class="required">
                        <span class="field-name">{{'COMPANYNAME_FULL'|translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}}</strong>
                        <input type="text" id="companyName_{{$id}}"
                               data-ng-model="addressRec.transactionModel.companyName"
                               maxlength="80" size="80"
                               class="form-control full-width" name="companyName" ng-required="true"/>
                        <strong id="contactEmail-error" class="error"
                                ng-if="$ctrl.showError(addressRec.addressRecForm.companyName)">
                        <span class="label label-danger" ng-messages="addressRec.addressRecForm.companyName.$error">
                            <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                        </span>
                        </strong>
                    </label>
                </div>
            </div>
            <div class="row">
                <cmp-address-details address-record="addressRec.addressModel" is-amend="false"
                                     show-errors="addressRec.showErrors()"></cmp-address-details>
            </div>
        </div>
    </ng-form>
    <!--  <pre>address record model: {{addressRec.addressModel | json : spacing}}</pre>-->
</div>