<ng-form name="sysCtrl.otherForm">
    <div>
        <fieldset>
            <legend class="required">
                <span class="field-name">{{'OTHER_LEGEND' |translate}}</span>
                <strong class="required"> {{"REQUIRED" |translate}}</strong>
                <input id="roleMissing_{{::$id}}" name="roleMissing" ng-required="true" ng-show="false"
                       ng-model="sysCtrl.isSelected" required/>
                <strong id="role-error{{::$id}}" class="error" ng-if="sysCtrl.showErrorMissing()">
                         <span class="label label-danger" ng-messages="sysCtrl.otherForm.roleMissing.$error">
                             <span ng-message="required">{{"MSG_ERR_ROLE"|translate}}</span>
                         </span>
                </strong>
            </legend>
            <div class="row">
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="adipose_{{::$id}}">
                            <input type="checkbox" name="adipose" id="adipose_{{::$id}}"
                                   ng-change="sysCtrl.detailsChanged('ADIPOSE',sysCtrl.model.adipose)"
                                   ng-model="sysCtrl.model.adipose"/>
                            {{'ADIPOSE'|translate}}
                        </label>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="ascites_{{::$id}}">
                            <input type="checkbox" name="ascites" id="ascites_{{::$id}}"
                                   ng-change="sysCtrl.detailsChanged('ASCITES',sysCtrl.model.ascites)"
                                   ng-model="sysCtrl.model.ascites"/>
                            {{'ASCITES'|translate}}
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="antlerVelvet_{{::$id}}">
                            <input type="checkbox" name="ascites" id="antlerVelvet_{{::$id}}"
                                   ng-change="sysCtrl.detailsChanged('ANTLERV',sysCtrl.model.antlerVelvet)"
                                   ng-model="sysCtrl.model.antlerVelvet"/>
                            {{'ANTLERV'|translate}}
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="serum_{{::$id}}">
                            <input type="checkbox" name="serum" id="serum_{{::$id}}"
                                   ng-change="sysCtrl.detailsChanged('SERUM',sysCtrl.model.serum)"
                                   ng-model="sysCtrl.model.serum"/>
                            {{'SERUM'|translate}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="wholeBlood_{{::$id}}">
                            <input type="checkbox" name="wholeBlood" id="wholeBlood_{{::$id}}"
                                   ng-change="sysCtrl.detailsChanged('WHOLEBLOOD',sysCtrl.model.wholeBlood)"
                                   ng-model="sysCtrl.model.wholeBlood"/>
                            {{'WHOLEBLOOD'|translate}}
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="plasma_{{::$id}}">
                            <input type="checkbox" name="plasma" id="plasma_{{::$id}}"
                                   ng-change="sysCtrl.detailsChanged('PLASMA',sysCtrl.model.plasma)"
                                   ng-model="sysCtrl.model.plasma"/>
                            {{'PLASMA'|translate}}
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="embryonicTissue_{{::$id}}">
                            <input type="checkbox" name="embryonicTissue" id="embryonicTissue_{{::$id}}"
                                   ng-change="sysCtrl.detailsChanged('EMBRYONICTISS',sysCtrl.model.embryonicTissue)"
                                   ng-model="sysCtrl.model.embryonicTissue"/>
                            {{'EMBRYONICTISS'|translate}}
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="fetalTissue_{{::$id}}">
                            <input type="checkbox" name="fetalTissue" id="fetalTissue_{{::$id}}"
                                   ng-change="sysCtrl.detailsChanged('FETALTISS',sysCtrl.model.fetalTissue)"
                                   ng-model="sysCtrl.model.fetalTissue"/>
                            {{'FETALTISS'|translate}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="boneMarrow_{{::$id}}">
                            <input type="checkbox" name="boneMarrow" id="boneMarrow_{{::$id}}"
                                   ng-change="sysCtrl.detailsChanged('BONEMARROW',sysCtrl.model.boneMarrow)"
                                   ng-model="sysCtrl.model.boneMarrow"/>
                            {{'BONEMARROW'|translate}}
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="eyesCornea_{{::$id}}">
                            <input type="checkbox" name="eyesCornea" id="eyesCornea_{{::$id}}"
                                   ng-change="sysCtrl.detailsChanged('EYESCORNEA',sysCtrl.model.eyesCornea)"
                                   ng-model="sysCtrl.model.eyesCornea"/>
                            {{'EYESCORNEA'|translate}}
                        </label>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="gallBladder_{{::$id}}">
                            <input type="checkbox" name="gallBladder" id="gallBladder_{{::$id}}"
                                   ng-change="sysCtrl.detailsChanged('GALL',sysCtrl.model.gallBladder)"
                                   ng-model="sysCtrl.model.gallBladder"/>
                            {{'GALL'|translate}}
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="fluidsOther_{{::$id}}">
                            <input type="checkbox" name="fluidsOther" id="fluidsOther_{{::$id}}"
                                   ng-change="sysCtrl.otherChanged()"
                                   ng-model="sysCtrl.model.otherFluids"/>
                            {{'FLUIDS_OTHER'|translate}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" ng-if="sysCtrl.otherChanged()">
                        <label for="otherDetails_{{::$id}}">{{'OTHERTISS_DETAILS'|translate}}
                            <input type="text" size="40" maxlength="40" name="otherDetails" id="otherDetails_{{::$id}}"
                                   ng-change="sysCtrl.otherChanged()" ng-model-options="{updateOn: 'blur'}"
                                   ng-model="sysCtrl.model.otherDetails"/>
                        </label>
                    </div>
                </div>

            </div>
        </fieldset>
    </div>
</ng-form>