<!--<fieldset>
    <legend class="required">
        <span class="field-name">{{chkl.title}}</span>
    </legend>-->

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group" ng-repeat="item in chkl.currentModel">

       <div class="checkbox">
        <label class="form-checkbox form-label-inline" for="chk-{{item.name}}-{{$index}}">
            <input type="checkbox" name="{{chkl.commonName}}" ng-model="item.value" id="chk-{{item.name}}-{{$index}}" ng-required="!chkl.someSelected()"> {{item.label |translate}}
        </label>
       </div>
            <div class="col-xs-12 form-group" ng-if="item.value && item.hasOtherDetails">
                <input type="text" maxlength="40" class="form-control full-width" id="{{chkl.commonName}}-other-text"
                       ng-model="item.otherText" placeholder="{{'SPECIFY'|translate}}"/>
            </div>
    </div>
    <!--<pre>currentModel: {{chkl.listItems | json : spacing}}</pre>-->

<!--</fieldset>-->
