<div>
    <ng-form id="reg-transaction-form" name="main.transactionEnrolForm"
             novalidate>
        <section class="panel panel-primary mrgn-tp-lg">
            <header class="panel-heading">
                <h2 class="panel-title">{{'LOAD_TRANSACTION'|translate}}</h2>
            </header>
            <div class="panel-body">
                <div class="col-md-12">
                    <hpfb-file-select update-model-root="main.showContent(fileContent) "
                                      root-elem="{{main.rootTag}}"/>
                </div>
            </div>
            <div>
            </div>
        </section>
        <div>
            <cmp-transaction-info transaction-root="main.transaction" show-errors="main.showErrors()"
                                  deprecate-sequence="main.transactionService.deprecateSequenceNumber()"
                                  reset-ectd="main.transactionService.resetEctdSection()"
                                  get-transaction="main.transactionService.getNewTransaction(main.transaction.isEctd==='Y')"
                                  get-rep-contact="main.transactionService.getNewRepContact()"></cmp-transaction-info>
            <div class="row">
                <div class="form-group col-md-3">
                    <button class="btn btn-primary btn-lg active" formnovalidate ng-click="main.saveJson()">
                        {{'SAVE_WORK'|translate}}
                    </button>
                </div>
                <div class="form-group col-md-3">
                    <button class="btn btn-default btn-lg active" formnovalidate id="btn_xmlSave"
                            ng-click="main.saveXML()"
                            ng-disabled="main.transactionEnrolForm.$invalid">{{'SAVE_DRAFT'|translate}}
                    </button>
                </div>
            </div>
        </div>
    </ng-form>

</div>