<form id="dossier-form" name="dossierForm" novalidate>

    <section class="panel  panel-primary mrgn-tp-lg">
        <header class="panel-heading">
            <h3 class="panel-title">{{'LOAD_DOSSIER'|translate}}</h3>
        </header>
        <div class="panel-body">
            <hpfb-file-select update-model-root=""
                              root-elem="{{dos.dossierModel}}"/>
        </div>
    </section>

    <section class="panel panel-primary mrgn-tp-lg">
        <header class="panel-heading">
            <h3 class="panel-title">{{'DOSSIER_HDING'|translate}}</h3>
        </header>
        <div class="panel-body">



            <div class="row">
                <div class="col-xs-6 form-group">
                    <label for="enrolment-type-list">Enrolment Type</label>
                    <select id="enrolment-type-list" ng-model="dos.dossierModel.applicationType" class="form-control full-width">
                        <option>New</option>
                        <option>Approved</option>
                        <option>Amend</option>
                    </select>
                </div>

                <div class="col-xs-4 form-group">
                    <label for="enr-version-text">Enrolment Version</label>
                    <input type="text" class="form-control" id="enr-version-text" ng-model="dos.dossierModel.enrolmentVersion" placeholder="Enrolment Version"/>

                </div>
            </div>
            <section class="panel  panel-default">
                <header class="panel-heading">
                    <h3 class="panel-title">Drug Product</h3>
                </header>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label for="third-party-signed">
                                <input type="checkbox" name="thirdPartySigned" ng-model="dos.dossierModel.drugProduct.thirdPartySigned" id="third-party-signed" ng-change="dos.thirdPartySignedChanged()"> The
                                submission will be signed/filled by a third party on behalf of the manufacturer or sponsor
                            </label>
                            <label ng-if="dos.dossierModel.drugProduct.thirdPartySigned" class="label-info full-width">Please include the Third Party Authorization letter in the REP folder when submitting via
                                the CESG</label>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label for="related-dossier-id">Related Dossier ID [if applicable]</label>
                            <input type="text" class="form-control full-width" id="related-dossier-id" ng-model="dos.dossierModel.relatedDossierID" placeholder="Related Dossier ID [if applicable]"/>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label for="product-name">Brand or Proprietary or Product Name</label>
                            <input type="text" class="form-control full-width" id="product-name" ng-model="dos.dossierModel.productName" placeholder="Brand or Proprietary or Product Name"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label for="proper-name">Proper, Common or Non-Proprietary Name</label>
                            <input type="text" class="form-control full-width" id="proper-name" ng-model="dos.dossierModel.properName" placeholder="Proper, Common or Non-Proprietary Name"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 form-group">

                            <cmp-ref-product-list products="dos.dossierModel.canRefProducts"></cmp-ref-product-list>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-xs-12 form-group">

                            <cmp-drug-use list-items=""></cmp-drug-use>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <cmp-therapeutic-class list-items=""></cmp-therapeutic-class>

                            <!--<cmp-expanding-table title="Therapeutic Classification" list-items="dos.dossierModel.therapeutic.listItems" column-def="dos.dossierModel.therapeutic.columnDef"></cmp-expanding-table>-->
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label for="third-party-signed">
                                <input type="checkbox" name="isScheduleA" ng-model="dos.dossierModel.drugProduct.isScheduleA" id="is-schedule-case" ng-change=""> This is a non-prescription drug to which one
                                or more Schedule A claims apply
                            </label>


                        </div>
                    </div>

                    <div class="row" ng-if="dos.dossierModel.drugProduct.isScheduleA">
                        <div class="col-xs-12 form-group">
                            <cmp-schedule-a schedule-group=""></cmp-schedule-a>
                        </div>
                    </div>

                </div>

            </section>


           <cmp-tabs></cmp-tabs>
            <!--<cmp-appendix-four></cmp-appendix-four>-->

           <cmp-contact-list ng-if="dos.dossierModel.contactList" contacts="dos.dossierModel.contactList" on-update="dos.onUpdateContactList(newList)"></cmp-contact-list>


       </div>


   </section>

</form>