<ng-form name="tissuesListSrcCtrl.tissuesListForm">
    <div class="container-fluid">
        <div class="row">
            <section class="panel panel-default">
                <header class="panel-heading">
                    <h3 class="panel-title">{{'TISSUES_FLUIDS_SRCS'|translate}}</h3>
                    <strong id="active-error" class="error" ng-if="tissuesListSrcCtrl.noTissueRecs()">
                            <span class="label label-danger"
                                  ng-messages="tissuesListSrcCtrl.tissuesListForm.noTissueRecs.$error">
                                <span ng-message="required"><span translate="MSG_ERR_ONE_TISSUE"></span></span>
                            </span>
                    </strong>
                </header>
                <input type="text" ng-show="false" required aria-hidden="true" name="noTissueRecs"
                       ng-model="tissuesListSrcCtrl.oneRecord"/>

                <div class="panel-body">
                    <cmp-expanding-table title="Animal Sources"
                                         reset-to-collapsed="tissuesListSrcCtrl.resetToCollapsed"
                                         list-items="tissuesListSrcCtrl.model.tissuesFluidsList"
                                         column-def="tissuesListSrcCtrl.columnDef"
                                         select-record="tissuesListSrcCtrl.selectRecord"
                                         disable-selection="!tissuesListSrcCtrl.isDetailValid">

                        <cmp-tissues-fluids-record record="$parent.record"
                                                   show-errors="tissuesListSrcCtrl.showErrors()"
                                                   on-delete="tissuesListSrcCtrl.deleteRecord(id)"></cmp-tissues-fluids-record>

                    </cmp-expanding-table>

                    <div class="mrgn-tp-md mrgn-bttm-lg">
                        <div class="btn-group-sm col-md-12 text-right">
                            <button class="btn btn-primary" ng-click="tissuesListSrcCtrl.addNew()"
                                    ng-disabled="tissuesListSrcCtrl.disableAdd()">
                                {{'TISSUES_FLUIDS_ADD'|translate}}

                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</ng-form>