<ng-form name="animalListCtrl.animalListForm">
    <cmp-expanding-table title="Animal Sources" reset-to-collapsed="animalListCtrl.resetToCollapsed"
                         list-items="animalListCtrl.model.animalSrcList"
                         column-def="animalListCtrl.columnDef" select-record="animalListCtrl.selectRecord"
                         disable-selection="!animalListCtrl.isDetailValid">

        <cmp-animal-sourced-record record="$parent.record" show-errors="animalListCtrl.showErrors()"
                          on-delete="animalListCtrl.deleteRecord(id)"></cmp-animal-sourced-record>

    </cmp-expanding-table>

    <div class="mrgn-tp-md mrgn-bttm-lg">
        <div class="btn-group-sm col-md-12 text-right">
            <button class="btn btn-primary" ng-click="animalListCtrl.addNew()"
                    ng-disabled="animalListCtrl.animalListForm.$invalid">{{'ANIMAL_SRC_ADD'|translate}}
            </button>
        </div>
    </div>

</ng-form>