<ng-form name="theraRecForm">
    <div class="row">
        <div class="col-md-12 form-group"
             ng-class="{'has-error':theraRecForm.therapeuticName.$invalid}">
            <label for="theraName{{$id}}" class="required rep-required-offset">
                <span class="field-name">{{'THERA_CLASS_NAME'|translate}}&nbsp;{{theraRecCtrl.record.id}}</span>
                <strong class="required">{{"REQUIRED" |translate}}</strong>
                <strong id="theraName-error" class="error"
                        ng-if=theraRecCtrl.showError(theraRecForm.therapeuticName.$invalid,theraRecForm.therapeuticName.$touched)>
                        <span class="label label-danger"
                              ng-messages="theraRecForm.therapeuticName.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
                </strong>
            </label>

            <textarea type="text" name="therapeuticName" id="theraName{{$id}}"
                      class="form-control full-width"
                      required rows="2" maxlength="256" ng-model="theraRecCtrl.record.name">
                    </textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <button ng-click="theraRecCtrl.deleteRecord()" name="addThera"
                    class="btn btn-danger btn-sm">{{'DELETE_CLASS'|translate}}&nbsp;{{theraRecCtrl.record.id}}
            </button>
        </div>
    </div>

    </div>
</ng-form>
