<ng-form name="$ctrl.theraForm">

        <ul class="list-group">
            <li class="list-group-item  col-md-12" ng-repeat="item in $ctrl.model.classifications track by $index">
                <div class="row">
                    <div class="col-md-12 form-group"
                         ng-class="{'has-error':$ctrl.theraForm['therapeuticName'+$index].$invalid}">
                        <label for="theraName{{$index}}" class="required">
                            <span class="field-name">{{'THERA_CLASS_NAME'|translate}}&nbsp;{{$index+1}}</span>
                            <strong class="required">{{"REQUIRED" |translate}}</strong>
                            <strong id="theraName-error" class="error"
                                    ng-if=$ctrl.showError($ctrl.theraForm['therapeuticName'+$index].$invalid,$ctrl.theraForm['therapeuticName'+$index].$touched)>
                        <span class="label label-danger" ng-messages="$ctrl.theraForm['therapeuticName'+$index].$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
                            </strong>
                        </label>

            <textarea type="text" name="therapeuticName{{$index}}" id="theraName{{$index}}"
                      class="form-control full-width"
                      required rows="2" maxlength="256" ng-model="item.name">
                    </textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                    <button ng-click="$ctrl.deleteRecord($index)" name="addThera"
                            class="btn btn-danger btn-sm">{{'DELETE_CLASS'|translate}}&nbsp;{{$index+1}}
                    </button>
                    </div>
                </div>
                </div>

            </li>
        </ul>
    <div class="row">
        <div class="col-md-12 text-right margin-top-large">
            <button class="btn btn-primary" ng-click="$ctrl.addNew()">{{'THERA_CLASS_ADD'|translate}}</button>
        </div>
    </div>
</ng-form>
