<div class="container-fluid">
    <ng-form name="addressForm" novalidate>
        <div class="row">
            <div class="form-group col-md-12" ng-class="{'has-error':addressForm.street.$invalid}">
                <label for="street_{{$id}}" class="required full-width">
                    <span class="field-name">{{"STREET" |translate}}</span>
                    <strong class="required"> {{"REQUIRED" |translate}}</strong>
                    <input type="text" class="form-control full-width" maxlength="120" id="street_{{$id}}"
                           name="street" ng-readonly="!adr.isEditable"
                           data-ng-model="adr.addressModel.street" required/>
                    <strong id="street-error" class="error" ng-if="adr.showError(addressForm.street)">
                        <span class="label label-danger" ng-messages="addressForm.street.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
                    </strong>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6" ng-class="{'has-error':addressForm.city.$invalid}">
                <label for="city_{{$id}}" class="required full-width">
                    <span class="field-name">{{"CITY_TOWN" |translate}}</span>
                    <strong class="required"> {{"REQUIRED" |translate}} </strong>
                    <input type="text" id="city_{{$id}}" name="city" data-ng-model="adr.addressModel.city"
                           class="form-control  full-width" maxlength="60"
                           ng-readonly="!adr.isEditable" required/>
                    <strong id="city-error" class="error" ng-if="adr.showError(addressForm.city)">
                        <span class="label label-danger" ng-messages="addressForm.city.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
                    </strong>
                </label>

            </div>
            <div class="col-md-6">
                <cmp-country-select form-name="addressForm" selected-country="adr.addressModel.country"
                                    countries="adr.countries" is-disabled="!adr.isEditable"
                                    show-errors="adr.showErrors()"
                                    country-change="adr.onSelectedCountryChange($event.country)"
                ></cmp-country-select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" ng-if="adr.hideProvinceText"
                     ng-class="{'has-error':addressForm.provinceList.$invalid}">
                    <label for="provinceList_{{$id}}" class="required">
                        <span class="field-name">{{adr.provListLabel |translate}}</span>
                        <strong class="required"> {{"REQUIRED" |translate}} </strong>
                        <select class="form-control full-width" data-ng-model="adr.addressModel.stateList"
                                id="provinceList_{{$id}}" name="provinceList"
                                data-ng-options="province |translate for province in adr.provinces"
                                ng-disabled="!adr.isEditable" ng-required="adr.hideProvinceText"></select>
                        <strong id="provinceList-error" class="error"
                                ng-if="adr.showError(addressForm.provinceList)">
                        <span class="label label-danger" ng-messages="addressForm.provinceList.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
                        </strong>
                    </label>
                </div>
                <div class="form-group " ng-if="adr.hideProvinceDdl"
                     ng-class="{'has-error':addressForm.provinceText.$invalid}">
                    <label for="stateText_{{$id}}">{{"PROVSTATE" |translate}}</label>
                    <input type="text" id="stateText_{{$id}}" name="provinceText"
                           data-ng-model="adr.addressModel.stateText" class="form-control full-width" maxlength="40"
                           size="40" ng-readonly="!adr.isEditable"/>
                </div>
            </div>
            <div class="form-group col-md-6" ng-class="{'has-error':addressForm.postal.$invalid}">
                <label for="postal_{{$id}}" ng-class="{required:adr.isPostalRequired}">
                    <span class="field-name">{{adr.postalLabel |translate}}</span>
                    <strong ng-show="adr.isPostalRequired" class="required">{{"REQUIRED" |translate}} </strong>

                    <input type="text" id="postal_{{$id}}" name="postal" data-ng-model="adr.addressModel.postalCode"
                           class="form-control full-width" ng-maxlength="7" ng-required="adr.isPostalRequired"
                           ng-change="adr.postalCodeChanged()" ng-model-options="adr.ngModelOptSetting"
                           maxlength="7" ng-pattern="adr.postalPattern" ng-readonly="!adr.isEditable"/>
                    <strong id="postal-error" class="error" ng-if="adr.showError(addressForm.postal)">
                            <span class="label label-danger" ng-messages="addressForm.postal.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}} </span>
                            <span ng-message="pattern" ng-if="(adr.addressModel.country === 'CAN')">{{'MSG_ERR_POSTAL'|translate}} </span>
                            <span ng-message="pattern" ng-if="(adr.addressModel.country === 'USA')">{{'MSG_ERR_ZIP'|translate}}  </span>
                        </span>
                    </strong>
                </label>
            </div>
        </div>

</div>
</ng-form>
</div>