<div class="container-fluid">
    <ng-form name="cspMainApplCtrl.mainApplForm">
        <div class="row">
            <div>
                <h3>3.&nbsp;{{::'NDS_TITLE'|translate}}
                    <button title="{{::'HELP_NDS'|translate}}"  class="btn rep-help-button-primary btn-xs"
                            ng-click="cspMainApplCtrl.addInstruct(0)"><span
                            class="fa fa-question-circle fa-2x"></span><span class="wb-inv">"{{::'HELP_NDS'|translate}}"</span>
                    </button>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <cmp-alert  ui-state="cspMainApplCtrl.alerts[0]" msg="NDS_INSTRUCT" update-state="cspMainApplCtrl.closeAlert(0)" type="alert-info">
                    <section aria-live="assertive">
                        <div ng-if="!cspMainApplCtrl.isFrench()"
                             ng-include="'app/scripts/templates/csp/tpl-csp-nds-en.html'">
                        </div>
                        <div ng-if="cspMainApplCtrl.isFrench()"
                             ng-include="'app/scripts/templates/csp/tpl-csp-nds-fr.html'">
                        </div>
                    </section>
                </cmp-alert>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4"
                 ng-class="{'has-error':cspMainApplCtrl.mainApplForm[cspMainApplCtrl.controlNumberId].$invalid}">
                <label for="{{::cspMainApplCtrl.controlNumberId}}" class="required">
                    <span class="field-name">{{::'NDS_NUMBER' |translate}}</span>
                    <strong class="required"> {{::"REQUIRED" |translate}} </strong>
                    <input type="text" id="{{::cspMainApplCtrl.controlNumberId}}"
                           name="{{::cspMainApplCtrl.controlNumberId}}" only-digits=""
                           data-ng-model="cspMainApplCtrl.model.controlNumber" class="form-control" minlength="6"
                           maxlength="6" size="6" title="{{::'NDS_NUMBER'|translate}}" required/>
                    <cmp-error-message field-name="cspMainApplCtrl.controlNumberId"
                                       form-ref="cspMainApplCtrl.mainApplForm" show-error="cspMainApplCtrl.showErrors()"
                                       error-types="cspMainApplCtrl.numberError"></cmp-error-message>
                </label>
            </div>
        </div>
        <div class="row">
                <h3>4.&nbsp;{{::'NOC_TITLE'|translate}}
                    <button title="{{::'HELP_NOC'|translate}}"  class="btn rep-help-button-primary btn-xs"
                            ng-click="cspMainApplCtrl.addInstruct(1)"><span
                            class="fa fa-question-circle fa-2x"></span><span class="wb-inv">"{{::'HELP_NOC'|translate}}"</span>
                    </button>
                </h3>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <cmp-alert  ui-state="cspMainApplCtrl.alerts[1]" msg="NOC_CLOSE" update-state="cspMainApplCtrl.closeAlert(1)" type="alert-info">
                    <section aria-live="assertive">
                        <div ng-if="!cspMainApplCtrl.isFrench()"
                             ng-include="'app/scripts/templates/csp/tpl-csp-noc-en.html'">
                        </div>
                        <div ng-if="cspMainApplCtrl.isFrench()"
                             ng-include="'app/scripts/templates/csp/tpl-csp-noc-fr.html'">
                        </div>
                    </section>
                </cmp-alert>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4"
             ng-class="{'has-error':cspMainApplCtrl.mainApplForm[cspMainApplCtrl.dateNOCId].$invalid}">
            <label for="{{::cspMainApplCtrl.dateNOCId}}" class="required">
                <span class="field-name">{{::"DATE_NOC" |translate}}</span>
                <span ng-if="!cspMainApplCtrl.isFrench()" class="datepicker-format">(YYYY-MM-DD)</span>
                <span ng-if="cspMainApplCtrl.isFrench()" class="datepicker-format">(AAAA-MM-JJ)</span>
                <strong class="required"> {{::"REQUIRED" |translate}} </strong>
                <input type="date" id="{{::cspMainApplCtrl.dateNOCId}}" name="{{::cspMainApplCtrl.dateNOCId}}"
                       data-ng-model="cspMainApplCtrl.model.nocDate" class="form-control"  title="{{::'CALENDAR'|translate}}{{::'DATE_NOC'|translate}}" required/>
                <cmp-error-message field-name="cspMainApplCtrl.dateNOCId" form-ref="cspMainApplCtrl.mainApplForm"
                                   show-error="cspMainApplCtrl.showErrors()"
                                   error-types="cspMainApplCtrl.requiredOnlyError"></cmp-error-message>
            </label>
        </div>
        </div>
        <div class="row">
                <h3>5.&nbsp;{{::'DRUGUSE_TITLE'|translate}}
                    <button title="{{::'HELP_DRUGUSE'|translate}}"  class="btn rep-help-button-primary btn-xs"
                            ng-click="cspMainApplCtrl.addInstruct(2)"><span
                            class="fa fa-question-circle fa-2x"></span><span class="wb-inv">"{{::'HELP_DRUGUSE'|translate}}"</span>
                    </button>
                </h3>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <cmp-alert  ui-state="cspMainApplCtrl.alerts[2]" msg="DRUGUSE_INSTRUCT" update-state="cspMainApplCtrl.closeAlert(2)" type="alert-info">
                    <section aria-live="assertive">
                        <div ng-if="!cspMainApplCtrl.isFrench()"
                             ng-include="'app/scripts/templates/csp/tpl-csp-drugUse-en.html'">
                        </div>
                        <div ng-if="cspMainApplCtrl.isFrench()"
                             ng-include="'app/scripts/templates/csp/tpl-csp-drugUse-fr.html'">
                        </div>
                    </section>
                </cmp-alert>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4"
                 ng-class="{'has-error':cspMainApplCtrl.mainApplForm[cspMainApplCtrl.drugUseId].$invalid}">
                <label for="{{::cspMainApplCtrl.drugUseId}}" class="required">
                    <span class="field-name">{{::'DRUGUSE' |translate}}</span>
                    <strong class="required"> {{::"REQUIRED" |translate}} </strong>
                    <select id="{{::cspMainApplCtrl.drugUseId}}" name="{{::cspMainApplCtrl.drugUseId}}"
                            data-ng-model="cspMainApplCtrl.model.drugUse" class="form-control"
                            ng-options="drugUse |translate for drugUse in cspMainApplCtrl.drugUseList" title="{{::'DRUGUSE'|translate}}"
                             required></select>
                    <cmp-error-message field-name="cspMainApplCtrl.drugUseId"
                                       form-ref="cspMainApplCtrl.mainApplForm" show-error="cspMainApplCtrl.showErrors()"
                                       error-types="cspMainApplCtrl.requiredOnlyError"></cmp-error-message>
                </label>
            </div>
        </div>
        <div class="row">
            <div>
                <h3>6.&nbsp;{{::'TIMEAPP_TITLE'|translate}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <fieldset>
                    <legend class="required"><span class="field-name">{{::'APPLICANT_APPLY' |translate}}</span> <strong
                            class="required"> {{::"REQUIRED" |translate}} </strong>
                        <cmp-error-message field-name="cspMainApplCtrl.applApplyId"
                                           form-ref="cspMainApplCtrl.mainApplForm"
                                           show-error="cspMainApplCtrl.showErrors()"
                                           error-types="cspMainApplCtrl.requiredOnlyError"></cmp-error-message>
                    </legend>
                    <div class="radio">
                        <label for="{{::cspMainApplCtrl.applApplyId}}">
                            <input type="radio" name="{{::cspMainApplCtrl.applApplyId}}"
                                   id="{{::cspMainApplCtrl.applApplyId}}"
                                   ng-model="cspMainApplCtrl.model.timeApplication"
                                   ng-value="cspMainApplCtrl.nocValue"
                                   ng-required="!cspMainApplCtrl.model.timeApplication"/>
                            {{::'NOC_120'|translate}}
                        </label>
                    </div>
                    <br/>
                    <div class="radio">
                        <label for="within120">
                            <input type="radio" name="{{::cspMainApplCtrl.applApplyId}}"
                                   ng-model="cspMainApplCtrl.model.timeApplication"
                                   ng-required="!cspMainApplCtrl.model.timeApplication"
                                   ng-value="cspMainApplCtrl.grantValue" id="within120"/>
                            {{::'GRANT_120'|translate}}</label>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="row">
            <div>
                <h3>7.&nbsp;{{::'MEDINGRED_TITLE'|translate}}
                    <button title="{{::'HELP_MI'|translate}}"  class="btn rep-help-button-primary btn-xs"
                            ng-click="cspMainApplCtrl.addInstruct(3)"><span
                            class="fa fa-question-circle fa-2x"></span><span class="wb-inv">"{{::'HELP_MI'|translate}}"</span>
                    </button>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <cmp-alert  ui-state="cspMainApplCtrl.alerts[3]" msg="MI_INSTRUCT" update-state="cspMainApplCtrl.closeAlert(3)" type="alert-info">
                    <section aria-live="assertive">
                        <div ng-if="!cspMainApplCtrl.isFrench()"
                             ng-include="'app/scripts/templates/csp/tpl-csp-mi-en.html'">
                        </div>
                        <div ng-if="cspMainApplCtrl.isFrench()"
                             ng-include="'app/scripts/templates/csp/tpl-csp-mi-fr.html'">
                        </div>
                    </section>
                </cmp-alert>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12"
                 ng-class="{'has-error':cspMainApplCtrl.mainApplForm[cspMainApplCtrl.medIngedId].$invalid}">
                <label for="{{::cspMainApplCtrl.medIngedId}}" class="required">
                    <span class="field-name">{{::'MED_INGRED' |translate}}</span>
                    <strong class="required"> {{::"REQUIRED" |translate}} </strong>
                    <cmp-error-message field-name="cspMainApplCtrl.medIngedId"
                                       form-ref="cspMainApplCtrl.mainApplForm"
                                       show-error="cspMainApplCtrl.showErrors()"
                                       error-types="cspMainApplCtrl.requiredOnlyError"></cmp-error-message>
                </label>
                <textarea id="{{::cspMainApplCtrl.medIngedId}}" name="{{::cspMainApplCtrl.medIngedId}}"
                          data-ng-model="cspMainApplCtrl.model.medicinalIngredient"
                          class="form-control full-width" maxlength="300" rows="4" size="7" title="{{::'MED_INGRED'|translate}}" required></textarea>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12"
                 ng-class="{'has-error':cspMainApplCtrl.mainApplForm[cspMainApplCtrl.prodNameId].$invalid}">
                <label for="{{::cspMainApplCtrl.prodNameId}}" class="required">
                    <span class="field-name">{{::'PROD_NAME' |translate}}</span>
                    <strong class="required"> {{::"REQUIRED" |translate}} </strong>
                    <cmp-error-message field-name="cspMainApplCtrl.prodNameId"
                                       form-ref="cspMainApplCtrl.mainApplForm"
                                       show-error="cspMainApplCtrl.showErrors()"
                                       error-types="cspMainApplCtrl.requiredOnlyError"></cmp-error-message>
                </label>
                <textarea id="{{::cspMainApplCtrl.prodNameId}}" name="{{::cspMainApplCtrl.prodNameId}}"
                          data-ng-model="cspMainApplCtrl.model.productName"
                          class="form-control full-width" maxlength="300" rows="4" size="7" title="{{::'PROD_NAME'|translate}}" required></textarea>
            </div>
        </div>
        <div class="row">
            <div>
                <h3>8.&nbsp;{{::'STATEMENT_TITLE' | translate}}
                    <button title="{{::'HELP_ATTEST'|translate}}"  class="btn rep-help-button-primary btn-xs"
                            ng-click="cspMainApplCtrl.addInstruct(4)"><span
                            class="fa fa-question-circle fa-2x"></span><span class="wb-inv">"{{::'HELP_ATTEST'|translate}}"</span>
                    </button>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <cmp-alert  ui-state="cspMainApplCtrl.alerts[4]" msg="ATTEST_INSTRUCT" update-state="cspMainApplCtrl.closeAlert(4)" type="alert-info">
                    <section aria-live="assertive">
                        <div ng-if="!cspMainApplCtrl.isFrench()"
                             ng-include="'app/scripts/templates/csp/tpl-csp-attest-en.html'">
                        </div>
                        <div ng-if="cspMainApplCtrl.isFrench()"
                             ng-include="'app/scripts/templates/csp/tpl-csp-attest-fr.html'">
                        </div>
                    </section>
                </cmp-alert>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <fieldset>
                    <legend class="required"><span class="field-name">{{::'APPLICANTAPPLY' |translate}}</span>
                        <strong class="required"> {{::"REQUIRED" |translate}} </strong>
                        <cmp-error-message field-name="cspMainApplCtrl.applStateId"
                                           form-ref="cspMainApplCtrl.mainApplForm"
                                           show-error="cspMainApplCtrl.showErrors()"
                                           error-types="cspMainApplCtrl.requiredOnlyError"></cmp-error-message>
                    </legend>
                    <div class="radio">
                        <label for="{{::cspMainApplCtrl.applStateId}}">
                            <input type="radio" name="{{::cspMainApplCtrl.applStateId}}"
                                   id="{{::cspMainApplCtrl.applStateId}}"
                                   ng-model="cspMainApplCtrl.model.applicantStatement"
                                   ng-value="cspMainApplCtrl.ownerValue"
                                   ng-required="!cspMainApplCtrl.model.applicantStatement"/>
                            {{::'APPLICANT_OWNER'|translate}}
                        </label>
                    </div>
                    <br/>
                    <div class="radio">
                        <label for="applicant-consent">
                            <input type="radio" name="{{::cspMainApplCtrl.applStateId}}"
                                   ng-model="cspMainApplCtrl.model.applicantStatement"
                                   ng-value="cspMainApplCtrl.ownerBehalfValue"
                                   ng-required="!cspMainApplCtrl.model.applicantStatement" id="applicant-consent"/>
                            {{::'APPLICANT_BEHALF'|translate}}
                        </label>
                    </div>
                </fieldset>
            </div>
        </div>
    </ng-form>
</div>