<ng-form name="material-ing-list-form">
    <cmp-expanding-table title="{{'REF_PRODUCTS'|translate}}" list-items="crpl.productList"
                         column-def="crpl.colNames" select-record="crpl.selectRecord"
                         reset-to-collapsed="crpl.resetToCollapsed"
                         disable-selection="!crpl.isDetailValid">
        <cmp-ref-product-details product-record="$parent.record" on-update="crpl.updateProduct($parent.$index,product)"
                                 on-delete="crpl.deleteProduct($parent.$index)"
                                 is-detail-valid="crpl.setValid(state)" record-index="$parent.$index"
                                 delete-btn="true"></cmp-ref-product-details>

    </cmp-expanding-table>

    <cmp-ref-product-details ng-if="crpl.newProductFormShown===true" on-add-product="crpl.addProduct(product)"
                             record-index="crpl.productList.length" on-cancel="crpl.onNewCancel()" delete-btn="false"></cmp-ref-product-details>

    <div class="mrgn-tp-md mrgn-bttm-lg">
        <div class="btn-group-sm col-md-12 text-right">
            <input type="submit" value="{{'ADD_CRP'|translate}}" class="btn btn-primary"
                   data-ng-disabled="crpl.addNewDisabled()"
                   ng-click="crpl.addNewProductState()"/>
        </div>
    </div>
</ng-form>


