<ng-form name="$ctrl.schedAForm">
    <uib-accordion close-others="false">
        <div uib-accordion-group heading="{{'Schedule A Claim Details' |translate}}" is-open="$ctrl.expanderOpenState" is-disabled="$ctrl.disableExpander"
             template-url="./app/lib/uib-templates/tpl-accordian-group-caret.html">
    <div >
        <div >
            <div class="col-md-12">
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label for="din-value">
                                <span class="field-name">{{'DIN_FULL'|translate}}</span>
                                <input type="text" class="form-control" id="din-value" name="schedDinValue"
                                       maxlength="8" size="8"  only-digits ng-minlength="8"
                                       ng-model="$ctrl.scheduleAModel.drugIdNumber"/>
                                <strong id="din-error" class="error"
                                        ng-if="$ctrl.showError($ctrl.schedAForm.schedDinValue.$invalid,$ctrl.schedAForm.schedDinValue.$touched)">
                                    <span class="label label-danger"
                                          ng-messages="$ctrl.schedAForm.schedDinValue.$error">
                                          <span ng-message="minlength"><span translate="MSG_LENGTH_8NUM"></span></span>
                                    </span>
                                </strong>
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <fieldset>
                                <legend class="required">
                                    <span class=" field-name">{{'SCHEDA_DISEASE'|translate}}</span>
                                    <strong class="required"> {{"REQUIRED" |translate}}</strong>
                                 <span>
                 <input type="text" class="form-control" id="oneSelected_{{::$id}}" name="oneDiseaseSelected" ng-show="false"
                        ng-model="$ctrl.isClaim" aria-hidden="true" required/>
                <strong id="claim-select-error" class="error" ng-if="$ctrl.noClaimSelected()">
                             <span class="label label-danger" aria-live="polite" ng-messages="$ctrl.schedAForm.oneDiseaseSelected.$error">
                                <span ng-message="required">{{"MSG_ONE_SCHEDA"|translate}}</span>
                             </span>
                </strong>
                    </span>
                                </legend>
                                <cmp-checkbox-list
                                        title="SCHEDA_DISEASE"
                                        common-name="sa-disease-disorder"
                                        list-items="$ctrl.scheduleAModel.diseaseDisorderList"></cmp-checkbox-list>

                            </fieldset>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 form-group"
                             ng-class="{'has-error':$ctrl.schedAForm.schedIndicate.$invalid}">
                            <label for="schedA-indications" class="required">
                                <span class="field-name">{{'SCHEDA_CLAIMS'|translate}}</span>
                                <strong class="required">{{"REQUIRED"|translate}}</strong>
                                <strong id="schedAIndication-error" class="error"
                                        ng-if="$ctrl.showError($ctrl.schedAForm.schedIndicate.$invalid,$ctrl.schedAForm.schedIndicate.$touched)">
                        <span class="label label-danger" ng-messages="$ctrl.schedAForm.schedIndicate.$error">
                            <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                        </span>
                                </strong>
                            </label>
                        <textarea class="form-control full-width" required rows="3" id="schedA-indications"
                                  name="schedIndicate"
                                  ng-model="$ctrl.scheduleAModel.scheduleAClaimsIndDetails"></textarea>
                        </div>
                    </div>
                    <!--<pre>currentModel: {{chkl.listItems | json : spacing}}</pre>-->
            </div>
        </div>
    </div>
    </div>
</ng-form>

