<div>
    <div>
        <p>
            <b>Date de l'Avis de conformité</b> : Indiquer la date de délivrance de l'avis de
            conformité (AC) pour la PDN mentionnée dans la demande de CPS. Veuillez inscrire la
            date de délivrance de l'AC qui apparaît sur l'AC pour cette PDN. Les demandeurs
            peuvent consulter ces renseignements en ligne dans la base de données des AC de
            Santé Canada, ou demander une copie de l'AC par courriel auprès de Santé Canada à
            l'adresse indiquée à la section 2.1 de la <i>ligne directrice: Certificats
            de protection supplémentaire.</i>
        </p>
    </div>
</div>


