<div>
    <div>
        <ul>
            <li>
                <b>Name of Authorized Official</b>: Provide the name of the person with the authority to make the
                attestations and certification on behalf of the applicant making the CSP application.
            </li>
            <li>
                <b>Job Title</b>: Enter the job title of the person making the attestations and certification.
            </li>
            <li>
                <b>Date</b>: Provide the date of the attestations and certification.
            </li>
        </ul>
    </div>
</div>
