<div>
    <div>
        <p>
            <b>Paiement et montant de la taxe</b> : Veuillez cocher la case et inscrire le montant de la taxe.
            La taxe doit être payée en dollars canadiens au compte du Receveur général du Canada, conformément à l’article 9 du <i>Règlement sur les certificats de
            protection supplémentaire</i>. À compter du 1er avril 2018, cette taxe est majorée annuellement de 2 % de la taxe exigible de l’année précédente
            et arrondie au dollar supérieur. Santé Canada publiera annuellement la majoration de la taxe dans la partie I de la Gazette du Canada.
            La taxe doit être payée au moment du dépôt. Veuillez noter que l’une des conditions pour qu’une  demande de CPS soit confirmée comme étant déposée est
            la réception de la description du mode de paiement utilisé pour payer la taxe prévue, qui est indiquée dans le formulaire Détails du paiement
            en avance pour présentations de drogues et fiches maîtresses pour les médicaments à usage humain et les désinfectants assimilés à drogues et demandes de certificat de protection supplémentaire ( formulaire Détails du paiement en avance ), qui doit être transmis à la ministre de la Santé par télécopieur ou par la poste.
            Dans le cas où un payeur présente le paiement directement, sans la présentation du formulaire Détails du paiement en avance, il risque de manquer l’échéance prescrite pour le dépôt de la demande de CPS, car la ministre de la Santé n’aura pas suffisamment de renseignements, selon les renseignements fournis dans ce formulaire électronique, pour traiter la demande de CPS.
            Le formulaire Détails du paiement en avance se trouve sur le site Web de Santé Canada.
            Une ligne directrice sur « Comment régler les frais à Direction générale des produits de santé et des aliments » se trouve sur le site Web de Santé Canada. N’importe qui peut payer la taxe au nom du titulaire du brevet.
        </p>
    </div>
</div>


