<div>
    <div>
        <p>
            <b>Medicinal Ingredient(s)</b>: Enter the medicinal ingredient or medicinal ingredients included in the specific
            drug product in the NDS set out in the CSP application. Please enter the medicinal ingredient or medicinal
            ingredients exactly as they appear on the NOC for that NDS. Applicants may view this information on Health
            Canada’s online NOC database, or they may request a copy of the NOC from Health Canada by e-mail at the
            e-mail address provided in section 2.1 of the <i>Guidance Document: Certificates of Supplementary Protection</i>.
        </p>
        <p>
            <b>Product Name</b>: Enter the product name (brand name) included in the NDS set out in the CSP
            application. Please enter the product name exactly as it appears on the NOC for that NDS.
            Applicants may view this information on Health Canada’s online NOC database, or they may
            request a copy of the NOC from Health Canada by e-mail at the e-mail address provided
            in section 2.1 of the <i>Guidance Document: Certificates of Supplementary Protection</i>.
        </p>
    </div>
</div>


