<div>
    <div>
        <p>
            <b>New Drug Submission</b>: Enter the NDS number listed on the Notice of Compliance (NOC) that was issued with respect to the medicinal
            ingredient or combination of medicinal ingredients; the NOC must meet the requirements set out in
            paragraphs 106(1)(c) and (d) of the <i>Patent Act</i>. According to paragraph 106(1)(d) of the <i>Patent Act</i>, the
            NOC must be the first authorization for sale that has been issued in Canada with respect to the medicinal
            ingredient or the combination of medicinal ingredients, as the case may be. According to paragraph
            106(1)(c) of the <i>Patent Act</i>, the NOC issuance date must be on or after the day on which that section comes
            into force.
        </p>
    </div>
</div>


