<div>
    <!--   <h4 class="rep-margin-minus-top">fr_Billing Information Instructions</h4>-->
    <ul>
        <li><b>Adresse de facturation</b> : S’il y a lieu, cocher la case pour indiquer que l’adresse de facturation est
            différente. L’adresse de facturation sera communiqué avec seulement s’il y a des préoccupations en ce qui concerne le paiement de la taxe.
            Veuillez noter qu’un agent qui présente plusieurs demandes de CPS ne peut donner qu’une seule
            adresse de facturation en regard de toutes ses demandes de CPS en cours. Bien que l’adresse de facturation
            puisse être modifiée, il n’est pas permis d’avoir plusieurs adresses de facturation à la fois.
        </li>
        <li><b>Nom de l'organisme</b> : Indiquer le nom de l'organisme autorisé à
            correspondre avec Santé Canada au sujet des questions de facturation relatives à la demande de CPS.
        </li>
        <li><b>Noms</b> : Fournir le nom d’une personne autorisée à correspondre avec Santé Canada au nom du demandeur
            au sujet des questions de facturation relatives à la demande de CPS.
        </li>
        <li><b>Titre de civilité</b> : Indiquer le titre de civilité à utiliser concernant la personne nommée (p. ex.,
            Monsieur, Madame ou Mademoiselle) pour traiter des questions de facturation relatives à la demande de CPS.
        </li>
        <li><b>Titre de poste</b> : Inscrire le titre du poste de la personne nommée pour traiter des questions de
            facturation.
        </li>
        <li><b>Adresse (numéro, rue, ville, province et code postal)</b> : Indiquer l’adresse au Canada où la personne
            nommée est située aux fins de l’entreprise du demandeur pour toutes questions de facturation relatives à la
            demande de CPS.
        </li>
        <li><b>Numéro de téléphone, numéro de télécopieur et adresse électronique</b> : Indiquer les numéros de
            téléphone et de télécopieur et l’adresse électronique de la personne à qui Santé Canada peut s’adresser au sujet
            de facturation relatives à la demande de CPS. Ces coordonnées seront utilisées pour toutes questions liées à la facturation concernant la demande de CPS.
        </li>
    </ul>
</div>
