<div>
    <div>
        <p>
            <b>Fee payment and amount </b>: Please check the box and enter the fee amount. The fee must be paid in Canadian currency to the account of the
            Receiver General of Canada, according to section 9 of the <i>Certificate of Supplementary Protection Regulations</i>.
            Beginning April 1, 2018, the fee increases annually by an amount equal to 2% of the fee payable
            in the previous year, rounded up to the nearest dollar. Health Canada will publish the fee increase
            in the <i>Canada Gazette Part I</i> annually. Payment of the CSP fee is required at the time of filing.
            Please note that one of the conditions for a CSP application to be deemed to be filed is receipt of the description of the method of payment used to pay the prescribed fee, which is
            noted on the  Advance Payment Details for Drug Submissions and Master Files for Human and Disinfectant Drugs, and Certificate of Supplementary Protection Applications form (Advance Payment Details form),
            and submitted to the Minister of Health via facsimile or postal mail. In cases where a payer submits payment directly, without the submission of the Advance Payment Details form, the payer risks missing the prescribed deadline for the filing of a CSP application,
            as the Minister of Health will have insufficient information, based on the information provided in this electronic form alone, to process the CSP application.

            The Advance Payment Details form is available on Health Canada’s website. A Guidance
            Document on “How to pay fees to Health Products and Food Branch” is provided on Health
            Canada’s website. Anyone can pay the fee on behalf of the patentee.
        </p>
    </div>
</div>


