<div>
    <div>
        <ul>
            <li>
                <b>Nom de l’agent autorisé</b> : Fournir le nom d’une personne autorisée à présenter des attestations au
                nom du demandeur présentant la demande de CPS.
            </li>
            <li>
                <b>Titre du poste</b> : Indiquer le titre du poste de la personne autorisée à présenter les
                attestations.
            </li>
            <li>
                <b>Date</b> : Fournir la date de prise d’effet des attestations.
            </li>
        </ul>
    </div>
</div>

