<div>
    <!--    <h4 class="rep-margin-minus-top">Billing Information Instructions</h4>-->
    <ul>
        <li><b>Billing Address</b>: Check the box, if applicable, to indicate that a different billing address will be
            used. The billing address will only be contacted should there be any issues with respect
            to the fee payment. Please note that an agent with multiple CSP applications may only have one billing
            address at any given time in respect of its CSP applications. The address may be updated, however multiple
            billing addresses are not permitted concurrently.
        </li>
        <li><b>Organization Name</b>: Provide the name of the organization with the authority to correspond with
            Health Canada regarding billing matters in the CSP application.
        </li>
        <li><b>Names</b>: Provide the name of the person with the authority to correspond with Health Canada on behalf
            of the applicant with respect to billing matters in the CSP application.
        </li>
        <li><b>Title (salutation)</b>: Provide the salutation of the person named (e.g., Dr., Mr., Mrs., Ms., etc.) with
            respect to billing matters in the CSP application.
        </li>
        <li><b>Job Title</b>: Enter the job title of the person named with respect to billing matters.</li>
        <li><b>Address (Street / Suite, City, Province, Country, and Postal Code)</b>: Include the address at which the
            person named is located for the purpose of addressing billing matters in the CSP application.
        </li>
        <li><b>Telephone Number, Facsimile Number, and E-mail</b>: Provide the telephone and facsimile number and e-mail
            address, of the person named whom may be contacted by Health Canada regarding the billing matters for the CSP application. This
            contact information will be used to address any issues with the CSP application with respect to billing
            matters in the CSP application.
        </li>
    </ul>
</div>
