<div>
    <ng-form  name="helpCtrl.productInfoHelpTextForm">

            <dl>
                <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.loadFileIndx}}</dt>
                <dd id="dr1">
                    <p>{{::'LOAD_DRUGPROD'|translate}}</p>
                    <ul>
                        <li>{{::'HT_LOAD_FILE_1' |translate}}</li>
                        <li>{{::'HT_LOAD_FILE_2' |translate}}</li>
                    </ul>
                    <p class="fn-rtn"><a href="#dr1_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.loadFileIndx}}
                        </a>
                    </p>
                </dd>
                <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.prodInfoIndx}}</dt>
                <dd id="dr2">
                    <p>{{::'DRUG_PRODUCT'|translate}}</p>
                    <ul>
                        <li>{{::'HT_PROD_INFO_1' |translate}}</li>
                        <li>{{::'HT_PROD_INFO_1A' |translate}}</li>
                        <li>{{::'HT_PROD_INFO_2' |translate}}</li>
                        <li>{{::'HT_PROD_INFO_3' |translate}}</li>
                    </ul>
                    <p class="fn-rtn"><a href="#dr2_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.prodInfoIndx}}
                        </a>
                    </p>
                </dd>
                <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.compIdIndx}}</dt>
                <dd id="dr2a">
                    <p>{{::'COMPANY_ID'|translate}}</p>
                    <p>{{::'HT_COMP_ID_1' |translate}}</p>
                    <p>{{::'HT_COMP_ID_2' |translate}}</p>
                    <p class="fn-rtn"><a href="#dr2a_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.compIdIndx}}
                        </a>
                    </p>
                </dd>
                <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.dossiTypeIndx}}</dt>
                <dd id="dr2b">
                    <p>{{::'DOSSIER_TYPE' |translate}}</p>
                    <ul>
                        <li>{{::'HT_DOSSIER_TYPE_1' |translate}}</li>
                        <li data-ng-if="! helpCtrl.isForProd">{{::'HT_DOSSIER_TYPE_3' |translate}}</li>
                        <li>{{::'HT_DOSSIER_TYPE_2' |translate}}</li>
                        <li>{{::'HT_DOSSIER_TYPE_4' |translate}}</li>
                    </ul>
                    <p class="fn-rtn"><a href="#dr2b_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.dossiTypeIndx}}
                        </a>
                    </p>
                </dd>
                <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.prodNameIndx}}</dt>
                <dd id="dr3">
                    <p>{{::'PROD_NAME' |translate}}</p>
                    <ul>
                        <li>{{::'HT_PROD_NAME_1' |translate}}</li>
                        <li>{{::'HT_PROD_NAME_2' |translate}}</li>
                        <li data-ng-if="! helpCtrl.isForProd">{{::'HT_PROD_NAME_3' |translate}}</li>
                        <li>{{::'HT_PROD_NAME_4' |translate}}</li>
                    </ul>
                    <p class="fn-rtn"><a href="#dr3_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.prodNameIndx}}
                        </a>
                    </p>
                </dd>
                <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.proComNameIndx}}</dt>
                <dd id="dr4">
                    <p>&nbsp;{{::'PROPER_NAME' |translate}}</p>
                    <ul>
                        <li>{{::'HT_PROP_COMM_NAME_1' |translate}}</li>
                        <li>{{::'HT_PROP_COMM_NAME_2' |translate}}</li>
                        <li>{{::'HT_PROP_COMM_NAME_3' |translate}}</li>
                        <li>{{::'HT_PROP_COMM_NAME_4' |translate}}</li>
                        <li>{{::'HT_PROP_COMM_NAME_5' |translate}}</li>
                        <li data-ng-if="! helpCtrl.isForProd">{{::'HT_PROP_COMM_NAME_6' |translate}}</li>
                    </ul>
                    <p class="fn-rtn"><a href="#dr4_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.proComNameIndx}}
                        </a>
                    </p>
                </dd>
                <dt data-ng-if="! helpCtrl.isForProd"><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.clinicalIndx}}</dt>
                <dd id="dr12" data-ng-if="! helpCtrl.isForProd">
                    <p>{{'SECTION_IS_NOT_VISIBLE'|translate}} {{'CLINICAL_TRIAL'|translate}}</p>
                    <p>{{::'HT_CLINICAL_TRIAL'|translate}}</p>
                    <p class="fn-rtn"><a href="#dr12_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.clinicalIndx}}
                        </a>
                    </p>
                </dd>
                <dt data-ng-if="! helpCtrl.isForProd"><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.protocolNoIndx}}</dt>
                <dd id="dr13" data-ng-if="! helpCtrl.isForProd">
                    <p>{{'SECTION_IS_NOT_VISIBLE'|translate}} {{::'PROTOCOL_NUMBER'|translate}}</p>
                    <p>{{::'HT_PROTOCOL_NUM'|translate}}</p>
                    <p class="fn-rtn"><a href="#dr13_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.protocolNoIndx}}
                        </a>
                    </p>
                </dd>
                <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.administrativeIndex}}</dt>
                <dd id="dr15">
                    <p>{{::'CONTAIN_ADMINITRATIVE'|translate}}</p>
                    <p ng-bind-html="administrativeHtmlHelpText1"></p>
                    <p ng-bind-html="administrativeHtmlHelpText2"></p>
                    <p class="fn-rtn"><a href="#dr15_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.administrativeIndex}}
                    </a>
                    </p>
                </dd>
                <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.dnfNocAddrIndx}}</dt>
                <dd id="dr5">
                    <p>{{::'ADDRESS_NOC'|translate}}</p>
                    <ul>
                        <li>{{::'HT_DNF_NOC_1' |translate}}</li>
                        <li>{{::'HT_DNF_NOC_2' |translate}}</li>
                        <li>{{::'HT_DNF_NOC_3' |translate}}</li>
                    </ul>
                    <p class="fn-rtn"><a href="#dr5_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.dnfNocAddrIndx}}
                        </a>
                    </p>
                </dd>
                <dt data-ng-if="! helpCtrl.isForProd"><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.ctDrugImpIndx}}</dt>
                <dd id="dr14" data-ng-if="! helpCtrl.isForProd">
                    <p>{{'SECTION_IS_NOT_VISIBLE'|translate}} {{::'HT_CT_DRUG_IMP'|translate}}</p>
                    <ul>
                        <li>{{::'HT_CT_DRUG_IMP_1' |translate}}</li>
                        <li>{{::'HT_CT_DRUG_IMP_2' |translate}}<a href="{{::'HT_CT_DRUG_IMP_5' |translate}}">{{::'HT_CT_DRUG_IMP_4' |translate}}</a>{{::'HT_CT_DRUG_IMP_6' |translate}}</li>
                        <li>{{::'HT_CT_DRUG_IMP_3' |translate}}</li>
                    </ul>
                    <p class="fn-rtn"><a href="#dr14_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.ctDrugImpIndx}}
                        </a>
                    </p>
                </dd>
                <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.importerIndx}}</dt>
                <dd id="dr6">
                    <p>{{'IMPORTER'|translate}}</p>
                    <p>{{::'HT_IMPORTER_1' |translate}}</p>
                    <ul>
                        <li>{{::'HT_IMPORTER_3' |translate}}</li>
                    </ul>
                    <p class="fn-rtn"><a href="#dr6_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.importerIndx}}
                        </a>
                    </p>
                </dd>
                <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.routingIdIndx}}</dt>
                <dd id="co5a">
                    <p>{{'SECTION_IS_NOT_VISIBLE'|translate}} {{::"ROUTING_ID" |translate}}</p>
                    <p>
                        {{::"HT_ROUTING_ID_1" |translate}}
                        <span lang="en">{{::"HT_ROUTING_ID_1_a" |translate}}</span>
                        {{::"HT_ROUTING_ID_1_b" |translate}}
                        <span lang="en">{{::"HT_ROUTING_ID_1_c" |translate}}</span>
                    </p>
                    <ul>
                        <li>{{::'HT_ROUTING_ID_2' |translate}}</li>
                        <li>{{::'HT_ROUTING_ID_3' |translate}}</li>
                    </ul>
                    <P>{{::'HT_ROUTING_ID_4' |translate}}</P>
                    <p>
                        {{::"HT_ROUTING_ID_5" |translate}}
                        <span lang="en">{{::"HT_ROUTING_ID_5_a" |translate}}</span>
                        {{::"HT_ROUTING_ID_5_b" |translate}}
                        <a href="mailto:ESGHelpDesk@fda.hhs.gov" lang="en">ESGHelpDesk</a>
                    </p>
                    <p class="fn-rtn">
                        <a href="#co5a_ref">
                            <span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.routingIdIndx}}

                        </a>
                    </p>
                </dd>
                <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.drugUseIndx}}</dt>
                <dd id="dr7">
                    <p>{{::'DRUG_USE'|translate}}</p>
                    <p>{{::'HT_DRUG_USE' |translate}}</p>
                    <p class="fn-rtn"><a href="#dr7_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.drugUseIndx}}
                        </a>
                    </p>
                </dd>
                <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.dinIndx}}</dt>
                <dd id="dr7a">
                    <p>{{'SECTION_IS_NOT_VISIBLE'|translate}} {{::'DIN_FULL'|translate}}</p>
                    <p>{{::'HT_DIN' |translate}}</p>
                    <p class="fn-rtn"><a href="#dr7a_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.dinIndx}}
                        </a>
                    </p>
                </dd>
                <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.pudIndx}}</dt>
                <dd id="dr8">
                    <p>{{::'PROP_INDICATION'|translate}}</p>
                    <ul>
                        <li>{{::'HT_PROP_INDI_1' |translate}}</li>
                        <li>{{::'HT_PROP_INDI_2' |translate}}</li>
                        <li>{{::'HT_PROP_INDI_3' |translate}}</li>
                        <li>{{::'HT_PROP_INDI_4' |translate}}</li>
                        <li>{{::'HT_PROP_INDI_5' |translate}}</li>
                    </ul>
                    <p class="fn-rtn"><a href="#dr8_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.pudIndx}}
                        </a>
                    </p>
                </dd>
                <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.formuIndx}}</dt>
                <dd id="dr9">
                    <p>{{::'FORMULATION'|translate}}</p>
                    <ul>
                        <li>{{::'HT_FORMULATION_1' |translate}}</li>
                        <li>{{::'HT_FORMULATION_2' |translate}}</li>
                        <li>{{::'HT_FORMULATION_2b' |translate}}</li>
                        <li>{{::'HT_FORMULATION_3' |translate}}</li>
                        <li>{{::'HT_FORMULATION_4' |translate}}</li>
                        <li>{{::'HT_FORMULATION_5' |translate}}</li>
                    </ul>
                    <p class="fn-rtn"><a href="#dr9_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.formuIndx}}
                        </a>
                    </p>
                </dd>
                <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.formuDetailIndx}}</dt>
                <dd id="dr91">
                    <p>{{'FORMULATION_DETAILS'|translate}}&nbsp;#</p>
                    <ul>
                        <li>{{::'HT_FOMU_DETAIL_1' |translate}}</li>
                        <li>{{::'HT_FOMU_DETAIL_2' |translate}}</li>
                    </ul>
                    <p class="fn-rtn" style="width:4.5em;"><a href="#dr91_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.formuDetailIndx}}
                        </a>
                    </p>
                </dd>
                <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.ingredIndx}}</dt>
                <dd id="dr9c">
                    <p>{{'INGREDIENTS'|translate}}</p>
                    <ul>
                        <li>{{::'HT_INGREDIENTS_1' |translate}}</li>
                        <li>{{::'HT_INGREDIENTS_2' |translate}}</li>
                        <li>{{::'HT_INGREDIENTS_3' |translate}}</li>
                        <li>{{::'HT_INGREDIENTS_4' |translate}}</li>
                        <li>{{::'HT_INGREDIENTS_5' |translate}}</li>
                    </ul>
                    <p class="fn-rtn" style="width:4.5em;"><a href="#dr9c_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.ingredIndx}}
                        </a>
                    </p>
                </dd>

                <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.nmiProprietaryInfoIndx}}</dt>
                <dd id="dr9c7">
                    <p>{{'SECTION_IS_NOT_VISIBLE'|translate}} {{'NMI_PROPRIETARY_INFO_CHKBX'|translate}}</p>
                    <p style="white-space: pre-wrap">{{::'HT_NMI_PROPRIETARY_INFO' |translate}}<a href="{{::'HT_NMI_PROPRIETARY_INFO_b' |translate}}">{{::'HT_NMI_PROPRIETARY_INFO_a' |translate}}</a></p>
                    <p class="fn-rtn" style="width:4.5em;"><a href="#dr9c7_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.nmiProprietaryInfoIndx}}
                        </a>
                    </p>
                </dd>

                <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.nmiProprietaryInfoFieldIndx}}</dt>
                <dd id="dr9c8">
                    <p>{{'SECTION_IS_NOT_VISIBLE'|translate}} {{'NMI_PROPRIETARY_INFO_LBL'|translate}}</p>
                    <p style="white-space: pre-wrap">{{::'HT_NMI_PROPRIETARY_INFO_FIELD' |translate}}<a href="{{::'HT_NMI_PROPRIETARY_INFO_FIELD_b' |translate}}">{{::'HT_NMI_PROPRIETARY_INFO_FIELD_a' |translate}}</a></p>
                    <p class="fn-rtn" style="width:4.5em;"><a href="#dr9c8_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.nmiProprietaryInfoFieldIndx}}
                        </a>
                    </p>
                </dd>
                
                <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.ingNameIndx}}</dt>
                <dd id="dr9c1">
                    <p>{{'SECTION_IS_NOT_VISIBLE'|translate}} {{'ING_NAME'|translate}}</p>
                    <p>
                        {{::'HT_ING_NAME' |translate}}
                        <span lang="en">{{::'HT_ING_NAME_a' |translate}}</span>
                        {{::'HT_ING_NAME_b' |translate}}
                        <span lang="en">{{::'HT_ING_NAME_c' |translate}}</span>
                        {{::'HT_ING_NAME_d' |translate}}
                        <span lang="en">{{::'HT_ING_NAME_e' |translate}}</span>
                        {{::'HT_ING_NAME_f' |translate}}
                         <span lang="en">{{::'HT_ING_NAME_g' |translate}}</span>
                        {{::'HT_ING_NAME_h' |translate}}
                         <span lang="en">{{::'HT_ING_NAME_i' |translate}}</span>
                        {{::'HT_ING_NAME_j' |translate}}
                    </p>
                    <p data-ng-if="! helpCtrl.isForProd">{{::'HT_ING_NAME_1' |translate}}</p>
                    <p class="fn-rtn" style="width:4.5em;"><a href="#dr9c1_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.ingNameIndx}}
                        </a>
                    </p>
                </dd>
                <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.variaNameIndx}}</dt>
                <dd id="dr9c2">
                    <p>{{'SECTION_IS_NOT_VISIBLE'|translate}} {{'VARIANT_NAME'|translate}}</p>
                    <p>{{::'HT_VARI_NAME_1' |translate}}</p>
                    <ul>
                        <li>{{::'HT_VARI_NAME_2' |translate}}</li>
                        <li>{{::'HT_VARI_NAME_3' |translate}}</li>
                        <li>{{::'HT_VARI_NAME_4' |translate}}</li>
                    </ul>
                    <p class="fn-rtn" style="width:4.5em;"><a href="#dr9c2_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.variaNameIndx}}
                        </a>
                    </p>
                </dd>
                <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.purposeIndx}}</dt>
                <dd id="dr9c3">
                    <p>{{'SECTION_IS_NOT_VISIBLE'|translate}} {{'PURPOSE'|translate}}</p>
                    <p>{{::'HT_PURPOSE' |translate}}</p>
                    <p class="fn-rtn" style="width:4.5em;"><a href="#dr9c3_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.purposeIndx}}
                        </a>
                    </p>
                </dd>

                
                <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.standardIndx}}</dt>
                <dd id="dr9c4">
                    <p>{{'SECTION_IS_NOT_VISIBLE'|translate}} {{'STANDARD'|translate}}</p>
                    <p>{{::'HT_STANDARD' |translate}}</p>
                    <p class="fn-rtn" style="width:4.5em;"><a href="#dr9c4_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.standardIndx}}
                        </a>
                    </p>
                </dd>
                <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.isNanoIndx}}</dt>
                <dd id="dr9c5">
                    <p>{{'SECTION_IS_NOT_VISIBLE'|translate}} {{'IS_NANO_MATERIAL'|translate}}</p>
                    <p>{{::'HT_IS_NANO_1' |translate}}</p>
                    <ul>
                        <li style="list-style-type:lower-alpha;">{{::'HT_IS_NANO_2' |translate}}
                            <ul>
                                <li>{{::'HT_IS_NANO_3' |translate}}</li>
                                <li>{{::'HT_IS_NANO_4' |translate}}</li>
                            </ul>
                        </li>
                        <li style="list-style-type:lower-alpha;">{{::'HT_IS_NANO_5' |translate}}
                            <ul>
                                <li>{{::'HT_IS_NANO_6' |translate}}</li>
                                <li>{{::'HT_IS_NANO_7' |translate}}</li>
                                <li>{{::'HT_IS_NANO_8' |translate}}</li>
                            </ul>
                        </li>
                    </ul>
                    <p class="fn-rtn" style="width:4.5em;"><a href="#dr9c5_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.isNanoIndx}}
                        </a>
                    </p>
                </dd>
                <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.ahSourcedIndx}}</dt>
                <dd id="dr9c6">
                    <p>{{'SECTION_IS_NOT_VISIBLE'|translate}} {{'ANIMAL_HUMAN_SOURCED'|translate}}</p>
                    <ul>
                        <li>{{::'HT_AH_SOURCED' |translate}}</li>
                        <li>{{::'HT_AH_SOURCED_1' |translate}}</li>
                    </ul>
                    <p class="fn-rtn" style="width:4.5em;"><a href="#dr9c6_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.ahSourcedIndx}}
                        </a>
                    </p>
                </dd>

                <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.isMaterialIndx}}</dt>
                <dd id="dr9d">
                    <p>{{'IS_ANIMAL_HUMAN_MATERIAL'|translate}}</p>
                    <ul>
                        <li>{{::'HT_AH_SOURCED_1' |translate}}</li>
                        <li>
                            {{::'HT_IS_AH_MAT_1' |translate}}
                            <span lang="en">{{::'HT_IS_AH_MAT_1_a' |translate}}</span>
                            {{::'HT_IS_AH_MAT_1_b' |translate}}
                        </li>
                        <li>{{::'HT_IS_AH_MAT_2' |translate}}</li>
                    </ul>
                    <p class="fn-rtn"><a href="#dr9d_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.isMaterialIndx}}
                        </a>
                    </p>
                </dd>

                <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.contaTypeIndx}}</dt>
                <dd id="dr9e1">
                    <p>&nbsp;&nbsp;{{'CONTAINER_TYPE'|translate}}</p>
                    <p>{{::'HT_CONT_TYPE_1' |translate}}</p>
                    <ul>
                        <li>{{::'HT_CONT_TYPE_2' |translate}}</li>
                        <li>{{::'HT_CONT_TYPE_3' |translate}}</li>
                        <li>{{::'HT_CONT_TYPE_4' |translate}}</li>
                    </ul>
                    <p class="fn-rtn" style="width:4.5em;"><a href="#dr9e1_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.contaTypeIndx}}
                        </a>
                    </p>
                </dd>
                <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.packSizeIndx}}</dt>
                <dd id="dr9e2">
                    <p>&nbsp;&nbsp;{{'PACKAGE_SIZE'|translate}}</p>
                    <p>{{::'HT_PACK_SIZE_1' |translate}}</p>
                    <ul>
                        <li>{{::'HT_PACK_SIZE_2' |translate}}</li>
                        <li>{{::'HT_PACK_SIZE_3' |translate}}</li>
                    </ul>
                    <p class="fn-rtn" style="width:4.5em;"><a href="#dr9e2_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.packSizeIndx}}
                        </a>
                    </p>
                </dd>
                <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.shelfLifeIndx}}</dt>
                <dd id="dr9e3">
                    <p>&nbsp;&nbsp;{{'SHELF_LIFE'| translate}}</p>
                    <p>{{::'HT_SHELF_LIFE' |translate}}</p>
                    <p class="fn-rtn" style="width:4.5em;"><a href="#dr9e3_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.shelfLifeIndx}}
                        </a>
                    </p>
                </dd>


                <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.manuCntryIndx}}</dt>
                <dd id="dr9g">
                    <p>{{'COUNTRIES_MANUFACT'|translate}}</p>
                    <p>{{::'HT_CNTRY_MAN' |translate}}</p>
                    <p class="fn-rtn"><a href="#dr9g_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.manuCntryIndx}}
                        </a>
                    </p>
                </dd>


                <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.haSIMIndx}}</dt>
                <dd id="dr10">
                    <p>{{::'APPENDIX4'|translate}}</p>
                    <ul>
                        <li>{{::'HT_APPENDIX4_1' |translate}}</li>
                        <li>{{::'HT_APPENDIX4_2' |translate}}</li>
                    </ul>
                    <p class="fn-rtn"><a href="#dr10_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.haSIMIndx}}
                        </a>
                    </p>
                </dd>
                <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.genXmlIndx}}</dt>
                <dd id="dr11">
                    <p>{{::'APPROVE_FINAL' |translate}}</p>
                    <ul>
                        <li>{{::'HT_GEN_XML_3' |translate}}
                        <ul>
                            <li>{{::'HT_GEN_XML_4' |translate}}</li>
                            <li>{{::'HT_GEN_XML_5' |translate}}</li>
                        </ul>
                        </li>
                        <li>{{::'HT_GEN_XML_6' |translate}}</li>
                    </ul>
                    <p class="fn-rtn"><a href="#dr11_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.genXmlIndx}}
                        </a>
                    </p>
                </dd>
                <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.ddqIndx}}</dt>
                <dd id="dr16">
                    <p>{{'SECTION_IS_NOT_VISIBLE'|translate}} {{::'DATA_QUESTIONS' |translate}}</p>
                    <p ng-bind-html="ddQuestionsHtmlHelpText2"></p>
                    <p class="fn-rtn"><a href="#dr16_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.ddqIndx}}
                    </a>
                    </p>
                </dd>



                <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.incCTDataIndx}}</dt>
                <dd id="dr17">
                    <p>{{'SECTION_IS_NOT_VISIBLE'|translate}} {{::'DOES_INCLUDE_CT_DATA' |translate}}</p>
                    <p>{{::'HT_INCLUDE_CT_DATA' |translate}}</p>
                    <p class="fn-rtn"><a href="#dr17_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.incCTDataIndx}}
                    </a>
                    </p>
                </dd>
                <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.areRltdSexIndx}}</dt>
                <dd id="dr18">
                    <p>{{'SECTION_IS_NOT_VISIBLE'|translate}} {{::'ARE_RLTD_SEX' |translate}}</p>
                    <p>{{::'HT_ARE_RLTD_SEX_1' |translate}}</p>
                    <ul>
                        <li>{{::'HT_ARE_RLTD_SEX_2' |translate}}</li>
                        <li>{{::'HT_ARE_RLTD_SEX_3' |translate}}</li>
                    </ul>
                    <p class="fn-rtn"><a href="#dr18_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.areRltdSexIndx}}
                    </a>
                    </p>
                </dd>
                <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.areRltdAgeIndx}}</dt>
                <dd id="dr19">
                    <p>{{'SECTION_IS_NOT_VISIBLE'|translate}} {{::'ARE_RLTD_AGE' |translate}}</p>
                    <p>{{::'HT_ARE_RLTD_AGE_1' |translate}}</p>
                    <ul>
                        <li>{{::'HT_ARE_RLTD_AGE_2' |translate}}</li>
                        <li>{{::'HT_ARE_RLTD_AGE_3' |translate}}</li>
                    </ul>
                    <p class="fn-rtn"><a href="#dr19_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.areRltdAgeIndx}}
                    </a>
                    </p>
                </dd>
                <dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.areRltdRaceIndx}}</dt>
                <dd id="dr20">
                    <p>{{'SECTION_IS_NOT_VISIBLE'|translate}} {{::'ARE_RLTD_RACE' |translate}}</p>
                    <p>{{::'HT_ARE_RLTD_RACE_1' |translate}}</p>
                    <ul>
                        <li>{{::'HT_ARE_RLTD_RACE_2' |translate}}</li>
                        <li>{{::'HT_ARE_RLTD_RACE_3' |translate}}</li>
                    </ul>
                    <p class="fn-rtn"><a href="#dr20_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.areRltdRaceIndx}}
                    </a>
                    </p>
                </dd><dt><span class="wb-inv">{{::'INSTRUCTION'|translate}} </span>{{::helpCtrl.htIndxList.fromPediPopulIndx}}</dt>
                <dd id="dr21">
                    <p>{{'SECTION_IS_NOT_VISIBLE'|translate}} {{::'FROM_PEDIATRIC_POPULATIONS' |translate}}</p>
                    <p>{{::'HT_FROM_PED_POP' |translate}}</p>
                    <p class="fn-rtn"><a href="#dr21_ref"><span class="wb-inv">{{::'RETURN_INSTRUCTION'|translate}}</span>{{::helpCtrl.htIndxList.fromPediPopulIndx}}
                    </a>
                    </p>
                </dd>


            </dl>
    </ng-form>
</div>