<div>
    <ng-form id="reg-activity-form" name="main.activityEnrolForm"
             novalidate="novalidate"">
        <section class="panel panel-primary mrgn-tp-lg">
            <header class="panel-heading clearfix">
                <div class="btn-group pull-right">
                    <button class="btn btn-default btn-xs" ng-click="main.openHelp('activityFile')"
                            aria-haspopup="true">
                        {{'HELP_FILE_LOAD'|translate}}
                    </button>
                </div>
                <h2 class="panel-title">{{'LOAD_ACTIVITY'|translate}}</h2>
            </header>
            <div class="panel-body">
                <div class="col-md-12">

                    <hpfb-file-select update-model-root="main.showContent(fileContent) "
                                      root-elem="{{main.rootTag}}"/>
                </div>
            </div>
            <div>
            </div>
        </section>
        <div>
            <section class="panel panel-primary mrgn-tp-lg">
                <header class="panel-heading clearfix">
                    <div class="btn-group pull-right">
                        <button class="btn btn-default btn-xs" ng-click="main.openHelp('activityMain')"
                                aria-haspopup="true">
                            {{'HELP_ACTIVITY_MAIN'|translate}}
                        </button>
                    </div>
                    <h2 class="panel-title">{{'ACTIVE_ENROL' |translate}}</h2>
                </header>
                <div class="panel-body">

                    <cmp-application-info record="main.activityRoot" user-type="main.userType"
                                          is-incomplete="main.isIncomplete" set-type="main.setApplicationType(type)"
                                          configure-id-field="main.configField"></cmp-application-info>
                    <div class="row">
                        <div class="col-xs-3" ng-class="{'has-error':main.activityEnrolForm.companyId.$invalid}">
                            <div class="form-group">
                                <label for="companyId_{{$id}}" class="required">
                                    <span class="field-name">{{'COMPANY_ID' |translate}}</span>
                                    <strong class="required"> {{"REQUIRED" |translate}}</strong>
                                    <input type="text" class="form-control" id="companyId_{{$id}}"
                                           maxlength="6" name="companyId" ng-minlength="6"
                                           ng-model="main.activityRoot.companyId" ng-required="true"/>
                                    <strong id="companyId-error" class="error">
                        <span class="label label-danger"
                              ng-if="main.showError(main.activityEnrolForm.companyId.$touched,main.activityEnrolForm.companyId.$invalid)"
                              ng-messages="main.activityEnrolForm.companyId.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                              <span ng-message="minlength"><span translate="MSG_LENGTH_6"></span></span>
                        </span>
                                    </strong>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="dossierId_{{$id}}" class="required">
                                <span class="field-name">{{'DOSSIER_ID'|translate}}</span>
                                <strong class="required"> {{"REQUIRED" |translate}}</strong>

                                <div class="rep-input-group">
                                    <span class="input-group-addon">HC6-024-</span>

                                    <div ng-class="{'has-error':main.activityEnrolForm.dossierId.$invalid}">
                                        <input type="text" class="form-control full-width" id="dossierId_{{$id}}"
                                               size="7"
                                               maxlength="7" name="dossierId" ng-minlength="7" name="dossierId"
                                               ng-model="main.activityRoot.dossierId" ng-required="true"/>
                                    </div>
                                </div>
                                <strong id="dossierId-error" class="error">
                        <span class="label label-danger"
                              ng-if="main.showError(main.activityEnrolForm.dossierId.$touched, main.activityEnrolForm.dossierId.$invalid)"
                              ng-messages="main.activityEnrolForm.dossierId.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                              <span ng-message="minlength"><span translate="MSG_LENGTH_7"></span></span>
                        </span>
                                </strong>
                            </label>
                        </div>
                        <div class="col-xs-4" ng-class="{'has-error':main.activityEnrolForm.activityLead.$invalid}">
                            <div class="form-group">
                                <label for="activityLead_{{$id}}" class="required">
                                    <span class="field-name"> {{'ACTIVITY_LEAD' |translate}}</span>
                                    <strong class="required"> {{"REQUIRED" |translate}}</strong>
                                    <select class="form-control" id="activityLead_{{$id}}"
                                            ng-options="lead |translate for lead in main.activityService.getActivityLeadList(1) | orderByTranslated"
                                            name="activityLead"
                                            ng-model="main.activityRoot.regActivityLead"
                                            ng-required="true"></select>
                                    <strong id="activityLead-error" class="error">
                        <span class="label label-danger"
                              ng-if="main.showError(main.activityEnrolForm.activityLead.$touched,main.activityEnrolForm.activityLead.$invalid)"
                              ng-messages="main.activityEnrolForm.activityLead.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
                                    </strong>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-xs-8"
                             ng-class="{'has-error':main.activityEnrolForm.activityType.$invalid}">
                            <div class="form-group">
                                <label for="regActivityType_{{$id}}" class="required">
                                    <span class="field-name">{{'ACTIVITY_TYPE' |translate}}</span>
                                    <strong class="required"> {{"REQUIRED" |translate}}</strong>
                                    <select class="form-control" id="regActivityType_{{$id}}"
                                            ng-change="main.updateActivityType()"
                                            ng-options="activity |translate for activity in main.activityService.getActivityTypeList(1) | orderByTranslated"
                                            name="activityType" ng-model="main.activityRoot.regActivityType"
                                            ng-required="true"></select>
                                    <strong id="regActivityType-error" class="error">
                        <span class="label label-danger"
                              ng-if="main.showError(main.activityEnrolForm.activityType.$touched,main.activityEnrolForm.activityType.$invalid)"
                              ng-messages="main.activityEnrolForm.activityType.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
                                    </strong>
                                </label>

                            </div>
                        </div>
                        <div>
                            <div class="col-xs-4"
                                 ng-class="{'has-error':main.activityEnrolForm.feeClass.$invalid}">
                                <div class="form-group">
                                    <label for="feeClass_{{$id}}" class="required">
                                        <span class="field-name">{{'FEE_CLASS' |translate}}</span>
                                        <strong class="required"> {{"REQUIRED" |translate}}</strong>
                                        <select class="form-control" id="feeClass_{{$id}}"
                                                name="feeClass" ng-model="main.activityRoot.feeClass"
                                                ng-required="true">
                                            <option>Test 1</option>
                                            <option>Test 2</option>
                                        </select>
                                        <strong id="feeClass-error" class="error">
                        <span class="label label-danger"
                              ng-if="main.showError(main.activityEnrolForm.feeClass.$touched,main.activityEnrolForm.feeClass.$invalid)"
                              ng-messages="main.activityEnrolForm.feeClass.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
                                        </strong>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-xs-12"
                             ng-class="{'has-error':main.activityEnrolForm.notlasa.$invalid}">
                            <div class="checkbox required">
                                <label for="chk-lasa_{{$id}}">
                                    <input type="checkbox" ng-model="main.activityRoot.notLasa" name="chkLasa"
                                           id="chk-lasa_{{$id}}"/>
                                    {{"NOT_LASA"|translate}}
                                    <strong class="required"> {{"REQUIRED" |translate}}</strong>
                                    <strong id="notlasa-error" class="error"
                                            ng-if="main.showErrorCheck(main.activityEnrolForm.chkLasa.$touched,main.activityRoot.notLasa)">
                 <span class="label label-danger">
                              <span ng-if="!main.activityRoot.notLasa">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
                                    </strong>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group"
                             ng-class="{'has-error':main.activityEnrolForm.reasonFiling.$invalid}">
                            <label for="reason-filing_{{$id}}" class="required">
                                <span class="field-name">{{"REASON_FILE"|translate}}</span>
                                <strong class="required"> {{"REQUIRED" |translate}}</strong>
                                <strong id="reason-filing-error" class="error"
                                        ng-if="main.showError(main.activityEnrolForm.reasonFiling.$touched,main.activityEnrolForm.reasonFiling.$invalid)">
                                <span class="label label-danger"
                                      ng-messages="main.activityEnrolForm.reasonFiling.$error">
                                        <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                                </span>
                                </strong>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                                <textarea ng-model="main.activityRoot.reasonFiling" name="reasonFiling"
                                          id="reason-filing_{{$id}}" ng-required="true" maxlength="1024"
                                          class="form-control full-width" rows="8"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <!--<div class="col-xs-11 form-group"
                             ng-class="{'has-error':main.activityEnrolForm.isThirdParty.$invalid}">-->
                        <div class="col-xs-9 form-group">
                            <label for="third-party_{{$id}}" class="required">
                                <span class="field-name">{{"IS_SOLICITED" |translate}}</span>
                                <strong class="required"> {{"REQUIRED" |translate}}</strong>
                                <strong id="isSolicited-error" class="error"
                                        ng-if="main.showError(main.activityEnrolForm.thirdParty.$touched,main.activityEnrolForm.thirdParty.$invalid)">
                         <span class="label label-danger" ng-messages="main.activityEnrolForm.thirdParty.$error">
                             <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                         </span>
                                </strong>
                            </label>
                        </div>
                        <div class="col-xs-2 form-group"
                             ng-class="{'has-error':main.activityEnrolForm.isThirdParty.$invalid}">
                            <select id="third-party_{{$id}}" name="thirdParty"
                                    ng-model="main.activityRoot.isThirdParty"
                                    class="form-control"
                                    ng-change="main.setThirdParty()"
                                    ng-options="choice |translate for choice in main.yesNoList"
                                    required></select>
                        </div>
                        <!--  </div>-->
                    </div>
                    <div class="row">
                        <div ng-show="main.thirdPartyState" class="alert alert-info" role="alert" aria-live="polite">
                            {{'AUT_LETTER'|translate}}
                        </div>
                    </div>
                    <div class="row">
                        <cmp-related-activity-list activities="main.activityRoot.relatedActivity" on-update=""
                                                   get-new-activity="main.activityService.getNewActivity()"
                                                   activity-types="main.activityService.getActivityTypeList(isPilot)"
                                                   is-amend="main.formAmend"></cmp-related-activity-list>
                    </div>
                    <div class="brdr-tp brdr-rght brdr-bttm brdr-lft">
                        <div ng-hide="main.isNotifiable" class="mrgn-lft-sm">
                            <cmp-activity-rationale activity-record="main.activityRoot.rationaleTypes"
                                                    is-required="!main.isNotifiable" show-errors="main.showErrors()">
                            </cmp-activity-rationale>
                        </div>
                        <div ng-show="main.isNotifiable" class="mrgn-lft-sm">
                            <cmp-activity-change activity-record="main.activityRoot.notifiableChangeTypes"
                                                 is-required="main.isNotifiable" show-errors="main.showErrors()">
                            </cmp-activity-change>
                        </div>
                    </div>


                    <!--  <pre>overall: {{main.activityRoot.relatedActivity | json : spacing}}</pre>-->

                </div>
            </section>
            <div>
                <section class="panel panel-primary mrgn-tp-lg">
                    <header class="panel-heading clearfix">
                        <div class="btn-group pull-right">
                            <button class="btn btn-default btn-xs" ng-click="main.openHelp('activityRep')"
                                    aria-haspopup="true">
                                {{'HELP_ACTIVITY_REP'|translate}}
                            </button>
                        </div>
                        <h2 class="panel-title">{{'REP_CONTACT_INFO'|translate}}</h2>
                    </header>
                    <div class="panel-body">
                        <cmp-rep-contact-list contacts="main.activityRoot.contactRecord" on-update=""
                                              show-list-errors="main.showErrors()" is-amend="main.formAmend"
                                              parent-dirty="main.activityEnrolForm.$dirty"
                                             ></cmp-rep-contact-list>

                    </div>
                </section>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <button class="btn btn-primary btn-lg active" ng-click="main.saveJson()">
                        {{'SAVE_WORK' |translate}}
                    </button>
                </div>
                <div class="form-group col-md-3">
                    <button class="btn btn-default btn-lg active" ng-disabled="main.disableXML" id="btn_xmlSave"
                            ng-click="main.saveXML()">{{main.saveXMLLabel |translate}}
                    </button>
                </div>
            </div>
            <!-- <pre>overall: {{main.activityRoot | json : spacing}}</pre>-->
        </div>
    </ng-form>
</div>