<div>
    <h5>fr_Select the appropriate option based on Health Canada's working definition of Nanomaterials:</h5>
    <ul>
        <li type="a">Health Canada considers any manufactured product, material, substance,
            ingredient, device, system or structure to be nanomaterial if:
            <ul>
                <li>It is at or within the nanoscale in at least one spatial dimension, or;</li>
                <li>It is smaller or larger than the nanoscale in all spatial dimensions
                    and exhibits one or more nanoscale phenomena.
                </li>
            </ul>
        </li>
        <li type="a">For the purposes of this definition:
            <ul>
                <li>The term ""nanoscale"" means 1 to 100 nanometres, inclusive;</li>
                <li>The term ""nanoscale phenomena"" means properties of the product, material,
                    substance, ingredient, device, system or structure
                    which are attributable to its size and distinguishable from
                    the chemical or physical properties of individual atoms,
                    individual molecules and bulk material; and,</li>
                <li>The term ""manufactured"" includes engineering processes and control of matter
                    and processes at the nanoscale.
                </li>
            </ul>
        </li>
    </ul>
</div>