<div>
    <ul>
        <li> Only include the name of the products impacted by this regulatory activity. </li>
        <li> The product name (also known as the brand name or proprietary name)
            is the name assigned by the manufacturer or sponsor to the dossier (product),
            and under which the product is to be sold and advertised.
            The product name is also the name used to identify the product in all submission correspondence,
            Product Label(s) and Product Monograph/Package Insert, if applicable.
            If the product name has not yet been determined, the following may be used:
            “TBD” (short for To Be Determined), the proper or common name of the drug, or the research code.</li>
    </ul>
</div>