<div>
    <ul>
        <li>
            The proper name for a product is the name assigned to the drug
            in Section C.01.002 of the Food and Drug Regulations,
            or in boldface type in other Sections of the Regulations or
            the name of the drug in its finished form identified in the title of a monograph
            or in any of the official publications listed in Schedule B to the Food and Drugs Act.
            Example: Acetaminophen, Ferrous Sulphate Tablets.
        </li>
        <li>
            The common name is the name by which a single ingredient drug is
            commonly known / designated in scientific or technical journals other than
            the publications referred to in Schedule B to the Food and Drugs Act.
            The common name includes the pharmaceutical form when used in relation to
            the finished drug product.
        </li>
        <li>
            If there is no proper name and the drug is comprised of
            a single medicinal ingredient, enter the common name.
        </li>
        <li>
            If there is no proper name and the drug is comprised of more than one medicinal ingredient,
            the proper name of the ingredients should be captured and separated by a forward slash (/).
            For a clinical trial all the active substances should be listed.
        </li>
    </ul>
</div>