<div>
    <ul>
        For formulation variations pertaining to the same DIN (for example [e.g.] multiple flavourings, colours, fragrances), identify the variant name associated with each non-medicinal ingredient (NMI).
        Example:
        <li> If a NMI is the same quantity in all variants, then it only needs to be listed once and the variant name field should indicate “All variants”. </li>
        <li> If a NMI pertains to only one variant, then the variant name should be entered.</li>
        <li> If the NMI is in various variants, at different quantities, the variant name field should be entered each time.</li>
    </ul>
</div>