<div>
    <ul>
        <li> Indicate the proposed indication/use of the drug,
            e.g. for use in the treatment of angina and hypertension,
            to treat the symptoms of hay fever, for the prophylaxis of measles virus infection.</li>

        <li> For a new drug, the proposed indication/use shall be a summary of the indication described in the product monograph.
            Key scientific terminology should be used for this section.</li>

        <li> For Disinfectants, proposed indications as "disinfectant/sanitizer" or "toilet bowl cleaner" are not permitted.</li>

        <li> Indicate the proposed dosage - (by age/species – include maximum daily dose).</li>
    </ul>
</div>