<div>
    <ul>
        <li> A “Copy” button is available for duplicating the ingredient section. This is useful for non-medicinal ingredient that is present in different quantities in various variants. Be sure to update the appropriate fields (e.g. variant name, ingredient strength) and verify that the information in the remaining fields is accurate. </li>
        <li> Note: This feature is only available after creating the ingredient entry and opening that entry (using the triangle at the beginning of that line in the table). The “Copy” button is at the bottom of that section next to “Save” button.</li>
    </ul>
</div>