<div>
    <ul>
        <li>Please only include information that is pertinent to this regulatory activity
            (i.e. if the dossier has 5 dosage forms, but this regulatory activity only applies to 1,
            only list the formulation for that 1 dosage form in this version of the product information XML file).</li>
        <li> The “<b>Company ID</b>” must be obtained from the final company XML file, issued by Health Canada.</li>

        <li> The “<b>Dossier ID</b>” can be obtained from the final dossier XML file or other Health Canada issued document.
            The format of a Dossier ID is a letter followed by six digits. (e.g. HC6-024-x######).</li>
        <li> Note: Each section with a SAVE button must be saved individually; otherwise incomplete information will be lost. </li>
    </ul>
</div>