<div>
    <ul>
        <li>Sponsors should always select the medicinal ingredient name
            from the searchable list where possible.
            If the medicinal ingredient name is not found in the list,
            enter the new medicinal ingredient name in this field
            using the International Non Proprietary (INN) terminology,
            as it is the Health Canada’s standard to assign the preferred name to ingredients.
            If there is no existing INN terminology for the ingredient,
            you are required to use other recognized standards terminology in the following order:
            United States Adopted Names, Martindale, Merck Index, Hawley’s Condensed Chemical Dictionary,
            the Handbook of Pharmaceutical Excipient,
            International Cosmetics Ingredient Dictionary and Handbook, information available online.
        </li>
    </ul>
</div>