<div>
    <ul>
        <li>
            The “<b>Application&nbsp;Status</b>”, “<b>Enrolment&nbsp;Version</b>”, and “<b>Date&nbsp;Last&nbsp;Saved</b>”
            fields are automatically filled by the form upon selecting “<b>Save&nbsp;Working&nbsp;Copy</b>”
            or “<b>Save&nbsp;Draft&nbsp;for&nbsp;Filing</b>” in the bottom of the
            template.
        </li>
        <li>
            The “<b>Dossier&nbsp;Id</b>” field will be filled by Health Canada when generating final xml file.
        </li>
        <li>
            The “Company&nbsp;ID” can be obtained from the final company XML file, approved by Health Canada.
        </li>
    </ul>
    <h3>Amendment Information</h3>
    <ul>
        <li>
            The “<b>Amend&nbsp;Enrolment</b>” button must be selected when amending an approved company enrolment. Load
            the approved final xml file in the template to enable the “Amend&nbsp;Enrolment” button.
        </li>
        <li>
            The amended fields should be identified by selecting the “Amend&nbsp;Record” checkbox in the desired
            section.
        </li>
    </ul>
    <h3>Product (Dossier) Name</h3>
    <ul>
        <li>
            The <b>brand</b> or proprietary or product name is the name assigned by the manufacturer / sponsor to
            distinguish the dossier (product) and under which the product is to be sold / advertised. The brand name is
            also the name used to identify the product in all correspondence related to the submission and on the
            product label(s) and Product Monograph/Package Insert if applicable. If the brand name has not yet been
            determined, e.g. CTA, VIND, or NDS submissions, the proper or common name of the drug or the research code
            may be used.
        </li>
    </ul>
    <h3>Proper, common or non-proprietary Name</h3>
    <ul>
        <li>
            The <b>proper name</b> for a product is the name assigned to the drug in Section C.01.002 of the <em>Food&nbsp;and&nbsp;Drug&nbsp;Regulations</em>,
            or in boldface type in other Sections of the <em>Regulations</em> or the name of the drug in its finished
            form identified in the title of a monograph or in any of the official publications listed in Schedule B to
            the <em>Food and Drugs Act</em>. Example: Acetaminophen, Ferrous Sulphate Tablets.
        </li>
        <li>
            The <b>common name</b> is the name by which a single ingredient drug is commonly known / designated in
            scientific or technical journals <b>other than</b> the publications referred to in Schedule B to the <em>Food
            and Drugs Act</em>. The common name includes the pharmaceutical form when used in relation to the finished
            drug product.
        </li>
        <li>
            If there is no proper name and the drug is comprised of a single medicinal ingredient, enter the common
            name. If there is no proper name and the drug is comprised of more than one medicinal ingredient, leave
            Section 9 blank. For a clinical trial all the active substances should be listed. If the product comprises
            more than one ingredient, the proper name of the ingredients should be captured and separated by a forward
            slash (/).
        </li>
    </ul>
</div>