<div>
    <ul>
        <li>fr_Where the standard of manufacture of an ingredient complies
            with a Schedule B compendial standard,
            use the applicable abbreviation for that compendium,
            e.g. United States Pharmacopeia (USP), British Pharmacopoeia (BP).
            Where the specifications for ingredient manufacture deviate from
            and exceed or are equivalent to the compendial standard,
            manufacturer's standard (Mfr Std) may be indicated.
            Please enter N/A if no compendial standard exists for the active ingredient.
        </li>
    </ul>
</div>