<div>
    <ul>
        <li>fr_List the Animal/Human-sourced material(s) for each individual drug product ingredient
            and/or material used at any stage in the manufacture of the drug product
            including excipient or processing aid source from human and/or animal tissue.
        </li>
        <li>The “Ingredient or Material Name” field in this section is case-sensitive
            and must match exactly with the ingredient/material name listed in the formulation tab.
            If it does not match, the following errors may be displayed:
            "There are errors with the Human /Animal Sourced Records, missing source"
            or "There are errors with the Human /Animal Sourced Records, extra source".
        </li>
    </ul>
</div>