<div>
    <ul>
        <li> If DNF/NOC are to be sent to the manufacturer/sponsor/importers, please ensure the information in your final company XML file is up to date. </li>
        <li> In addition for importers, please ensure the applicable importers are identified in section 6 below. </li>
        <li> If DNF/NOC are to be sent to the contact for this regulatory activity,
            the contact listed on the latest Regulatory Transaction XML file for this regulatory activity will used. </li>
    </ul>
</div>