<fieldset>
    <legend>{{expandTblCtrl.title}}</legend>
    <!--<pre>dayDataCollapse: {{expandTblCtrl.dayDataCollapse | json}}</pre>-->
    <table class="table dataTable table-bordered table-hover table-condensed table-striped"
           data-ng-click="expandTblCtrl.focussed=true">
        <thead>
        <tr>
            <th ng-repeat="heading in expandTblCtrl.columnDef">{{heading.label |translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr id="tr-contact-{{$index}}" class="clickableRow"
            data-ng-class="{'selected':$index == expandTblCtrl.tableRowIndexCurrExpanded}" index="{{$index}}"
            data-ng-repeat-start="record in expandTblCtrl.listItems"
            title="Click to toggle collapse/expand details for this row."
            data-ng-click="expandTblCtrl.selectTableRow($index)">
            <td ng-repeat="def in expandTblCtrl.columnDef" width="{{def.width}}%">{{record[def.binding]|translate}}</td>
        </tr>
        <tr data-ng-if="!expandTblCtrl.dayDataCollapse[$index]" data-ng-repeat-end>
            <td colspan="{{expandTblCtrl.numberCols}}">
                <div ng-transclude>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</fieldset>