<section class="panel  panel-default">
    <header class="panel-heading">
        <h3 class="panel-title">Company Address List</h3>
    </header>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <table class="table dataTable table-bordered table-hover table-condensed "
                       data-ng-click="$ctrl.focussed=true">
                    <thead>
                    <tr>
                        <th> {{'COMPANY'|translate}}</th>
                        <th>{{'CITY'|translate}}</th>
                        <th>{{'PROVSTATE'|translate}}</th>
                        <th>{{'COUNTRY'|translate}}</th>
                        <th>{{'POSTAL'|translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="tr-adr-{{$index}}" class="clickableRow"
                        data-ng-class="{'selected':$index == $ctrl.tableRowIndexCurrExpanded}" index="{{$index}}"
                        data-ng-repeat-start="address in $ctrl.addressList"
                        title="{{'CLICK_TOGGLE'|translate}}"
                        data-ng-click="$ctrl.selectTableRow($index)">
                        <td>{{address.companyName}}</td>
                        <td>{{address.city}}</td>
                        <td>{{address.provState}}</td>
                        <td>{{address.country}}</td>
                        <td>{{address.postalCode}}</td>
                    </tr>
                    <tr data-ng-show="!$ctrl.dayDataCollapse[$index]" data-ng-repeat-end>
                        <td colspan="5">
                            <cmp-address-details my-index="$index" form-name="$ctrl.formName"
                                                 selected-country="adr.selectedCountry" address-record="address"
                                                 on-delete="$ctrl.deleteAddress(addressId)"  is-amend="$ctrl.isAmend()"
                                                 update-valid="$ctrl.updateValid(validState)"
                                                 on-update="$ctrl.onUpdateAddressRecord(address)"></cmp-address-details>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mrgn-tp-md mrgn-bttm-lg">
            <div class="btn-group-sm col-md-12 text-right">
                <input type="submit" value="{{'ADD_ADDRESS'|translate}}" class="btn btn-primary" ng-click="$ctrl.addAddress()"
                       ng-disabled="!$ctrl.detailsValid">
                <input type="submit" value="Cancel" class="btn btn-default" data-ng-show="$ctrl.newAdrFormShow"
                       ng-click="$ctrl.newAdrFormShow = false">
            </div>
        </div>
    </div>
</section>