<section class="panel panel-default">
    <header class="panel-heading">
        <h3 class="panel-title">Company Contact List</h3>
    </header>
    <div class="panel-body">
        <div class="row">

            <div>
                <table class="table dataTable table-bordered table-hover table-condensed table-striped"
                       data-ng-click="$ctrl.focussed=true">
                    <thead>
                    <tr>
                        <th>Salutation</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Title</th>
                        <th>REP Role</th>
                        <!--<th>Phone Ext.</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="tr-contact-{{$index}}" class="clickableRow"
                        data-ng-class="{'selected':$index == $ctrl.tableRowIndexCurrExpanded}" index="{{$index}}"
                        data-ng-repeat-start="contact in $ctrl.contactList"
                        title="Click to toggle collapse/expand details for this contact."
                        data-ng-click="$ctrl.selectTableRow($index)">
                        <td>{{contact.salutation|translate}}</td>
                        <td>{{contact.givenName}}</td>
                        <td>{{contact.surname}}</td>
                        <td>{{contact.title}}</td>
                        <td>{{contact.contactRole|translate}}</td>
                    </tr>
                    <tr data-ng-show="!$ctrl.dayDataCollapse[$index]" data-ng-repeat-end>
                        <td colspan="5">
                            <cmp-contact-details contact-record="contact" is-amend="$ctrl.isAmend()"
                                                 on-update="$ctrl.onUpdateContactRecord(contact)"
                                                 update-valid="$ctrl.updateValid(validState)"
                                                 check-roles="$ctrl.isREPRoleSelected(roleValue)"
                                                 on-delete="$ctrl.deleteContact(contactId)"></cmp-contact-details>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


        </div>
        <div class="row mrgn-tp-md mrgn-bttm-lg">
            <!-- <cmp-contact-details  contact-record="contact"
                                  form-name="$ctrl.formName" class="animate-show" is-amend="$ctrl.isAmend()"
                                  data-ng-show="$ctrl.newContactFormShow"></cmp-contact-details>-->
            <div class="btn-group-sm col-md-12 text-right">
                <input type="submit" value="Add Contact" class="btn btn-primary"
                       ng-click="$ctrl.addContact()" ng-disabled="!$ctrl.detailsValid">
                <input type="submit" value="Cancel" class="btn btn-default" data-ng-show="$ctrl.newContactFormShow"
                       ng-click="$ctrl.newAdrFormShow=false">
            </div>

        </div>

    </div>
</section>

