<div class="form-group" ng-class="{'has-error':ctr.formName.country.$invalid && !ctr.formName.country.$pristine}">
    <label for="country_{{$id}}" class="required">
        <span class="field-name">{{"COUNTRY" |translate}}</span>
        <strong class="required">{{"REQUIRED" |translate}}</strong>
        <select data-ng-model="ctr.selectedCountry" id="country_{{$id}}" ng-required="true"
                data-ng-change="ctr.countryChanged(ctr.selectedCountry)" name="country" required="required"
                ng-options="country |translate for country in ctr.countries"
                class="form-control  full-width"></select>
        <strong id="country-error" class="error" ng-if="ctr.formName.country.$invalid && !ctr.formName.country.$pristine">
                        <span class="label label-danger" ng-messages="ctr.formName.country.$error">
                            <span ng-message="required">This field is required </span>

                        </span>
        </strong>
    </label>


    <!--<select data-ng-model="selectedValue" id="country" ng-required="true" name="country" required="required"
            ng-options="country |translate for country in countries | orderByTranslatedCountry"
            class="form-control" style="width:100%;max-width:90%;"></select>-->
</div>