<ng-form name="countryForm">
    <div class="form-group" ng-class="{'has-error':countryForm.country.$invalid}">
    <label for="country_{{$id}}" class="required">
        <span class="field-name">{{"COUNTRY" |translate}}</span>
        <strong class="required">{{"REQUIRED" |translate}}</strong>
        <select data-ng-model="ctr.selectedCountry" id="country_{{$id}}" ng-required="!ctr.isDisabled"
                ng-disabled="ctr.isDisabled"
                data-ng-change="ctr.countryChanged(ctr.selectedCountry)" name="country"
                ng-options="country |translate for country in ctr.countries"
                class="form-control  full-width"></select>
        <strong id="country-error" class="error" ng-if="countryForm.country.$invalid && countryForm.country.$touched">
                        <span class="label label-danger" ng-messages="countryForm.country.$error">
                           <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                        </span>
        </strong>
    </label>
</div>
</ng-form>

