
    <div ng-if="alertCtrl.alertVisible" class="alert alert-dismissible {{::alertCtrl.type}}">
        <button type="button" class="rep-close close" title="{{'COLLAPSE'|translate}} {{alertCtrl.closeMsgAlias |translate}}" ng-click="alertCtrl.close()">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only" aria-live="polite">{{'COLLAPSE'|translate}} {{alertCtrl.closeMsgAlias | translate }}
             translate="{{alertCtrl.closeMsgAlias}}"
            </span>
        </button>
        <div ng-transclude>
        </div>
    </div>
