<ng-form name="actRatCtrl.activityTypeForm">
    <fieldset>
        <legend class="required">
            <span class="field-name">{{"RATIONALE_SNDS" |translate}}</span>
            <strong class="required"> {{"REQUIRED" |translate}}</strong>
            <input id="rationaleMissing_{{$id}}" name="rationaleMissing" ng-show="false" aria-hidden="true" ;
                   ng-model="actRatCtrl.rationaleSelected" ng-required="actRatCtrl.requiredState"/>
            <strong id="rationaleMissing" class="error" ng-if="actRatCtrl.showErrorMissing()">
                        <span class="label label-danger"
                              ng-messages="actRatCtrl.activityTypeForm.rationaleMissing.$error">
                            <span ng-message="required">{{"MSG_ERR_RATIONALE_SEL"|translate}}</span>
                        </span>
            </strong>
        </legend>

        <div class="row">
            <div class="col-sm-7">
                <div class="checkbox">
                    <label for="chk-roa_{{$id}}">
                        <input type="checkbox" ng-model="actRatCtrl.record.newRoa" name="roa"
                               id="chk-roa_{{$id}}" ng-change="actRatCtrl.updateErrorState()"/>{{"NEW_ROA"|translate}}
                    </label>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="checkbox">
                    <label for="chk-replacesterl_{{$id}}">
                        <input type="checkbox" ng-model="actRatCtrl.record.replaceSterility" name="replaceSteril"
                               id="chk-replacesterl_{{$id}}" ng-change="actRatCtrl.updateErrorState()"/>{{"REPLACE_STERIL"|translate}}
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <div class="checkbox">
                    <label for="chk-newclaim_{{$id}}">
                        <input type="checkbox" ng-model="actRatCtrl.record.newClaims" name="newClaims"
                               id="chk-newclaim_{{$id}}" ng-change="actRatCtrl.updateErrorState()"/>{{"NEW_CLAIMS"|translate}}
                    </label>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="checkbox">
                    <label for="chk-confirmstudies_{{$id}}">
                        <input type="checkbox" ng-model="actRatCtrl.record.confirmitoryStudies" name="confirmStudy"
                               id="chk-confirmstudies_{{$id}}" ng-change="actRatCtrl.updateErrorState()"/>{{"CONFIRM_STUDY"|translate}}
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <div class="checkbox">
                    <label for="chk-changeform_{{$id}}">
                        <input type="checkbox" ng-model="actRatCtrl.record.changeFormulation" name="changeForm"
                               id="chk-changeform_{{$id}}" ng-change="actRatCtrl.updateErrorState()"/>{{"CHANGE_FORM"|translate}}
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <div class="checkbox">
                    <label for="chk-changedrug_{{$id}}">
                        <input type="checkbox" ng-model="actRatCtrl.record.changeDrugSubstance" name="changeSubstance"
                               id="chk-changedrug_{{$id}}" ng-change="actRatCtrl.updateErrorState()"/>{{"CHANGE_SUBSTANCE"|translate}}
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- <div class="col-sm-6">
                 <div class="checkbox">
                     <label for="chk-changeother_{{$id}}">
                         <input type="checkbox" ng-model="" name="roa"
                                id="chk-changeother_{{$id}}"/>{{"OTHER_SPECIFY"|translate}}
                     </label>
                 </div>
             </div>-->
            <div class="col-sm-8">
                <div class="form-group">
                <label for="otherdet_{{$id}}">
                    {{"OTHER_DETAILS"|translate}}
                        <input type="text" ng-model="actRatCtrl.record.otherRationaleDetails" name="otherdet"
                               ng-change="actRatCtrl.updateErrorState()"
                               id="otherdet_{{$id}}" size="80" maxlength="80"/>
                    </label>
                </div>
            </div>
        </div>
        </div>
    </fieldset>
</ng-form>

