<ng-form name="formulation-rec-form">

    <div class="container-fluid">
        <cmp-active-ing-list></cmp-active-ing-list>
    </div>
    <div class="container-fluid">
        <cmp-non-med-ing-list></cmp-non-med-ing-list>
    </div>
    <div class="container-fluid">
        <cmp-container-type-list></cmp-container-type-list>
    </div>
    <div class="container-fluid">
        <cmp-material-ing-list></cmp-material-ing-list>
    </div>
    <div class="container-fluid">
        <cmp-roa></cmp-roa>
    </div>
    <div class="container-fluid">
        <cmp-country-list></cmp-country-list>
    </div>


</ng-form>