<ng-form name="material-ing-list-form">
    <cmp-expanding-table title="Material Ingredient List" list-items="milCtrl.ingList" reset-to-collapsed="milCtrl.resetToCollapsed"
                         column-def="milCtrl.colNames" select-record="milCtrl.selectRecord"
                         disable-selection="!milCtrl.isDetailValid">

        <cmp-material-ing-record record="$parent.record" on-update="milCtrl.updateIng($parent.$index,ing)"
                                 on-delete="milCtrl.deleteIng($parent.$index)"  is-detail-valid="milCtrl.setValid(state)"
                                 record-index="$parent.$index"
                                 delete-btn="true"></cmp-material-ing-record>

    </cmp-expanding-table>

    <cmp-material-ing-record ng-if="milCtrl.newIngFormShown === true" on-add-new="milCtrl.addNew(ing)"
                             on-cancel="milCtrl.onNewCancel()" delete-btn="false" record-index="milCtrl.ingList.length"></cmp-material-ing-record>

    <div class="mrgn-tp-md mrgn-bttm-lg">
        <div class="btn-group-sm col-md-12 text-right">
            <input type="submit" value="Add Material" class="btn btn-primary"
                   data-ng-disabled="milCtrl.addNewDisabled()"
                   ng-click="milCtrl.addNewIngredientState()"/>
        </div>
    </div>


</ng-form>