<ng-form name="formulationsForm">
    <input type="textbox" required="true" ng-show="false" name="noFormulation" id="noFormulation{{$id}}"
           data-ng-model="formulCtrl.noFormulations"/>
    <label for="noFormulation{{$id}}" ng-if="formulationsForm.noFormulation.$invalid">
        <strong id="active-error" class="error" >
        <span class="label label-danger" ng-messages="formulationsForm.noActive.$error">
            <span ng-message="required"><span translate="MSG_ERR_ONE_FORMULATION"></span></span>
        </span>
        </strong>
    </label>
    <!--<pre>formulationList: {{formulCtrl.formulationList|json}}</pre>-->
    <cmp-expanding-table title="Formulations List" reset-to-collapsed="formulCtrl.resetToCollapsed" list-items="formulCtrl.formulationList"
                         column-def="formulCtrl.colNames" select-record="formulCtrl.selectRecord"
                         disable-selection="!formulCtrl.isDetailValid">

        <cmp-formulation-record record="$parent.record" on-update="formulCtrl.update($parent.$index,record)" on-delete="formulCtrl.delete($parent.$index)" delete-btn="true"></cmp-formulation-record>

    </cmp-expanding-table>

    <cmp-formulation-record ng-if="formulCtrl.newFormShown === true" on-add-new="formulCtrl.addNew(record)" on-cancel="formulCtrl.newFormShown = false" delete-btn="false"></cmp-formulation-record>

    <div class="mrgn-tp-md mrgn-bttm-lg">
        <div class="btn-group-sm col-md-12 text-right">
            <input type="submit" value="Add Formulation" class="btn btn-primary"
                   data-ng-disabled="formulCtrl.newFormShown"
                   ng-click="formulCtrl.newFormShown = true" />
        </div>
    </div>
    
</ng-form>