<ng-form name="ailCtrl.activeIngListForm">

    <cmp-expanding-table title="{{'ACTIVE_LIST'|translate}}" list-items="ailCtrl.ingList" reset-to-collapsed="ailCtrl.resetToCollapsed"
                         column-def="ailCtrl.colNames" select-record="ailCtrl.selectRecord"
                         disable-selection="!ailCtrl.isDetailValid">

        <cmp-active-ing-record record="$parent.record" on-update="ailCtrl.updateIng($parent.$index,ing)"
                               on-add-ing="ailCtrl.addIng(ing)" record-index="$parent.$index"
                               on-delete="ailCtrl.deleteIng($parent.$index)" delete-btn="true" is-detail-valid="ailCtrl.setValid(state)"></cmp-active-ing-record>

    </cmp-expanding-table>

    <cmp-active-ing-record ng-if="ailCtrl.newIngFormShown === true" on-add-ing="ailCtrl.addIng(ing)"
                           on-cancel="ailCtrl.onNewCancel()" delete-btn="false"
                           record-index="ailCtrl.ingList.length"></cmp-active-ing-record>

    <div class="mrgn-tp-md mrgn-bttm-lg">
        <div class="btn-group-sm col-md-12 text-right">
            <input type="submit" value="Add Ingredient" class="btn btn-primary"
                   data-ng-disabled="ailCtrl.addNewDisabled()"
                   ng-click="ailCtrl.addNewIngredientState()"/>
        </div>
    </div>
</ng-form>