<ng-form name="material-ing-list-form">
    <h2>{{'ANIMAL_HUMAN_HDING'|translate}}</h2>
    <cmp-expanding-table title="Material Ingredient List" list-items="milCtrl.ingList"
                         column-def="milCtrl.colNames" select-record="milCtrl.selectRecord"
                         disable-selection="!milCtrl.isDetailValid">

        <cmp-material-ing-record record="$parent.record" on-update="milCtrl.updateIng($parent.$index,ing)"
                                 on-delete="milCtrl.deleteIng($parent.$index)"
                                 delete-btn="true"></cmp-material-ing-record>

    </cmp-expanding-table>

    <cmp-material-ing-record ng-if="milCtrl.newFormShown === true" on-add-new="milCtrl.addNew(ing)"
                             on-cancel="milCtrl.newFormShown = false" delete-btn="false"></cmp-material-ing-record>

    <div class="mrgn-tp-md mrgn-bttm-lg">
        <div class="btn-group-sm col-md-12 text-right">
            <input type="submit" value="Add Material" class="btn btn-primary"
                   data-ng-disabled="milCtrl.newFormShown"
                   ng-click="milCtrl.newFormShown = true"/>
        </div>
    </div>


</ng-form>